
/* universal */

html {
  overflow-y: scroll;
}
body {
  padding-top: 25px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
 }
 
h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
	font-size: 1.1em; 
	line-height: 1.7em;
}

/* Home Navigation */

#corenav {
	margin-bottom: -10px;
}

#homelogo {
	height:50px;
	width:282px;
	padding-top:12px;
}

#topbar {
	margin-bottom: 20px;
	height:70px;
}

.btn-home {
	height: 40px;	
	width:80px;
	margin-top:5px;
}


/* Large desktop */
@media (min-width: 1200px) {
	
#homelogo {
	height:50px;
	width:282px;
	padding-top:12px;
}

#topbar {
	margin-bottom: 20px;
	height:70px;
}

.btn-home {
	height: 40px;	
	width:80px;
	margin-top:5px;
}

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

#homelogo {
	height:40px;
	width:226px;
	padding-top:12px;
}

#topbar {
	margin-bottom: 20px;
	height:55px;
}

.btn.btn-home {
	height: 30px;
	width:60px;
	font-size:12px;
}

.btn.btn-home.btn-success {
	height: 30px;
	width:60px;
	font-size:12px;
	padding-left:7px;
	padding-right:7px;
}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

#homelogo {
	height:40px;
	width:226px;
	padding-top:12px;
}

#topbar {
	margin-bottom: 10px;
	height:55px;
}

.btn.btn-home {
	height: 30px;
	width:60px;
	font-size:12px;
}

.btn.btn-home.btn-success {
	height: 30px;
	width:60px;
	font-size:12px;
	padding-left:7px;
	padding-right:7px;
}


}
 
/* Landscape phones and down */
@media (max-width: 480px) { 

#homelogo {
	height:30px;
	width:169px;
	padding-top:17px;
}

#topbar {
	margin-bottom: 10px;
	height:55px;
}

.nav {
	font-size:12px;
}
	

}

@media (max-width: 320px) { 

#homelogo {
	height:25px;
	width:141px;
	padding-top:19px;
}

#topbar {
	margin-bottom: 10px;
	height:55px;
}

.btn.btn-home {
	height: 30px;
	width:60px;
	font-size:12px;
}

.btn.btn-home.btn-success {
	height: 30px;
	width:60px;
	font-size:12px;
	padding-left:7px;
	padding-right:7px;
}

.nav {
	font-size:12px;
}
	

}

/* Login */

#login {
	width:400px;
	border:thin solid #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-top:10px;
	margin-top:20px;
	background-color: #f5f5f5;
  	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
}

.center {
    *display:inline; /* ie 7 */
    display:inline-block;
    text-align:left;
    zoom:1; /* ie7 junk */
}

#forgotLink {
	font-size: 12px;
	text-decoration: underline;
	line-height:5px;
	margin-left:45px;	
}

.loginLabel {
	text-align:left;
	margin-left: 45px;	
}

.loginInput {
	width:300px;
	margin-right: 40px;
	margin-left: 40px;
}

#login_password {
	margin-bottom: 0px;	
}

#loginButton {
	width: 300px;
	text-align:center;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:48px;
}

/* Landscape phones and down */
@media (max-width: 480px) { 

#login {
	width:300px;
	
}

.loginInput {
	width:200px;
	margin-right: 40px;
	margin-left: 40px;
}

#loginButton {
	width: 200px;
}

}

@media (max-width: 320px) { 

#login {
	width:260px;
	
}

.loginInput {
	width:160px;
}

#loginButton {
	width: 160px;
}

}