

/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      color: #5a5a5a;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }
    /* jsl change the navbar to handle logo image instead */
.navbar-inverse .navbar-inner {
  background-color: #008047;
  background-image: none;
  border-color: #252525;
}

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; 			/* Increase vertical padding to match navbar links */
    /*  font-family: 'Alegreya', serif; */	/* add jsl */
    /*  font-size: 60px; 				*/	/* 16px; jsl */
      									/* font-weight: bold; jsl*/
      color: #008047;					/* #777777; jsl */
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px 35px; /* was 15px 20px; jsl */
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
	
	/* TypeAhead
    ------------------------- */
	
	/* Show full list on hover */
	.typeahead {
		max-height: 200px;
		overflow-y: auto;
		overflow-x: hidden;
	}



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
        padding: -0px -0px +20px; /* add jsl */
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
        padding: -0px -0px +20px; /* add jsl */
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }
	
/* Home Navigation */

#corenav {
	margin-bottom: -10px;
}

#homelogo {
	height:50px;
	width:282px;
	padding-top:12px;
}

#topbar {
	margin-bottom: 20px;
	height:70px;
}

.btn-home {
	height: 40px;	
	width:80px;
	margin-top:5px;
}
 
/* Home Navigation - Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

#homelogo {
	height:40px;
	width:226px;
}

#topbar {
	height:55px;
}

.btn.btn-home {
	height: 30px;
	width:60px;
	font-size:12px;
}

.btn.btn-home.btn-success {
	height: 30px;
	width:60px;
	font-size:12px;
	padding-left:7px;
	padding-right:7px;
}

}
 
/* Home Navigation - Landscape phone to portrait tablet */
@media (max-width: 767px) { 

#homelogo {
	height:40px;
	width:226px;
	padding-top:12px;
}

#topbar {
	margin-bottom: 10px;
	height:55px;
}

.btn.btn-home {
	height: 30px;
	width:60px;
	font-size:12px;
}

.btn.btn-home.btn-success {
	height: 30px;
	width:60px;
	font-size:12px;
	padding-left:7px;
	padding-right:7px;
}


}
 
/* Home Navigation - Landscape phones and down */
@media (max-width: 480px) { 

#homelogo {
	height:30px;
	width:169px;
	padding-top:17px;
}

#topbar {
	margin-bottom: 10px;
	height:55px;
}

.nav {
	font-size:12px;
}
	

}

@media (max-width: 320px) { 

#homelogo {
	height:25px;
	width:141px;
	padding-top:19px;
}

.btn.btn-home {
	height: 30px;
	width:60px;
	font-size:12px;
}

.btn.btn-home.btn-success {
	height: 30px;
	width:60px;
	font-size:12px;
	padding-left:7px;
	padding-right:7px;
}

.nav {
	font-size:12px;
}
	

}

/* Login */

#login {
	width:400px;
	border:thin solid #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-top:10px;
	margin-top:20px;
	background-color: #f5f5f5;
  	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
}

.center {
    *display:inline; /* ie 7 */
    display:inline-block;
    text-align:left;
    zoom:1; /* ie7 junk */
}

#forgotLink {
	font-size: 12px;
	text-decoration: underline;
	line-height:5px;
	margin-left:45px;	
}

.loginLabel {
	text-align:left;
	margin-left: 42px;	
}

.loginInput {
	width:300px;
	margin-right: 40px;
	margin-left: 40px;
}

#login_password {
	margin-bottom: 0px;	
}

#forgotButton {
    text-align:center;
/*
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    */
    margin: 15px auto 0 auto;
	width:150px;
    display: block;
}
#loginButton {
	width: 300px;
	text-align:center;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:48px;
}

/* Login - Landscape phones and down */
@media (max-width: 480px) { 

#login {
	width:300px;
	
}

.loginInput {
	width:200px;
	margin-right: 40px;
	margin-left: 40px;
}

#loginButton {
	width: 200px;
}

}

@media (max-width: 320px) { 

#login {
	width:260px;
	
}

.loginInput {
	width:160px;
}

#loginButton {
	width: 160px;
}

}

/* Register */

.registerBox {
	margin-left:42px;
	font-size:12px;
}

/* Register - Landscape phones and down */
@media (max-width: 480px) {

.registerBox {
	font-size:10px;
}

#registerTitle {
	font-size:22px;
}

}

/* publicIR */

.btn.btn-home {
}

/* Invitation Grid */

tr:hover, tr.selected {
	background-color: #33FF99;
	cursor: default;
}

/* Profile */

.hiddenField {
	display:none;
}

.profileLogo {
	height: 40px;
}

.profileLines {
	height: 40px;
}

input.profileUneditable {
	background-color: #FFF;
	border-style: none;		
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0s, box-shadow linear 0s;
}