/* Fonts and Typography */

.standardText {
	font-size: 18px;
	font-family: "Helvetica Neue";
	line-height: 24px;
	color: #505154;
}

.allCaps {
	font-size: 11px;
	font-family: "Helvetica Neue";
	color: #505154;
}

/* Index page CSS */

.bannerBar {
	padding-top:10px;
	background-image: url(../u/images/bkg.png);
	background-repeat: repeat;	
	
}

#loginButton {
	cursor: pointer;
	float:right;
	width:100px;
}

button.close{
	display:block;
	width:30px;
	height:30px;
	border-radius:15px;
	font-size:12px;
	color:#000;
	line-height:10px;
	text-align:center;
	text-decoration:none;
	background:#000;
	margin-top:-10px;
	margin-right:-10px;
	background-color: #cc4900;
	opacity:1;
}

.headline {
	margin-top: 30px;	
}

.tagline {
	width: 400px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;	
}

.inviteBar {
	width: 300px;
	height: 26px;
	margin-top: 5px;
	padding-top:3px;
	margin-left: auto;
	margin-right: auto;
	background-color: #cc4900;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#inviteButton {
	color: #FFF;
	cursor: pointer;	
}

#playbutton {
	position: absolute; 
	top: 25px; 
	left: 427px;
	cursor: pointer;
}

#loginModal {
	background-image: url(../u/images/bkg.png);
	background-repeat: repeat;	
	width:500px;
	height:220px;
	margin-left:-250px;
}

#login {
	margin-left:100px;;
	width:500px;
}

#loginForm {
	width:300px;
}

.center {
    *display:inline; /* ie 7 */
    display:inline-block;
    text-align:left;
    zoom:1; /* ie7 junk */
}

input.checkInput {
	margin-top:10px;
	width:300px;
	height:30px;
}

.modal-body {
	padding:0px;
	overflow:hidden;
}

#sxswVideo {
	height:400px;
}

#monstersPic {
	margin-right: 65px;	
}

.iconRow {
	margin-top: 100px;	
}

.iconText {
	margin-top: 20px;	
	width: 220px;
	margin-left: auto;
	margin-right: auto;
}

#registrationForm {
	margin-top:200px;
	margin-bottom:10px;
	width:600px;
	height:250px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-image: url(../u/images/bkg.png);
	background-repeat: repeat;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	padding-top: 25px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;	
}

input.loginInput {
	background-color: transparent;
	width:150px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0s, box-shadow linear 0s;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-bottom-color: #000;
	margin-left:5px;
	margin-right:5px;
}

input.loginInput:focus, textarea:focus, select:focus {
	outline-width:none;
	outline: none;
	box-shadow:none;
	border-color:black;
 }
 
input.loginInput:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
	outline: none;
	box-shadow:none;
	border-color:black;
}

#registerButton {
	width:240px;
	margin-top:30px;
	margin-left:350px;
}

#registerBar {
	margin-left: 180px;
	padding-top: 0px;
}

.footerBar {
	height:30px;
	margin-top:200px;
	padding-top:10px;
	background-image: url(../u/images/bkg.png);
	background-repeat: repeat;	
}

#blogButton {
	cursor: pointer;
}

.socialPlacement {
	margin-right:5px;
	margin-left:5px;
}

.hidden {
	display: none;
}

@media (min-width: 768px) and (max-width: 979px) {

#playbutton {
	left: 327px;
}
	
}

@media (max-width: 767px) {
	
#playbutton {
	left: 327px;
}

#loginModal {
	width:95%;
	height:220px;
	margin-left:0px;
}

}

@media (max-width: 480px) {
	
#playbutton {
	left: 160px;
}

#registrationForm {
	width:280px;
	padding-left: 5px;	
	padding-right: 5px;	
	
}

#registerButton {
	width:120px;
	margin-top:30px;
	margin-left:120px;
}
	
}