<div>
<div class='sub-todo-list'>
  <ul>
    <li>The redirect back from oauthorization needs to be more aware (handling denied and tunnels)</li>
    <li>LinkedIn authentication has been implemented, but none of the APIs are called</li>
    <li>Facebook authentication is not yet implemented</li>
    <li>Google authentication is not yet implemented</li>
    <li>The Twitter API needs to do something</li>
  </ul>
</div>
<div>

  <div class="dropbox" ng-class="dropClass">
    <span>{{dropText}}</span>

  </div>

  <div ng-show="files.length">
    <div ng-repeat="file in files.slice(0)">
      <span>{{file.webkitRelativePath || file.name}}</span>
      (<span>{{fmtFileSize(file)}}</span>)
    </div>
  </div>

  <br>
  <input class="bodyText button uploadButton" type="button" ng-click="uploadFile()" value="Upload again" />
  <!-- <a class="bodyText button uploadButton" ng-click="upload()">Upload</a> -->

  <br>
  <br>

  <input class="bodyText button uploadButton" type="button" ng-click="uploadDropbox()" value="Upload with dropbox" />
  <!-- <a class="bodyText button uploadButton" ng-click="upload()">Upload</a> -->



  <script>
   </script>

</div>