<div class="container">
  <div class="row-fluid">
    <div class="headsection row-fluid">
        <h1><a href="/documents/"><span class="back-icon" data-icon="&#xe038;" aria-hidden="true"></span></a>{{ document.docname }}</h1>

<!--      <div class="row-fluid">
          <div>
            &lt;!&ndash; <button ng-click="shouldBeOpen=true" class="button subText blueButton">Share Document</button> &ndash;&gt;
            <button style="float:right" class="subText greyButton" ng-show="tester && currentDoc.original" ng-click="retract(currentDoc)">Retract share</button>
            <button style="float:right" class="subText greyButton" ng-show="tester && !(currentDoc.when_signed || currentDoc.original == currentDoc.docId)" ng-click="fakeSign(currentDoc)">Fake Sign</button>
            <button style="float:right" class="subText greyButton" ng-show="currentDoc.when_signed && !currentDoc.when_confirmed" ng-click="confirmModal=true">Countersign</button>
            <button style="float:right" class="subText greyButton" ng-show="currentDoc.when_signed && !currentDoc.when_confirmed" ng-click="rejectSignature(currentDoc)">Reject Signature</button>
            <button style="float:right" class="subText greyButton" ng-show="tester && currentDoc.when_confirmed" ng-click="renege(currentDoc)">Renege Countersignature</button>
            &lt;!&ndash; ui-keypress="{enter: \'addRecip(nextRecip)\'}" &ndash;&gt;
            <span ng-hide="counterparty" style="float:right"><button ng-click="shareWith(document,recip)" class="subText blueButton">Share with:</button>
              <input ng-model="recip" type="text" typeahead="investor for investor in vInvestors | filter:$viewValue"
                     typeahead-min-length="1"/></span>
          </div>
      </div>-->

      <div class="row-fluid">

            <ul class="bodyText maintabs">
                <a href="/documents/company-status?doc={{docKey}}">
                    <li class="button">Status</li>
                </a>
                <li class="selectedtab">View</li>
            </ul>
      </div>

      <div class="cf row-fluid">

          <ul class="bodyText maintabs">
              <li class="button"><a href="/documents/company-status?doc={{docKey}}">Status</a></li>
              <li class="selectedtab">View</li>
           </ul>
        </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span3 docVersiontab leftBlock">
      <ul>
        <li ng-class="{thisone: docId==docKey, thatone:true}" ng-click="getOriginal();">
          <span class="unselectable">Original</span>
        </li>
        <li ng-repeat="doc in docversions" ng-class="{thisone: docId == doc.doc_id, thatone:true}" ng-click="pickInvestor(doc);" >
          <span class="unselectable" >{{doc.name}} [{{ doc.doc_id }}] <span class="smallDate">({{doc.investor}})</span></span>
          <ul style="padding-left: 3em;" ng-show="doc.doc_id==docId" ng-repeat="pp in modifiedPages">
             <li>Page {{ pp }}</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="span9 companyDocViewer">
         <doc-viewer page-query-string="pageQueryString()" doc-id="docId" invq="false"></doc-viewer>
    </div>
  </div>

  <div modal="confirmModal" close="confirmModalClose()" options="opts">
    <div class="sign-modal">
      <div class="modalHeader">
        <span data-icon="&#xe00d;" aria-hidden="true"></span>Confirm Electronic Countersignature
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="confirmModalClose()"></span>
      </div>

      <div class='modalText'>
        <label>
          <input class="checkbox-class" type="checkbox" ng-model="confirmSignature">
          Do you wish to electonically counter-sign this document?
          <br>(This action is irreversible)
        </label>
      </div>

      <div class="dModalButtons">
        <button class="greyButton" ng-click="confirmModalClose()">Cancel</button>
        <button class="greenButton" ng-disabled="processing || !confirmSignature" ng-click="countersignDocument(currentDoc);">Sign</button>
      </div>
    </div>
  </div>

</div>
