<div class="container">

  <div modal="shareModal" modalshare></div>

  <div class="row-fluid">
  	<div class="headsection row-fluid"><h1>Documents</h1><span class="error-message">{{ errorMessage }}</span></div>

    <!-- <uploadModal class="upload-modal" ng-show="uploadModal" close="uploadModalClose()" options="{dialogClass: 'modal upload-modal-positioning'}" >  </uploadModal> -->


    <section class="docLibrary statusBlock" library>
         <div ng-show="listScrolls()">
         <p class="searchBox" ng-show="listScrolls()">Search: <input ng-model="query"></p>
         </div>
            <div class="row-fluid">
                <div class="subnav-controls">
                    <div>
                        <div class="pull-left">
                            <span class="search-icon" data-icon="&#xe01e;" aria-hidden="true"></span>
                            <input type="text" ng-model="filterText">
                        </div>
                        <div class="pull-right">
                            <uploadModal style="display: inline-block;" class="upload-modal"></uploadModal>
                        </div>
                    </div>
                    <div class="DivHelper"></div>
                </div>
            </div>
            <table class="doclib tableView bodyText">
              <tr class="column-label status-columns">
                <th class="button" ng-click="setOrder('docname')"><span class="title sortedDown">Name</span></th><th colspan="5" class="button" ng-click="setOrder('last_updated')"><span class="title">Last Updated</span></th>
              </tr>
              <tr class="pointer status-row" ng-repeat="doc in documents  | filter:searchFilter  | orderBy:docOrder">
                <td><a href="/documents/company-view?doc={{doc.doc_id}}">{{doc.docname}}</a></td>
                <td><span class="dateFormatting">{{doc.last_updated | fromNow}}</span>{{doc.last_updated | date:'shortTime'}}</td>
                <!-- The four buttons for each row -->
                <td class="button" ng-click="askShare(doc.doc_id)"><span tooltip-placement="bottom" tooltip="Share"><i class="icon-share icon-large"></i></span></td>
                <td class="button" ng-click="delete(doc.doc_id)"><span tooltip-placement="bottom" tooltip="Delete"><i class="icon-delete icon-large"></i></span></td>
                <!--
                  <td class="button"><span tooltip-placement="bottom" tooltip="Download"><i class="icon-download-alt icon-large"></i></span></td>
                -->
                <td class="button"><a href="/documents/company-status?doc={{doc.doc_id}}"><span tooltip-placement="bottom" tooltip="Status"><i class="icon-search icon-large"></i></span></a></td>
              </tr>

              <!-- The template for showing files that are currently uploading -->
<!--              <tr ng-show="progressVisible">
                <td>{{uploading.docname}}</td>
                <td><span class="uploadingText">Uploading Document<span id="dots">...</span></span></td>
                <td colspan="3"></td>
              </tr>
              -->
            </table>
            <div ng-hide="documents">You have no documents.</div>
    </section>



  </div>
</div>
