<script src="/cmn/spin.js"></script>
<div class="container">

<div modal="tourModal" close="tourclose();" options="touropts">
    <div class="modalHeader">
        <span>Prepare document for signatures</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="tourclose();"></span>
    </div>
    <div class="modalText">
        <div class="row-fluid">
            <div class="span6">
                <ul>
                    <li>1. <span>Click the icons to activate different types of markers</span></li>
                    <li>2. <span>Drag the markers where you need the recipients to annotate</span></li>
                    <li>3. <span>Click the next button and choose the email addresses of the recipients you need signatures from</span></li>
                    <li class='blue-link'><span ng-click="tourclose();">Ok. I got it!</span></li>
                </ul>
            </div>
            <div class="span6">
                <ul>
                    <li><img src="/img/dochelp/tools.png"></li>
                    <li><img src="/img/dochelp/markers.png"></li>
                    <li><img src="/img/dochelp/button.png"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
  <div class="row-fluid">
  </div>
  <div class="row-fluid">
    <div class="span9 companyDocViewer">
        <div class="row-fluid">
         <doc-viewer page-query-string="pageQueryString()" doc-id="docId" invq="false"></doc-viewer>
        </div>
    </div>
  </div>
</div>
