<div class="container">

  <div modal="remModal" close="remclose()" options="remopts">
    <div class="modalHeader">
      <p class="subText">Send Reminder</p>
    </div>

    <div class="modalText">
      Send a reminder to {{reminder}}.
      <p>Message</p>
      <label>
        <textarea rows="4" cols="40" ng-model="messageText"></textarea>
      </label>
    </div>

    <div class="modalButtons">
      <button class="button subText greyButton" ng-click="remclose();">Never Mind!</button>
      <button class="button subText greenButton" ng-click="remclose(); remind(messageText, reminder);">Remind</button>
    </div>
  </div>

  <div class="row-fluid">
    <div class="headsection row-fluid">

        <ul class="maintabs head-text">
            <li><a href="/documents/company-list">Documents</a></li>
            <li><a href="/documents/company-view?doc={{document.doc_id}}"><span class="doc-title" ng-bind="document.docname | lengthLimiter"></span></a></li>
            <li class="selectedtab">Status</li>
        </ul>

    </div>

      <div class="row-fluid">
          <div class="subnav-controls">
              <div>
                  <div class="pull-left">
                      <span>Search</span>
                      <input type="text" class="search-box" ng-model="query">
                  </div>
              </div>
              <div class="DivHelper"></div>
          </div>
      </div>
  </div>

  <div class="row-fluid">

    <div class="span8 docLibrary">
      <div class="row-fluid">
        <table class="tableView bodyText">
          <tr class="column-label status-columns">
            <th><span>Shareholder</span></th>
            <th><span>Email</span></th>
            <th colspan="2"><span>Status</span></th>
          </tr>
          <tr>
              <td ng-show="!docversions[0]" colspan="4">You haven't shared this document with anyone yet!</td>
          </tr>
          <tbody ng-repeat="person in docversions | filter: query">
          <tr class="status-row" ng-class="{selectedrow:person.shown}" ng-click="showStatusDetail(person)">
            <td>{{person.name}}</td>
            <td>{{person.investor}}</td>
            <td>{{person.signature_status}}</td>
            <td class="button" ng-click="(opendetails(person.email))">
                <span ng-Hide="person.shown" data-icon="&#xe031;" aria-hidden="true"></span>
                <span ng-Show="person.shown" data-icon="&#xe034;" aria-hidden="true"></span>
            </td>
          </tr>
          <tr class="status-detail" ng-Show="person.shown">
              <td><span data-icon="&#xe024;" aria-hidden="true"></span>Sent</td>
              <td colspan="4">
                  {{person.when_shared | date:'MMMM dd, yyyy, h:mm a'}}
              </td>
          </tr>
          <tr class="status-detail" ng-Show="person.shown">
              <td><span data-icon="&#xe001;" aria-hidden="true"></span><span ng-hide="person.last_viewed">Never Viewed</span><span ng-show="person.last_viewed">Last Viewed</span></td>
              <td colspan="4">{{person.last_viewed | date:'MMMM dd, yyyy, h:mm a'}}</td>
          </tr>

          <!-- Row hidden for now as deadline not being used
          <tr class="status-detail for-r0ml" ng-Show="person.shown && person.signature_deadline">
              <td><span data-icon="&#xe015;" aria-hidden="true"></span><span ng-hide="person.signature_deadline">No Signature Required</span><span ng-show="person.signature_deadline">Signature Deadline</span></td>
              <td colspan="4">{{person.signature_deadline | date:'MMMM dd, yyyy, h:mm a'}}</td>
          </tr>
          -->
          <tr class="status-detail" ng-Show="person.shown && person.signature_deadline">
              <td><span data-icon="&#xe00d;" aria-hidden="true"></span><span ng-hide="person.when_signed">Never Signed</span><span ng-show="person.when_signed">Signed</span></td>
              <td colspan="4">{{person.when_signed | date:'MMMM dd, yyyy, h:mm a'}}</td>
          </tr>
          <tr class="status-detail" ng-Show="person.shown && person.signature_deadline">
              <td><span data-icon="&#xe02e;" aria-hidden="true"></span><span ng-hide="person.when_confirmed">Not Countersigned</span><span ng-show="person.when_confirmed">Countersigned</span></td>
              <td colspan="4">{{person.when_confirmed | date:'MMMM dd, yyyy, h:mm a'}}</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>

<div class="span4">
        <div class="row-fluid">

            <div class="info-box">
                <div class="head-box">
                    <h2>Information</h2>
                </div>
                <div class="body-box">
                    <ul class="last-edited spaced-list">
                        <li>{{lastsent | date:"MMM d, y 'at' h:mm a"}}</li>
                        <li>Sent</li>
                        <li>{{lastedit | date:"MMM d, y 'at' h:mm a"}}</li>
                        <li>Last Edited</li>
                        <li>{{lastdeadline | date:"MMM d, y 'at' h:mm a"}}</li>
                        <li>Deadline</li>
                    </ul>
                    <div class="standard-button">
                        <button ng-click="viewOriginal()" class="btn">View Original</button>
                    </div>
                </div>
            </div>

            <div class="info-box">
                <div class="head-box">
                    <h2>Activity</h2>
                </div>
                <div class="body-box">
                    <ul class="activity-feed2">
                        <li ng-repeat="events in eventGroups | fromNowSort">
                            <span>{{events[0]}}</span>
                            <ul>
                                <li ng-repeat="event in events.slice(2)">
                                    <i class="{{event.activity | icon}}"></i>
                                    {{event | nameoremail}} {{event | description}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
