<div class="container">

  <div modal="shareModal" modalshare></div>

  <div class="row-fluid">
  	<div class="headsection row-fluid">

        <ul class="maintabs head-text">
            <li class="selectedtab">Documents</li>
        </ul>
    </div>

    <div style="margin-left: 0;" class="span12 recipientInfo statusBlock">
        <div class="row-fluid">
            <div class="subnav-controls">
                <div>

                    <div class="pull-left">
                        <span>Search</span>
                        <input type="text" class="search-box" ng-model="query">
                    </div>

                    <div class="pull-right">
                        <div class="standard-button">
                            <button ng-click="documentUploadOpen();" class="btn">Upload Document
                            </button>
                        </div>
                    </div>
                </div>
                <div class="DivHelper"></div>
            </div>
            <table class="status-table" ng-show="documents.length===0">
                <tbody class="empty-table">
                    <tr>
                        <td>
                            <span>Welcome! </span><span class="link" ng-click="documentUploadOpen();">Upload a document</span><span> to get started.</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="status-table" ng-show="documents.length!==0">
                <tbody>
                    <tr>
                        <th colspan="2" class="left" style="width:45%" ng-click="setOrder('docname')">Document Name</th>
                        <th colspan="2" class="left" style="width:40%" ng-click="setOrder('statusRatio')">Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
                <tbody ng-repeat="doc in documents | filter:searchFilter | orderBy:docOrder">
                    <tr class="empty-row"></tr>
                    <tr ng-class="{selectedrow:doc.shown}">
                        <td class="status-toggle" ng-class="{'pointer':doc.versions[0], 'status-toggle-on': doc.shown}" ng-click="!doc.versions[0] || opendetails(doc)">
                            <span ng-hide="doc.shown || !doc.versions[0]" data-icon="&#xe017;" aria-hidden="true"></span>
                            <span ng-show="doc.shown && doc.versions[0]" data-icon="&#xe01c;" aria-hidden="true"></span>
                        </td>
                        <td class="shareholder-column docname-column" ng-click="viewStatus(doc)">
                            <ul>
                                <li>{{doc.docname | caplength:40}}</li>
                                <li>{{docStatus(doc)}}</li>
                            </ul>
                        </td>
                        <td class="status-toggle status-icon">
                            <div ng-show="docIsComplete(doc)" data-icon="&#xe023;" class="circle green" aria-hidden="true"></div>
                            <div ng-hide="docIsComplete(doc)" class="circle" ng-class="{gray:doc.versions.length===0, yellow:doc.versions.length>0}"></div>
                        </td>
                        <td class="shareholder-column status-column pointer" ng-click="viewStatus(doc)">
                            <ul>
                                <li>{{shortDocStatus(doc)}}</li>
                                <li>{{formatDocStatusRatio(doc)}}</li>
                            </ul>
                        </td>
                        <td>
                            <div class="standard-button small-standard-button gray">
                                <button class="btn" ng-click="shareDocOpen(doc)">Share</button>
                            </div>
                        </td>
                        <td>
                            <ul class="dropdown-list">
                                <li class="dropdown standard menu-drop">
                                    <a class="dropdown-toggle">
                                        <span data-icon="&#xe011;" aria-hidden="true"></span>
                                    </a>
                                    <ul ng-hide="toggleView();" class="dropdown-menu">
                                        <li ng-click="viewStatus(doc)">View Status</li>
                                        <li ng-click="viewOriginal(doc)">View Original</li>
                                        <li ng-show="!doc.versions[0]" ng-click="updateTitleOpen(doc)">Rename</li>
                                        <!--<li ng-show="!doc.versions[0]" ng-click="deleteDocOpen(doc)">Delete</li>-->
                                    </ul>
                                </li>
                          </ul>
                    </tr>
                    <tr ng-show="doc.shown" class="sub-row" ng-repeat="version in doc.versions | orderBy:versionOrder">
                        <td class="status-toggle"></td>
                        <td class="shareholder-column docname-column" ng-click="viewInvestorCopy(doc, version)">
                            <ul>
                                <li>{{version.name || version.investor}}</li>
                                <li>{{versionStatus(version)}}</li>
                            </ul>
                        </td>
                        <td class="status-toggle status-icon">
                            <div ng-show="versionIsComplete(version)" data-icon="&#xe023;" class="circle green" aria-hidden="true"></div>
                            <div ng-hide="versionIsComplete(version)" class="circle yellow" aria-hidden="true"></div>
                        </td>
                        <td class="shareholder-column status-column" ng-click="viewStatus(doc)">
                            <ul>
                                <li>{{shortVersionStatus(version)}}</li>
                                <li>{{momentFromNow(version.last_event.event_time)}}</li>
                            </ul>
                        </td>
                        <td>
                            <div class="standard-button small-standard-button">
                                <!--<button ng-show="isPendingSignature(version) || isPendingView(version)" class="btn" ng-click="remind(version.doc_id,version.investor); console.log(doc);">Remind</button>-->
                                <button ng-show="isPendingCountersignature(version)" class="btn" ng-click="viewInvestorCopy(doc, version)">Sign</button>
                            </div>
                        </td>
                        <td>
                            <ul class="dropdown-list">
                                <li class="dropdown standard menu-drop">
                                    <a class="dropdown-toggle dark" ng-click="viewInvestorCopy(doc, version)">
                                        <span data-icon="&#xe009;" aria-hidden="true"></span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
                <tr class="empty-row" style="height:100px"></tr>
            </table>
        </div>
    </div>
  </div>
</div>

<div modal="documentUploadModal" close="documentUploadClose()" options="narrowopts">
    <div class="modalHeader">
        <span>Upload a document</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="documentUploadClose()"></span>
    </div>

    <div class="modalText uploadModal">
        <p>Currently we're only taking PDF files (20MB max)</p>
        <form class="form-inline">
            <fieldset>
                <div ng-show="fileError" class="upload-errors">
                    <span>{{fileError}}</span>
                </div>
                <div class="fileinputs">
                    <input ng-hide="showProgress || showProcessing" type="file" class='file' onchange="angular.element(this).scope().setFiles(this);"/>
                    <div ng-hide="showProgress" class="fakefile">
                        <span>CHOOSE FILE</span>
                        <div ng-show="files.length">
                            <span>{{files[0].name | caplength:20}}</span>
                        </div>
                    </div>
                    <div ng-show="showProgress" class="progress-bar"><progress percent="loadProgress"></progress></div>
                </div>
                <div ng-show="showProcessing" class="upload-errors">
                    <span>Processing Document</span>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="documentUploadClose()">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="uploadFile(files)">Upload</button>
        </div>
    </div>
</div>
<div modal="shareDocModal" close="shareDocClose()" options="opts">
    <div class="modalHeader">
        <span data-icon="&#xe027;" aria-hidden="true"></span>Share "{{docToShare.docname | caplength:25}}"
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="shareDocClose()"></span>
    </div>
    <div class="modalText dshare">
        <ul>
            <li>
                <span>Email Address</span>
                <input ng-model="recipient" type="text" typeahead="investor for investor in vInvestors | filter:$viewValue" typeahead-min-length="1"/>
            </li>
            <li>
                <span>Get Signature?</span>
                <ul class="dropdown-list drop-selector">
                    <li class="dropdown standard">
                        <a class="dropdown-toggle">
                            {{signeeded}}<span class="invisible-drop">'</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ng-click="changeSig('No')">No</a>
                                <a ng-click="changeSig('Yes')">Yes</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <textarea class="email-text" rows="4" cols="60" ng-model="messageText"></textarea>
    </div>
    <div class="modalButtons">
        <div class="left"><button class="button subText greyButton left" ng-click="shareDocClose()">Cancel</button></div>
        <div class="right">
            <button class="button subText greenButton" ng-click="shareDocClose(); share(messageText, recipient, signeeded);">Share
            </button>
        </div>
    </div>
</div>
<div modal="updateTitleModal" close="updateTitleClose()" options="opts" class="updateTitleModal">
    <div class="modalHeader">
        <span>Rename Document</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="updateTitleClose()"></span>
    </div>
    <div class="modalText updateTitleModal">
        <input ng-model="docForModal.docname" type="text"></input>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray"><button class="btn" ng-click="updateTitleClose()">Cancel</button></div>
        <div class="standard-button green"><button class="btn" ng-click="updateTitleClose()">Confirm</button></div>
    </div>
</div>
<div modal="deleteDocModal" close="deleteDocClose()" options="opts" class="updateTitleModal">
    <div class="modalHeader">
        <span>Delete Document</span>
        <span class="close" data-icon="&#xe00f;" aria-hiddden="true" ng-click="deleteDocClose()"></span>
    </div>
    <div class="modalText deleteDocModal">
        <span>Are you sure you want to delete </span><br>
        <span>{{docForModal.docname}}?</span>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray"><button class="btn" ng-click="deleteDocClose()">Cancel</button></div>
        <div class="standard-button red"><button class="btn" ng-click="deleteDocClose(doc)">Confirm</button</div>
    </div>
</div>
