<div class="modal-backdrop" style="opacity:0.9;"></div>
<div class="docViewer" ng-hide="hidePage">
    <div class="docViewerHeader">
        <div class="row-fluid docViewerTitle">
            <div class="pull-left">
                <div class="docName">{{lib.docname | caplength: 60}}</div>
                <div class="docStatus" ng-show="!invq">{{doc_status}}</div>
            </div>
            <div class="lastUpdated pull-right">
                Last Updated {{lib.last_updated | fromNow:servertime}}
                <button ng-click="leave($event)"><span data-icon="&#xe00f;" aria-hidden="true"></span></button>
            </div>
        </div>
        <div class="docViewerControls">
            <div class="tools pull-left" ng-class="{hidden: !isAnnotable}">
                <button ng-click="newPad($event)"><span data-icon="&#xe00d;" aria-hidden="true"></span></button>
                <button ng-click="newCheck($event)"><span data-icon="&#xe023;" aria-hidden="true"></span></button>
                <button ng-click="newBox($event)"><span data-icon="&#xe01d;" aria-hidden="true"></span></button>
                <button ng-click="newDate($event)"><span data-icon="&#xe025;" aria-hidden="true"></span></button>
                <!-- <button ng-click="newSignature($event)"><span data-icon="&#xe02e;" aria-hidden="true"></span></button>  -->
            </div>
            <div class="pageTurn pull-left">
                <ul ng-class="{'hidden':docLength==1}">
                    <li class="button" ng-click="previousPage(currentPage)">
                        <span ng-class="{'locked':currentPage<=0}" data-icon="&#xe003;" aria-hidden="true"></span>
                    </li>
                    <li>
                        <label>
                            <input ng-pattern="/^[0-9]+$/"
                                   ng-model="currentPage"
                                   ng-change="jumpPage(currentPage)"
                                   class="page-jumper">
                        </label>
                    </li>
                    <li>
                        / {{docLength || "   "}}
                    </li>
                    <li ng-class="{'locked' : currentPage>=docLength}" class="button" ng-click="nextPage(currentPage)">
                        <span data-icon="&#xe002;" aria-hidden="true"></span>
                    </li>
                </ul>
            </div>
            <div class="docActions pull-right" ng-class="{hidden: !isAnnotable}">
                <div class="small-standard-button darkgray standard-button pull-left">
                    <button class="btn" ng-click="leave($event)">Cancel</button>
                </div>
                <div class="small-standard-button blue standard-button pull-left">
                    <button class="btn" ng-click="saveNoteData(true)">Save</button>
                </div>
                <div class="small-standard-button red standard-button pull-left">
                    <button class="btn" ng-show="lib.when_signed && !lib.when_confirmed" ng-click="openModal('reject')">Reject</button>
                </div>
                <div class="small-standard-button standard-button pull-left">
                    <button class="btn" style="padding:4px 0px;"
                            ng-show="lib.when_signed && !lib.when_confirmed"
                            ng-click="openModal('confirm')">Countersign</button>
                </div>
                <div class="small-standard-button standard-button pull-left">
                    <button class="btn" ng-show="lib.signature_deadline && !lib.when_signed" ng-click="openModal('confirm')">Sign</button>
                </div>
            </div>
        </div>
        <div class="page-bar" ng-show="showPageBar()">
            <ul class="pull-left">
                <li class="page-icons">Annotated Pages</li>
                <li class="page-icons button" style="font-size: 150%;" ng-click="pageBarLeft();">
                    <span ng-hide="pageScroll===0" data-icon="&#xe032;"></span>
                </li>
                <li ng-repeat="page in showPages() track by $id($index)"
                    ng-class="{'cur-page':page===currentPage}"
                    class="page-tabs button"
                    ng-click="jumpPage(page)">
                    <span style="font-size:16px;" data-icon="&#xe006;" aria-hidden="true"></span>
                    <span> {{page}}</span>
                </li>
                <li class="page-icons button" ng-click="pageBarRight();">
                    <span ng-show="morePages()" data-icon="&#xe033;"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="docPanelContainer row-fluid" ng-class="{'annotable':isAnnotable && docLength>1}">
        <div class="docPanel" ng-show="docId" data-back-img="{{pageImageUrl()}}">
    </div>
</div>

