<script src="/cmn/spin.js"></script>
<link type="text/css" rel="stylesheet" href="/documents/docViewer.css">
<div class="modal-backdrop" style="opacity:0.9;"></div>

<div modal="signatureModal" close="sigclose();" options="touropts">
    <div class="modal-title">
        <p>
            Pick your Signature
        </p>
    </div>
    <div class="sigmodal modalText">
        <div class="row-fluid">
            <div class="imgsig span6">
                <div ng-hide="scribblemode" ng-style="{{signaturestyle}}" >
                    <img id="signaturevisual" ng-src="{{signatureURL}}">
                </div>
                <div class="scribblewindow" ng-show="scribblemode" ng-style="{{signaturestyle}}" >
                    <canvas id="scribbleboard"></canvas>
                </div>
                <div class="DivHelper"></div>
            </div>
            <div class="span6 gif-text">
                <p>
                    Upload an image of your signature. We'll scale it to fit the signature box, and store it in your profile for future use.
                </p>
                <form class="form-inline">
                    <fieldset>
                        <div class="fileinputs">
                            <input type="file" class='file' onchange="angular.element(this).scope().setFiles(this);"/>
                            <div class="fakefile">
                                <span>CHOOSE FILE</span>
                            </div>
                        </div>
                        <div class="scribblebutton">
                            <button ng-click="createNewSignature()">Draw Signature</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right standard-button green" style="margin-right: 30px;">
            <button class="btn"
                    ng-click="uploadSignatureNow();"
                    ng-disabled="files.length===0">Done</button>
        </div>
        <div class="pull-right standard-button gray">
            <button class="btn"
                    ng-click="sigclose();">Cancel</button>
        </div>
    </div>
</div>
<div class="docViewer" ng-hide="hidePage">
    <div class="docViewerHeader">
        <div class="row-fluid docViewerTitle">
            <div>
                <div class="pull-left">
                    <div class="docName">{{lib.docname | caplength: 60}}</div>
                    <div class="docStatus" ng-show="!invq">{{doc_status}}</div>
                    <div class="lastUpdated" ng-show="lib.last_updated">
                        Last Updated {{lib.last_updated | fromNow:servertime}}
                    </div>
                </div>
                <div class="pull-right">
                    <div ng-show="(template_original && isAnnotable) || prepareable(lib)" class="small-standard-button standard-button green">
                        <button class="btn" ng-click="leave()">Done</button>
                    </div>
                    <div ng-hide="(template_original && isAnnotable) || prepareable(lib)" class="small-standard-button standard-button gray">
                        <button class="btn" ng-click="leave()">Exit</button>
                    </div>
                </div>
            </div>
            <div class="DivHelper"></div>
        </div>
        <div class="docViewerControls">
            <!--Annotation Controls-->
            <div ng-show="stage===0 || stage==-1">
                <div class="pageTurn pull-left" ng-hide="template_original">
                    <ul>
                        <li class="button" ng-click="previousPage(currentPage)">
                            <span ng-class="{'locked':currentPage<=0}" data-icon="&#xe005;" aria-hidden="true"></span>
                        </li>
                        <li>
                            <label>
                                <input ng-pattern="/^[0-9]+$/"
                                       ng-model="currentPage"
                                       ng-change="jumpPage(currentPage)"
                                       class="page-jumper">
                            </label>
                        </li>
                        <li>
                            / {{docLength || "   "}}
                        </li>
                        <li ng-class="{'locked' : currentPage>=docLength}" class="button" ng-click="nextPage(currentPage)">
                            <span data-icon="&#xe004;" aria-hidden="true"></span>
                        </li>
                    </ul>
                </div>
                <div ng-cloak class="docActions pull-right" ng-class="{hidden: !(signable(lib) || countersignable(lib) || finalizable(lib))}">
                    <div class="pull-right standard-button green forwardButton">
                        <button ng-disabled="notesComplete()" class="btn" ng-click="setStage(1);">
                            Next
                            <span data-icon="&#xe016;" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="pull-right tools" ng-class="{hidden: !isAnnotable || countersignable(lib)}">
                        <button ng-click="saveNoteData(true)"><span data-icon="&#xe602;" aria-hidden="true"></span></button>
                    </div>
                </div>
                <div ng-cloak class="docActions pull-right" ng-class="{hidden: (!$parent.template_original && forsigning) || !templateId}">
                    <div class="pull-right tools" >
                        <button ng-click="saveSmartdocData(true)"><span data-icon="&#xe602;" aria-hidden="true"></span></button>
                    </div>
                </div>
                <div ng-cloak class="docActions pull-right" ng-class="{hidden: !$parent.template_original && !forsigning}">
                    <div class="pull-right standard-button green">
                        <button class="btn" ng-click="setStage(1);">Review</button>
                    </div>
                </div>
            </div>
            <div class="docViewerAction" ng-show="stage===1">
                <div class="standard-button small-standard-button blue backButton">
                    <button class="btn" ng-click="setStage(0)">
                        <span data-icon="&#xe018;" aria-hidden="true"></span>
                        Back
                    </button>
                </div>
                <span ng-show="signable(lib)">Confirm Electronic Signature</span>
                <span ng-show="countersignable(lib)">Approve Signature</span>
                <span ng-show="finalizable(lib) && lib.signature_flow===2">Approve Issuer's Countersignature</span>
                <span ng-show="finalizable(lib) && lib.signature_flow===1">Approve Investor's Signature</span>
                <div class="standard-button green confirmButton">
                    <button class="btn"
                            ng-show="signable(lib)"
                            ng-disabled="processing || confirmValue===0"
                            ng-click="signDocument(document, confirmValue);">
                        Confirm
                    </button>
                    <button class="btn"
                            ng-show="countersignable(lib)"
                            ng-disabled="processing || confirmValue===0"
                            ng-click="countersignAction(confirmValue, rejectMessage);">
                        Confirm
                    </button>
                    <button class="btn"
                            ng-show="finalizable(lib)"
                            ng-disabled="processing || confirmValue===0"
                            ng-click="finalizeAction(confirmValue, rejectMessage);">
                        Confirm
                    </button>
                    <button class="btn"
                            ng-disabled="!confirmValue"
                            ng-show="template_original && forsigning"
                            ng-click="signTemplate(investor_attributes, infoValue, confirmValue)">
                        Sign
                    </button>
                </div>
            </div>
        </div>
        <div ng-show="stage===0" class="page-bar">
            <ul class="pull-left">
                <li class="page-icons">Annotated Pages</li>
                <li ng-repeat="page in showPages() | uniqueandorder track by $id($index)"
                    ng-class="{'cur-page':page===currentPage}"
                    class="page-tabs button"
                    ng-click="jumpPage(page)">
                    <span style="font-size:16px; vertical-align: middle;" data-icon="&#xe006;" aria-hidden="true"></span>
                    <span> {{page}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div ng-show="stage===0 || stage===-1" class="docPanelContainer row-fluid annotatedPageBar">
        <div class="docPanel" ng-show="docId" ng-class="{'drawcursor': drawTime()}" data-back-img="{{pageImageUrl()}}" ng-mousedown="newnewBox($event)"/>

        <div template-viewer html=html ng-class="{'investor': $parent.navState.role == 'investor'}" class="templatePanel" ng-show="$parent.templateId"/>
    </div>
    <div ng-show="stage===1" class="confirmPanelContainer row-fluid">
        <div class="confirmPanel" my-loading-spinner="processing">
            <div ng-show="signable(lib)">
                <div class='confirmBody'>
                    <ul class="checkboxOption">
                        <li class="pull-left">
                            <button class="check-box-button" ng-class="{'selected':confirmValue===1}" ng-click="setConfirmValue(1)">
                                <span data-icon="&#xe023;" aria-hidden="true"></span>
                            </button>
                        </li>
                        <li class="pull-left">
                            <span>Do you want to electronically sign this document?</span>
                            <br>
                            <span>(This action is irreversible.)</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-show="countersignable(lib)">
                <div class='confirmBody'>
                    <ul class="radioOption">
                        <li class="pull-left">
                            <button class="radio-button" ng-class="{'selected':confirmValue===1}" ng-click="setConfirmValue(1)"></button>
                        </li>
                        <li class="pull-left">
                            <span>Approve Document</span><br>
                        </li>
                    </ul>
                    <br>
                    <ul class="radioOption">
                        <li class="pull-left">
                            <button class="radio-button" ng-class="{'selected':confirmValue===-1}" ng-click="setConfirmValue(-1)"></button>
                        </li>
                        <li class="pull-left">
                            <span>Reject Document</span>
                            <br>
                            <span>Reject shareholders signature on this document.</span>
                            <br>
                            <textarea ng-show="confirmValue===-1"
                                      class="messageText" rows="3"
                                      ng-model="$parent.rejectMessage"
                                      ng-click="resetMsg()">
                            </textarea>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-show="finalizable(lib) && lib.signature_flow===1">
                <div class="confirmBody">
                    <ul class="radioOption">
                        <li class="pull-left">
                            <button class="radio-button" ng-class="{'selected':confirmValue===1}" ng-click="setConfirmValue(1)"></button>
                        </li>
                        <li class="pull-left">
                            <span>Approve Document</span>
                            <br>
                            <span>Approve investor's signature and finalize this document.</span>
                        </li>
                    </ul>
                    <br>
                    <ul class="radioOption">
                        <li class="pull-left">
                            <button class="radio-button"
                                    ng-class="{'selected':confirmValue===-1}"
                                    ng-click="setConfirmValue(-1)">
                            </button>
                        </li>
                        <li class="pull-left">
                            <span>Reject Document</span>
                            <br>
                            <span>Reject investor's signature on this document.</span>
                            <br>
                            <textarea ng-show="confirmValue===-1"
                                      class="messageText" rows="3"
                                      ng-model="$parent.rejectMessage"
                                      ng-click="resetMsg()">
                            </textarea>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-show="finalizable(lib) && lib.signature_flow===2">
                <div class="confirmBody">
                    <ul class="radioOption">
                        <li class="pull-left">
                            <button class="radio-button" ng-class="{'selected':confirmValue===1}" ng-click="setConfirmValue(1)"></button>
                        </li>
                        <li class="pull-left">
                            <span>Approve Document</span>
                            <br>
                            <span>Approve issuer's countersignature and finalize this document.</span>
                        </li>
                    </ul>
                    <br>
                    <ul class="radioOption">
                        <li class="pull-left">
                            <button class="radio-button"
                                    ng-class="{'selected':confirmValue===-1}"
                                    ng-click="setConfirmValue(-1)">
                            </button>
                        </li>
                        <li class="pull-left">
                            <span>Reject Document</span>
                            <br>
                            <span>Reject issuer's countersignature on this document.</span>
                            <br>
                            <textarea ng-show="confirmValue===-1"
                                      class="messageText" rows="3"
                                      ng-model="$parent.rejectMessage"
                                      ng-click="resetMsg()">
                            </textarea>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-show="template_original && forsigning">
                <div class='confirmBody'>
                    <div>
                        <ul class="checkboxOption">
                            <li class="pull-left">
                                <button class="check-box-button" ng-class="{'selected':confirmValue===1}" ng-click="setConfirmValue(1)">
                                    <span data-icon="&#xe023;" aria-hidden="true"></span>
                                </button>
                            </li>
                            <li class="pull-left">
                                <span>Do you want to electronically sign this document?</span>
                                <br>
                                <span>(This action is irreversible.)</span>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="radioOption inline-radio">
                            <li>
                                <span>Save Info?</span>
                                <br>
                                <span>Choose yes or no below if you want like to save all this information for other investor requests.
                                You can access and chnage information in your investor profile.</span>
                            </li>
                            <br>
                            <li>
                                <button class="radio-button" ng-class="{'selected':infoValue===1}" ng-click="setinfoValue(1)"></button>
                            </li>
                            <li>
                                YES
                            </li>
                            <li>
                                <button class="radio-button"
                                        ng-class="{'selected':infoValue===-1}"
                                        ng-click="setinfoValue(-1)">
                                </button>
                            </li>
                            <li>
                                NO
                            </li>

                        </ul>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <div class="keyboardHintContainer" ng-show="docLength > 1">
        <img class="keyboardHint" src="/img/keyboard.png">
        <span><br>Use the arrow keys on the keyboard to<br>navigate between page</span>
    </div>
</div>

