.footerBar {
    display: none !important;
}
navbar {
    display: none !important;
}
.docViewer {
    z-index: 1041 !important;
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    max-width: 928px;
    margin: 0 auto;
    background-color: white;
}

.docViewerHeader.affix {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    max-width: 928px;
    margin: 0 auto;
}

.docViewerHeader {
    z-index: 10;
}

.affix + .docPanelContainer {
    padding-top: 120px;
}

.affix + .docPanelContainer.annotatedPageBar {
    padding-top: 160px;
}

.docViewerHeader.affix-top {
    left: 62px;
}

.docViewerHeader.affix-bottom {
    left: 62px;
    bottom: 0;
}

.docViewerAction {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #1E2D3D;
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    width: 100%;
}

.tools {
    margin-left: 20px;
    padding-top: 15px;
    min-width: 210px;
}

.tools > button {
    border: none;
    border-radius: 3px;
    font-size: 20px;
    color: #666666;
    background-color: #E3E3E3;
    background-position: top;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.tools > button:hover {
    background-color: #C7C7C7;
}

.pageTurn {
    padding-top:15px;
    position: absolute;
    left:-webkit-calc(50% - 95px);
    left:-moz-calc(50% - 95px);
    left: calc(50% - 95px);
}

.pageTurn > ul {
    float: left;
    text-align: center;
    position: relative;
}

.pageTurn > ul > li {
    display: block;
    float: left;
    vertical-align: middle;
    padding-top: 6px;
}

.pageTurn > ul > li > span {
    font-size: 18px;
    color: #666666;
}

.docViewerControls {
    min-height: 60px;
    width: 100%;
    overflow: visible;
    background-color: #F1F1F1;
}

.docViewerControls .pageTurn > ul > li:first-child {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: #E3E3E3;
    background-position: top;
    width: 30px;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.docViewerControls .pageTurn > ul > li:last-child {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: #E3E3E3;
    background-position: top;
    width: 30px;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.docViewerControls > .pageTurn > ul > li:first-child:hover {
    background-color: #C7C7C7;
}

.docViewerControls > .pageTurn > ul > li:last-child:hover {
    background-color: #C7C7C7;
}

.pageTurn > ul > li > span.locked {
    opacity: 0.3;
}

.docActions {
    padding-top: 15px;
    margin-right: 20px;
}

.docActions > div > button {
    display: block;
    margin-left: 10px;
}

.page-bar {
    background-color: white;
    position: relative;
    width: 100%;
    height: 40px;
    margin-left: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #E3E3E3;
}

.page-bar > ul > li:first-child {
    padding-left: 20px;
}

.page-bar > ul > li:last-child {
    padding-right: 20px;
}

.page-bar > ul > li {
    float: left;
}

.page-bar > ul > li.page-icons {
    padding-top: 10px;
}

.page-bar > ul > li.page-icons.button {
    padding-left: 40px;
    padding-right: 10px;
}

.page-bar > ul > li.page-tabs {
    padding-top: 5px;
    padding-left: 6px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 6px;
    border-radius: 3px;
    background-color: #E3E3E3;
    background-position: top;
    color: #666666;
    height: 30px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-bar > ul > li.page-tabs:hover {
    background-color: #C7C7C7;
}

.page-bar > ul > li.page-tabs.cur-page {
    background-color: #1ABC96 !important;
    color: #FFFFFF !important;
}

.page-bar > ul > li.page-tabs.cur-page:hover {
    background-color: #15A085 !important;
}

.page-jumper {
    border: none;
    text-align: right;
    height: 12px;
    margin-bottom: 1px;
    line-height: 12px;
    padding: 4px 0 4px 0;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #E3E3E3;
    margin-right: 3px;
    width: 30px;
    height: 22px;
    margin-top: -7px;
    text-align: center;
}

.page-jumper:focus {
    background-color: #FFFFFF;
}

.docViewerTitle {
    background-color: white;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

.docViewerTitle .docName {
    margin-top: 14px;
    margin-left: 20px;
    font-size: 14px;
    color: #1E2D3D
}

.docViewerTitle .docStatus {
    margin-left: 20px;
    font-size: 10px;
    text-transform: uppercase;
}

.docViewerTitle .lastUpdated {
    margin-top: 0px;
    margin-left: 20px;
    text-transform: uppercase;
    text-align: right;
    font-size: 10px;
}

.docViewerTitle .lastUpdated > button {
    border: none;
    background-color: white;
    color: #1E2D3D;
    padding-left: 20px;
    font-size: 16px;
}

.stageControls {
    position: absolute;
    left:-webkit-calc(50% - 140px);
    left:-moz-calc(50% - 140px);
    left: calc(50% - 140px);
    margin: 14px auto;
    width: 280px;
    color: #666666;
}

.docViewerTitle div.small-standard-button {
    padding-top: 14px;
    padding-right: 20px;
}

.docPanel {
    width: 100%;
    height: 1165px;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto 0 auto;
}

.docPanelContainer {
    left: 0px;
    right: 0px;
    margin: 0px auto;
}

.confirmPanelContainer {
    left: 0px;
    right: 0px;
    margin: 0px auto;
}
.confirmPanel {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.confirmPanel > div {
    width: 100%;
    height: 100%;
}
.confirmBody {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 60px;
    width: 380px;
    height: 100%;
}

.confirmBody > .radioOption {
    height: 40px;
}

.confirmBody > .radioOption > li:first-child {
    padding-right: 20px;
}

.confirmBody > .radioOption > li:last-child > span:first-child {
    font-size: 14px;
    color: #1E2D3D;
}

.confirmBody > .radioOption > li:last-child > span {
    color: #666666;
}

.confirmBody > .radioOption textarea.messageText {
    margin-left: 0;
    margin-right: 0;
    margin-top: 6px;
    color: #666666;
}

.confirmFooter {
    height: 72px;
}

.confirmButton {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.draggable {
    border: 0 solid red;
    position:absolute;
    background-color: rgb(162,226,209);
    opacity: 0.7;
    cursor: default;
    width: auto;
    height: auto;

    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    /*resize: both;
    overflow: hidden;
      */
}

.draggable li > span {
    color: rgb(31,176,130);
}

.draggable ul {
    display:block;
    margin: 0;
    list-style-type:none;
    cursor:pointer
}

.draggable li {
    float: left;
    display:table;
    padding-top: 2px;
    padding-left: 1px;
}

.draggable ul > li:first-child {
    cursor: move;
    padding-left: 4px;
}

.draggable ul > li:last-child {
    float: right;
    padding-right: 4px;
}
.draggable > span {
    display: block;
    margin-left: 4px;
    margin-right: 4px;
    /* Don't know why -- but this needs to be -5px instead of 4px */
    margin-bottom: 4px;
    padding: 0;
    clear: both;
    box-sizing: border-box;
}

.draggable .check-annotation {
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
}
.draggable span > canvas {
    box-sizing: border-box;
    margin-bottom: -4px;
    cursor: crosshair;
}

.draggable div > textarea {
    margin-bottom: 0;
    word-wrap: normal;
    overflow: hidden;
    line-height: normal;
    resize: both;
}

.hidden {
    visibility: hidden;
}

.keyboardHintContainer {
    position: fixed;
    bottom: 100px;
    right: 0;
    background-color: #1E2D3D;
    opacity: 0.9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-animation: fadeout 1s linear 2s 1 normal forwards;
       -moz-animation: fadeout 1s linear 2s 1 normal forwards;
        -ms-animation: fadeout 1s linear 2s 1 normal forwards;
         -o-animation: fadeout 1s linear 2s 1 normal forwards;
            animation: fadeout 1s linear 2s 1 normal forwards;
}
@keyframes fadeout {
    from {opacity: 0.9;}
    to   {opacity: 0; display: none; z-index: -1;}
}
@-moz-keyframes fadeout {
    from {opacity: 0.9;}
    to   {opacity: 0; display: none; z-index: -1;}
}
@-webkit-keyframes fadeout {
    from {opacity: 0.9;}
    to   {opacity: 0; display: none; z-index: -1;}
}
@-ms-keyframes fadeout {
    from {opacity: 0.9;}
    to   {opacity: 0; display: none; z-index: -1;}
}
@-o-keyframes fadeout {
    from {opacity: 0.9;}
    to   {opacity: 0; display: none; z-index: -1;}
}
.keyboardHintContainer > img {
    display: block;
    margin: 0 auto;
}
.keyboardHintContainer > span {
    display:block;
    color: #FFFFFF;
    text-align: center;
    font-family: 'FS Elliot Web Light', sans-serif;
    font-weight: normal;
}


