.footerBar {
    display: none !important;
}
navbar .navbar {
    display: none !important;
}
.modal-backdrop {
    background-color: #E3E3E3;
}
.docViewer {
    z-index: 1041 !important;
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    width: 928px;
    max-width: 928px;
    margin: 0 auto;
    background-color: white;
}

.docViewerHeader.affix {
    position: fixed;
    top: 0px;
    max-width: 928px;
    width: 928px;
    margin: 0 auto;
}

.docViewerHeader {
    z-index: 10;
}

.affix + .docPanelContainer {
    padding-top: 120px;
}

.affix + .docPanelContainer.annotatedPageBar {
    padding-top: 160px;
}

.docViewerHeader.affix-top {
}

.docViewerHeader.affix-bottom {
    bottom: 0;
}

.docViewerAction {
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #1E2D3D;
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    width: 100%;
}

.docViewerControls > div > div.tools {
    margin-left: 20px;
    padding-top: 15px;
    min-width: 210px;
}

.tools > button {
    border: none;
    border-radius: 3px;
    font-size: 20px;
    color: #666666;
    background-color: #E3E3E3;
    background-position: top;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.tools > button:hover {
    background-color: #C7C7C7;
}

.pageTurn {
    padding-top:15px;
    position: absolute;
    left:-webkit-calc(50% - 95px);
    left:-moz-calc(50% - 95px);
    left: calc(50% - 95px);
}

.pageTurn > ul {
    float: left;
    text-align: center;
    position: relative;
}

.pageTurn > ul > li {
    display: block;
    float: left;
    vertical-align: middle;
    padding-top: 6px;
}

.pageTurn > ul > li > span {
    font-size: 18px;
    color: #666666;
}

.docViewerControls {
    min-height: 60px;
    width: 100%;
    overflow: visible;
    background-color: #F1F1F1;
}

.docViewerControls .pageTurn > ul > li:first-child {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: #E3E3E3;
    background-position: top;
    width: 30px;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.docViewerControls .pageTurn > ul > li:last-child {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: #E3E3E3;
    background-position: top;
    width: 30px;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.docViewerControls > .pageTurn > ul > li:first-child:hover {
    background-color: #C7C7C7;
}

.docViewerControls > .pageTurn > ul > li:last-child:hover {
    background-color: #C7C7C7;
}

.pageTurn > ul > li > span.locked {
    opacity: 0.3;
}

.docActions {
    padding-top: 15px;
    margin-right: 20px;
}

.docActions > div > button {
    display: block;
}

.last-saved {
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 23px;
}

.page-bar {
    background-color: white;
    position: relative;
    width: 100%;
    height: 40px;
    margin-left: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #E3E3E3;
}

.page-bar > ul > li:first-child {
    padding-left: 20px;
}

.page-bar > ul > li:last-child {
    padding-right: 20px;
}

.page-bar > ul > li {
    float: left;
}

.page-bar > ul > li.page-icons {
    padding-top: 10px;
}

.page-bar > ul > li.page-icons.button {
    padding-left: 40px;
    padding-right: 10px;
}

.page-bar > ul > li.page-tabs {
    padding-top: 5px;
    padding-left: 6px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 6px;
    border-radius: 3px;
    background-color: #E3E3E3;
    background-position: top;
    color: #666666;
    height: 30px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-bar > ul > li.page-tabs:hover {
    background-color: #C7C7C7;
}

.page-bar > ul > li.page-tabs.cur-page {
    background-color: #8D8D8D !important;
    color: #FFFFFF !important;
}

.page-bar > ul > li.page-tabs.cur-page:hover {
    background-color: #666666 !important;
}

.page-jumper {
    border: none;
    text-align: right;
    height: 12px;
    margin-bottom: 1px;
    line-height: 12px;
    padding: 4px 0 4px 0;
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #E3E3E3;
    margin-right: 3px;
    width: 30px;
    height: 22px;
    margin-top: -7px;
    text-align: center;
}

.page-jumper:focus {
    background-color: #FFFFFF;
}

.docViewerTitle {
    background-color: white;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

.docViewerTitle .docName {
    margin-top: 14px;
    margin-left: 20px;
    font-size: 14px;
    color: #1E2D3D
}

.docViewerTitle .docStatus {
    margin-left: 20px;
    font-size: 10px;
    text-transform: uppercase;
}

.docViewerTitle .lastUpdated {
    margin-top: 0px;
    margin-left: 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 10px;
}

.docViewerTitle .lastUpdated > button {
    border: none;
    background-color: white;
    color: #1E2D3D;
    padding-left: 20px;
    font-size: 16px;
}

.stageControls {
    position: absolute;
    left:-webkit-calc(50% - 140px);
    left:-moz-calc(50% - 140px);
    left: calc(50% - 140px);
    margin: 14px auto;
    width: 280px;
    color: #666666;
}

.stageControls > div.disabled > button {
    cursor: default;
    text-decoration: none;
    box-shadow: none;
}

.docViewerTitle div.small-standard-button {
    padding-top: 14px;
    padding-right: 20px;
}

.docPanel {
    width: 100%;
    height: 1165px;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0 auto 0 auto;
}

.docPanelContainer {
    left: 0px;
    right: 0px;
    margin: 0px auto;
}

.confirmPanelContainer {
    left: 0px;
    right: 0px;
    margin: 0px auto;
}
.confirmPanel {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.confirmPanel > div {
    width: 100%;
    height: 100%;
}
.confirmPanel > .my-loading-spinner-container > div {
    left: 50%;
    height: 60px;
}
.confirmBody {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 60px;
    width: 380px;
    height: 100%;
    min-height: 40px;
}

.confirmBody.shareDoc {
    text-align: left;
}

.confirmBody.shareDoc .single-share-input .select2-container {
    width: 450px;
}

.confirmBody > .radioOption {
    height: 40px;
}

.confirmBody > .radioOption > li:first-child {
    padding-right: 20px;
}

.confirmBody > .radioOption > li:last-child > span:first-child {
    font-size: 14px;
    color: #1E2D3D;
}

.confirmBody > .radioOption > li:last-child > span {
    color: #666666;
}

.confirmBody > .radioOption textarea.messageText {
    margin-left: 0;
    margin-right: 0;
    margin-top: 6px;
    margin-bottom: 30px;
    color: #666666;
}

.confirmBody > .checkboxOption {
    width: 320px;
    margin: 0 auto;
}

.confirmBody > .checkboxOption > li:last-child {
    padding-left: 20px;
}

.confirmBody > .checkboxOption > li:last-child > span {
    color: #666666;
}

.confirmBody .email-text {
    margin-top: 20px;
}

.confirmFooter {
    height: 12px;
}

.confirmButton {
    position: absolute;
    right: 20px;
    top: 75px;
}
.backButton {
    position: absolute;
    left: 20px;
    top: 75px;
}
.backButton > button > span {
    font-size: 16px;
    padding-right: 1px;
}
.backButton > button > span:before {
    vertical-align: middle;
}
.forwardButton > button > span {
    font-size: 16px;
    padding-left: 6px;
}
.forwardButton > button > span:before {
    vertical-align: middle;
}

.hidden {
    visibility: hidden;
}

.keyboardHintContainer {
    position: fixed;
    bottom: 100px;
    right: 0;
    background-color: #1E2D3D;
    opacity: 0.9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-animation: fadeout 1s linear 2s 1 normal forwards;
       -moz-animation: fadeout 1s linear 2s 1 normal forwards;
        -ms-animation: fadeout 1s linear 2s 1 normal forwards;
         -o-animation: fadeout 1s linear 2s 1 normal forwards;
            animation: fadeout 1s linear 2s 1 normal forwards;
}
@keyframes fadeout {
    from {opacity: 0.9;}
    to   {opacity: 0; display: none; z-index: -1;}
}
@-moz-keyframes fadeout {
    from {opacity: 0.9;}
    to   {opacity: 0; display: none; z-index: -1;}
}
@-webkit-keyframes fadeout {
    from {opacity: 0.9;}
    to   {opacity: 0; display: none; z-index: -1;}
}
@-ms-keyframes fadeout {
    from {opacity: 0.9;}
    to   {opacity: 0; display: none; z-index: -1;}
}
@-o-keyframes fadeout {
    from {opacity: 0.9;}
    to   {opacity: 0; display: none; z-index: -1;}
}
.keyboardHintContainer > img {
    display: block;
    margin: 0 auto;
}
.keyboardHintContainer > span {
    display:block;
    color: #FFFFFF;
    text-align: center;
    font-family: 'FS Elliot Web Light', sans-serif;
    font-weight: normal;
}

.draggable {
    border: 0 solid red;
    position:absolute;
    cursor: default;
    width: auto;
    height: auto;

    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    /*resize: both;
    overflow: hidden;
      */
}

.draggable > span {
    display: block;
    padding: 0;
    clear: both;
    box-sizing: border-box;
}

.draggable .check-annotation {
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
}
.draggable span > canvas {
    box-sizing: border-box;
    margin-bottom: -4px;
    cursor: crosshair;
}

.draggable div > textarea {
    margin-bottom: 0;
    overflow: hidden;
    line-height: normal;
    resize: both;
    opacity: 0.7;
    border: 1px solid #FFBA00;
    color: #2980B9;

    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;

    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.draggable div > textarea.roundedcorners {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;

    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;

    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.draggable.signature textarea {
    font-family: 'Arizonia', serif;
    background-image: url('/img/signature-texture.png');
    background-position: right bottom;
    background-repeat: no-repeat;
}

.draggable.imagesignature textarea {
    opacity: 1.0;
    font-family: 'Arizonia', serif;
}

.draggable.imagesignature.mysignature textarea {
    background-image: url('/photo/user?id=signature:');
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
    color: transparent;
}

.draggable.imagesignature.mysignature.processing textarea {
    background-image: none;
    color: transparent;
}

.draggable.imagesignature.mysignature textarea::-webkit-input-placeholder {
    opacity: 0;
}
.draggable.imagesignature.mysignature textarea:-moz-placeholder {
    opacity: 0;
}
.draggable.imagesignature.mysignature textarea::-moz-placeholder {
    opacity: 0;
}
.draggable.imagesignature.mysignature textarea:-ms-input-placeholder {
    opacity: 0;
}

.draggable.redrequired div > textarea {
    border: 1px solid #E64B3B;
}

.draggable.greenrequired div > textarea {
    border: 1px solid #149F84;
}

.sticky {
    position: relative;
}

.sticky .close-button {
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
}

.sticky .close-button > span {
    background-color: #1D2C3C;
    color: #F1F1F1;
    width: 20px;
    height: 20px;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.sticky .close-button > span:before {
    line-height: 19px;
    margin-left: 1px;
}

.sticky .dragger {
    position: absolute;
    left: -10px;
    background-color: #FFBA00;
    height: 100%;
    -webkit-transition: background-color linear 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.sticky.redrequired .dragger {
    background-color: #E64B3B;
}

.sticky.greenrequired .dragger {
    background-color: #149F84;
}

.sticky .dragger > span {
    height: 100%;
    position: relative;
    display: inline-block;
    width: 10px;
}


.sticky .dragger > span > span {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    margin-left: -3px;
    cursor: pointer;
    height: 16px;
}

.sticky .dragger > span > span::before {
    color: #FFFFFF;
}

.sticky textarea {
    border-radius: 0;
}

.sticky-menu {
    position: absolute;
    background-color: #1D2C3C;
    width: 190px;
    margin: 10px 0 0 -95px;
    left: 50%;
    border-radius: 3px;
    z-index: 5;
}

.sticky-menu:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -8px;
    left: 85px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #1D2C3C;
}

.sticky-menu > ul > li {
    margin: 5px 20px;
}

.sticky-menu > ul > li > ul {
    margin-top: 15px;
}

.sticky-menu > ul > li:last-of-type > ul {
    margin-bottom: 20px;
}

.sticky-menu > ul > li > ul > li > span, .sticky-menu > ul > li > ul > li.required-text {
    color: #FFFFFF;
    font-size: 10px;
    text-transform: uppercase;
}

.sticky-menu ul.required-row > li {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.sticky-menu .standard-button > button {
    width: 42px;
    margin-left: 10px;
    background-color: transparent;
    padding: 0;
    min-height: 20px;
    line-height: 20px;
    box-shadow: none;
    color: #3498DB;
    text-transform: uppercase;
    font-size: 10px;
}

.sticky-menu .standard-button > button:hover {
    color: #2980B9;
}


div.textarea-container {
    line-height: 0;
}

.drawcursor {
    cursor: crosshair;
}

.sigmodal.modalText {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 40px;
    margin-bottom: 0;
}
.sigmodal + .modal-footer > .standard-button {
    padding-left: 20px;
}
div.imgsig {
    height: 200px;
    border: #1ABC96 solid 2px;
}
div.imgsig > img {
    margin: 0 !important;
    height: 100%;
    float: left;
}


