<div class="container">
  <div class="row-fluid">
    <div class="headsection row-fluid">
        <ul class="maintabs head-text">
            <li class="selectedtab">Documents</li>
        </ul>
    </div>

    <div class="row-fluid">
      <div class="subnav-controls">
        <div>
            <div class="pull-left">
                <span>Search</span>
                <input type="text" class="search-box" ng-model="query">
            </div>
        </div>
        <div class="DivHelper"></div>
      </div>
    </div>

    <section class="docLibrary statusBlock">
      <table class="tableView bodyText">
        <tr class="column-label status-columns">
          <th class="button" ng-click="setOrder('docname')" style="width:40%;"><span
              class="title sortedDown">Name</span></th>
          <th class="button" ng-click="setOrder('last_updated')" style="width:30%;"><span
              class="title">Last Updated</span></th>
          <th class="button" style="width:30%;"><span class="title">Status</span></th>
        </tr>
        <tr class="pointer status-row" ng-repeat="doc in documents  | filter:searchFilter  | orderBy:docOrder">
          <td><a href="/documents/investor-view?doc={{doc.doc_id}}">{{doc.docname}}</a></td>
          <td><span class="dateFormatting">{{doc.last_updated | fromNow}}</span>{{doc.last_updated | date:'shortTime'}}</td>
          <td>{{doc.signature_status}}</td>
        </tr>
      </table>
      <div style="display: none;" ng-show="documents.length == 0">You have no documents.</div>
    </section>

  </div>
</div>
