<div class="container" data-ng-init="init()">
  <div class="row-fluid">
    <div class="headsection row-fluid">
      <h1><a href="/documents/"><span data-icon="&#xe038;" style="font-size: 300%; padding-right: 0.3em;" aria-hidden="true"></span></a>{{document.docname}}
        <span class="documentStatus">{{document.signature_status}}</span>
      </h1>

      <div class="row-fluid">
        <div>
          <button ng-click="confirmModal=true" ng-show="signable();" class="button subText blueButton">Sign Document</button>
          <button class="button subText greyButton" ng-show="tester && document.when_signed" ng-click="unSign(document)">UnSign</button>
        </div>
      </div>

    </div>

  </div>

  <div class="row-fluid">
    <doc-viewer page-query-string="pageQueryString()" doc-id="docId" invq="true"></doc-viewer>
  </div>

  <div modal="confirmModal" close="confirmModalClose()" options="opts">
    <div class="sign-modal">
      <div class="modalHeader">
        <span data-icon="&#xe00d;" aria-hidden="true"></span>Confirm Electronic Signature
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="confirmModalClose()"></span>
      </div>

      <div class='modalText'>
        <label>
          <input class="checkbox-class" type="checkbox" ng-model="confirmSignature">
          Do you wish to electonically sign this document?
          <br>(This action is irreversible)
        </label>
      </div>

      <div class="dModalButtons">
        <button class="greyButton" ng-click="confirmModalClose()">Cancel</button>
        <button class="greenButton" ng-disabled="processing || !confirmSignature" ng-click="signDocument(document);">Sign</button>
      </div>
    </div>
  </div>

</div>

         