<div class="container" data-ng-init="init()">
  <div class="row-fluid">
    <div class="headsection head-border-bottom row-fluid">

        <ul class="maintabs head-text">
            <li class="selectedtab"><a href="/documents/investor-list">Documents</a></li>
            <li class="selectedtab"><span class="doc-title" ng-bind="document.docname | lengthLimiter"></span></li>
        </ul>
    </div>
  </div>
    <div ng-show="signable() || (tester && document.when_signed)" class="row-fluid">
        <div class="subnav-controls">
            <div>
                <div class="pull-right">
                    <div class="standard-button">
                        <button ng-click="confirmModal=true" ng-show="signable();" class="btn">Sign Document</button>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="standard-button">
                        <button class="btn" ng-show="tester && document.when_signed" ng-click="unSign(document)">UnSign</button>
                    </div>
                </div>
            </div>
            <div class="DivHelper"></div>
        </div>
    </div>
  <div class="row-fluid">
    <doc-viewer page-query-string="pageQueryString()" doc-id="docId" invq="true"></doc-viewer>
  </div>

  <div modal="confirmModal" close="confirmModalClose()" options="opts">
    <div class="sign-modal">
      <div class="modalHeader">
        <span data-icon="&#xe00d;" aria-hidden="true"></span>Confirm Electronic Signature
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="confirmModalClose()"></span>
      </div>
      <div class='modalText esign'>
          <input class="checkbox-class" type="checkbox" ng-model="confirmSignature">
          <span class="chkboxtext">
              Do you wish to electonically sign this document?<br>(This action is irreversible)
          </span>
      </div>
      <div class="dModalButtons">
        <button class="greyButton" ng-click="confirmModalClose()">Cancel</button>
        <button class="greenButton" ng-disabled="processing || !confirmSignature" ng-click="signDocument(document);">Sign</button>
      </div>
    </div>
  </div>
</div>

