<div class="container">
  <div class="row-fluid">
    <div class="headsection row-fluid"><h1>Documents</h1></div>
    <div class="row-fluid">
      <div class="subnav-controls">
        <div><p class="searchBox"><label>
          Search:
          <input ng-model="query">
        </label></p></div>
        <div class="DivHelper"></div>
      </div>
    </div>

    <section class="docLibrary statusBlock">
      <table class="tableView bodyText">
        <tr class="column-label status-columns">
          <th class="button" ng-click="setOrder('docname')" style="width:40%;"><span
              class="title sortedDown">Name</span></th>
          <th class="button" ng-click="setOrder('last_updated')" style="width:30%;"><span
              class="title">Last Updated</span></th>
          <th class="button" style="width:30%;"><span class="title">Status</span></th>
        </tr>
        <tr ng-repeat="doc in documents  | filter:searchFilter  | orderBy:docOrder">
          <td><a href="/documents/investor-view?doc={{doc.doc_id}}">{{doc.docname}}</a></td>
          <td><span class="dateFormatting">{{doc.last_updated | fromNow}}</span>{{doc.last_updated | date:'shortTime'}}</td>
          <td>{{doc.signature_status}}</td>
        </tr>
      </table>
      <div style="display: none;" ng-show="documents.length == 0">You have no documents.</div>
    </section>

  </div>
</div>
