<script src="/cmn/spin.js"></script>
<div class="container">
    <div class="row-fluid">
        <doc-viewer page-query-string="pageQueryString()" doc-id="docId" invq="true"></doc-viewer>
    </div>
    <div modal="confirmModal" options="opts">
        <div class="sign-modal">
            <div class="modalHeader">
                <span>Confirm Electronic Signature</span>
                <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="confirmModalClose()" ng-hide="processing"></span>
            </div>
            <div my-loading-spinner="processing">
                <div class='modalText esign'>
                    <input class="checkbox-class" type="checkbox" ng-model="confirmSignature">
                    <span class="chkboxtext">
                    Do you wish to electonically sign this document?
                    <br>(This action is irreversible)
                    </span>
                </div>
                <div class="modal-footer">
                    <div class="pull-left standard-button gray">
                        <button class="btn" ng-click="confirmModalClose()">Cancel</button>
                    </div>
                    <div class="standard-button green">
                        <button class="btn" ng-disabled="processing || !confirmSignature" ng-click="signDocument(document);">Sign</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div modal="finalizeModal" options="opts">
        <div class="sign-modal">
            <div class="modalHeader">
                <span>Finalize Document</span>
                <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="finalizeModalClose()" ng-hide="processing"></span>
            </div>
            <div my-loading-spinner="processing">
                <div class="modalText esign">
                    <input class="checkbox-class" type="checkbox" ng-model="confirmFinalize">
                    <span class="chkboxtext">
                        Do you wish to finalize this document?
                        <br>(This action is irreversible)
                    </span>
                </div>
                <div class="modal-footer">
                    <div class="pull-left standard-button gray">
                        <button class="btn" ng-click="finalizeModalClose()">Cancel</button>
                    </div>
                    <div class="standard-button green">
                        <button class="btn" ng-disabled="processing || !confirmFinalize" ng-click="finalizeDocument(document);">Finalize</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div modal="rejectModal" close="rejectModalClose()" options="opts">
        <div class="sign-modal">
            <div class="modalHeader">
                <span>Reject Document</span>
                <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="rejectModalClose()"></span>
            </div>
            <div class="messageSection">
                <textarea class="messageText" rows="4" ng-model="messageText"></textarea>
            </div>
            <div class="modal-footer">
                <div class="pull-left standard-button gray">
                    <button class="btn" ng-click="rejectModalClose()">Cancel</button>
                </div>
                <div class="standard-button green">
                    <button class="btn" ng-click="rejectModalClose(); rejectCountersignature(messageText);">Reject</button>
                </div>
            </div>
        </div>
    </div>
</div>
