<div>

<div class="modalHeader">
  <p class="subText">Upload a Document</p>
</div>
<div class="modalText">

<!--   <div class="dropbox" ng-class="dropClass">
    <span>{{dropText}}</span>
  </div> -->

  <input class="bodyText button uploadButton" type="file" onchange="angular.element(this).scope().setFiles(this)" />

  <div ng-show="files.length">
      <span>{{files[0].name}}</span>  
      (<span>{{fmtFileSize(files[0])}}</span>)
  </div>
</div>
<div class="modalButtons">
  <input class="bodyText button uploadButton" type="button" ng-click="uploadDropbox(); upModal = false;" value="Upload with dropbox" />
  <button value="Upload" class="button subText greenButton"  ng-click="uploadFile(); upModal = false;">Upload</button>
</div>

</div>
