<div class="row-fluid">
    <div class="span5 offset4 gateway text-center">
        <div>
            <a href="#"><img class="login-logo" src="/img/logo-blue.png"></a>
            <p class="tagline">the best way to manage your shareholders
        </div>
        <div class="spacer20"></div>
        <p><span class="welcome">Welcome!</span><br>To begin, create a password to accompany your <br> email  address:  <strong>{{email}}</strong></p>
        <form id="login" class="text-center inputs" ng-submit="activate()">
            <fieldset>                
                <div class="field text-right">
                    <span>Full Name</span>
                    <input class="loginInput" autocomplete="off" type="text" tabindex="1" ng-model="pname"/>
                </div>
                <div class="field text-right">
                    <span>Company Name</span>             
                    <input class="loginInput" autocomplete="off" type="text" tabindex="2" ng-model="cname"/>
                </div>
                 <div class="field text-right">
                    <span>Password</span>                     
                    <input class="loginInput" autocomplete="off" type="password" tabindex="3" ng-model="password"/>
                </div>
                <p class="caption legal">By clicking the Register button, you agree to our <br><a target="_blank" href="/terms">Terms of Use</a> and <a target="_blank" href="/privacy">Privacy Policy</a></p>
                <div class="standard-button text-center">
                    <button type="submit" class="btn" ng-disabled="fieldCheck()">Register</button>
                </div>
                <div class="spacer10"></div>
            </fieldset>
        </form>
    </div>
</div>