<div class="row-fluid">
    <div class="span10 offset1">
        <a href="/">
            <img class="newreglogo" src="/img/logo-blue.png">
        </a>
    </div>
    <div class="newreg span10 offset1 gateway text-center">
        <div class="planselector">
            <div class="span12">
                <div class="span3">
                   Your plan
                </div> 
                <div class="span2">
                    <!-- ng-switch with different image -->
                    <img src="/img/icon-seed.png">
                </div>
                <div class="span2">
                    <img src="/img/icon-startup.png">
                </div>
                <div class="span2">
                    <img src="/img/icon-growth.png">
                </div>
                <div class="span2">
                    <img src="/img/icon-established.png">
                </div>
            </div>
            <div class="span12">
                <div class="span3">
                </div> 
                <div class="span2">
                    <p>Seed</p>
                    <p>$9 / month</p>
                </div>
                <div class="span2">
                    <p>Startup</p>
                    <p>$29 / month</p>
                </div>
                <div class="span2">
                    <p>Growth</p>
                    <p>$99 / month</p>
                </div>
                <div class="span2">
                    <p>Established</p>
                    <p>$199 / month</p>
                </div>
            </div>
            <div class="span12">
                <div class="span3">
                    Documents
                </div>
                <div class="span2">
                    <p>10</p>
                </div>
                <div class="span2">
                    <p>50</p>
                </div>
                <div class="span2">
                    <p>250</p>
                </div>
                <div class="span2">
                    <p>1,000</p>
                </div>
            </div>
            <div class="span12">
                <div class="span3">
                    Admin Accounts
                </div>
                <div class="span2">
                    <p>1</p>
                </div>
                <div class="span2">
                    <p>2</p>
                </div>
                <div class="span2">
                    <p>5</p>
                </div>
                <div class="span2">
                    <p>10</p>
                </div>
            </div>
            <div class="span12">
                <div class="span3">
                    Direct Messages
                </div>
                <div class="span2">
                    <p>10</p>
                </div>
                <div class="span2">
                    <p>50</p>
                </div>
                <div class="span2">
                    <p>250</p>
                </div>
                <div class="span2">
                    <p>1,000</p>
                </div>
            </div>
            <div class="span12">
                <div class="span3">
                </div>
                <div class="span2">
                    <button class="radio-button"
                            ng-class="{'selected':selectedPlan==='001'}"
                            ng-click="selectPlan('001')">
                    </button>
                </div>
                <div class="span2">
                    <button class="radio-button"
                            ng-class="{'selected':selectedPlan==='002'}"
                            ng-click="selectPlan('002')">
                    </button>
                </div>
                <div class="span2">
                    <button class="radio-button"
                            ng-class="{'selected':selectedPlan==='003'}"
                            ng-click="selectPlan('003')">
                    </button>
                </div>
                <div class="span2">
                    <button class="radio-button"
                            ng-class="{'selected':selectedPlan==='004'}"
                            ng-click="selectPlan('004')">
                    </button>
                </div>
            </div>
        </div>
        <div class="big-input-list">
            <div class="span12">
                <div class="span6">
                    <div>Your details</div>
                    <div class="input-list">
                        <div>
                            <span>Full Name</span>
                            <input type="text" class="input-block-level">
                        </div>
                        <div>
                            <span>Company</span>
                            <input type="text" class="input-block-level">
                        </div>
                        <div>
                            <span>Email Address</span>
                            <input type="text" class="input-block-level">
                        </div>
                        <div>
                            <span>Password</span>
                            <input type="text" class="input-block-level">
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div>Credit card information</div>
                    <div class="input-list">
                        <div>
                            <span>Name on Card</span>
                            <input type="text" class="input-block-level">
                        </div>
                        <div>
                            <span>Credit Card Number</span>
                            <input type="text" class="input-block-level">
                        </div>
                        <div>
                            <div class="span6">
                                <span>Expiration Date</span>
                                <input type="text" class="input-block-level">
                            </div>
                            <div class="span6">
                                <span>CVC</span>
                                <input type="text" class="input-block-level">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard-button large-standard-button">
            <button class="btn">Join Sharewave</button>
        </div>
    </div>
</div>
