<div class="row-fluid">
    <div class="span5 offset1 gateway text-center">
        <div>
            <div class="logo" data-logo="&#xe02e;" aria-hidden="true">
                <p class="tagline">the best way to manage your shareholders
            </div>
        </div>
        <div class="spacer40"></div>
        <div class="span9 offset1 text-center line"></div>
        <div class="spacer10"></div>
        <div class="span9 offset1 text-center">
            <p>Welcome!<br>To begin, create a password to accompany  your <br> email  address:   <strong>{{email}}</strong></p>
            <form id="login" class="text-center inputs" ng-submit="activate()">
                <input placeholder="FULL NAME" class="loginInput" autocomplete="off" type="text" ng-model="pname"/>
                <input placeholder="COMPANY NAME" class="loginInput" autocomplete="off" type="text" ng-model="cname"/>
                <input placeholder="COMPANY WEBSITE" class="loginInput" autocomplete="off" type="text" ng-model="company"/>
                <input placeholder="PASSWORD" class="loginInput" autocomplete="off" type="password" ng-model="password"/>
                <p class="caption legal">By clicking the Register button, you agree to our <br><a target="_blank" href="/terms">Terms of Use</a> and <a target="_blank" href="/privacy">Privacy Policy</a></p>
                <button type="submit" class="button greenButton loginButton bodyText" ng-disabled="fieldCheck()">Register</button>
                <div class="spacer10"></div>
            </form>
        </div>
    </div>
    <div class="span5 gateway register hidden-phone">
        <p><img src="/img/reg-graphic-holding.png"> <span class="teaser">Understand your company&apos;s equity</span></p>
        <p><img src="/img/reg-graphic-audit.png"> <span class="teaser">Simplify shareholder communication</span></p>
        <p><img src="/img/reg-graphic-copies.png"> <span class="teaser">Keep an audit trail of all your data</span></p>
    </div>
</div>
