<div class="row-fluid">
  <div class="span5 offset1 gateway text-center">
    <div>
      <div class="logo" data-logo="&#xe02e;" aria-hidden="true">
      <p class="tagline">the best way to manage your shareholders<p>
        </div>
    </div>
    <div class="spacer40"></div>
    <div class="span9 offset1 text-center line"></div>
    <div class="spacer10"></div>
    <div class="span9 offset1 text-center">
        <p>To protect the information of {{company}}, please register <strong>{{email}}</strong></p>
        <form id="login" class="text-center inputs" ng-submit="doActivate()">
          <fieldset>
            <label>
            <input placeholder="Full Name" class="loginInput" type="text" ng-model="name" />
              </label>
            <label>
              <input placeholder="Password" class="loginInput" autocomplete="off" type="password" ng-model="password" />
              </label>
            <div class="spacer30"></div>

          <button type="submit" class="button greenButton loginButton bodyText" ng-disabled="fieldCheck()">Register</button>
              <p class="caption">By registering, you agree to our <br><a target="_blank" href="/terms">Terms of Use</a> and <a target="_blank" href="/privacy">Privacy Policy</a></p>
            <br>
          </fieldset>
        </form>
     </div>
  </div>
  <div class="span5 gateway register hidden-phone">
    <p><img src="/img/reg-graphic-holding.png"> <span class="teaser">Review your personal holdings</span></p>
    <p><img src="/img/reg-graphic-copies.png"> <span class="teaser">Maintain copies of company documents</span></p>
    <p><img src="/img/reg-graphic-esign.png"> <span class="teaser">Electronically sign documents</span></p>
  </div>
</div>
