<div class="row-fluid">
    <div class="span5 offset4 gateway text-center">
        <div>
            <a target="_self" href="/"><img class="login-logo" src="/img/logo-blue.png"></a>
            <p class="tagline">the best way to manage shareholders<p>
        </div>

        <div class="signup" ng-hide="registertoggle">
            <form id="login" class="text-center">
                <div class="spacer35"></div>
                <fieldset>
                    <div class="field text-right">                    
                        <span>Email Address</span>
                        <input type="text" class="loginInput" autocomplete="off"
                               tabindex="1" autocapitalize="off" name="username" ng-model="registeremail">
                    </div>
                    <div class="spacer30"></div>

                    <div class="standard-button text-center">
                        <button class="btn" ng-disabled="!fieldCheck(registeremail);"  ng-click="companySelfRegister()">Sign Up</button>
                    </div>
                </fieldset>
                <div class="spacer30"></div>
            </form>
        </div>

        <div class="signup register-message" ng-show="registertoggle">
            <div class="spacer10"></div>
            <div>
                <h2>Thanks for signing up to use Sharewave!</h2>
                <p>Please check your email to complete your registration.</p>
                <p>Spread the word to your fellow entrepreneurs:<p>
            </div>
            <div class="social text-center">
                <a href="https://twitter.com/intent/tweet?text=Check%20out%20Sharewave%2C%20the%20best%20way%20for%20private%20companies%20to%20manage%20their%20shareholders&via=sharewaveteam&url=http://bit.ly/shwvtw&original_referer=http://sharewave.com/" target="_blank">
                    <div class="standard-button small-standard-button twitter">
                        <button class="btn" type="button">
                            <span data-icon="&#xe035;" aria-hidden="true"></span><span>Share</span>
                        </button>
                    </div>
                    </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://bit.ly/shwvfb" target="_blank">
                    <div class="standard-button small-standard-button fb">
                        <button class="btn" type="button">
                            <span data-icon="&#xe037;" aria-hidden="true"></span><span>Share</span>
                        </button>
                    </div>
                </a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://bit.ly/shwvln&title=Sharewave%3A+The+best+way+to+manage+your+shareholders&source=Sharewave&summary=Spend%20more%20time%20running%20your%20business%20and%20less%20time%20on%20it%27s%20administration%2C%20no%20matter%20if%20you%20have%20one%20investor%20or%20one%20thousand." target="_blank">
                    <div class="standard-button small-standard-button linkedin">                        
                        <button class="btn" type="button">
                            <span data-icon="&#xe036;" aria-hidden="true"></span><span>Share</span>
                        </button>
                    </div>    
                </a>
                <div class="spacer20"></div>
            </div>
        </div>
    </div>
</div>
                  