<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
	<base href="../"/>
	<title>Administrative Functions</title>
	<link rel="stylesheet" href="css/MVP.css">
	<!--{{/i/head.inc}}-->
	
</head>

<body>
	<div id="wrap">

     <!--{{/i/nav.inc}}-->

        <div id="mainBody">
          <div class="container">
            <div class="row-fluid">
	
	
	            <fieldset> 
                    <legend class="headline2">Sign-ups</legend>
                    <div class="formBounder">
                      <div class="row-fluid">   
                            <label class="bodyText">GoogleSpreadsheet name</label>              
                          <input type="text" style="width:90%;" name="worksheet" value="signups"/> 
                      </div>
					  <a id="toGoogle" class="bodyText button">Create worksheet</a>
					  <div id="googleResult" class="alertMessage"></div>
					</div>
				</fieldset>
    
	
	
				<div id="login-dialog" ng-show="show==true" ng-controller="LoginController">
				  <form class="well form-inline" action="" ng-submit="connect()">
				    <h3>Login</h3>
				    <input ng-model="username" type="text" val="username" placeholder="Username">
				    <input ng-model="password" type="password" val="password" placeholder="Password">
					<span>{{result}}</span>
				    <button type="submit" class="btn">Log in</button>
				  </form>
				</div>
	
	
            </div>
          </div>


		<div id="demoDiv" ng-controller='DemoController'>
		  <div infinite-scroll='nextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
		    <div ng-repeat='item in items'>
		      <!-- <span>{{item.company_name}} ( <a hg-href='http://{{item.company_domain}}'>{{item.company_domain}}</a> )</span>
		      <span>{{item.name}} ( {{item.email}} )</span>
		      <small>created {{item.created}}</small>
		-->
					<div interested></div>
    		</div>
		    <div ng-show='busy'>Loading data...</div>
		  </div>
		</div>




        </div>

      <div id="push"></div>   
	</div>
	

      <!--{{/i/foot.inc}}-->

<!-- has to go here because it needs to come after jQuery - - which is in foot.inc -->
	<script src="js/angular.js"></script>
	<script src="js/ng-infinite-scroll.js"></script>


	<script>	
		var nli = function(x) { document.querySelector("#googleResult").innerHTML=x.message;
			if (x.message == "Not Logged In") {
				var sc = angular.element(document.querySelector("#login-dialog")).scope();
				sc.show = true;
				sc.$apply();
			}
		}
		
		jQuery("#toGoogle").click(function() {
			var gsn = document.querySelector("input[name=worksheet]").value;
			SWBrijj.proc("signUpsToGoogle", gsn, [
				function(x) { document.querySelector("#googleResult").innerHTML=x;},
				nli]
				);
		});
		
		
		var LoginController = function($scope) {
		    $scope.connect = function() {
			  SWBrijj.login($scope.username, $scope.password, function(data) { 
				if (data) { $scope.show = false; $scope.result=""; } else $scope.result = "Login failed";
				$scope.$apply();
				var os = angular.element(document.querySelector("#demoDiv")).scope();
				os.busy = false;
				os.nextPage();
				os.$apply();
			  });
			};
		};
		
		var app = angular.module("myApp",['infinite-scroll']);
				app.directive("interested", function() {
					return {
						// scope: { item: '=' }
						template: "<div><span>{{item.company_name}} ( <a hg_ref='http://{{item.company_domain}}' > {{item.company_domain}}</a> )</span>"+
						"<p><span>{{item.name}} ( {{item.email}} )</span><small>created {{item.created}}</small></div>"
					}
				});
		
		app.controller('DemoController', function($scope) {
		  $scope.items = [];
		  $scope.busy = false;
		  $scope.before = new Date();

		  $scope.nextPage = function() {
		    if ($scope.busy) return;
		    $scope.busy = true;

			SWBrijj.procm("signUps", 30, $scope.before, [ function(data) {
		      var items = data;
		      for (var i = 0; i < data.length; i++) {
		        $scope.items.push(data[i]);
		      }
		      $scope.before = $scope.items[$scope.items.length - 1].created;
		      $scope.busy = false;
			  $scope.$apply();
		    }, nli ]  );
		  };
		});
		
/*		var sc = angular.element(document.querySelector("#demoDiv")).scope();
		DemoController(sc);
		*/
		
	  </script>

	</body>
</html>
