<div class="container">

	     <h1><a href="v/docLibrary.html#/documents/"><i class="button icon-reply icon-2x" style="margin-right:40px;"></i></a>{{docName}}</h1>
         
         <ul class="subText navPills cf">
         	<a href="v/docLibrary.html#/documents/{{docName}}/view"><li class="button">View</li></a>
         	<li class="selectedPill button">Status</li>
         </ul>
        
         <div class="row-fluid">
         
             <div class="span8">
                 <section class="recipientInfo statusBlock">
                 <div>
                 <i class="icon-user icon-2x"></i><p class="subText">Recipient Status</p>
                 </div>
                 <table class="tableView bodyText">
                      <tr class="subText">
                        <th class="button"><span class="title sortedDown">Name</span></th><th colspan="2" class="button"><span class="title">Status</span></th>
                      </tr>
                      <tr ng-repeat="doc in documents  | filter:query  | orderBy:docOrder">
                        <td><a href="v/docLibrary.html#/documents/{{doc.docname}}/view">{{doc.docname}}</a></td><td><span class="dateFormatting">{{doc.last_updated | fromNow}}</span>{{doc.last_updated | date:'shortTime'}}</td><td class="button"><a ng-click="open(doc)"><span tooltip-placement="bottom" tooltip="Delete"><i class="icon-trash  icon-large"></i></span></a></td>
                      </tr>
                    </table>      
                 </section>
             </div>
         
  		 <div class="span4">
             <section class="documentInfo statusBlock">
             <div>
             <i class="icon-info-sign icon-2x"></i><p class="subText">Document Information</p>
             </div>
             <ul>
                <li>Last Resent:</li>
                <li>
                    <ul>
                        <li>{{document.last_updated | date:"short"}}</li>
                        <li>Last Edited</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>{{document.last_updated | date:"short"}}</li>
                        <li>Deadline</li>
                    </ul>
                </li>
             </ul>        
             </section>
             
             <section class="documentInfo statusBlock">
             <div>
             <i class="icon-info-sign icon-2x"></i><p class="subText">Activity Feed</p>
             </div>     
             </section>
         </div>
          
</div>

         