<div>
  <div class="modalHeader">
    <span data-icon="&#xe004;" aria-hidden="true"></span>
    <span data-icon="&#xe006;" aria-hidden="true"></span>
    <span style="padding-left: 20px"/>Share a Document
    <span ng-click="hide()" class="close" data-icon="&#xe00f" aria-hidden="true"></span>
  </div>

    <div class="modalText">
      <email-to ng-model="recipients">This is a test</email-to>
      <p>Signature Required? <input ng-model="signeeded" type="checkbox"></p>
      <p ng-show="signeeded">Date <input type="text" ng-model="signaturedate" data-date-format="mm/dd/yyyy" bs-datepicker></p>
        <hr>
        <textarea class="email-text" rows="4" cols="60" ng-model="messageText"></textarea>
        <hr>
    </div>
    <div class="modalButtons">
      <button class="button subText greenButton" ng-click="share(messageText, sendeeEmail); hide();">Send</button>
    </div>

    <ul ng-repeat="r in recipients"> 
       <li>{{ r }}</li>
    </ul>
</div>

