.thisone {
    background-color: lightgreen;
}
.thatone:hover {
    background-color: yellow;
    cursor: pointer;
}

div.maincontent {
    max-width: 1280px;
}
div.container {
    width: 1080px;
}

.button.subText {
    float: right;
    margin-left: 10px;
}

.draggable textarea {
    font-family: Helvetica, sans-serif;
    /* letter-spacing: -0.09em; */
}

.companyDocViewer {
    border-left: 1px solid #E3E3E3;
}

.docVersiontab > ul {
    margin-left: 0;
}
.docVersiontab > ul > li {
    /* margin-top: 15px; */
    padding-left: 8px;
    padding-top: 9px;
    padding-bottom: 9px;

    /* height: 30px; */
    list-style-type: none;
    line-height: normal;
}

.tableView td.status-bar > div {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px 5px 0 5px;
    height: 96px;
    width: 110px;
    display: inline-block;
    margin: 0 6px 0 6px;
    float: left;
}

/*.tableView tr.status-bubbles > div {
    width: 120px;
    margin: 0 48px 0 48px;
}
  */

.tableView td.status-bar span[data-icon] {
    font-size: 24px;
    margin-bottom: 8px;
    padding-top: 8px;
}

.doubleTime {
    margin-bottom: 0;
    padding-bottom: 0;
}

.smallDate {
    font-size: 75%;
    color: grey;
}

.documentStatus {
  font-size: 50%;
  padding-left: 4em;
}

.activity-feed {
    margin-left: 0;
}

table.docLibrary {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table.docLibrary > tbody > tr:first-child > td {
    cursor: pointer;
}

.status-showing td {
    background-color: #f1f1f1;
}



.dModalButtons {
    display: block;
    padding: 0 0 20px 0;
}

.dModalButtons button {
    padding: 0 !important;
    cursor: pointer;
    border: 0;
    box-sizing:border-box;
    vertical-align: middle;
    padding: 0 0 0 0;
}

.dModalButtons button {
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}

.dModalButtons button:last-child {
    float:right;
    margin-right: 20px;
}


/*
.button:hover {
    text-decoration: none;
}

.button.adisabled {
    background-color:#BDC3C7;
    cursor:default;
}

.button.adisabled:hover {
    background-color:#BDC3C7;
}
*/

button.blueButton {
    color:#ffffff;
    background-color:#34495E;
    width: 143px;
    height: 37px;
    text-align:center;
    padding: 0 0 0 0;
}

button.greenButton {
    width: 143px;
    height: 37px;
    text-align:center;
    padding: 0 0 0 0;
    color:#ffffff;
    background-color: #1ABC96;
}

button.greenButton:hover {
    background-color: #1ccaa1;
}

button.greyButton {
    color:#ffffff;
    background-color:#bdc3c7;
    width: 143px;
    height: 37px;
    text-align:center;
    padding: 0 0 0 0;
}
