.thisone {
    background-color: lightgreen;
}
.thatone:hover {
    background-color: yellow;
    cursor: pointer;
}

.button.subText {
    float: right;
    margin-left: 10px;
}

.companyDocViewer {
    border-left: 1px solid #E3E3E3;
}

.docVersiontab > ul {
    margin-left: 0;
}
.docVersiontab > ul > li {
    /* margin-top: 15px; */
    padding-left: 8px;
    padding-top: 9px;
    padding-bottom: 9px;

    /* height: 30px; */
    list-style-type: none;
    line-height: normal;
}

.tableView td.status-bar > div {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px 5px 0 5px;
    height: 96px;
    width: 110px;
    display: inline-block;
    margin: 0 6px 0 6px;
    float: left;
}

/*.tableView tr.status-bubbles > div {
    width: 120px;
    margin: 0 48px 0 48px;
}
  */

.tableView td.status-bar span[data-icon] {
    font-size: 24px;
    margin-bottom: 8px;
    padding-top: 8px;
}

.doubleTime {
    margin-bottom: 0;
    padding-bottom: 0;
}

.smallDate {
    font-size: 75%;
    color: grey;
}

.activity-feed {
    margin-left: 15px;
}