<div class="container">

		<div modal="shouldBeOpen" close="close()" options="opts">
                <div class="modalHeader">
                    <p class="subText">Share Document</p>
                </div>
               	
                <div class="modalText">
                <form>
                    <p>Add People</p>
                    <input ng-model="sendeeEmail" type="email">
                    <p>Message</p>
                    <textarea style="resize: none;" rows="4" cols="40" ng-model="messageText"></textarea>
                    <br>
                    <div class="control-group input-append">
                      <input type="text" ng-model="datepicker.date" data-date-format="mm/dd/yyyy" bs-datepicker>
                      <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>
                    <p>Needs Signing? : <input type="checkbox" ng-model="needsign">Yes</p>
                </form>
                </div>
                <div class="modalButtons">
                    <button class="button subText greenButton" ng-click="close(); share(messageText, sendeeEmail, needsign)">Send</button>
                </div>
            </div>
            
         <div modal="revokeModal" close="revclose()" options="revopts">
                <div class="modalHeader">
                    <p class="subText">Revoke Access</p>
                </div>
               	
                <div class="modalText">
                {{revoke}} will no longer be able to view this document.
                </div>
                
                <div class="modalButtons">
                    <button class="button subText greyButton" ng-click="revclose();">Take me back!</button>
					<button class="button subText greenButton" ng-click="revclose(); revokeUser(revoke)">Revoke</button>
                </div>
            </div>
            
            <div modal="remModal" close="remclose()" options="remopts">
                <div class="modalHeader">
                    <p class="subText">Send Reminder</p>
                </div>
               	
                <div class="modalText">
                Send a reminder to {{reminder}}.
                <p>Message</p>
                    <textarea rows="4" cols="40" ng-model="messageText"></textarea>
                </div>
                
                <div class="modalButtons">
                    <button class="button subText greyButton" ng-click="remclose();">Never Mind!</button>
					<button class="button subText greenButton" ng-click="remclose(); remind(messageText, reminder);">Remind</button>
                </div>
            </div>

            <a href="/company/documents/"><i class="button icon-reply icon-2x" style="margin-right:40px;"></i></a>
            <div ng-hide="editorEnabled">
                <h1>{{page_title}}</h1>
                <a href="#" ng-click="enableEditor()"><i class="button icon-pencil icon-2x"></i></a>
            </div>
            <div ng-show="editorEnabled">
                <input ng-model="editableTitle" ng-show="editorEnabled"/>
                <a href="#" ng-click="save()">Save</a>
                or
                <a href="#" ng-click="disableEditor()">cancel</a>.
            </div>
         </div>		
         
         <div style="float:right">
             <button class="button subText blueButton" style="float:left;" ng-click="modalUp()">Share Document</button>
             <div style="float:right;" class="dropdown clearfix" ng-class="{open: open}">
                <a class="multi-dropdown dropdown-toggle" href="#" ng-click="open=!open"><span class="caret"></span></a>
                <ul class="dropdown-menu multi_menu subText" role="menu" aria-labelledby="dropdownMenu">
                    <li><a tabindex="-1" href="#">Print Document</a></li>
                    <li><a tabindex="-1" href="#">Download Document</a></li>
                </ul>
            </div>
        </div>
         
         <ul class="subText navPills cf">
         	<li class="button"><a href="/company/documents/view?doc={{document1.doc_id}}">View</a></li>
         	<li class="selectedPill button">Status</li>
         </ul>
         
        
         <div class="row-fluid">
         
             <div class="span8">
                 <section class="recipientInfo statusBlock">
                 <div>
                 <i class="icon-user icon-2x"></i><p class="subText">Recipient Status</p>
                 </div>
                 <table class="tableView bodyText">
                      <tr class="subText">
                        <th class="button"><span class="title sortedDown">Name</span></th><th colspan="2" class="button"><span class="title">Status</span></th>
                      </tr>
                      	<tbody ng-repeat="person in userStatus">
                        <tr>
                        <td><img src=""><p>{{person.name}}</p><p>{{person.sent_to}}</p></td>
               			<td>{{person.event}}</td>
                        <td class="button" ng-click="(opendetails(person.sent_to))"><i class="{{person.button}}"></i></td>
                        </tr>
                        <tr ng-Show="person.shown" class="personButtons">
                            <td>
                            <div ng-switch on="person.rstatus">
                                <span ng-switch-when="1">
                                    <span class="button">View Full Profile</span>
                                </span>
                                <span ng-switch-default>
                                    <span class="button">View Full Profile</span>
                                    <span class="button" ng-click="revmodalUp(person.sent_to)">Revoke Access</span>
                                    <span class="button" ng-click="remmodalUp(person.sent_to)">Send Reminder</span>
                                </span>
                            </div>
                            </td>
                        </tr>
                        <tr ng-show="person.shown" class="personDetails">
                            <td colspan="2">
                                <div><p>Delivered</p><p class="doubleTime">{{person.whenshared | date:'MMMM dd, yyyy'}}</p><p>{{person.whenshared | date:'h:mm a'}}</p></div>

                                <div>
                                    <div ng-switch on="person.lastlogin" >
                                        <span ng-switch-when="0"><span class="hltext">Never Logged In</span></span>
                                        <span ng-switch-default><span>Last Seen</span><span class="doubleTime">{{person.lastlogin | date:'MMMM dd, yyyy'}}</span><span>{{person.lastlogin | date:'h:mm a'}}</span></span>
                                    </div>
                                </div>

                                <div>
                                    <div ng-switch on="person.lastviewed" >
                                        <span ng-switch-when="0"><span class="hltext">Unviewed</span></span>
                                        <span ng-switch-default>Viewed<span class="doubleTime">{{person.lastviewed | date:'MMMM dd, yyyy'}}</span><span>{{person.lastviewed | date:'h:mm a'}}</span></span>
                                    </div>
                                </div>

                                <div>
                                	<div ng-switch on="person.signed" >
                                        <span ng-switch-when="0"><span class="hltext">Unsigned</span></span>
                                        <span ng-switch-default>Signed<span class="doubleTime">{{person.signed | date:'MMMM dd, yyyy'}}</span><span>{{person.signed | date:'h:mm a'}}</span></span>
                                    </div>
                                </div>
                                
                                <div>
                                	<div ng-switch on="person.column5" >
                                    	<p ng-switch-default="0"></p>
                                        <span ng-switch-when="2"><span>Revoked</span><span class="doubleTime">{{person.reminder | date:'MMMM dd, yyyy'}}</p><p>{{person.reminder | date:'h:mm a'}}</span></span>
                                        <span ng-switch-when="1">Resent<span class="doubleTime">{{person.reminder | date:'MMMM dd, yyyy'}}</span><span>{{person.reminder | date:'h:mm a'}}</span></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>      
                 </section>
             </div>
         
  		 <div class="span4">
             <section class="documentInfo statusBlock">
             <div>
             <i class="icon-info-sign icon-2x"></i><p class="subText">Document Information</p>
             </div>
             <ul>
                <li>Last Resent:</li>
                <li>
                    <ul>
                        <li>{{document1.last_updated | date:"short"}}</li>
                        <li>Last Edited</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>{{document1.last_updated | date:"short"}}</li>
                        <li>Deadline</li>
                    </ul>
                </li>
             </ul>        
             </section>
             
             <section class="documentInfo statusBlock">
             <div>
             <i class="icon-info-sign icon-2x"></i><p class="subText">Activity Feed</p>
             </div> 
             <div class="activityBlock">
             <table>
             <tr ng-repeat="active in activity | orderBy:activityOrder">
             	<td><i class="{{active.icon}} icon"></i></td>
             	<td>
                	<table>
                		<tr><td>{{active.activity}} <ng-pluralize count="active.count" when="{'0': '', '1': '{{active.namethem}}', 'other': '{{active.count}} people'}"></ng-pluralize></td></tr>
                        <tr><td>{{active.when_sent | date:"MMMM d, y"}}</td></tr>
                    </table>
                </td>
             </tr>
             </table> 
             </div>   
             </section>
         </div>
          
</div>
