<div class="container">


  <div modal="shouldBeOpen" close="close()" options="opts">
                <div class="modalHeader">
                    <p class="subText">Share Document</p>
                </div>
               	
                <div class="modalText">
                <form>
                    <p>Add People</p>
                    <input ng-model="sendeeEmail" type="email">
                    <p>Message</p>
                    <textarea style="resize: none;" rows="4" cols="40" ng-model="messageText"></textarea>
                    <label>Needs Signing? : <input type="checkbox" ng-model="needsign"/>Yes</label>
                </form>
                  </div>
                <div class="modalButtons">
                    <button class="button subText greenButton" ng-click="close(); share(messageText, sendeeEmail, needsign)">Send</button>
                </div>
            </div>

  <div class="row-fluid">
    <div class="headsection row-fluid">
        <h1>Documents</h1>

        <div class="row-fluid">

          <ul class="bodyText maintabs">
            <a href="/company/documents/status?doc={{docId}}"><li class="button">Status</li></a>
            <li class="selectedtab">View</li>
           </ul>
        </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span3">
      <ul>
        <li>Will be list of documents shared</li>
      </ul>
    </div>
    <div class="span9">
      <doc-viewer doc-id="docId" invq="false"></doc-viewer>
    </div>

  </div>


</div>
