
<div ng-controller="PeopleCtrl">

    <div class="sidebarHeader">
        <span>SEND MESSAGE</span>
    </div>

    <div class="sidebarText">
        <div class="input-list">
        <div ng-if="triggerUpgradeMessages(message.recipients)"
            class="upgradeWarning">
                <span>Warning: Sending this message will automatically upgrade your payment plan.</span>
            </div> 
        <div>
     
        <div>
            <span>SUBJECT</span>
        </div>

        <div>
            <input type="text" ng-model ="message.subject">
        </div>

        <div class="sidebarText">
            <span>MESSAGE</span>
            <textarea class="email-text" rows="6"
                cols="60" ng-model="message.text">
            </textarea>
        </div>
    </div>

  
    <div class="sidebarFooter">
    
        <div class = "standard-button green">
            <button class="btn"
                ng-disabled="!readyToSend(message)"
                ng-click="sendMessage(message);">
                Send
            </button>
        </div>
  

  
        <div class= "standard-button white">
            <button class="btn" ng-click="toggleSide()">
            Cancel
            </button>
        </div>
     
    </div>

   
</div>


