
<div ng-controller="PeopleCtrl">


    <div class="sidebarHeader">
        <span>SEND MESSAGE</span>
    </div>

    <div class="sidebarText">
        <div class="input-list">
        <div ng-if="triggerUpgradeMessages(message.recipients)"
            class="upgradeWarning">
                <span>Warning: Sending this message will automatically upgrade your payment plan.</span>
            </div> 

        <div>
        <span>Recipients</span>
            <div class="sharepeople-input">
                    <input ui-select2="select2Options" ng-model="message.recipients">
            </div>
        </div>

        <div>
            <span>Subject</span>
            <input type="text" ng-model ="message.subject">
        </div>

        <div>
            <span>Message</span>
            <textarea class="email-text" rows="6"
                cols="60" ng-model="message.text">
            </textarea>
        </div>
    </div>

    <div class="sidebarFooter">
        <div class= "standard-button gray">
            <button class="btn" ng-click="toggleSide()">
                Cancel
            </button>
        </div>
    </div>

    <div class = "standard-button green">
        <button class="btn"
            ng-disabled="!readyToSend(message)"
            ng-click="sendMessage(message);">
            Send
        </button>
     </div>
</div>


