<div>
<!-- 
    <div ng-class="for-r0ml">{{recipients.length}}</div> -->

    <div class="sidebarHeader">
        <span>SEND MESSAGE</span>
    </div>

    <div class="sidebarText">
    <!--     <div class="input-list"> -->
        <div ng-if="triggerUpgradeMessages(recipients)"
            class="upgradeWarning">
                <span>Warning: Sending this message will automatically upgrade your payment plan.</span>
            </div> 
        <div>
     
        <div>
            <span>SUBJECT</span>
        </div>

        <div class= "email-subject">
            <input type="text" ng-model ="message.subject">
        </div>

        <div class="sidebarText">
            <span>MESSAGE</span>
            <textarea class="email-text" rows="6"
                cols="60" ng-model="message.text">
            </textarea>
        </div>
    </div>

  
    <div class="sidebarFooter">

        <div class="preview-message" 
            ng-click= "previewModalOpen(message)"
            ng-class="{'disabledme':companyIsZombie()}">   
            Preview Message 
        </div>

        <div class="footer-headline-left">
            <div class = "standard-button green">
                <button class="btn"
                    ng-disabled="!readyToSend(message)  || clicked"
                    ng-click="sendMessage(message); $parent.toggleSide()">
                    Send
                </button>
            </div>
        </div>


  

        <div class="footer-headline-right">
        <div class= "standard-button white">
            <button class="btn" ng-click="$parent.toggleSide(); resetMessage()">
            Cancel
            </button>
        </div>
        </div>
     
    </div>

   
</div>

<div modal="previewModal" close="previewModalClose()" options="narrowopts">
    <div class="modalHeader">To
        <span><div ng-repeat="recipient in recipients"></span>
        {{recipient}}
    </div>
    <div class="modalHeader">Subject</div>
        {{subject}}
    <div class="modalHeader">Text</div>
        {{messagetext}}
</div>


