<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<link type="text/css" rel="stylesheet" href="/ownership/css/captable.css">
<link type="text/css" rel="stylesheet" href="/documents/css/company.css">

<div>
  <div class="front info-box">
    <div class="head-box">
      <h2>Documents</h2>
    </div>
    <div class="body-box">
      <div style="display: inline-block; width: 35%">Graph will go here</div>
      <div style="display: inline-block">

        <!-- <table>
          <thead>
            <tr>
              <th>Document Name</th>
              <th>Document Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="myDoc in myDocs" style="width:350px">
              <th>{{myDoc.docname}}</th>
              <th>{{myDoc.signature_status}}</th>
            </tr>

        </table> -->
        <div ng-repeat="myDoc in myDocs" style="display: inline-block; min-width: 400px; border-bottom: 1px solid black">
          <div style="display: inline-block;  padding-right: 40px;">
            <div style="padding-bottom: 20px">Document Name</div>
            {{myDoc.docname}}
          </div>
          <div style="display: inline-block; float: right;">
            <div style="padding-bottom: 20px">Document Status</div>
           
            {{shortStatus(myDoc)}}

          </div>
        </div>
      </div>      
    </div>
  </div>
</div> 