<div class="composemessage" style="padding-right: 30px">
  <div class="sidebarHeader">
    <span>GROUP</span>
  </div>

  <div>
    <p>Select the contacts you would like to add to this group. To remove individuals from a group, just unselect the group name</p>
  </div>

  <div ng-repeat="groupDatum in groupData | unique: 'group'" class="group_button">
      <button class="check-box-button group" ng-class="{'selected': groupIs(groupDatum.group)}" ng-click="selectGroup(groupDatum.group)" style="margin-right: 20px">
         <span data-icon="&#xe023;" aria-hidden="true"></span>
      </button>
    <span class="check_group">{{groupDatum.group}}</span>
  </div>
  <br/>


  <div class="sidebarText">
    <span>New Group</span>
    <div>
       <input type="text" ng-model="groupName">
      </input>
    </div>
  </div>
<!-- </div> -->

  <div class="footer-headline-left">

    <div class = "standard-button green">
      <button class="btn"
        ng-click="createGroups(people); $parent.createPeople(); $parent.toggleSide(); clearPeople(people)"> 
            Confirm
        </button>
      </div>
  </div>

  <div class="footer-headline-right">
    <div class= "standard-button white">
      <button class="btn" ng-click="$parent.toggleSide(); clearPeople(people)">
        Cancel
      </button>
    </div>
  </div>

</div>