<div class="composemssage">
  <div class="sidebarHeader">
    <span>CREATE GROUP</span>
  </div>

  <div class="sidebarHeader">
    <span>Select the contacts you would like to add to this group. To remove individuals from a group, just unselect the group name</span>
  </div>

  <div class="sidebarText">
    <span>Group Name {{people}}</span>
    <div>
       <input type="text" ng-model="groupName">
        </input>
    </div>
  </div>

<!-- <div ng-repeat="myUserGroup in myUserGroups | unique: 'json_array_elements'">
  <div class="check-box-side">
    <button class="check-box-button" ng-class="{'selected': groupIs(myUserGroup.json_array_elements, people)}" ng-click="selectGroup(myUserGroup.json_array_elements); preselectGroup(person)">
        <span data-icon="&#xe023;" aria-hidden="true"></span>
      </button>
  </div>
  <p>{{myUserGroup.json_array_elements}}</p> -->


 <!--  <ul>
    <li>{{myUserGroup.json_array_elements}}</li>
  </ul> -->
  <div ng-repeat="groupDatum in groupData | unique: 'group'">
    <div class="check-box-side">
      <button class="check-box-button" ng-class="{'selected': groupIs(groupDatum.group)}" ng-click="selectGroup(groupDatum.group)">
         <span data-icon="&#xe023;" aria-hidden="true"></span>
    </button>
  </div>
  <p>{{groupDatum.group}}</p>
</div>





    <div class="sidebarFooter">

        <div class="preview-message" 
            ng-click="createGroups(people); myGroups()">
            Group 
        </div>



        <div class="footer-headline-left">
            <div class = "standard-button green">
                <button class="btn"
                    ng-click="removeGroup(people)">
                    Delete
                </button>
            </div>
        </div>
</div>