<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<link type="text/css" rel="stylesheet" href="/ownership/css/captable.css">
<link type="text/css" rel="stylesheet" href="/documents/css/company.css">

<div>
<div class="front info-box">
  <div class="head-box">
    <h2>My Ownership</h2>
  </div>
  <div class="body-box">
   <!--  <div> -->
      <div class="cardColumn">
        <div class="cardHeadline">{{getTotalShares()}}</div>
          Total Shares
      </div>
      <div class="cardColumn">
        <span class="cardHeadline">{{getTotalInvested()}}</span><br/>
          Total Invested
      </div>
    </div>
  <!-- </div> -->
</div>
</div>  