<div class="message-side">
    <tabset>
        <tab heading="Filters">
           <div class="messagefilter">
           </div>
        </tab>

        <tab heading="Activity">
            <!-- You have {{message_usage}} events -->
            You have {{message_number}} message events
                        <div class="messages">
                <ul class="activity-feed2">
                    <li class="event" ng-repeat="timedevent in timedevents">
                        <div><img ng-src="/img/activity/received.png"></div>
                        <div>
                            <ul>
                                <li>
                                    <span>Message {{timedevent.event}} at {{timedevent.when_requested}}</span>
                                    <span>Message sent to {{timedevent.tox}}</span>
                                </li>
                                <!-- li>
                                   <span>{{event.tox}}</span>
                                </li>
                                <li>
                                    <span>{{event.subject}}</span>
                                </li>
                                <li>
                                    <span>{{event.when_requested}}</span>
                                </li> -->
                                
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- <div ng-repeat="sentmessage in sentmessages | filter:search:strict">
                {{sentmessage.our_id}}, {{sentmessage.event}}, {{sentmessage.tox}}, {{sentmessage.subject}},
                 {{sentmessage.category}},
               {{sentmessage.when_requested}}
            </div> -->
            <!-- <div ng-repeat="message in messages | filter:search:strict">
                Message event at {{message.when_requested}},  {{message.event}}
                {{message.tox}}
            </div> -->
        </tab>
              
         
    </tabset>
</div>

