<div class="row-fluid">
<div class="message-side">
<!--     <tabset class="singletab">
       <tab heading="Activity" class="navbar navbar-default navbar-fixed-top">
 -->            <div class="messages tabbable">
                <ul class="activity-feed2" stye="height: 98%;">
                    <li class="event" ng-repeat="message_datum in message_data">
                        <div><img ng-src="/img/activity/message.png"></div>
                        <div>
                            <ul>
                                <li>
                                    <span>
                                        Message sent on {{message_datum.time | date:'shortDate'}} to <ng-pluralize count="message_datum.tox.length" when="{'1': 'one shareholder', 'other': '{} shareholders'}">
                                    </span><br/>
                                    <div ng-if="message_datum.tox.length ==1">
                                        <span data-icon="&#xe031;"aria-hidden="true" class="msgarrow"></span>Recipient
                                        <ul class="testing">
                                            <li ng-repeat="to_name in message_datum.to_names"><span class="recipients">{{to_name}}</span></li>
                                        </ul>
                                    </div>
                                    <div ng-if="message_datum.tox.length > 1" ng-click = "showRecipients = !showRecipients" style="cursor:pointer"> 
                                        <span data-icon="&#xe034;"aria-hidden="true" ng-show="!showRecipients" class="msgarrow"></span>
                                        <span data-icon="&#xe031;"aria-hidden="true" ng-show="showRecipients" class="msgarrow"></span>
                                        Recipients
                                        <ul ng-class="{'testing':showRecipients}">
                                            <li ng-show="showRecipients" ng-repeat="to_name in message_datum.to_names track by $index">    
                                                <span class="recipients">{{to_name}}</span>
                                            </li>
                                    </div>
                                </ul>
                                </li>                
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
       <!--  </tab>             
         
    </tabset> -->
</div>
</div>

