<div class="row-fluid">
<div class="message-side">

 <div class="messages tabbable">            
    <ul class="activity-feed2">
                    <li class="event roles">
                        <div>
                            <ul>
                                <li>
                                    <div>
                                        <span data-icon="&#xe034;"aria-hidden="true" ng-show="!showRecipients" class="msgarrow" style="cursor:pointer" style="cursor:pointer" ng-click = "showRecipients = !showRecipients"></span>
                                        <span data-icon="&#xe031;"aria-hidden="true" ng-show="showRecipients" class="msgarrow" style="cursor:pointer" style="cursor:pointer" ng-click = "showRecipients = !showRecipients"></span>
                                        <span style="cursor:pointer" ng-click = "showRecipients = !showRecipients">Roles</span>
                                        <ul ng-show="!showRecipients">
                                            <li ng-repeat="user in users">{{user}}</li>
                                        </ul>
                                    </div>          
                                </li>                
                            </ul>
                        </div>
                    </li>
                    <li class="event roles">
                        <div>
                            <ul>
                                <li>
                                    
                                    <div>
                                        <span data-icon="&#xe034;"aria-hidden="true" ng-show="!showRecipients" class="msgarrow" style="cursor:pointer" style="cursor:pointer" ng-click = "showRecipients = !showRecipients"></span>
                                        <span data-icon="&#xe031;"aria-hidden="true" ng-show="showRecipients" class="msgarrow" style="cursor:pointer" style="cursor:pointer" ng-click = "showRecipients = !showRecipients"></span>
                                        <span style="cursor:pointer" ng-click = "showRecipients = !showRecipients">Groups</span>
                        
                                    </div>          
                                </li>                
                            </ul>
                        </div>
                    </li>
                    <li class="event roles">
                        <div>
                            <ul>
                                <li>                                    
                                    <div>
                                        <span>Archive</span>
                                    </div>          
                                </li>                
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
</div>
</div>

