<div class="box-button pull-right"
     ng-click="verifyModalOpen()">
    <ul>
        <li>
            <span data-icon="&#xe026;" aria-hidden="true"></span>
        </li>
        <li>
            <span>Verify Doc</span>
        </li>
    </ul>
    <div modal="verifyFileModal" close="verifyModalClose()" options="opts">
        <div class="modalHeader">
            <span>Do we know this one?</span>
            <span class="close"
                  data-icon="&#xe00f;"
                  aria-hidden="true"
                  ng-click="verifyModalClose()">
            </span>
        </div>
        <div class="modalText">
            <input multiple type="file" class="file"
                   onchange="angular.element(this).scope().setFiles(this);"/>
            <div class="documentUpload fakefile">
                <div class="standard-button green">
                    <button class="btn">Choose</button>
                </div>
            </div>
        </div>
    </div>
</div>
