<div class="box-button pull-right">
    <ul>
        <li>
            <span class=></span>;w
        </li>
        <li>
        </li>
    </ul>
    <div modal="verifyFileModal" close="verifyModalClose()" options="opts">
        <div class="modalHeader">
            <span>Do we know this one?</span>
            <span class="close"
                  data-icon="&#xe00f;"
                  aria-hidden="true"
                  ng-click="verifyModalClose()">
            </span>
        </div>
        <div class="modalText">
            Hello, World!
        </div>
    </div>
</div>
