<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<link type="text/css" rel="stylesheet" href="/ownership/css/captable.css">
<link type="text/css" rel="stylesheet" href="/documents/css/company.css">
<div class="maincontent openflow">
<div class="container dynamic-page doclistFlow">
<div class="row-fluid">
    <section class="statusBlock">
        <div class="row-fluid">
            <div class="subnav-controls">
            
        </div>

  <!--   text in the window -->
    <div class="row-fluid leftTabWindow">
        <div ng-style="viewportheight" ng-class="{leftFullTableBlock:(!sidebarPage) && hideRail, widthtransition25:oldSafari()}" class="span8 recipeintInfo statusBlock leftBlock">
            <div class="span12 company-page">
                <div class="front info-box">
					<div class="head-box">
						<h2>Understand Your Ownership</h2>
					</div>
					<div class="body-box">
						<div ng-show="totalIssued == 0">
							<div class="new-box">
								<div>
									<h2>Setting up your cap table 
									with Sharewave is straightforward. Just add your securities, shareholders
									and investments and we'll do the math for 
									you.
									</h2>
									<div>
										<button id='a_home_doc_pre'  class="btn" ng-click="gotopage('/app/ownership/company-captable')">Get Started <span data-icon="&#xe016;"></span>
										</button>
									</div>
								</div>
						
								<div>


									<img src="/img/vid-pic.png" ng-click="fullScreen()" id="vid-pic">
									<iframe width="100" height="165" src="//www.youtube.com/embed/kl0If2UmOdQ?autohide=1" id="vid" frameborder="0" allowfullscreen></iframe>

								</div>
							</div>	
						</div>
						<div ng-show="totalIssued != 0">
                            <div class="detail-row row-fluid">
                                <div ng-show="graphdata[0][1][0].percent == 0 || graphdata[1][1][0].percent == 0 || graphdata[2][1][0].percent == 0" class="spacing"></div>
                                <div ng-show="(graphdata[0][1][0].percent == 0 && graphdata[1][1][0].percent == 0) || (graphdata[2][1][0].percent == 0 && graphdata[1][1][0].percent == 0) || (graphdata[0][1][0].percent == 0 && graphdata[2][1][0].percent == 0)" class="spacing"></div>
                                <div ng-show="graphdata[0][1][0].percent != 0" class="span6">
                                    <d3expdonut class="exploded-donut" data='graphdata[0][1]'></d3expdonut>
                                    <h2>{{graphdata[0][0].name}}</h2>
                                    <h2 ng-show="graphdata[0][0].issued">{{graphdata[0][0].issued | formatAmount:'units'}} Issued</h2>
                                    <h2 ng-show="graphdata[0][0].amount">{{graphdata[0][0].amount | formatAmount:'amount'}} Invested</h2>
                                </div>
                                <div ng-show="graphdata[1][1][0].percent != 0 && graphdata[1][1][0].percent" class="span6">
                                    <d3expdonut class="exploded-donut" data='graphdata[1][1]'></d3expdonut>
                                    <h2>{{graphdata[1][0].name}}</h2>
                                    <h2 ng-show="graphdata[1][0].issued">{{graphdata[1][0].issued | formatAmount:'units'}} Issued</h2>
                                    <h2 ng-show="graphdata[1][0].amount">{{graphdata[1][0].amount | formatAmount:'amount'}} Invested</h2>
                                </div>
                                <div ng-show="graphdata[2][1][0].percent != 0 && graphdata[2][1][0].percent" class="span6">
                                    <d3expdonut class="exploded-donut" data='graphdata[2][1]'></d3expdonut>
                                    <h2>{{graphdata[2][0].name}}</h2>
                                    <h2 ng-show="graphdata[2][0].issued">{{graphdata[2][0].issued | formatAmount:'units'}} Issued</h2>
                                    <h2 ng-show="graphdata[2][0].amount">{{graphdata[2][0].amount | formatAmount:'amount'}} Invested</h2>
                                </div>
                                <div id="button-space" ng-show="graphdata[1][1][0].percent != 0 || graphdata[1][1][0].percent != 0 || graphdata[2][1][0].percent != 0"></div>
                                <div class="standard-button green" id="own-button">
                                    <button id='a_home_own_post' class="btn" ng-click="gotopage('/app/ownership/company-captable')">View<span data-icon="&#xe016;"></span></button>
                                </div>
                            </div>
						</div>
					</div>
				</div>
				<div class="front info-box">
					<div class="head-box">
						<h2>Document Management</h2>
					</div>
					<div class="body-box">
						<div ng-show="docsummary.num == 0">
							<div class="onboarding-row row-fluid">
								<div>
									<img src='/img/onboardingicons/dayzero/doc-upload.png'>
                                	<h2>Upload and Share</h2>
								</div>
								<span data-icon="&#xe004;" class="arrow1" aria-hidden="true"></span>
								<div class="add-investments">
									<img src='/img/onboardingicons/dayzero/doc-sign.png'>
                                	<h2>Request Signature</h2>
								</div>
								<span data-icon="&#xe004;" class="arrow2" aria-hidden="true"></span>
								<div class="share-ownership">
									<img src='/img/onboardingicons/dayzero/doc-audit.png'>
                                	<h2>Review Audit Trail</h2>
								</div>
							</div>
							<div class="row-fluid">
								
								<div class="pull-right standard-button green">
									<button class="btn start-now" ng-click="gotopage('/app/documents/company-list')">Start Now</button>
								</div>
							</div>
						</div>
						<div ng-show="docsummary && docsummary.num != 0">
							<div class="detail-row row-fluid">
								<div class="span15">
									<div>
										<img src='/img/onboardingicons/dayone/doc-upload.png'>
										<h2><span>{{docsummary.num}}</span> Documents</h2>
									</div>
									<div>
										<img src='/img/onboardingicons/dayone/doc-sign.png'>
										<h2><span>{{docsummary.sig}}</span> Signatures Pending</h2>
										<div class="standard-button green" id="doc-button">
											<button id='a_home_doc_post' class="btn" ng-click="gotopage('/app/documents/company-list')">View Documents</button>
										</div>
									</div>
									<div>
										<img src='/img/onboardingicons/dayone/doc-audit.png'>
										<h2><span>{{docsummary.counter}}</span> Awaiting Review</h2>
									</div>
								</div>
								<div class="span6 no-graph">
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>

        <internal-right-rail toggle-side="hideRail" ng-style="viewportheight">
            <tabset class="singletab" style="display:block;" ng-style="viewportheight">
                <tab heading = "Information">
                	<div class="headsection row-fluid tabbed company-info">
                        <h1><img ng-src="{{ navState.company && '/photo/user?id=company:'+navState.company || '' }}">{{navState.name}}</h1>
						<div class="address-area">
							<div>
								<span>{{company.address}}</span>
							</div>
							<div>
								<span>{{company.city}}<span ng-show="company.city && (company.state || company.zipcode)">, </span>{{company.state}}<span> </span>{{company.zipcode}}
							</div>
						</div>
                    </div>

					<div class="summary-bar">
						<div class="belowTitle" id="first-item">
							<img src="/img/activity/invested.png" ng-show="totalPaid(rows)">
							<div ng-show="totalPaid(rows)">
								<span ng-bind="totalPaid(rows)"></span><span>Total Invested</span>
							</div>
						</div>
						<div class="belowTitle" ng-show="totalShares(rows)">
							<img src="/img/activity/sharews.png">
							<div>
								<span ng-bind="totalShares(rows)"></span><span>Fully Diluted Units</span>
							</div>
						</div>
						<div class="belowTitle" ng-show="numShareholders()">
							<img src="/img/activity/people.png">
							<div>
								<span ng-bind="numShareholders()"></span><span>Shareholders</span>
							</div>
						</div>
					</div>
					<div>
						<span data-icon="&#xe001;"><a href="/app/company/profile">View Full Profile</a></span>
					</div>
                </tab>
                <tab heading = "Activity">
                	<div height="viewportactivity" activity-feed user='navState.userid' type="iss" view="activityView"></div>
                </tab>
            </tabset>
        </internal-right-rail>
    

    </div>


    </section>

</div>

<!-- admin toolbar -->
<div modal="removeAdminModal" close="removeAdminModalClose()" options="narrowopts">
    <div class="modalHeader">
        <span>Remove administrator</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="removeAdminModalClose()"></span>
    </div>
    <div class="modalCopy" style="text-align:center; padding-left: 20px; padding-right: 20px;">
        <span>Are you sure you want to remove {{selectedToRevoke}} as an admin?</span>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="removeAdminModalClose()">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="revoke_admin(); removeAdminModalClose();">Confirm</button>
        </div>
    </div>
</div>
    <div modal="addAdminModal" close="addAdminModalClose()" options="narrowopts">
        <div class="modalHeader">
            <span>Add administrator</span>
            <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="addAdminModalClose()"></span>
        </div>
        <div class="modalCopy" style="text-align:center; padding-left: 20px; padding-right: 20px;">
            <span>Are you sure you want to add {{selectedToAdd}} as an admin?</span>
            <div class="spacer20"></div>
            <div ng-if="triggerUpgradeAdmins(1)" class="upgradeWarning">
                <span>
                    Warning: Making this user an admin will automatically upgrade your payment plan.
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left standard-button gray">
                <button class="btn" ng-click="addAdminModalClose()">Cancel</button>
            </div>
            <div class="standard-button green">
                <button class="btn" ng-click="add_admin(); addAdminModalClose();">Confirm</button>
            </div>
        </div>
    </div>
<!-- toggle siderail -->

</div>
</div>
<!-- Modals below -->

<div modal="profileModal" close="profileModalClose()" options="profileopts">
    <div class="modalHeader">
        <span>Edit Company Profile</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="profileModalClose()"></span>
    </div>
    <div class="modalText">
        <div class="row-fluid">
            <div class="span3 profile-image">
                <img id="updateImage" ng-src="{{photoURL}}">
                <form class="form-inline image-button">
                    <fieldset>
                        <div class="fileinputs">
                            <input type="file" class='file' onchange="angular.element(this).scope().setFiles(this);"/>
                            <div class="profile-fakefile">
                                <span>Change</span>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="span9 input-list">
                <div>
                    <span>Name*</span><input type="text" ng-model="editcompany.name" maxlength="30">
                </div>
                <div>
                    <span>Address</span><input type="text" ng-model="editcompany.address">
                </div>
                <div class="city-state">
                    <span>City/State</span>
                    <input type="text" ng-model="editcompany.city">
                    <input type="text" ng-model="editcompany.state" maxlength="2">
                </div>
                <div>
                    <span>Zip Code</span><input type="text" ng-model="editcompany.zipcode">
                </div>
                <span class="capital-text">*Required</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="profileModalClose();">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="profileModalClose(); profileUpdate(editcompany);">Confirm</button>
        </div>
    </div>
</div>

<div modal="settingModal" close="settingModalClose()" options="profileopts">
    <div class="modalHeader">
        <span>Edit Setting</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="settingModalClose()"></span>
    </div>
    <div class="modalText settings">
        <div>
            <span>Currency</span>
            <ul class="dropdown-list drop-selector wide">
                <li class="dropdown standard">
                    <a class="dropdown-toggle">
                        {{editcompany.longcurrency}}<span class="invisible-drop">'</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="i in currencies">
                            <a ng-click="setCurrency(i);">{{i}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <span>Date Format</span>
            <ul class="dropdown-list drop-selector wide">
                <li class="dropdown standard">
                    <a class="dropdown-toggle">
                        {{editcompany.dateformat}}<span class="invisible-drop">'</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="i in dateformats">
                            <a ng-click="setDateFormat(i);">{{i}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="settingModalClose();">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="settingModalClose(); saveSettings(editcompany);">Confirm</button>
        </div>
    </div>
</div>
</div>
</div>
</div>
