.wrap.background-gray {
    background-color: #E2E2E2;
}

.no-left-margin {
    margin-left: 0 !important;
}

.wrap.background-gray .maincontent {
    overflow: visible;
}

.home-top-row > div {
    height: 300px;
}

.home-top-row > div.issuer-profile {
    padding: 0 20px 0 20px;
    background-color: #F0F0F0;
    float: right;
}

.home-top-row > div.issuer-profile {
    padding-top: 20px;
}

.home-top-row > div.issuer-profile > div:first-child > div:first-child {
    background-color: #FFFFFF;
    border-radius: 3px;
}

.home-top-row > div.issuer-profile > div:first-child > div:nth-child(2) {
    padding: 0 0 0 10px;
}

.home-top-row > div.issuer-profile > div:first-child > div:last-child > ul {
    float: right;
}

.home-top-row > div.issuer-profile > div:first-child > div:nth-child(2) > h2 {
    margin: 2px 0 0 0;
}

.home-top-row > div.issuer-profile > div:last-child > ul {
    margin: 30px 0 0 0;
}

.home-top-row > div.issuer-profile > div:last-child > ul > li:nth-child(even) {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 10px;
}

.home-top-row > div.issuer-profile > div:last-child > ul > li:nth-child(odd),
.home-top-row > div.issuer-profile > div:last-child > ul > li:nth-child(odd) > div {
    color: #656565;
    line-height: 20px;
}

.error {
    color: #C44032 !important;
}

.home-top-row > div.issuer-profile > div:last-child > ul > li.investor-address > span:first-child {
    display: block;
}

.home-bottom-row {
    margin: 20px 0 0 0;
}

.info-box {
    border: none;
}

.info-box.all-gray {
    background-color: #F1F1F1;
    min-height: 300px;
}

/* Flip tiles */

.flip-tile {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
}


.flip-tile.reverse .flipper {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-tile, .front, .back {
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.flipper .info-box > .head-box:hover {
    cursor: pointer;
}

.front.info-box, .back.info-box {
    width: 100%;
    height: 100%;
}

.info-box > div.head-box > span {
    font-size: 18px;
    position: absolute;
}

.front.info-box > div.head-box > span {
    top: 9px;
    right: 15px;
}

.back.info-box > div.head-box > span {
    left: 5px;
    top: 5px;
}

.back.info-box > .head-box > h2 {
    margin: 0 0 0 30px;
}

.info-box > .head-box {
    border: 1px solid #E3E3E3;
    border-bottom: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.info-box > .body-box, .back.info-box > .body-box {
    background-color: #FFFFFF;
    margin: 0;
    height: 268px;
    border: 1px solid #E3E3E3;
    border-top: none;
}

.front.info-box > div.body-box > div > div:last-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    position: relative;
    height: 268px;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.back.info-box > div.body-box {
    position: relative;
}

.body-box > ul.q-and-a {
    padding: 15px 30px 0 30px;
    font-size: 14px;
}

.body-box > ul.q-and-a > li:nth-child(even) {
    margin-bottom: 20px;
}

.body-box > ul.q-and-a > li:nth-child(odd) {
    color: #1E2D3D;
}

.onboarding-row > div, .onboarding-row > span {
    float: left;
    display: inline-block;
    margin-top: 100px;
}

.onboarding-row > div {
    margin: 50px 0 40px 0;
    width: 212px;
    text-align: center;
}

.onboarding-row > div > img {
    width: 100px;
    height: 100px;
}

.onboarding-row > div > h2 {
    display: block;
    margin: 10px 0 0 0;
}

.detail-row > div:first-child > div {
    overflow: auto;
    margin: 30px 0 0 30px;
    width: 100%;
}

.detail-row > div:first-child > div > img {
    float: left;
}

.detail-row > div:first-child > div > h2 {
    display: inline-block;
    margin: 12px 0 0 10px;
}

.detail-row > div:first-child > div > h2 > span {
    display: inline-block;
    margin-right: 5px;
    font-size: 28px;
    font-family: 'FS Elliot Web Light', sans-serif;
}

.detail-row > div:last-child {
    text-align: center;
}

.detail-row > div.no-graph {
    margin-top: 100px;
}

.detail-row > div.no-graph > span {
    display: inline-block;
    margin-top: 5px;
}

.side-graph > div:first-child > div {
    display: table-cell;
    height: 228px;
    vertical-align: middle;
    text-align: center;
}

.side-graph > div:first-child > div > div:last-child {
    margin-top: 30px;
}

.side-graph > div:first-child > div > div >  h2 > span {
    display: block;
    font-size: 24px;
    font-family: 'FS Elliot Web Light', sans-serif;
}

.view-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.body-box.mini-table > .right-half {
    width: 284px;
    float: right;
}

.body-box.mini-table {
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
}

.body-box.mini-table > table {
    width: 100%;
    text-align: left;
}

.body-box.mini-table > table tr {
    border-bottom: 1px solid #F1F1F1;
}

.body-box.mini-table > table > thead > tr > th:last-child {
    text-align: center;
    width: 50px;
}

.body-box.mini-table > table > tbody > tr {
    height: 40px;
    cursor: pointer;
}

.body-box.mini-table.doc-table > table > tbody > tr:last-child {
    height: 25px;
    border: none;
}

.body-box.mini-table > table > tbody > tr:hover {
    color: #1E2D3D;
}

.body-box.mini-table > table > tbody > tr > td:last-child{
    text-align: center;
}

.body-box.mini-table > table > tbody > tr > td:last-child > div {
    margin: 0 auto 0 auto;
}

.body-box.mini-table.doc-table th {
    font-weight: normal;
    color: rgb(30, 45, 61);
}

.limited-width {
    max-width: 240px;
    overflow: hidden;
}

/* Pie Chart Styling */

.exploded-donut {
    margin-top: 10px;
    display: block;
}

.personal-ownership {
    display: block;
    margin-top: 50px;
    margin-left: 20px;
}

.mainlabel {
   font-size: 16px;
    font-family: 'FS Elliot Web Light', sans-serif;
}

.percentlabel {
   font-family: 'FS Elliot Web Light', sans-serif;
   font-size: 24px;
}

.unitslabel {
    font-family: 'FS Elliot Web Light', sans-serif;
    font-size: 24px;
}

.yticks {
    stroke: #e3e3e3;
    stroke-width: 1;
    opacity: 1;
}

.axis path {
    fill: none;
    stroke: #e3e3e3;
    shape-rendering: crispEdges;
}

.x.axis > .tick:nth-child(even) > text {
    display: none;
}

.y.axis path, .yticks path {
    display: none;
}

#tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background-color: #1D2C3C;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    color: #C6C6C6;
}

