<!DOCTYPE html>
<html data-ng-app="HomeApp">
<head>
    <!--{{/i/head_css.inc}}-->
    <link type="text/css" rel="stylesheet" href="/home/home.css">
    <link type="text/css" rel="stylesheet" href="/cmn/newnav.css">
    <!--{{/i/head_js.inc}}-->
    <title>Sharewave Home</title>
    <script src="HomeApp.js" type="text/javascript"></script>
    <script type="text/javascript" src="/lib/datejs/build/date.js"></script>
    <script src="/ownership/services.js"></script>
    <script src="/cmn/d3.js"></script>
    <script src="/cmn/services.js"></script>
    <script src="/home/directives.js"></script>
    <script src="/cmn/activity/activity.js"></script>
</head>
<body>
<div class="wrap">
    <navbar></navbar>
    <div class="container">
        <div class="new-nav">
            <accordion close-others="true">
                <accordion-group is-open="company.current" ng-repeat="company in companies">
                    <accordion-heading>
                        <span>{{company.name}}</span>
                    </accordion-heading>
                    <ul>
                        <li ng-show="company.reasondic.rol"><a class="button" ng-click="switchCandP(company, '/ownership/company-captable')">Cap Table</a>
                        </li>
                        <li ng-show="company.reasondic.rol"><a class="button" ng-click="switchCandP(company, '/ownership/company-grants')">Grants Table</a>
                        </li>
                        <li ng-show="company.reasondic.rol"><a class="button" ng-click="switchCandP(company, '/ownership/company-status')">Ownership Status</a>
                        </li>
                        <li ng-show="company.reasondic.rol"><a class="button" ng-click="switchCandP(company, '/documents/company-list')">Documents</a>
                        </li>
                        <li ng-show="company.reasondic.own"><a class="button" ng-click="switchCandP(company, '/ownership/investor-captable')">Cap Table</a>
                        </li>
                        <li ng-show="company.reasondic.own"><a class="button" ng-click="switchCandP(company, '/ownership/investor-grants')">Grants Table</a>
                        </li>
                        <li ng-show="company.reasondic.doc"><a class="button" ng-click="switchCandP(company, '/documents/investor-list')">Documents</a>
                        </li>
                        <li ng-show="company.reasondic.rol"><a class="button" ng-click="switchCandP(company, '/company/profile/people')">People</a>
                        </li>
                    </ul>
                </accordion-group>
            </accordion>
        </div>
        <div class="row-fluid">
            <div class="maincontent">
                <div class="coreEdit" style="min-height: 750px;" data-ng-view=""></div>
            </div>
        </div>
    </div>
    <div class="minimumGap"></div>
    <div class="push"></div>
</div>
<!--{{/i/foot.inc}}-->
<!--{{/i/foot_js.inc}}-->
</body>
</html>
