<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<link type="text/css" rel="stylesheet" href="/ownership/css/captable.css">
<link type="text/css" rel="stylesheet" href="/home/company.css">
<div class="maincontent openflow">
<div class="container dynamic-page doclistFlow">
<div class="row-fluid">
    <section class="statusBlock">
        <div class="row-fluid">
            <div class="subnav-controls">

        </div>

  <!--   text in the window -->

  		<div class="row-fluid leftTabWindow">
        	<div ng-style="viewportheight" ng-class="{leftFullTableBlock:(!sidebarPage) && hideRail, widthtransition25:oldSafari()}" class="span8 recipeintInfo statusBlock leftBlock">
				<div ng-style="viewportheight" class="span12">
                    <documents-tile ng-if="docsummary.num > 0"></documents-tile>
                    <investor-tile></investor-tile>
					<company-ownership-tile ng-if="navState.level=='Full View'"></company-ownership-tile>
                    <div class="same-row" style="overflow: auto">
                        <div ng-if="navState.level!='Full View'" ng-show="vestedgraphdata.length > 0">
                            <div class="front info-box">
                                <div class="head-box">
                                    <h2>Grant Vesting</h2>
                                </div>
                                <div class="body-box">
                                    <div>
                                        <div class="side-graph row-fluid">
                                            <div class="span9">
                                                <div id="tooltip" class="hidden">
                                                    <p><span id="date"></span></p>
                                                    <p><span id="value"></span> Shares</p>
                                                </div>
                                                <d3vestedbar data='vestedgraphdata'></d3vestedbar>
                                            </div>
                                            <div class="span3">
                                                <d3myvested class="personal-ownership" data='vesteddonut'></d3myvested>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>

			<internal-right-rail toggle-side="hideRail" ng-style="viewportheight">
				<tabset class="singletab" style="display:block;" ng-style="viewportheight">
					<tab heading = "Information">
						<div class="headsection row-fluid tabbed company-info">
							<h1><img ng-src="{{ navState.company && '/photo/user?id=company:'+navState.company || '' }}">{{navState.name}}</h1>
							<div class="address-area">
								<div>
									<span>{{company.address}}</span>
								</div>
								<div>
									<span>{{company.city}}<span ng-show="company.city && (company.state || company.zipcode)">,</span> {{company.state}} {{company.zipcode}}</span>
								</div>
							</div>
						</div>

						<div class="summary-bar">
							<div class="belowTitle" id="first-item">
								<img src="/img/activity/invested.png" ng-show="totalPaid(rows)">
								<div ng-show="totalPaid(rows)">
									<span ng-bind="totalPaid(rows)"></span><span>Total Invested</span>
								</div>
							</div>
							<div class="belowTitle" ng-show="totalShares(rows)">
								<img src="/img/activity/sharews.png">
								<div>
									<span ng-bind="totalShares(rows)"></span><span>Fully Diluted Units</span>
								</div>
							</div>
							<div class="belowTitle" ng-show="numShareholders()">
								<img src="/img/activity/people.png">
								<div>
									<span ng-bind="numShareholders()"></span><span>Shareholders</span>
								</div>
							</div>
						</div>
					</tab>
					<tab heading = "Activity">
						<div height="viewportactivity" activity-feed user='navState.userid' type="iss" view="activityView"></div>
					</tab>
				</tabset>
			</internal-right-rail>
		</div>

    </div>


    </section>

</div>
</div>
</div>
