<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<link type="text/css" rel="stylesheet" href="/ownership/css/captable.css">
<link type="text/css" rel="stylesheet" href="/home/company.css">
<div class="maincontent openflow">
<div class="container dynamic-page doclistFlow">
<div class="row-fluid">
    <section class="statusBlock">
        <div class="row-fluid">
            <div class="subnav-controls">

        </div>

  <!--   text in the window -->

  		<div class="row-fluid leftTabWindow">
        	<div ng-style="viewportheight" ng-class="{leftFullTableBlock:(!sidebarPage) && hideRail, widthtransition25:oldSafari()}" class="span8 recipeintInfo statusBlock leftBlock">
				<div ng-style="viewportheight" class="span12">
					<div class="same-row">
            <documents-tile ng-if="docsummary.num > 0"></documents-tile>
		        <investor-tile></investor-tile>
						<div ng-show="vestedgraphdata.length > 0">
							<div class="front info-box">
								<div class="head-box">
									<h2>Grant Vesting</h2>
								</div>
								<div class="body-box">
									<div>
										<div class="side-graph row-fluid">
											<div class="span9">
												<div id="tooltip" class="hidden">
													<p><span id="date"></span></p>
													<p><span id="value"></span> Shares</p>
												</div>
												<d3vestedbar data='vestedgraphdata'></d3vestedbar>
											</div>
											<div class="span3">
												<d3myvested class="personal-ownership" data='vesteddonut'></d3myvested>
												<div class="view-button" id="view-button3">
													<div class="small-standard-button standard-button gray">
														<button id='a_home_vesting_inv_front' class="btn" ng-click="gotopage('/app/ownership/investor-grants')">View</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<internal-right-rail toggle-side="hideRail" ng-style="viewportheight">
				<tabset class="singletab" style="display:block;" ng-style="viewportheight">
					<tab heading = "Information">
						<div class="headsection row-fluid tabbed company-info">
							<h1><img ng-src="{{ navState.company && '/photo/user?id=company:'+navState.company || '' }}">{{navState.name}}</h1>
							<div class="address-area">
								<div>
									<span>{{company.address}}</span>
								</div>
								<div>
									<span>{{company.city}}<span ng-show="company.city && (company.state || company.zipcode)">,</span> {{company.state}} {{company.zipcode}}</span>
								</div>
							</div>
						</div>

						<div class="summary-bar">
							<div class="belowTitle" id="first-item">
								<img src="/img/activity/invested.png" ng-show="totalPaid(rows)">
								<div ng-show="totalPaid(rows)">
									<span ng-bind="totalPaid(rows)"></span><span>Total Invested</span>
								</div>
							</div>
							<div class="belowTitle" ng-show="totalShares(rows)">
								<img src="/img/activity/sharews.png">
								<div>
									<span ng-bind="totalShares(rows)"></span><span>Fully Diluted Units</span>
								</div>
							</div>
							<div class="belowTitle" ng-show="numShareholders()">
								<img src="/img/activity/people.png">
								<div>
									<span ng-bind="numShareholders()"></span><span>Shareholders</span>
								</div>
							</div>
						</div>
					</tab>
					<tab heading = "Activity">
						<div height="viewportactivity" activity-feed user='navState.userid' type="iss" view="activityView"></div>
					</tab>
				</tabset>
			</internal-right-rail>
		</div>

    </div>


    </section>

</div>


<!-- Modals below -->

<div modal="profileModal" close="profileModalClose()" options="profileopts">
    <div class="modalHeader">
        <span>Edit Company Profile</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="profileModalClose()"></span>
    </div>
    <div class="modalText">
        <div class="row-fluid">
            <div class="span3 profile-image">
                <img id="updateImage" ng-src="{{photoURL}}">
                <form class="form-inline image-button">
                    <fieldset>
                        <div class="fileinputs">
                            <input type="file" class='file' onchange="angular.element(this).scope().setFiles(this);"/>
                            <div class="profile-fakefile">
                                <span>Change</span>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="span9 input-list">
                <div>
                    <span>Name*</span><input type="text" ng-model="editperson.name" maxlength="30">
                </div>
                <div>
                    <span>Address</span><input type="text" ng-model="editperson.street">
                </div>
                <div class="city-state">
                    <span>City/State</span>
                    <input type="text" ng-model="editperson.city">
                    <input type="text" ng-model="editperson.state" maxlength="2">
                </div>
                <div>
                    <span>Zip Code</span><input type="text" maxlength="12" ng-model="editperson.postalcode">
                </div>
                <span class="capital-text">*Required</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="profileModalClose();">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="profileModalClose(); profileUpdate(editperson);">Confirm</button>
        </div>
    </div>
</div>


<div modal="passwordModal" close="passwordModalClose()" options="opts">
    <div class="modalHeader">
        <span>Change Password</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="passwordModalClose()"></span>
    </div>
    <div class="modalCopy">
        <form name="passwordChange" class="editPasswordBlock">
            <div class="passwordChangeSuccess bodyText invisible" ng-show="passwordChanged">
                <img src="/img/alert-star.png">Your Password has been changed. Please check your email for confirmation.</div>
            <fieldset>
                <div class="row-fluid field">
                    <label>Current Password
                        <input type="password" ng-class="{'content':!currentPassword}" name="currentPassword" ng-model="currentPassword"/>
                    </label>
                </div>
                <div class="row-fluid field">
                    <label>New Password
                        <input type="password" name="newPassword" ng-class="{'content':!newPassword}" ng-model="newPassword"/>
                    </label>
                </div>
                <div class="row-fluid field">
                    <label>Confirm Password
                        <input type="password" name="passwordconfirm" ng-class="{'content':!passwordConfirm}" ng-model="passwordConfirm"/>
                    </label>
                </div>
                <div class="modal-footer">
                    <div class="pull-left standard-button gray">
                        <button class="btn" ng-click="passwordModalClose();">Cancel</button>
                    </div>
                    <div class="standard-button green">
                        <button class="btn" ng-disabled="validPasswordNot()" ng-click="changePassword(); passwordModalClose();">Change</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</div>
</div>
</div>
</div>
