<div class="container">


  <div class="row-fluid">

    <ul class="subText navPills cf">
      <li class="selectedPill button">Edit</li>
      <a href="/investor/ownership/grant"><li class="button">Grants</li></a>
     </ul>
  </div>

  <div class="row-fluid">
    <div class="span9 docLibrary statusBlock" style="overflow:auto;">
     <table class="tableView bodyText">
          <tr class="column-label">
         	  <th colspan="2">Ownership</th>
         	  <th><span class="longrow">Shareholder</span></th>
            <th ng-repeat="one in issues">
              <input class="capEditHeaders" ui-event="{focus : 'getActiveIssue(one)'}" ng-model="one.issue"></input>
            </th>
          </tr>
        <tr ng-repeat="row in rows">
          <td><input disabled value="{{shareSum(row);}}"></input></td>
          <td><input disabled value="{{sharePercentage(row, rows, issuekeys) | number:3}}%"></input></td>
          <td>
            <span ng-switch on="row.nameeditable">
              <span ng-switch-default>
                <input disabled style="width:180px;" ng-model="row.name" ui-event="{focus : 'getActiveInvestor(row)'}"></input>
              </span>
              <span ng-switch-when="0">
                <input disabled style="width:180px;" ng-model="row.name" ui-event="{focus : 'getActiveInvestor(row)'}"></input>
              </span>
          </td>
          <td ng-repeat="key in issuekeys | orderBy:issueSort">
            <span ng-switch on="row.editable">
              <span ng-switch-default>
              <input class="captablepair" placeholder="units" ui-event="{focus : 'getActiveTransaction(row.name, key)'}"  ng-model='row[key]["u"]'></input>
              <input class="captablepair" placeholder="paid" ui-event="{focus : 'getActiveTransaction(row.name, key)'}"  ng-model='row[key]["a"]'></input>
              </span>
              <span ng-switch-when="0">
              <input disabled class="captablepair" ui-event="{focus : 'getActiveTransaction(row.name, key)'}"  ng-model='row[key]["u"]'></input>
              <input disabled class="captablepair" ui-event="{focus : 'getActiveTransaction(row.name, key)'}"  ng-model='row[key]["a"]'></input>  
              </span>
            </span>
          </td>
        </tr>
        <tr class='tablefooter'>
          <td><input disabled value="{{totalShares(rows);}}"></input></td>
          <td><input disabled value="100%"></input></td>
          <td></td>
          <td ng-repeat="one in issues">
            <input class="captablepair" disabled value="{{colTotal(one.issue, rows, 'u');}}"</input>
            <input class="captablepair" disabled value="{{colTotal(one.issue, rows, 'a');}}"</input>
          </td>
        </tr>
      </table>
    </div>


    <div class="span3">
      <div ng-switch on="sideBar" >
        <span ng-switch-when="1">
          <p>Name <input disabled ng-model="activeIssue.issue"></input></p>
          <p>Date <input disabled type="text" ng-model="activeIssue.date" data-date-format="mm/dd/yyyy" bs-datepicker></p>

          <accordion close-others="true">
            <accordion-group heading="Valuation">
              <p>Pre Money<input disabled pattern="[0-9]*(.[0-9]*)*" ng-model="activeIssue.premoney"></input></p>
              <p>Post Money<input disabled ng-model="activeIssue.postmoney"></input></p>
              <p>Price Per Share<input disabled ng-model="activeIssue.ppshare"></input></p>
              <p>Total Authorized<input disabled ng-model="activeIssue.totalauth"></input></p>
              <p>Liquidation Preference
                <select ng-init="activeIssue.liquidpref" ng-model="activeIssue.liquidpref" ng-options="i for i in tf">
                </select>
              </p>
              <p>Participating Preferred
                <select ng-init="activeIssue.partpref" ng-model="activeIssue.partpref" ng-options="i for i in tf">
                </select>
              </p>
            </accordion-group>
            <span ng-show="trantype('options', activeIssue.atype);">
              <accordion-group heading="Options">
                <p>Underlying Security
                  <select ng-init="activeIssue.optundersec" ng-model="activeIssue.optundersec" ng-options="i for i in allowKeys">
                  <option></option>
                  </select>
                </p>
                <p>Price<input disabled ng-model="activeIssue.price"></input></p>
                <p>Granted <input disabled value="{{totalGranted(activeIssue.issue, trans);}}"></input></p>
                <p>Term (months)<input disabled ng-model="activeIssue.terms"></input></p>
                <p>Vesting Cliff Date<input disabled type="text" ng-model="activeIssue.vestingbegins" data-date-format="mm/dd/yyyy" bs-datepicker></p>
                <p>Vesting Cliff %<input disabled ng-model="activeIssue.vestcliff"></input></p>
                <p>Post Cliff Frequency
                  <select ng-init="activeIssue.vestfreq" ng-model="activeIssue.vestfreq" ng-options="i for i in freqtypes">
                  </select>
                </p>
              </accordion-group>
            </span>
            <span ng-show="trantype('debt', activeIssue.atype);">
              <accordion-group heading="Debt">
                <p>Underlying Security
                  <select ng-init="activeIssue.debtundersec" ng-model="activeIssue.debtundersec" ng-options="i for i in allowKeys">
                  <option></option>
                  </select>
                </p>
                <p>Interest Rate<input disabled ng-model="activeIssue.interestrate"></input></p>
                <p>Valuation Cap<input disabled ng-model="activeIssue.valcap"></input></p>
                <p>Discount<input disabled ng-model="activeIssue.discount"></input></p>
                <p>Term<input disabled ng-model="activeIssue.term"></input></p>
              </accordion-group>
            </span>
          </accordion>
        </span>


        <span ng-switch-when="2">
          <p>Investor Name <input disabled ng-model="activeInvestor"></input></p>
          <tabs>
            <pane ng-repeat="tran in activeTran" heading="{{tran.datekey | date:'mediumDate'}}" active="tran.active">
              <p>Date <input disabled type="text" ng-model="tran.date" data-date-format="mm/dd/yyyy" bs-datepicker></p>
              <p>Paid<input disabled ng-model="tran.amount"></input></p>
              <p>Shares<input disabled ng-model="tran.units"></input></p>

              <accordion close-others="true">
                <accordion-group heading="Valuation">
                  <p>Pre Money<input disabled pattern="[0-9]*(.[0-9]*)*" disabled ng-model="tran.premoney"></input></p>
                  <p>Post Money<input disabled disabled ng-model="tran.postmoney"></input></p>
                  <p>Price Per Share<input disabled ng-model="tran.ppshare"></input></p>
                  <p>Total Authorized<input disabled disabled ng-model="tran.totalauth"></input></p>
                  <p>Liquidation Preference
                    <select ng-init="tranIssue.liquidpref" disabled ng-model="tran.liquidpref" ng-options="i for i in tf">
                    </select>
                  </p>
                  <p>Participating Preferred
                    <select ng-init="tran.partpref" disabled ng-model="tran.partpref" ng-options="i for i in tf">
                    </select>
                  </p>
                </accordion-group>
                <span ng-show="trantype('options', tran.atype);">
                  <accordion-group heading="Options">
                    <p>Underlying Security
                      <select ng-init="tran.optundersec" ng-model="tran.optundersec" ng-options="i for i in allowKeys">
                      <option></option>
                      </select>
                    </p>
                    <p>Price<input disabled ng-model="tran.price"></input></p>
                    <p>Granted <input disabled value="{{totalGranted(tran.issue, trans);}}"></input></p>
                    <p>Term (months)<input disabled ng-model="tran.terms"></input></p>
                    <p>Vesting Cliff Date<input disabled type="text" ng-model="tran.vestingbegins" data-date-format="mm/dd/yyyy" bs-datepicker></p>
                    <p>Vesting Cliff %<input disabled ng-model="tran.vestcliff"></input></p>
                    <p>Post Cliff Frequency
                      <select ng-init="tran.vestfreq" ng-model="tran.vestfreq" ng-options="i for i in freqtypes">
                      </select>
                    </p>
                  </accordion-group>
                </span>
                <span ng-show="trantype('debt', tran.atype);">
                    <accordion-group heading="Debt">
                      <p>Underlying Security
                        <select ng-init="tran.debtundersec" ng-model="tran.debtundersec" ng-options="i for i in allowKeys">
                        <option></option>
                        </select>
                      </p>
                      <p>Interest Rate<input disabled ng-model="tran.interestrate"></input></p>
                      <p>Valuation Cap<input disabled ng-model="tran.valcap"></input></p>
                      <p>Discount<input disabled ng-model="tran.discount"></input></p>
                      <p>Term<input disabled ng-model="tran.term"></input></p>
                    </accordion-group>
                  </span>
              </accordion>
            </pane>
          </tabs>
        </span>

        <span ng-switch-when="3">
          <p>Investor Email <input disabled ng-model="activeInvestorName"></input></p>
        </span>
        <span ng-switch-default>
          <p>Welcome To Your Captable</p>
        </span>
      </div>
    </div>
  </div>
</div>