<div class="login-block">
    <div>
        <a target="_self" href="/"><img class="login-logo" src="/img/logo-blue.png"></a>
    </div>

    <div class="row-fluid">
        <div class="gateway">
            <h4>Forgot Password?</h4>
            <p>To reset your account password, enter the email <br> address you registered with, and we'll send your <br> instructions on their way.</p>

            <form id="login" class="text-center">
                <fieldset>
                    <div class="field text-left">
                        <span>Email Address</span>
                        <input class="loginInput FI" autocomplete="off"
                               tabindex="1" autocapitalize="off" autocomplete="off" name="username" ng-model="username">
                    </div>
                    <div class="loginfooter">
                        <a id="cancelButton" class="button pull-left return" ng-href=".">Return to Login</a>
                        <div class="standard-button pull-right loginbtn">
                            <button class="btn" ng-disabled="forgotDisabled()" ng-click="doForgot()">Reset Password</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
