<div class="row-fluid">
  <div class="span5 offset4 gateway text-center">
    <div>
      <a href="/"><span class="logo" data-logo="&#xe02e;" aria-hidden="true"></span></a>
      <p class="tagline">the best way to manage shareholders<p>
    </div>
    <div class="border-bottom40"></div>

    <h2>Forgot Password?</h2>
    <p>Enter your email address and we'll send you instructions.</p>
    <div class="text-error">{{fed}}</div>
    <form id="login" class="text-center inputs">
      <fieldset>
        <label>
        <input required class="loginInput FI" placeholder="Email Address" tabindex="1"
               data-autocapitalize="off" autocomplete="off" name="username" type="email" ng-model="username" />
          </label>
        <div class="spacer30"></div>                  
        <button ng-disabled="forgotDisabled()" ng-click="doForgot()" ng-class="forgotClass()"
                tabindex="3">Send Instructions</button>

        <a id="cancelButton" class="button text-center" ng-href=".">Return to Login</a>
        <br>
      </fieldset>
    </form>
  </div>
</div>
