<div class="login-block">
    <div>
        <a href="/"><img class="login-logo" src="/img/logo-blue.png"></a>
    </div>

    <div class="row-fluid">
        <div class="gateway">
            <h4>Log in</h4>
            <div>
                <div ng-show="showError" class="loginErrorBox">
                    <h3>Invalid email/password combination.</h3>
                </div>
            </div>

            <form id="login" class="text-center">
                <fieldset>
                    <div class="field text-left">
                        <span>Email Address</span>
                        <input type="text" class="loginInput" autocomplete="off"
                               tabindex="1" autocapitalize="off" name="username" ng-model="username">
                    </div>
                    <div class="field text-left">
                        <span>Password</span>
                        <input class="loginInput" autocomplete="off" tabindex="2"
                               name="password" type="password" ng-model="password">
                    </div>
                    <div class="loginfooter">
                        <a id="forgotButton" class="button pull-left forgot" ng-href="forgot">Forgot Password?</a>
                        <div class="standard-button pull-right loginbtn">
                            <button class="btn" ng-disabled="fieldCheck()" ng-click="doLogin()">Log In</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

