<div class="span12 pagination-centered gateway">
  <div><img class="center loginLogo" src="/img/logo-144x24.png"></div>
  <div>
  	<div ng-show="showError" class="textalert center loginErrorBox">
	<img src="/img/alert-icon.png"/>Sorry, we didn't recognize that email/password combination. Please try again.</div>
  </div>

  <form id="login" class="center" ng-submit="doLogin()">
    <fieldset>
      <input placeholder="Email" class="loginInput" autocomplete="off" tabindex="1" autocapitalize="off" name="username"
             type="email" ng-model="username"
             data-step='1' data-intro='The username (which is an email address) goes here'
        />
      <input placeholder="Password" class="loginInput" autocomplete="off" tabindex="2" name="password"
             type="password" ng-model="password"
             data-step='2' data-intro='The password goes here'
        />
      
	  <a id="forgotButton" class="subText button" ng-href="forgot"><i class="icon-question-sign"></i> Forgot Password?</a>
	  <button type="submit" ng-disabled="forgotLogin()" ng-class="loginClass()" tabindex="3">Sign in</button>
      <br>
    </fieldset>
  </form>

</div>
