<div class="row-fluid">
  <div class="span5 offset4 gateway text-center">
    <div>
      <span class="logo" data-logo="&#xe02e;" aria-hidden="true">
      <p class="tagline">the best way to manage your shareholders<p>
    </div>
    <div class="spacer40"></div> 
   
    <div class="span9 offset1 text-center line"></div>
    <h2>Welcome</h2>
    <p>Enter your email adress and we'll send you instructions.</p>
       <div class="text-error">{{fed}}</div>



    <form id="login" class="text-center inputs" ng-submit="doForgot()">
      <fieldset>
        <input placeholder="Password" class="loginInput" autocomplete="off" type="password" ng-model="password" />
      <button type="submit" class="button greenButton loginButton bodyText">Register</button>
        <br>
      </fieldset>
    </form>

  </div>
</div>

<!-- 
<div class="row-fluid">
  <div class="span12 pagination-centered gateway">
    <div><img class="center loginLogo" src="/img/logo-144x24.png"></div>
    <p></p>
    <form id="login" class="center" ng-submit="doActivate()">
      <fieldset>
        <input placeholder="Password" class="loginInput" autocomplete="off" type="password" ng-model="password" />
      <button type="submit" class="button greenButton loginButton bodyText">Register</button>
        <br>
      </fieldset>
    </form>

  </div>
</div>  


 -->