<div class="login-block">
    <div>
        <a href="/"><img class="login-logo" src="/img/logo-blue.png"></a>
    </div>

    <div class="row-fluid">
        <div class="gateway">
            <h4>Choose a Password</h4>
            <p>Enter a new password to use for your account</p>

            <form id="login" class="text-center">
                <fieldset>
                    <div class="field text-left">
                        <span>Password</span>
                        <input required class="loginInput FI" placeholder="Password" tabindex="1" data-autocapitalize="off"
                               autocomplete="off" name="password" type="password" ng-model="password" />
                    </div>
                    <div class="loginfooter">
                        <a id="cancelButton" class="button pull-left return" ng-href=".">Return to Login</a>
                        <div class="standard-button pull-right loginbtn">
                            <button class="btn" ng-disabled="resetDisabled()" ng-click="doReset()" tabindex="3">Change Password</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

