<div class="row-fluid">
    <div class="span5 offset4 gateway text-center">
        <div> <span class="logo" data-logo="&#xe02e;" aria-hidden="true"></span>

            <p class="tagline">the best way to manage your shareholders<p>
        </div>
        <div class="border-bottom40"></div>
         <h2>Choose a Password</h2>

        <p>Enter a new password to use for your account</p>
        <div class="text-error">{{fed}}</div>
        <form id="login" class="text-center inputs">
            <fieldset>
                <label>
                    <input required class="loginInput FI" placeholder="Password" tabindex="1" data-autocapitalize="off"
                    autocomplete="off" name="password" type="password" ng-model="password" />
                </label>
                <div class="spacer30"></div>
                <button ng-disabled="resetDisabled()" ng-click="doReset()" ng-class="resetClass()"
                tabindex="3">Change Password</button> <a id="cancelButton" class="button text-center" ng-href=".">Return to Login</a> 
                <br>
            </fieldset>
        </form>
    </div>
</div>
