

.docHolder {
    padding: 20px 0 20px 0;
    background-color: #F1F1F1;
}

.selectedPill {
    background-color: #FFF;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
}

ul>li.curPage, .curPage.annotated {
    border-color: red;
    font-weight: bold;
    color: darkorchid;
    /*background-color: lightcyan; */
    font-style: italic;
    font-size: 120%;
}

.curPage.unsaved {
    background-color: lightseagreen;
}

.curPage.annotated {
    background-color: lavender;
}

.unsaved {
    background-color: lightcoral;
}
.annotated {
    background-color: lavender;
}


.annotation-control > .tools > button {
    background: none;
    border: none;
    font-size: 20px;
}

.pageTurn {
    height: 24px;
    margin: 0 auto 0 auto;
}

.pageTurn > ul > li {
    float:left;
    display: inline;
    margin: 0 5px 0 0;
    height: 24px;
    text-align: center;
}

.pageJump {
    margin: 0 0 5px 5px;
}

.pageJump li {
    float:left;
    display: inline;
    margin: 0 10px 0 0;
    padding: 1px 3px 0 3px;
    text-align: center;
    border: solid 1px dimgray;
}

.docViewerControls {
    height: 82px;
    white-space: nowrap;
}

.docViewerControls > div:first-child {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
}

.docPanel {
    width: 700px;
    height: 956px;
    margin: 0 auto 0 auto;
    overflow: auto;
}



.draggable {
    border: 0 solid red;
    position:absolute;
    background-color: rgb(162,226,209);
    opacity: 0.7;
    cursor: default;
    width: auto;
    height: auto;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
    /*resize: both;
    overflow: hidden;
      */
}

.draggable li > span {
    color: rgb(31,176,130);
}

.draggable ul {
    display:block;
    margin: 0;
    list-style-type:none;
    cursor:pointer
}

.draggable li {
    float: left;
    display:table;
    padding-top: 2px;
    padding-left: 1px;
}

.draggable ul > li:first-child {
    cursor: move;
    padding-left: 4px;
}

.draggable ul > li:last-child {
    float: right;
    padding-right: 4px;
}
.draggable > span {
    display: block;
    margin-left: 4px;
    margin-right: 4px;
    /* Don't know why -- but this needs to be -5px instead of 4px */
    margin-bottom: 4px;
    padding: 0;
    clear: both;
    box-sizing: border-box;
}

.draggable .check-annotation {
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
}
.draggable span > canvas {
    box-sizing: border-box;
    margin-bottom: -4px;
    cursor: crosshair;
}

.draggable div > textarea {
    margin-bottom: 0;
    aria-multiline: "true";
    white-space: pre-wrap;
    overflow: hidden;
    line-height: normal;
    resize: both;
}

.hidden {
    visibility: hidden;
}