<div ng-init="init()">

  <div class="annotation-control">
  <div ng-hide="signed || !invq || !needSign">
    <button ng-click="clearNotes($event)">Clear annotations</button>
    <span style="width:20px"></span>
    <button ng-click="newCheck($event)">Attach checkbox</button>
    <button ng-click="newBox($event)">Attach textbox</button>
    <button ng-click="newPad($event)">Attach canvas</button>
    <button ng-click="saveNotes($event)">Save annotations</button>
    <button ng-show="signable" ng-click="submitSign();">Sign</button>
  </div>
  </div>

  <ul class="subText pageTurn cf">
    <li class="button" ng-show="currentPage>1" ng-click="previousPage(currentPage)">Previous</li>
    <li><input ng-model="currentPage" ng-change="jumpPage(currentPage)" style="width:20px;"></li>
    <li class="button" ng-show="currentPage<docLength" ng-click="nextPage(currentPage)">Next</li>
  </ul>

  <ul class="subText pageJump cf">
    <li ng-class="{'curPage':page==currentPage, unsaved:unsaved(page)}" style="cursor:pointer" ng-click="jumpPage(page)" ng-repeat="page in range(1,docLength+1)">{{page}}</li>
  </ul>

  <div class="docPanel" back-img="/photo/docpg?id={{docId}}&investor={{invq}}&page={{currentPage}}" ></div>
</div>
