/* Homepage */

.home #hero{
    background-color: #1E2D3D;
    min-height: 350px;
    position: relative;
}

.home #hero h1, #security h1{
    color: #FFF;
    font-family: 'FS Elliot Web Thin', sans-serif !important;
}

#hero .span5 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.home .button.greenButton {
    margin-left: -1px;
}

.home .standard-button.invite {
    display: inline;
    padding-left: 50px;
    width: 130px;
}

.home .standard-button.green.invite {
    padding-left: 20px;
}

.home .standard-button.green.invite button {
    width: 260px;
    font-size: 20px;
    font-family: 'FS Elliot Web Thin', sans-serif !important;
    height: 40px;
}

.home .standard-button.green.invite button > span:before {
    vertical-align: 0;
}

.home .standard-button.blue.invite button {
    border: solid 1px #fff;
    background-color: #2980B9;
    font-size: 14px;
}

.home .footer .standard-button.blue.invite button {
    border: solid 1px #666666;
    background-color: #E3E3E3;
    color: #1E2D3D;
}

.home .standard-button.blue.invite button > span{
    padding-left: 10px;
    vertical-align: middle;
}

.home .loginInput {
    padding-left: 15px;
    margin-bottom: 0;
}

.home select, textarea, input[type="email"], .uneditable-input {
    padding-left: 15px;
    margin-bottom: 0;
}

.home h1 {
    color: #1E2D3D;
    font-family: 'FS Elliot Web Light', sans-serif !important;
    font-size: 42px;
    line-height: 45px;
    font-weight: normal;
}

.home h2 {
    color: #666666;
    font-family: 'FS Elliot Web Light', sans-serif !important;
    font-size: 24px;
    line-height: 32px;
    font-weight: normal;
    max-width: 800px;
    margin:  0 auto 0 auto;
}

.home h3 {
    color: #fff;
    font-family: 'FS Elliot Web Thin', sans-serif !important;
    font-size: 14px;
    line-height: 20px;
}

.home p {
    color: rgb(141, 141, 141);
    font-family: 'FS Elliot Web Regular', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}

.home .inviteRow {
    text-align: center;
    padding: 25px 0;
    background-color: #3498DB;
}

.home .inviteRow h2 {
    display: inline;
    font-family: 'FS Elliot Web Thin', sans-serif !important;
    font-size: 20px;
    color: #FFF;
    vertical-align: middle;
}

.home .inviteRow.footer {
    background-color: #E3E3E3;
}

.home .inviteRow.footer h2 {
    color: #1E2D3D;
    font-family: 'FS Elliot Web Light', sans-serif !important;

}


.home .btn-mini {
    color: rgb(141, 141, 141);
    font-family: 'FS Elliot Web Regular', sans-serif;
    font-size: 14px;
    font-weight: normal;
    border: 0;
    text-shadow: none;
    box-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 84px;
}

.home .btn-mini strong {
    color: rgb(30, 45, 61);
}

.home .btn-mini:hover {
    color: rgb(141, 141, 141);
    background-color: rgb(241, 241, 241);
    padding-bottom: 10px;
}

.home .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled], .btn-mini:active {
    color: rgb(141, 141, 141);
    background-color: rgb(241, 241, 241);
    font-family: 'FS Elliot Web Regular', sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 10px;
}

.home .btn-success {
    position: relative;
    display: block;
    color: rgb(141, 141, 141);
    background-color: rgb(241, 241, 241);
    opacity: 1;
    height: 84px;
}

.home .btn-success:before {
    content: " ";
    position: absolute;
    top:-10px;
    right: 105px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(241, 241, 241);
}

.home .button {
    width: 130px;
    height: 42px;
    text-transform:capitalize;
    border: 0;
    font-size: 14px;
    font-family: 'FS Elliot Web Light', sans-serif;
    letter-spacing: 1px;
}

.home .button.greenButton {
    background-color: #1ABC96;
    border-radius: 0 3px 3px 0;
    display: inline-block;
}

.home .button.greenButton:hover {
    background-color: #15A085;
}

.home .button.blueButton {
    margin-left: 15px;
    background-color: rgb(52, 152, 219);
    width: 180px;
}

.home .button.socialbtn {
    width: 140px;
    height: 40px;
    text-align:center;
    margin: 5px 7px 0 0;
    color: rgb(255, 255, 255);
    border-radius: 3px;
}

.home .button.socialbtn > span:first-child {
    display: inline-block;
    margin: 0 6px 0 0;
    font-size: 18px;
    display: inline-block;
    vertical-align:middle;
}

.home .button.socialbtn > span:last-child {
    font-size: 14px;
    display: inline-block;
    vertical-align:middle;
}

.home input {
    width: 300px;
    height: 32px;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: rgb(255, 255, 255);
    border-radius: 3px 0 0 3px;
    display: inline;
}

.home input:focus {
    background-color: rgb(255, 255, 255);
}

.home input:focus:invalid {
    color: rgb(102, 102, 102);
}

.home input::-webkit-input-placeholder {
    font-size: 12px;
    color: #A6A6A6;
}

.home input:-moz-placeholder {
    font-size: 12px;
    color: #8D8D8D;
}

.home input::-moz-placeholder {
    font-size: 12px;
    color: #8D8D8D;
}

.home input:-ms-input-placeholder {
    font-size: 12px;
    color: #8D8D8D;
}

.home form {
    font-size: 0;
}

.home .thanks h2 {
    color: #fff;
    font-family: 'FS Elliot Web Thin', sans-serif !important;
    line-height: 24px;
    max-width: none;
}

.home .thanks p{
    color: #fff;
    font-family: 'FS Elliot Web Thin', sans-serif !important;
    font-size: 14px;
    margin: 0px;
    line-height: 18px;
}

.home .emp-options {
    float: right;
}

.home p.checkemail {
    margin-top: 10px;
}

.home p.social {
    margin:20px 0 5px 0;
}

/* form */

#CompanyRegister-form {
    padding-top:20px;
}

#comms {
   background: url(/img/backgrounds/bgnoise_lg.png);
}

#register {
    background-color: #F1F1F1;
}

/* Security */
#security {
   background: url(/img/backgrounds/vault-blue.png) no-repeat center; 
   height: 416px;
}

#security .lock {
    margin-top: -30px;
    padding-bottom: 30px;
}

#security .seals {
    background-color: #1E2D3D;
    padding: 20px 0;
}

#security .seals h4 {
    color: #fff;
    font-size: 14px ; 
    font-family: 'FS Elliot Web Thin', sans-serif;

}

.trio-icons > div > img {
    margin-bottom: 10px;
}

.modal.externalmodal {
    margin-left: -200px;
    width: 400px;
}

.modal.externalmodal.fade.in {
    top: 20%;
}

.externalmodal .optional-message > textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    margin: 10px 20px 0 20px;
}

.externalmodal .input-row {
    min-height: 30px;
    margin-bottom: 5px;
}

.externalmodal .input-row > p {
    display: inline-block;
    width: 140px;
    text-align: right;
    margin: 0;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 10px;
}

.externalmodal .input-row > input {
    width: 200px;
    height: 26px;
    padding-left: 5px;
}

.home-ike {
    margin-top: 100px;
    margin-left: 50px;
    float: left;
}

.question-bubble {
    font-family: 'FS Elliot Web Thin', sans-serif !important;
    position: relative;
    display: inline-block;
    width: 680px;
    height: 120px;
    border-radius: 10px;
    background-color: #33485d;
    vertical-align: top;
    margin-top: 55px;
    font-size: 32px;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
}

.question-bubble > span {
    display: inline-block;
    margin-top: 25px;
    line-height: 42px;
    width: 100%;
}

.question-bubble > span > span {
    display: inline-block;
}

.learn-more-button {
    position: absolute;
    font-family: 'FS Elliot Web Thin', sans-serif !important;
    display: inline-block;
    float: right;
    color: #3397da;
    right: 35px;
    bottom: 20px;
    cursor: pointer;
    font-size: 20px;
}

.learn-more-button > span {
    vertical-align: -5%;
}

.question-bubble:before {
    position: absolute;
    content: ' ';
    border-top: 20px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 35px solid #33485d;
    left: -20px;
    top: 50px;
}

@media (max-width: 1024px) {
    .question-bubble {
        font-size: 26px;
        width: -moz-calc(100% - 40px);
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
    }

    .question-bubble > span > span {
        width: -moz-calc(100%);
        width: -webkit-calc(100%);
        width: calc(100%);
    }

    .home-ike {
        margin: 20px auto 0 auto;
        float: inherit;
        width: 200px;
        display: inherit;
    }

    .question-bubble:before {
        position: absolute;
        content: ' ';
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #33485d;
        left: 50%;
        margin-left: -30px;
        top: inherit;
        bottom: -20px;
    }
}

@media (max-width: 767px) {
    .question-bubble {
        height: 180px;
    }
}

@media (max-width: 500px) {
    .question-bubble {
        font-size: 18px;
    }
}




