/* Login & Register */

.login-block {
    width: 408px;
    margin: 130px auto 0 auto;
}

.login-block .standard-button > button {
    min-height: 40px;
    width: 154px;
}

.login-block h4 {
    color: #1D2C3C;
    font-size: 20px;
    font-family: 'FS Elliot Web Light', sans-serif;
    margin-bottom: 20px;
}

.loginErrorBox > h3 {
    color: #E64B3B;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 0;
}

.lognreg {
    background-color: #F1F1F1;
}

#login > fieldset > .field > span {
    font-size: 12px;
    line-height: 16px;
    font-family: 'FS Elliot Web Light', sans-serif;
}


.lognreg .err h2 {
    margin-bottom: 5px !important;
}

.lognreg .loginfooter{
    overflow: auto;
    margin: 35px 0 25px 0;
}

.lognreg .forgot {
    margin-left: 34px;
}

.lognreg .return {
    margin-left: 50px;

}

.lognreg input:focus:invalid, textarea:focus:invalid, select:focus:invalid {
    color: rgb(141, 141, 141);
}

.lognreg .row-fluid .span5 {
    max-width: 370px;
}

.lognreg p span.welcome {
    color: #1E2D3D;
    font-size: 14px;
}

.lognreg p strong{
    font-family: 'FS Elliot Web Regular', sans-serif;
    color: #1E2D3D;
}

.lognreg .caption {
    padding-top: 10px;
}

.lognreg .caption a{
    text-decoration: none;
    color: #3498DB;
}
.lognreg .caption a:hover{
    color: #2980B9;
}

.lognreg .caption + .loginfooter {
    margin: 20px 0 25px 0;
}

.lognreg .teaser {
    font-size: 14px;
    font-family: 'FS Elliot Web Light', sans-serif;
    color: rgb(199, 199, 199);
    display:inline;

}

.lognreg .small-standard-button > button > span {
    margin-right: 3px;
}

::-webkit-input-placeholder {
    font-size: 12px;
}

:-moz-placeholder {
    font-size: 12px;
}

::-moz-placeholder {
    font-size: 12px;
}

:-ms-input-placeholder {
    font-size: 12px;
}

.lognreg .loginInput {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    display: inline;
    margin-bottom: 0;
}

.lognreg .field {
    margin: 0 0 10px 0;
}
.lognreg input {
    background-color: rgb(255, 255, 255);
}

input.loginInput:focus {
    border: 1px solid #A6A6A6;
}

input.loginInput:invalid:focus {
    border: 1px solid #E3E3E3;
    box-shadow: none;
}

.lognreg .greenButton.loginButton {
    width: 300px;
    height: 30px;
    text-align:center;
    padding: 0 0 0 0;
    color: rgb(255, 255, 255);
    background-color: rgb(26, 188, 150);
}

.lognreg .greenButton:disabled, .lognreg .greenButton:disabled:hover {
    background-color: rgb(26, 188, 150);
    color: rgb(255, 255, 255);
    opacity: 0.5;
}

.small-standard-button > button {
    color:#FFFFFF;
    display: inline-block;
    float: left;
    margin-top:10px;
    margin-bottom: 40px;
    height: 30px;
    width: 68px;
}

.social a:not(:first-child) .small-standard-button > button {
    margin-left:20px;
}

.small-standard-button.twitter > button {
    background-color: #00aced;
}

.small-standard-button.fb > button {
    background-color: #3b5998;
}

.small-standard-button.linkedin > button {
    background-color: #007bb6;
}

.lognreg .social {
    margin: 0 auto 0 auto;
    width: 250px;
}

.lognreg .social > span {
    color: #FFFFFF;
}

/* Password Reset */

.border-bottom40 {
    border-bottom: 1px solid #A6A6A6;
    height: 40px;
    width: auto;
    margin: 0 20px 20px 20px;
}

#forgot {
    width:500px;
    padding-top:10px;
    margin-top:10px;
}

#cancelButton {
    font-size: 12px;
    margin-top:10px;
    display: block;
    color: rgb(52, 152, 219);
}

.resetLabel {
    text-align:left;
    margin-left: 76px;
    margin-bottom:10px;
}

#resetConfirm {
    margin-top:50px;
}


/* Upgrade Browser */

.hero-unit.browserlist {
    background-color: rgb(227, 227, 227);
    padding: 30px 0 4px 32px;
}

.browserup {
    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(255, 255, 255);
    height: 180px;
    width: 140px !important;
    overflow:hidden;
    padding: 20px 0 25px 0;
}

.browserup:hover{
    border: 4px solid rgb(26, 188, 150);
    position: relative;
    cursor: pointer;
}

h2.browser {
    font-size: 16px;
    padding-top: 14px;
    line-height: 4px;
}

.errorMessage {
    color: #E74C3C;
    width: 90%;
    margin-left: 40px;
    margin-bottom: 40px;
    text-align: left;
    font-size: 16px;
}
