@charset "UTF-8";
/* CSS Document */

html, body {
  height: 100% !important;
  background-color:#FFFFFF;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  overflow-y: scroll;
  overflow-x: hidden;	
}



.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: -112px;
	margin-left: auto;
}

/* includes the 50 pixels from the nav bar */
.wrap-nav {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: -162px;
  margin-left: auto;
  background-color:#FFFFFF;
}

/* Bootstrap overrides */

.container {
	width: 1024px;
}

label {
	cursor: default;
}

.center {
    *display:inline; /* ie 7 */
    display:inline-block;
    text-align:left;
    zoom:1; /* ie7 junk */
}

input.loginInput:focus, textarea:focus, select:focus {
	outline: none;
	box-shadow:none;
	border-color:#cccccc;
	color:black;
 }
 
input.loginInput:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
	outline: none;
	box-shadow:none;
	border-color:#cccccc;
	color:black;
}

.modal-backdrop {
	background-color: #FFF;
}

[class^="icon-"], [class*=" icon-"]{
    background:none;
}

.open .caret{
    border-top :0px !important;
    border-bottom: 4px solid black;
} 

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
	background-color: transparent;
}

/* Accordians */

.accordion-group {
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.accordion-heading {
	height: 40px;
}

.accordion-heading > a:before {
	content: '';
}


/* Document Viewer Styling */

.DV-views{
  display:none;
}

/* Hide */

.invisible {
	visibility:hidden;
}

.remove {
	display: none;
}

/* Fonts */

p, input, button, select, textarea, a, address { 
	font-family: 'FS Elliot Web Regular', sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #7f8c8d;
}

a:hover {
	text-decoration: none;
}

p strong {
	font-family: 'FS Elliot Web Light', sans-serif;
	font-weight: normal;

}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{ 
	font-size:12px
}


h1 {
	font-family: 'FS Elliot Web Thin', sans-serif !important;
	font-size: 36px !important;
	font-weight: normal !important;	
	color: #1e2d3d;
}

h2 {
	font-family: 'FS Elliot Web Light', sans-serif !important;
	font-size: 24px !important;
	line-height:21px;
	font-weight: normal !important;
	color: #1e2d3d;	
}

.menuProfileText {
	font-family: 'FS Elliot Web Regular', sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #8d8d8d;
	padding-right:20px;
}

.menuHeaderText {
	font-family: 'FS Elliot Web Regular', sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #8d8d8d;
	padding-right:20px;
}

.bodyText, .bodyText input, .bodyText a {
	font-family: 'FS Elliot Web Regular', sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #7f8c8d;
}

.subText {
	font-family: 'FS Elliot Web Regular', sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #8d8d8d;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight:normal !important;
}

.headline1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: lighter;	
	color: #1e2d3d;
}

.headline2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: lighter;
	color: #1e2d3d;	
	line-height:20px;	
}

.compulsoryStar {
	color: #F00;	
}

.spacer {
  min-height: 20px;
}

/* Spacing */
.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer55 { height: 55px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer60 { height: 60px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer70 { height: 70px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer80 { height: 80px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer90 { height: 90px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer110 { height: 110px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer120 { height: 120px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer130 { height: 130px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

/* Error */
#error {
	font-family: 'Arvo', serif;
	font-size: 1.5em;
}

#error-title {
	font-family: 'Dosis', sans-serif;
	font-size: 4em;
	padding-bottom: 20px;
}


/* Navigation Bar at Top of Page */

#navBar {
	height:70px;
}

#navBarLoggedOut {
	height:40px;
}

.navbounder {
	width: 1024px;
	margin: 0 auto 0 auto;
}

.topnav {
	height: 40px;
	width: 100%;
	margin-bottom: 0px;
	background-color: #1E2D3D;
}


.logo {
	line-height: 40px;
	color: #F78D1E;
	font-size: 20px;
}

.topnav .nav  > li > a, .topnav .nav.nav-item  > li > a {
	text-shadow: 0 0 0;
	color: #A6A6A6;
	height:40px;
	line-height: 40px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100px;
	text-align: center;
}

.topnav .nav.nav-item > li > a:hover {
	background-color: #34495E;
	color: #C7C7C7;
}

.topnav .nav li.dropdown.open > .dropdown-toggle {

	background-color: #34495E;
	color: #C7C7C7;
}

.topnav .nav li.dropdown > a:hover .caret, .topnav .nav li.dropdown > a:focus .caret {
	border-bottom-color: #C7C7C7;
	border-top-color: #C7C7C7;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
	border-bottom-color: #C7C7C7;
	border-top-color: #C7C7C7;
}

.topnav .nav .dropdown-toggle .caret {
	margin-top: 17px;
	margin-left: 4px;
}

.topnav .nav > li > ul {
	width: 100px;
	min-width: 100px;
	border: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	padding: 0 0 0 0;
	margin-top: 0;
}

.topnav .nav > li > ul:before, .bottomnav .nav > li > ul:before{
	border-bottom: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}

.topnav .nav > li > ul:after, .bottomnav .nav > li > ul:after {
	border-bottom: 0 !important;
	border-left: 0 !important;
	border-right: 0 !important;
}

.topnav .nav > li > ul > li {
	height: 40px;
	background-color: #34495E;
	color: #C7C7C7;
}

.topnav .nav > li > ul > li > a {
	padding: 0 0 0 0;
	line-height: 40px;
	color: #C7C7C7;
	text-align: center;
}

.topnav .nav > li > ul > li:hover {
	background-color: #1E2D3D;
	color: #FFFFFF;
}

.topnav .nav > li > ul > li > a:hover {
	background-color: #1E2D3D;
	color: #FFFFFF;
	background-image: none !important;
}

.bottomnav {
	height: 30px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #E3E3E3;
}

.bottomnav .nav > li > ul {
	min-width: 100px;
	border: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	padding: 0 0 0 0;
	margin-top: 0;
	width: 175px;
}

.bottomnav .nav > li > ul > li {
	height: 30px;
	background-color: #F1F1F1;
	color: #C7C7C7;
}

.bottomnav .nav > li > ul > li > a {
	padding: 0 20px 0 15px;
	line-height: 30px;
	background-color: #F1F1F1;
}

.bottomnav .nav > li > ul > li:hover {
	background-color: #F1F1F1;
	color: #FFFFFF;
	cursor: pointer;
}

.bottomnav .nav > li > ul > li > a:hover {
	line-height: 30px;
	background-color: #A6A6A6;
	color: #FFFFFF;
	background-image: none !important;
}


.bottomnav .nav > li:first-child > a {
	padding: 0 5px 0 15px;
	line-height: 30px;
	text-align: left;
	width: 155px;
}

.bottomnav .nav > li > a {
	padding: 0 0 0 0;
	line-height: 30px;
	text-align: center;
	width: 98px;
}

.bottomnav .nav > li > a:hover {
	background-color: #F1F1F1;
}

.dropdown .fauxcaret {
  display: inline;
  float: right;
  margin-top: -16px;
  margin-right: 8px;
  border-top: 4px solid rgb(78, 70, 70);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.open .fauxcaret{
    border-top :0px !important;
    border-bottom: 4px solid black;
}


/* Notifications */

.notification {
	position: fixed;
	width: 100%;
	text-align: center;
	height: 50px;
	z-index: 1000;
}

.notication.success {

}

.notication.fail {

}



/* Head Section */

.headsection {
	height: 122px;
	position: relative;
	border-bottom: 1px solid #E3E3E3;
}

.headsection > h1, .headsection > h2 {
	margin-top: 30px;
}

.maintabs {
	height: 24px;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	margin: 0 0 5px 0;
}

.maintabs li {
	float: left;
	display: inline;
	margin: 0 20px -20px 0;
	padding: 3px 5px 5px 5px;
	width: 85px;
	text-align: center;
}

.selectedtab {
	color: #1ABC96;
	border-bottom: 2px solid #1ABC96;
}

.subnav-controls {
	height: 82px;
	white-space: nowrap;
}

.subnav-controls > div {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	width: 100%;
}

.subnav-controls > div > div {
	margin-right: 20px;
}


/* Left Block for split pages */

.row-fluid .leftBlock {
	width: 674px;
	transition:width 2s;
	-moz-transition:width 2s;
	-webkit-transition:width 2s; /* Safari */
}

/* Login */

.gateway {
	margin-left:0px;
	margin-top:140px;
	background-color: #e3e3e3;
	padding-top: 45px;
	padding-bottom: 0px;
}

.register {
	background-color: #1e2d3d;
}

.register p {
	padding-top: 25px;
}

form.inputs {
	padding-top: 20px;
}


#forgotLink {
	font-size: 12px;
	text-decoration: underline;
	line-height:5px;
}

.loginLabel {
	text-align:left;
	margin-left: 42px;	
}

#Login-form .loginInput , #Login-form .loginInput:focus{
	width:210px;	
	height: 30px;
	border-radius:0px;
	background-color:#ffffff;
	border: 0px;
	box-shadow: none;
	padding: 0 0 0 10px;
	margin: 10px 20px 10px 0;
}



.well {
	margin: 0;
	border: none;
}

.well-large {
	padding: 75px 0 65px 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#login_password {
	margin-bottom: 0px;	
}

#forgotButton {
    font-size: 12px;
	margin-top:10px;
    display: block;
    color: #3498DB;
}

#forgotButton:hover {
    color: #2980B9;
}


#Login-form .button.greenButton {
	width:140px;
	height:30px;
	border-radius:0px;
	border: 0px;
	background-color: #1ABC96;
}

#Login-form .button.greenButton:hover {
	background-color: #1CCAA1;
}


.textalert.loginErrorBox {
	width:300px;
	background-color: #a6a6a6;
	border-radius: 0px;
	margin: auto;
	float:none;
}

.gateway .logo {
  font-size: 42px;
  color: #1e2d3d;
  line-height: 44px
}

.gateway p.tagline {
	font-size: 14px;
  color: #1e2d3d;
}

.lognreg {
	background-color: #1E2D3D;
}

.lognreg p strong{
	font-family: 'FS Elliot Web Bold', sans-serif;;
}

.lognreg .caption {
	padding-top: 10px;
	font-size: 8px;
	text-transform:uppercase;
}

.lognreg .caption a{
	font-size: 8px;
	text-transform:uppercase;
	text-decoration: none;
}

.lognreg .teaser {
	font-size: 14px;
	font-family: 'FS Elliot Web Light', sans-serif;
	color: #c7c7c7;
	display:inline;

}
.line{
	border-top: 1px solid #a6a6a6;
}

/* Password Reset */

#forgot {
	width:500px;
	padding-top:10px;
	margin-top:10px;
}

#cancelButton {
    font-size: 12px;
	margin-top:10px;
    display: block;
    color: #3498DB;
}



.resetLabel {
	text-align:left;
	margin-left: 76px;
	margin-bottom:10px;	
}

#resetConfirm {
	margin-top:50px;
}



/* Profile Editing */

/* Side Bar Navigation */

.sidebar {
	padding-top:20px;	
}

.sideButtons {
	list-style-type: none;
	width:100%;
	margin-left:0px; 
}

.navTabs {
	padding-top:8px;
	padding-left:40px;
	padding-bottom:8px;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #bdc3c7;
	color: #34495E;
	cursor:pointer;
	
}

.bottomTab {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #bdc3c7;
}

.selected {
	background-color: #34495E;
	color: #FFFFFF;
}

/* Central Profile Section */

.headline1 {
	margin-top:20px;
}

#detailsEdit {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BDC3C7;
	padding-right:20px;
	
}

.span10.coreEdit {
	height:100%;
	margin-left:0px;
	padding-left:20px;
	padding-top:20px;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: #bdc3c7;
}

#passwordEdit {
	padding-bottom:150px;	
}

.editProfileFP {
	margin-top:40px;
}

.editPasswordBlock {
	margin-top:-8px;
}

.editProfilePhoto {
	height:250px;
	width:250px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;	
}

.formBounder {
	width:620px;
}

.urlField {
	padding-right: 10px;
	color: #7f8c8d;	
}

/* Table Designs for Doc Library and Captable (Should rename from docLibrary as it's not just docs) */

.docLibrary {
	width: 100%;
}

.docLibrary .column-label {
	height: 20px;
	border-top: 1px solid #E3E3E3;
	border-bottom: 1px solid #E3E3E3;
	font-family: 'FS Elliot Web Bold', sans-serif;
	text-transform: uppercase;
	color: #1E2D3D;
}


.docLibrary .column-label input {
	font-family: 'FS Elliot Web Bold', sans-serif;
	text-transform: uppercase;
	color: #1E2D3D;
	width: 200px;
}

.docLibrary .capsums-col {
	background: none;
}

.docLibrary .tablefooter {
	height: 70px;
	background-color: #F1F1F1;
	border-bottom: 1px solid gray;
}

.docLibrary .tablefooter input:disabled {
	background-color: #F1F1F1;
}

.docLibrary .tablefooter td {
	background-color: #F1F1F1;
}

.docLibrary input {
	border: 0px;
	padding: 0px;
	width: 100px;
}

.docLibrary input:disabled {
	background: none;
}

.searchBox {
	float:right;
}

.title {
	display: inline-block;
}

.tableView {
	width:100%;
	margin: 0 auto 0 auto;
}

.tableView tr {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #f1f1f1;
}

.tableView th {
	background-color: #FFFFFF;
	width: 200px;
	text-align: left;
	padding: 0 0 0 10px;
	margin: 0 0 0 0;
	position: relative;
}

.tableView td {
	background-color: #FFFFFF;
	padding: 5px 40px 0 0;
	height:35px;
	padding: 0 0 0 10px;
}

.tableView td[class="button"] {
	padding: 5px 10px 0 0;
	width: 30px;
}

.tableView td[class="button"] a {
	color: #7f8c8d;
}

.dateFormatting {
	padding: 0 10px 0 0;
}

.documentView i {
	color: #7f8c8d;
}

/* Document List */

.doclib.tableView th {
	width: 500px;
}

/* Document Viewer */

.selectedPill {
	background-color: #FFF;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
}

.docVersiontab > ul > li {
	margin-top: 20px;
	height: 30px;
	list-style-type: none;
}

.companyDocViewer {
	border-left: 1px solid #E3E3E3;
}

ul>li.curPage {
  border-color: navy;
    font-weight: bold;
}
.unsaved {
    background-color: lightcoral;
}

.annotation-control > .tools > button {
	background: none;
	border: none;
	font-size: 20px;
}

.pageTurn {
	height: 24px;
	margin: 0 auto 0 auto;
}

.pageTurn > ul > li {
	float:left;
	display: inline;
	margin: 0 5px 0 0;
	height: 24px;
	text-align: center;
}

.pageJump {
    margin: 0px 0 5px 5px;
}

.pageJump li {
    float:left;
    display: inline;
    margin: 0 10px 0 0;
    padding: 1px 3px 0 3px;
    text-align: center;
    border: solid 1px dimgray;
}

.docHolder {
	padding: 20px 0 20px 0;
	background-color: #F1F1F1;
}

.docViewerControls {
	height: 82px;
	white-space: nowrap;
}

.docViewerControls > div {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	width: 100%;
}

.docPanel {
	width: 700px;
	height: 956px;
	margin: 0 auto 0 auto;
	overflow: auto;
}

/* Document Status */

.documentInfo {
	float: right;
	height: 265px;
	width: 330px;
	margin: 0 0 20px 0;
	overflow:auto;
}

.activityBlock > table {
	margin: 20px 10px 10px 20px;
	overflow:auto;
}

.recipientInfo {
	width: 663px;
}

.personButtons {
	height:10px;
	border-bottom-style :none !important;
}

.personButtons .button {
	margin: 0 10px 0 0;
}

.personDetails {
	height:100px;
}

.personDetails > td div {
	display:inline-block;
	float:left;
	text-align:center;
	width:120px;
}

.hltext {
	color: orange;
}

.doubleTime {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

/* Footer */
.minimumGap {
	min-height:150px;
}

.push {
  height: 112px;
}

.footerLinks ul {

	list-style-type:none;
	min-height: 20px;
	margin: 10px 0;
	padding: 3px 0px;
	color: #8d8d8d;
}

.footerLinks li {
	display: inline;
	padding: 0px 8px;
}

.footerLinks li a {
	color: #8d8d8d;
	font-family: 'FS Elliot Web Regular', sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}


.footerLinks li:last-child {
	border-right: 0px;
}

.footerBar {
	height: 112px;
	background-color: #1e2d3d;
}

#copyrightBar {
	border-top: solid 1px #34495e;
	padding-top: 20px;

}

.copyright {
	color: #8d8d8d;
	font-family: 'FS Elliot Web Regular', sans-serif;
	font-size: 10px;
	font-weight: normal;
}





/* Captable */

.capcontainer {
	overflow: auto;
}

.tableView.captable  {
	background: url("/img/stripe-pattern.png") repeat;
	table-layout: fixed;
};

.longRow td {
	width: 150px !important;
}

.captablepair {
	display: inline-block;
	float: left;
}

p.captablepair {
	width: 90px;
	margin: 0 0 0 0;
}

td.tranSelected {
	background-color: rgba(26, 188, 150, 0.1);
}

.tranSelected {
	background-color: transparent;
}

.span4.capright {
	float: right;
	margin-left: 0;
	width: 34.1796875%;
	transition: all 2s;
	-moz-transition:all 2s; /* Firefox 4 */; 
	-webkit-transition: all 2s; /* Safari and Chrome */
	-o-transition: all 2s; /* Opera */
}

.span4.capright > button {
	position:relative;
	left:-56px;
}

.capright .headsection {
	padding-left: 20px;
}

.trantabs .nav.nav-tabs {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.trancore {
	height: 44px;
	border-bottom: 1px solid #E3E3E3;
}

.trancore > div {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
}

.trancore p {
	padding-left: 20px;
	text-transform: uppercase;
	display: block;
	float: left;
	height:12px;
}

.trancore input {
	padding: 0;
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	width:100px;
	margin: -3px 0 0 0;
}

.trancore input.signless {
	margin: -3px 0 0 6px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
	border-top: 2px solid #1ABC96;
	border-left: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.rightTitle > span {
	display: inline-block;
	width:100px;
	margin-right: 50px;
	text-transform: uppercase;
}

.rightTitle > input {
	width:100px;
	border: 0;
}

input.content {
	background-color: #F1F1F1;
}

.staticHeaders {
	width: 190px;
}

/* Grants Table */

tr.rowSelected {
	background-color: rgba(26, 188, 150, 0.1);
}

.rowSelected > td {
	background-color: transparent;
}

/* Status */

.statusPop .popover .popover-content > form {
	margin: 0 0 0 0;
}

/* Dynamic shifting of spans */

.leftTabWindow {
	overflow-x: hidden;
}

.leftFullTableBlock {
	width: 1024px !important;
}

.rightNoTableBlock {
    margin-right:-350px;
    width:0;
}

/* Buttons */

.button {
	cursor: pointer;	
	border: 0;
	box-sizing:border-box;
	vertical-align: middle;
}

.btn {
	background-color: #FFFFFF;
	background-image: none;
	border: 1px solid #E3E3E3;
}

/* Dropdown buttons */

.edittoggle > .btn {
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	color: #A6A6A6;
	height: 30px;
	width: 30px;
	padding: 0 0 0 0;
}

.minidrop > .btn {
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	height: 30px;
	width: 20px;
	padding: 0 0 0 0;
}

.minidrop > .btn > span {
	margin-left: -3px;
}

.minidrop > .btn:first-child {
	width: 30px;
}

.edittoggle > .btn.active {
	color: #15A085;
}

.minidrop > ul {
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 150px;
	min-width: 150px;
}

.minidrop > ul > li {
	height: 20px;
	width: 150px;
}

.minidrop > ul > li > a {
	height: 20px;
	padding: 0 20px 0 20px;
}

.namedtoggle {
	height: 30px;
}

.namedtoggle > p {
	margin-right: 10px;
	line-height: 30px;
}

.button:hover {
	text-decoration: none;
}

.button.adisabled {
	background-color:#BDC3C7;
	cursor:default;
}

.button.adisabled:hover {
	background-color:#BDC3C7;
}

.button.blueButton {
	color:#ffffff;
	background-color:#3498db;
	width: 143px;
	height: 37px;
	text-align:center;
	padding: 0 0 0 0;
}

.button.greenButton {
	width: 143px;
	height: 37px;
	text-align:center;
	padding: 0 0 0 0;
	color:#ffffff;
	background-color: #1ABC96;
}

.button.greenButton:hover {
	background-color: #1ccaa1;
}

.button.greyButton {
	color:#ffffff;
	background-color:#bdc3c7;
	width: 143px;
	height: 37px;
	text-align:center;
	padding: 0 0 0 0;
}

.button.orangeButton {
	color:#ffffff;
	background-color:#f78d1e;
	width: 225px;
	height: 37px;
	text-align:center;
	padding: 10px 25px 10px 25px;
}
.home .button.socialbtn {
	width: 140px;
	height: 60px;
	text-align:center;
	padding: 0 0 0 0;
	margin: 7px;
	color:#ffffff;

}

.home .button.socialbtn > span:first-child {
	display: inline-block;
	margin: 0 6px 0 0;
	font-size: 28px;
	display: inline-block;
    vertical-align:middle;
}

.home .button.socialbtn > span:last-child {
	font-size: 14px;
	display: inline-block;
    vertical-align:middle;
}

.button.socialbtn.twitter{
	background-color: #2ba9e1;	
}

.button.socialbtn.linkedin{
	background-color: #006699;	
}

.button.socialbtn.fb{
	background-color: #00549e;	
}

.saveButton {
	background-color: #3498db;
	color:#ffffff;
	padding-top: 10px;
	padding-right: 60px;
	padding-bottom: 10px;
	padding-left: 60px;	
}

.saveButton:hover {
	background-color: #2980B9;
	color:#ffffff;
}

.chooseButton {
	background-color: #ffffff;
	color:#333333;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-right:10px;
	border: 1px solid #bdc3c7;
}

.uploadButton {
	background-color: #3498db;
	color:#ffffff;
	padding-top: 10px;
	padding-right: 100px;
	padding-bottom: 10px;
	padding-left: 100px;
	border: 1px solid #bdc3c7;
}

.authButton {
  background-color: #38a344;
  color:#ffffff;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-botton: 10px;
  display: inline-block;
}

.authButton:hover {
  background-color: #94a3a6;
  color: #000000;
}

/* ios button thingy */

.onoffswitch {
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 24px; padding: 0; line-height: 24px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #EEEEEE; color: #15A085;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    width: 24px; margin: 3px;
    background: #A1A1A1;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 36px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}



/* Modal CSS */

.modal {
	margin-left: -180px;
	width: 360px;
	background-color: #FFFFFF;
	border: 0;
}

.modalHeader {
	display: block;
	text-align: left;
	padding: 20px 0px 20px 30px;
	margin: 0px;
    background-color: #21b289;
    color: white;
    vertical-align: middle;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: lighter;
}

.modalHeader p {
	color: #FFFFFF;
	display: inline;
	font-size: 14px;
}

.modalHeader > .close {
    float: right;
    padding-right: 20px;
    color: #004733;
    font-size: 20px;
}

.modal .emailSection {
	min-height: 40px;
	border-bottom: 1px solid #E3E3E3;
}

.multiEmail > input {
	border: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.email-close {
    color: darkgrey;
    font-size: 16px;
    cursor: pointer;
}

.email-text {
    width: auto;
    height: auto;
    resize: none;
}

.modalText {
	padding: 10px 0 0 0;
	margin: 5px 0 20px 0;
	display: block;
	text-align: center;
}

.modalButtons {
	display: block;
	text-align: center;
	padding: 0 0 20px 0;
}

.modalButtons button {
	padding: 0 !important;
}

/* Modal Specialized */

.deleteConfirm {
	width: 400px;
}

.shareModal {
	margin-left: -380px;
	width: 720px;
	height:622px;
}

.shareModal .modalText {
	margin-bottom: 20px;
}

.capshareModal {
	margin-left: -250px;
	width:499px;
	height:463px;
}

.capshareModal ul {
	height:300px;
	margin: 0;
	overflow: auto;
	list-style: none;
}

.capshareModal ul > li:first-child {
	text-transform: uppercase;
}

.capshareModal ul li {
	text-align: left;
	height:40px;
	line-height: 40px;
	border-bottom: 1px solid #E3E3E3;
}

.capshareModal ul li > span {
	display: inline-block;
	white-space: nowrap;
	overflow-x: hidden;
	width:150px;
	margin-left: 10px;
	font-size: 12px;
}

.capshareModal ul li > input:first-child {
	margin: 0 0 0 20px;
}

.capshareModal ul li > input {
	border: 0;
}

.capshareModal ul li > input.error {
	border: 1px solid #F78D1E;
}

/* Dropdown */

.menu_dropdown {
    display: block;
    margin: 0;
    padding: 9px 12px 8px 12px;
}

.multi_dropdown {
    display: block;
    margin: 0;
    padding: 9px 12px 8px 12px;
    background-color: #0088cc;
}

.multi_menu {
  position: absolute;
  background-color: #0088cc;
  color: white;
  top: 100%;
  left: -143px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 177px;
  margin: 0;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.multi_menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color:white;
  white-space: nowrap;
}

.dropdown .caret {
  border-top: 4px solid white;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* Alerts */

.divInline {
	position:absolute;
	display: inline-block;	
	margin-top:8px;
	margin-left:-10px;
}

.divInline.hide {
	display:none;
}

.alertpointerdiv {
	position:absolute;
	margin-left:16px;
	margin-top:-3px;
	width: 0; 
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid #34495E; 
}

.passwordChangeSuccess {
	background-color:#1ABC96;
	color:#ffffff;
	margin-top:5px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	width:100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}

.textalert {
	margin-top:-10px;
	margin-left: 20px;
	width:260px;
	padding-bottom:7px;
	padding-top:7px;
	background-color: #34495E;
	color:#FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.alertContents {
	margin-left:10px;
	vertical-align: middle;
}

.alertMessage {
	margin-left:10px;
}

.divider {
  border-top: solid black 2px;
}

.start-intro {
  margin-top:10px;
  margin-left:80px;
  width:100px;
  display: block;
  float:right;
  opacity: 0.5;
}

.todo-list {
  opacity: 0.5;
  display: block;
  width: 280px;
  border: dashed 1px grey;
  position: fixed;
  right: 1em;
  top: 140px;
  padding-top: 10px;
  background-color: #ffe0ff;
}

.sub-todo-list {
  opacity: 0.5;
  display: block;
  width: 280px;
  border: dashed 1px grey;
  position: fixed;
  right: 1em;
  bottom: 120px;
  padding-top: 10px;
  background-color: #e0e0ff;
}

/* Div vertical trickery */

.DivHelper {
    display: inline-block;
    vertical-align: middle;
    height:100%;
}

/* Clear fix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.draggable {
    border: 0px solid red;
    position:absolute;
    background-color:lightgoldenrodyellow;
    opacity: 0.5;
    resize:both;
    cursor: move;
    width: auto;
    height: auto;
}

.draggable > * {
    margin-left: 20px;
}

.dropbox {
    margin:auto;
    width: 15em;
    height: 3em;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 2em;
    font-family: Arial, sans-serif;
}

.dropbox span {
margin-top: 0.9em;
    display: block;
}

.dropbox.not-available {
  background-color: #F88;
}

.dropbox.over {
  background-color: #bfb;
}
/* Homepage */

.home #hero{
	background: url(/img/top-image-1920-2.jpg) no-repeat center;
	background-size:cover;
   	height: 800px;
}

.home h1 {
	color: white;
	font-family: 'FS Elliot Web Thin', sans-serif;
	font-size: 42px;
	line-height: 45px;
	font-weight: normal;	

}

.home h2 {
	color: #1e2d3d;
	font-family: 'FS Elliot Web Light', sans-serif;
	font-size: 24px;
	font-weight: normal;
}

.home h3 {
	color: white;
	font-family: 'FS Elliot Web Light', sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;	
	letter-spacing: 1px;
}

.home p {
	color: #666666;
	font-family: 'FS Elliot Web Regular', sans-serif;
	font-size: 14px;
	font-weight: normal;
}

.home .paginator {
	position:absolute;
    bottom:0px;
    left:50%;
}

.home .btn-mini {
	color: #666666;
	font-family: 'FS Elliot Web Regular', sans-serif;
	font-size: 14px;
	font-weight: normal;
	border: 0px;
	
	padding-top: 10px;
	padding-bottom: 10px;
}

.home .btn-mini strong {
	color: #1e2d3d;
}


.home .btn-mini:hover {
	color: #1e2d3d;
	background-color: #f1f1f1;
	padding-bottom: 10px;
}



.home .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled], .btn-mini:active {
	color: #666666;
	background-color: #f1f1f1;
	font-family: 'FS Elliot Web Regular', sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 10px;
}

.home .btn-success {

	color: #666666;
	background-color: #f1f1f1;

}

.home .even {
	background-color: #f1f1f1;
}

.home .button {
	width: 222px;
	height: 60px;
	text-transform:capitalize;	
	border: 0;
	font-size: 14px;
	background-color: #1ABC96;
	font-family: 'FS Elliot Web Light', sans-serif;
	letter-spacing: 1px;

}

.home input {

 	width: 300px;
 	height: 30px;
 	border-radius: 0px;
 	border: 0px;
 	outline: none !important;
 	-webkit-box-shadow: none !important;
 	-box-shadow: none !important;
}

.home input:focus:invalid {
	color: #666666;
}

/* Set submit button */

.home form .button, .home form.ng-valid .button[disabled] {
  display: none;
}

.home form.ng-valid .button[disabled] {
  cursor:default;
}

.home form.ng-invalid .button[disabled] {
  	display: inline-block;
  	background-color: #1ABC96; 
  	color: #FFFFFF; 
  	opacity: 0.5;
}

.home form.ng-valid .button {
	display: inline-block;
  	background-color: #1ABC96;
}

.home form.ng-valid .button:hover {
  	background-color: #1CCAA1;
}
.carousel-indicators {
	display: none;
}

.carousel-control.left{
	background: url(/img/orange-left.png) no-repeat !important;
}

.carousel-control.right{
	background: url(/img/orange-right.png) no-repeat !important;
}
.carousel-control {
	border: 0;
	font-weight: 0;
	font-size: 1px;
}


.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
}

.carousel-linked-nav {
  width: 120px;
  margin-bottom: 20px;   
}

.carousel-inner {
	border: 1px solid #E3E3E3;
	width: 85%;
	margin: auto;
}

/* Team Page */

.container .static {
	padding-top: 60px;
}
.static .social a {
	text-decoration: none;
	color: #8d8d8d;
}

.static .social a:hover {
	color: #666666;
}

.team {
	border-bottom: solid 1px black;
}

/* Press Page */
.static .caption p {
	font-size: 10px;
}

/* Marketing Pages */

.static {
	padding-top: 65px;
}

.static p, .static a {
	font-size: 14px;
}


.static p.title {
	color: #34495E;

}
.static a {
	color: #3498DB;
	text-decoration: none;

}

.static a:hover {
	color: #2980B9
}


.static a .accordian-toggle {
	color: black;
}


/* Survey */

#ss-form {
	color: #666666;
	font-family: 'FS Elliot Web Regular', sans-serif;
	font-size: 14px;
	font-weight: normal;
}

#entry_0{
	color: orange;
	border-radius: 0px;	
}

/* Jobs */

.jobs .accordion-heading .accordion-toggle {
	padding: 0 0 0 10px;
}

.jobs .accordion-group.ng-scope .accordion-heading .accordion-toggle{
	background-image:url('/img/accordion-arrow-down.png');
	background-repeat:no-repeat;
	background-position: right center
}

.jobs .accordion-group.ng-scope.active .accordion-heading .accordion-toggle {
	background-image:url('/img/accordion-arrow-up.png');
	background-repeat:no-repeat;
	background-position: right center

}

.jobs a, .jobs a:hover{
	color: #8D8D8D;	
}

.jobs .accordion-inner {
	border: none;
}