@charset "UTF-8";
/* CSS Document */

html,
body {
  height: 100% !important;
  background-color:#f1f1f1;
  /* The html and body elements cannot have any padding or margin. */
}

body {
	overflow-y: scroll;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: -112px;
	margin-left: auto;
}

/* includes the 50 pixels from the nav bar */
.wrap-nav {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: -162px;
  margin-left: auto;
  background-color:#FFFFFF;
}

/* Bootstrap overrides */

.container {
	width: 1024px;
}

label {
	cursor: default;
}

.center {
    *display:inline; /* ie 7 */
    display:inline-block;
    text-align:left;
    zoom:1; /* ie7 junk */
}

input.loginInput:focus, textarea:focus, select:focus {
	outline-width: 0;
	outline: none;
	box-shadow:none;
	border-color:#cccccc;
	color:black;
 }
 
input.loginInput:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
	outline: none;
	box-shadow:none;
	border-color:#cccccc;
	color:black;
}

.modal-backdrop {
	background-color: #FFF;
}

.modal {
	margin-left: -180px;
	width: 360px;
	background-color: #e3e3e3;
	border: 0;
}

[class^="icon-"], [class*=" icon-"]{
    background:none;
}

/* Document Viewer Styling */

.DV-views{
  display:none;
}

/* Hide */

.invisible {
	visibility:hidden;
}

.remove {
	display: none;
}

/* Fonts */

h1 {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 24px !important;
	font-weight: normal !important;	
	color: #1e2d3d;
}

h2 {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 18px !important;
	line-height:20px;
	font-weight: normal !important;
	color: #1e2d3d;	
}

.menuHeaderText {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #8d8d8d;
	padding-right:20px;
}

.bodyText, .bodyText input {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #7f8c8d;
}

.subText {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #8d8d8d;
	text-transform: uppercase;
	letter-spacing: 1pt;
	font-weight:normal !important;
}

.headline1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: lighter;	
	color: #1e2d3d;
}

.headline2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: lighter;
	color: #1e2d3d;	
	line-height:20px;	
}

.copyright {
	color:#7f8c8d;
}

.compulsoryStar {
	color: #F00;	
}

.spacer {
  min-height: 20px;
}

/* Spacing */
.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer55 { height: 55px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer60 { height: 60px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer70 { height: 70px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer80 { height: 80px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

/* Error */
#error {
	font-family: 'Arvo', serif;
	font-size: 1.5em;
}

#error-title {
	font-family: 'Dosis', sans-serif;
	font-size: 4em;
	padding-bottom: 20px;
}


/* Navigation Bar at Top of Page */

#navBar {
	padding-top:25px;
	height:50px;
	background-color: #34495E;	
}

/* Login */

.pagination-centered.gateway {
	margin-left:0px;
	margin-top:140px;
}

#login {
	width:500px;
	padding-top:10px;
	margin-top:10px;
}

#forgotLink {
	font-size: 12px;
	text-decoration: underline;
	line-height:5px;
	margin-left:45px;	
}

.loginLabel {
	text-align:left;
	margin-left: 42px;	
}

#login .loginInput {
	width:337px;
	padding-top:7px;
	padding-bottom:7px;
	border-radius:0px;
	margin-left:74px;
	background-color:#f1f1f1;
}

#login_password {
	margin-bottom: 0px;	
}

#forgotButton {
/*
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    */
	margin-top:10px;
    margin-left:80px;
	width:200px;
    display: block;
	float:left;
}

.loginButton {
	float:right;
	margin-top:15px;
	margin-bottom:15px;
	width:144px;
	height:34px;
}

.textalert.loginErrorBox {
	margin-left:0px;
	margin-top:20px;
	width:311px;
	padding-left:20px;
	padding-right:20px;
}

/* Password Reset */

#forgot {
	width:500px;
	padding-top:10px;
	margin-top:10px;
}

#cancelButton {
	margin-top:25px;
	margin-left:220px;
    display: block;
	float:left;
}

.resetLabel {
	text-align:left;
	margin-left: 76px;
	margin-bottom:10px;	
}

#resetConfirm {
	margin-top:50px;
}



/* Profile Editing */

/* Side Bar Navigation */

.sidebar {
	padding-top:20px;	
}

.sideButtons {
	list-style-type: none;
	width:100%;
	margin-left:0px; 
}

.navTabs {
	padding-top:8px;
	padding-left:40px;
	padding-bottom:8px;
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #bdc3c7;
	color: #34495E;
	cursor:pointer;
	
}

.bottomTab {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-color: #bdc3c7;
}

.selected {
	background-color: #34495E;
	color: #FFFFFF;
}

/* Central Profile Section */

.headline1 {
	margin-top:20px;
}

#detailsEdit {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #BDC3C7;
	padding-right:20px;
	
}

.span10.coreEdit {
	height:100%;
	margin-left:0px;
	padding-left:20px;
	padding-top:20px;
	border-left-width: 1px;
	border-left-style: solid;
	border-color: #bdc3c7;
}

#passwordEdit {
	padding-bottom:150px;	
}

.editProfileFP {
	margin-top:40px;
}

.editPasswordBlock {
	margin-top:-8px;
}

.editProfilePhoto {
	height:250px;
	width:250px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;	
}

.formBounder {
	width:620px;
}

.urlField {
	padding-right: 10px;
	color: #7f8c8d;	
}

/* Document Views */

.statusBlock {
	background-color: #FFF;
	display:inline-block;
}

.statusBlock > div:first-child {
	background-color: #e3e3e3;
	height: 36px;
	padding: 20px 0 0 0;
}

.statusBlock .subText {
	color: #1e2d3d;
	margin: 0 0 0 50px;
}

.statusBlock div:first-child i {
	float: left;
	margin: -7px 0 0 15px;
}

.statusBlock ul {
	list-style: none;
}

.docLibrary {
	width: 100%;
}

.docLibrary .column-label {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.docLibrary .tablefooter {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.docLibrary input {
	border: 0px;
	padding: 0px;
	width: 100px;
}

.docLibrary input:disabled {
	background-color: white;
}

.searchBox {
	float:right;
}

.title {
	display: inline-block;
}

.tableView {
	width:auto;
	margin: 0 auto 0 auto;
}

.tableView tr {
	background-color: #FFF;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #f1f1f1;
}

.tableView th {
	width: 340px;
	height: 30px;
	text-align: left;
	padding: 0 0 0 10px;
	position: relative;
}

.tableView td {
	padding: 5px 40px 0 0;
	width:250px;
	height:35px;
	padding: 0 0 0 10px;
}

.tableView td[class="button"] {
	padding: 5px 10px 0 0;
	width: 30px;
}

.tableView td[class="button"] a {
	color: #7f8c8d;
}

.dateFormatting {
	padding: 0 10px 0 0;
}

.documentView i {
	color: #7f8c8d;
}

/* Document Viewer */

.navPills {
	margin: 20px 0 20px 0;
	height: 24px;
}

.navPills li {
	float:left;
	display: inline;
	margin: 0 10px 0 0;
	padding: 3px 0 0 0;
	width: 65px;
	height: 24px;
	text-align: center;
}

.selectedPill {
	background-color: #FFF;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
}

.curPage {
  background-color: oldlace;
}
.pageTurn {
	margin: 20px 0 10px 0;
	height: 24px;
}

.pageTurn li {
	float:left;
	display: inline;
	margin: 0 10px 0 0;
	padding: 3px 0 0 0;
	width: 65px;
	height: 24px;
	text-align: center;
}

.pageJump {
    margin: 0px 0 5px 5px;
}

.pageJump li {
    float:left;
    display: inline;
    margin: 0 10px 0 0;
    padding: 1px 3px 0 3px;
    text-align: center;
    border: solid 1px dimgray;
}

.docPanel {
	background-color: #FFFFFF;
	width: 1024px;
	height: 1306px;
	overflow: auto;
}

.signature {
	width: 60px;
	height: 30px;
}

/* Document Status */

.documentInfo {
	float: right;
	height: 265px;
	width: 330px;
	margin: 0 0 20px 0;
	overflow:auto;
}

.activityBlock > table {
	margin: 20px 10px 10px 20px;
	overflow:auto;
}

.recipientInfo {
	width: 663px;
}

.personButtons {
	height:10px;
	border-bottom-style :none !important;
}

.personButtons .button {
	margin: 0 10px 0 0;
}

.personDetails {
	height:100px;
}

.personDetails > td div {
	display:inline-block;
	float:left;
	text-align:center;
	width:120px;
}

.hltext {
	color: orange;
}

.doubleTime {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

/* Footer */
.minimumGap {
	min-height:150px;
}

.push {
  height: 112px;
}

.footerLinks {
	float: left;
	list-style-type:none;
	min-height: 20px;
	margin: 10px 0;
	padding: 0;
}

.footerLinks li {
	display: inline;
	margin-right: 20px;
}

.footerBar {
	height: 112px;
	background-color: #34495E;
}

#socialMedia {
	margin: 30px 0;
}

/* Captable */

.capEditHeaders {
	width: 200px !important;
};

.longRow td {
	width: 150px !important;
}

.captablepair {
	display: inline-block;
	float: left;
};

/* Grants Table */

.tableView tr.rowSelected {
	background-color: #f0f0f0;
};

/* Buttons */

.button {
	cursor: pointer;	
	border: 0;
	box-sizing:border-box;
	vertical-align: middle;
}

.button:hover {
	text-decoration: none;
}

.button.adisabled {
	background-color:#BDC3C7;
	cursor:default;
}

.button.adisabled:hover {
	background-color:#BDC3C7;
}

.button.blueButton {
	color:#ffffff;
	background-color:#3498db;
	width: 143px;
	height: 37px;
	text-align:center;
	padding: 0 0 0 0;
}

.button.greenButton {
	color:#ffffff;
	background-color:#1abc96;
	width: 143px;
	height: 37px;
	text-align:center;
	padding: 0 0 0 0;
}

.button.greyButton {
	color:#ffffff;
	background-color:#bdc3c7;
	width: 143px;
	height: 37px;
	text-align:center;
	padding: 0 0 0 0;
}

.button.orangeButton {
	color:#ffffff;
	background-color:#f78d1e;
	width: 225px;
	height: 37px;
	text-align:center;
	padding: 10px 25px 10px 25px;
}

.saveButton {
	background-color: #3498db;
	color:#ffffff;
	padding-top: 10px;
	padding-right: 60px;
	padding-bottom: 10px;
	padding-left: 60px;	
}

.saveButton:hover {
	background-color: #2980B9;
	color:#ffffff;
}

.chooseButton {
	background-color: #ffffff;
	color:#333333;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-right:10px;
	border: 1px solid #bdc3c7;
}

.uploadButton {
	background-color: #3498db;
	color:#ffffff;
	padding-top: 10px;
	padding-right: 100px;
	padding-bottom: 10px;
	padding-left: 100px;
	border: 1px solid #bdc3c7;
}

.authButton {
  background-color: #38a344;
  color:#ffffff;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-botton: 10px;
  display: inline-block;
}

.authButton:hover {
  background-color: #94a3a6;
  color: #000000;
}

/* Modal CSS */

.modalHeader {
	display: block;
	text-align: center;
	padding: 0 0 20px 0;
	margin: 50px 30px 0 30px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-color: #bdc3c7;
}

.modalHeader p {
	color: #000;
}

.modalText {
	padding: 10px 0 0 0;
	margin: 30px 0 70px 0;
	display: block;
	text-align: center;
}

.modalButtons {
	display: block;
	text-align: center;
	padding: 0 0 20px 0;
}

.modalButtons button {
	padding: 0 !important;
}

/* Modal Specialized */

.deleteConfirm {
	width: 400px;
}

.shareModal {
	margin-left: -263px;
	width: 527px;
	height:423px;
}

.shareModal .modalText {
	margin-bottom: 20px;
}

/* Dropdown */

.dropdown-toggle {
    display: block;
    margin: 0;
    padding: 9px 12px 8px 12px;
    background-color: #0088cc;
}

.dropdown-menu {
  position: absolute;
  background-color: #0088cc;
  color: white;
  top: 100%;
  left: -143px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 177px;
  margin: 0;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color:white;
  white-space: nowrap;
}

.dropdown .caret {
  border-top: 4px solid white;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* Alerts */

.divInline {
	position:absolute;
	display: inline-block;	
	margin-top:8px;
	margin-left:-10px;
}

.divInline.hide {
	display:none;
}

.alertpointerdiv {
	position:absolute;
	margin-left:16px;
	margin-top:-3px;
	width: 0; 
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid #34495E; 
}

.passwordChangeSuccess {
	background-color:#1ABC96;
	color:#ffffff;
	margin-top:5px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	width:100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}

.textalert {
	margin-top:-10px;
	margin-left: 20px;
	width:260px;
	padding-bottom:7px;
	padding-top:7px;
	background-color: #34495E;
	color:#FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.alertContents {
	margin-left:10px;
	vertical-align: middle;
}

.alertMessage {
	margin-left:10px;
}

.divider {
  border-top: solid black 2px;
}

.start-intro {
  margin-top:10px;
  margin-left:80px;
  width:100px;
  display: block;
  float:right;
  opacity: 0.5;
}

.todo-list {
  opacity: 0.5;
  display: block;
  width: 280px;
  border: dashed 1px grey;
  position: fixed;
  right: 1em;
  top: 140px;
  padding-top: 10px;
  background-color: #ffe0ff;
}

.sub-todo-list {
  opacity: 0.5;
  display: block;
  width: 280px;
  border: dashed 1px grey;
  position: fixed;
  right: 1em;
  bottom: 120px;
  padding-top: 10px;
  background-color: #e0e0ff;
}

/* Clear fix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.draggable {
    border: 4px solid red;
    position:absolute;
    background-color:lightgoldenrodyellow;
    opacity: 0.5;
    resize:both;
    cursor: move;
    width: auto;
    height: auto;
}

.draggable > * {
    margin-left: 20px;
}

