<div class="notification-bar" ng-class="notification.style" ng-show="notification.visible"
     ng-animate="'fade'" ng-click="notification.visible = false" ng-bind="notification.message"></div>

<div class="fixednav">
    <div class="overall-nav" ng-class="{navBarLoggedOut:!navState.userid, navBarLoggedIn:navState.userid, 'scrolleddown': scrolled}">
        <div class="navbar topnav row-fluid" ng-class="{navheight:!navState.userid}">
            <div ng-class="{navbounder:navState.userid, navpadding:!navState.userid}">
                <div class="content-pages">
                    <ul ng-hide="navState.userid" class="hidden-phone nav">
                        <li> <a ng-class="{'active': navState.path.indexOf('/features/') != -1}" target="_self" href="/features">
                            Tour
                        </a>

                        </li>
                        <li> <a ng-class="{'active': navState.path.indexOf('/pricing/') != -1}" target="_self" href="/pricing">
                            Pricing
                        </a>

                        </li>
                        <li> <a target="_self" href="http://blog.sharewave.com">
                            Blog
                        </a>

                        </li>
                    </ul>
                </div>
                <ul class="nav pull-left nav-logo">
                    <li>
                        <a ng-click="gotohome();">
                            <img class="small-logo" ng-show="navState.userid" src="/img/logo-wht.png" />
                            <img ng-hide="navState.userid" src="/img/logo-wht.png" />
                        </a>
                    </li>
                </ul>
                <span ng-show="navState.userid" class='nav-company-name'><span>/</span>   {{navState.name}}</span>

                <ul class="nav pull-right nav-item dropdown-list">
                    <li class="dropdown standard menu-drop" ng-show="navState.userid">
                        <a class="dropdown-toggle nav-photo">
                            <img ng-show="userURL" ng-src="{{userURL}}">
                            <span class="fauxcaret" data-icon="&#xe031;"
                            aria-hidden="true"></span>
 <span class="closecaret" data-icon="&#xe034;" aria-hidden="true"></span>

                        </a>
                        <ul class="dropdown-menu">
                            <li> <a class="button" href="/app/account/profile">My Account</a>

                            </li>
                            <li><a class="button" href="http://myaccount.zendesk.com/account/dropboxes/20171324" onClick="script: Zenbox.show(); return false;">Feedback</a>

                            </li>
                            <li> <a class="button" ng-click="doLogout();">Log Out</a>

                            </li>
                        </ul>
                    </li>
                    <li class="hidden-phone login-link" ng-hide="navState.userid">
                        <a target="_self" href="/login">Log In</a>
                    </li>
                </ul>

                <ul class="nav pull-right nav-item dropdown-list notifications" notifications
                notes="notes"></ul>
            </div>
        </div>
    </div>
    <div ng-if="!navState.userid" class="external-subnav hidden-phone" ng-class="{'scrolleddown': scrolled}">
        <div class="centered-menu">
            <ul ng-show="navState.path.indexOf('/features/') == -1">
                <li><a href="#fundraising" offset="100" du-smooth-scroll du-scrollspy>Fundraising</a></li>
                <li><a href="#funding" offset="100" du-smooth-scroll du-scrollspy>Post-funding</a></li>
                <li><a href="#hiring" offset="100" du-smooth-scroll du-scrollspy>Hiring</a></li>
                <li><a href="#security" du-smooth-scroll du-scrollspy>Security</a></li>
            </ul>
            <ul ng-show="navState.path.indexOf('/features/') != -1">
                <li><a href="/features/" ng-class="{'active': whichpage == 'captable'}">Cap Table</a></li>
                <li><a href="/features/convertible-notes/" ng-class="{'active': whichpage == 'modeling'}">Modeling</a></li>
            </ul>
        </div>
    </div>
    <div ng-if="persistentNotification"
         class="persistentNotification pointer"
         ng-animate="'animate'"
         ng-click="persistentNavGoToPage('/app/company/profile/?setup')">
        <div>
            <div class="pull-left">
                <span>
                    {{paymentmessage}}
                </span>
            </div>
            <div class="standard-button red pull-right">
                <button class="btn" ng-click="persistentNavGoToPage('/app/company/profile/?setup')">
                    Select Plan
                </button>
            </div>
        </div>
    </div>
</div>


<div ng-show="navState.userid" ng-class="{'navopened': navhover}" class="new-nav">
    <span ng-show="submenu == 'companies'">
        <span class="nav-section-header" ng-show="companies.length > 1 && (companies | filter: {role:'issuer'}).length > 0"><span data-icon="&#xe020;" aria-hidden="true"></span>Admin</span>
        <ul>
            <li ng-click="switchCandP(company, '/app/home/company')" ng-class="{activecompany: navState.company == company.company && navState.role == 'issuer'}" ng-repeat="company in companies | filter: {role:'issuer'}">
                <span>{{company.name}}</span>
            </li>
        </ul>
        <span class="nav-section-header" ng-show="companies.length > 1 && (companies | filter: {role:'investor'}).length > 0"><span data-icon="&#xe608;" aria-hidden="true"></span>Investments</span>
        <ul>
            <li ng-click="switchCandP(company, '/app/home/investor')" ng-class="{activecompany: navState.company == company.company && navState.role == 'investor'}" ng-repeat="company in companies | filter: {role:'investor'}">
                <span>{{company.name}}</span>
            </li>
        </ul>
        <div class="nav-bottom-buttons">
            <ul>
                <li class="button" ng-click="gotoPage('/app/new-company'); navhover=false"><span data-icon="&#xe053;" aria-hidden="true" ></span>Add company</li>
            </ul>
        </div>
    </span>

    <span ng-show="submenu == 'modeling'">
        <ul>
            <li ng-class="{activecompany: (navState.path.indexOf('/modeling/round') != -1)}">
                <span ng-click="gotoPage('/app/modeling/round'); navhover=false">Round Modeling</span>
            </li>
            <li ng-class="{activecompany: (navState.path.indexOf('/modeling/convertible-notes') != -1)}">
                <span ng-click="gotoPage('/app/modeling/convertible-notes'); navhover=false">Debt Conversion</span>
            </li>
        </ul>
    </span>

    <span ng-show="submenu == 'ownership'">
        <ul>
            <li ng-class="{activecompany: navState.path.indexOf('/ownership/company-captable') != -1}">
                <span ng-click="gotoPage('/app/ownership/company-captable'); navhover=false">Cap Table</span>
            </li>
            <li ng-class="{activecompany: navState.path.indexOf('/ownership/company-grants') != -1}">
                <span ng-click="gotoPage('/app/ownership/company-grants'); navhover=false">Grants Table</span>
            </li>
            <li ng-class="{activecompany: navState.path.indexOf('/ownership/company-trans') != -1}">
                <span ng-click="gotoPage('/app/ownership/company-trans'); navhover=false">Transaction Log</span>
            </li>
            <li ng-class="{activecompany: navState.path.indexOf('/ownership/grants') != -1}">
                <span ng-click="gotoPage('/app/ownership/grants/issue'); navhover=false">Issue Options</span>
            </li>
            <li ng-class="{activecompany: navState.path.indexOf('/ownership/security/create') != -1}">
                <span ng-click="gotoPage('/app/ownership/security/create'); navhover=false">Create Security</span>
            </li>
        </ul>
    </span>
</div>

<div ng-show="navState.userid" class="blue-nav">
    <ul>
        <li ng-show="companies.length > 1" ng-click="toggleSubmenu('companies')" ng-class="{activepage: (navhover && submenu == 'companies')}"><span class="nav-icon companies-icon"></span>Companies
        </li>
        <li ng-show="navState.reasons.rol" ng-click="gotoPage('/app/home/company'); navhover=false" ng-class="{activepage: navState.path.indexOf('/home/company') != -1 && !navhover, 'singlecompany': companies.length == 1}"><span class="nav-icon dashboard-icon"></span>Dashboard
        </li>
        <li ng-show="navState.reasons.rol"
            ng-click="toggleSubmenu('ownership')"
            ng-class="{activepage: (navhover && submenu == 'ownership')
                                || (navState.path.indexOf('/ownership/company-captable') != -1 && !navhover)
                                || (navState.path.indexOf('/ownership/company-trans') != -1 && !navhover)
                                || (navState.path.indexOf('/ownership/company-grants') != -1 && !navhover)}">
            <span class="nav-icon ownership-icon"></span>
            Ownership
        </li>
        <li ng-show="navState.reasons.rol" ng-click="toggleSubmenu('modeling')" ng-class="{activepage: (navhover && submenu == 'modeling') || (navState.path.indexOf('/modeling/round') != -1  && !navhover)  || (navState.path.indexOf('/modeling/convertible-notes') != -1  && !navhover)}"><span class="nav-icon modeling-icon"></span>Modeling
        </li>
        <li ng-show="navState.reasons.rol" ng-click="gotoPage('/app/documents/company-list'); navhover=false" ng-class="{activepage: navState.path.indexOf('/documents/') != -1 && !navhover}"><span class="nav-icon documents-icon"></span>Documents
        </li>
        <li ng-show="navState.reasons.rol" ng-click="gotoPage('/app/company/profile/people'); navhover=false" ng-class="{activepage: (navState.path.indexOf('/company/profile/people') != -1 || navState.path.indexOf('/company/profile/view') != -1 || navState.path.indexOf('/account/profile') != -1) && !navhover}"><span class="nav-icon people-icon"></span>People
        </li>

        <li ng-show="navState.reasons.rol" ng-click="gotoPage('/app/company/profile/'); navhover=false" ng-class="{activepage: navState.path.indexOf('/company/profile/') != -1 && navState.path.indexOf('people') == -1 && navState.path.indexOf('view') == -1 && !navhover}"><span class="nav-icon settings-icon"></span>Settings
        </li>

        <li ng-show="navState.reasons.own || navState.reasons.doc" ng-click="gotoPage('/app/home/investor'); navhover=false" ng-class="{activepage: navState.path.indexOf('/home/investor') != -1 && !navhover, 'singlecompany': companies.length == 1}"><span class="nav-icon dashboard-icon"></span>Dashboard
        </li>
        <li ng-show="navState.reasons.own && navState.level=='Full View'" ng-click="gotoPage('/app/ownership/investor-captable'); navhover=false" ng-class="{activepage: navState.path.indexOf('/ownership/investor-captable') != -1 && !navhover}"><span class="nav-icon ownership-icon"></span>Ownership
        </li>
        <li ng-show="navState.reasons.own && navState.level=='Full View'" ng-click="gotoPage('/app/ownership/investor-grants'); navhover=false" ng-class="{activepage: navState.path.indexOf('/ownership/investor-grants') != -1 && !navhover}"><span class="nav-icon grants-icon"></span>Grants
        </li>
        <li ng-show="navState.reasons.doc" ng-click="gotoPage('/app/documents/investor-list'); navhover=false" ng-class="{activepage: navState.path.indexOf('/documents/investor-list') != -1 && !navhover}"><span class="nav-icon documents-icon"></span>Documents
        </li>

        <li ng-click="gotoPage('/app/messages'); navhover=false" ng-class="{activepage: navState.path.indexOf('/messages') != -1 && !navhover}"> <span class="nav-icon message-icon"></span>Messages</li>

        <li class="add-second-company" ng-show="companies.length == 1" ng-click="gotoPage('/app/new-company'); navhover=false"><span class="nav-icon add-company-icon"></span>+ Company
        </li>
    </ul>
</div>
