<div ng-class="{'fixednav':!navState.userid}">
    <div style="cursor: pointer;" ng-class="notification.style" ng-show="notification.visible"
    ng-animate="'fade'" ng-click="notification.visible = false" ng-bind="notification.message"></div>
    <div collapse="isCollapsed">
        <div class="well well-large">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12 text-center">
                        <div id="Login-form" class="navlogin">
                            <form>
                                <fieldset>
                                    <span>Email Address</span>
                                    <input type="text" class="loginInput" autocomplete="off"
                                    tabindex="1" autocapitalize="off" name="username" ng-model="username">
                                    <span>Password</span>
                                    <input class="loginInput" autocomplete="off" tabindex="2"
                                    name="password" type="password" ng-model="password">
                                    <div class="standard-button">
                                        <button class="btn" ng-disabled="!(fieldCheck(username) && password);" ng-click="doLogin()">Log In</button>
                                    </div>
                                    <a class="pointer" ng-click="toggleLogin('login')"><span data-icon="&#xe00f;" aria-hidden="true"></span></a>

                                    <br> <span class="forgotLog"><a href="/login/forgot">Forgot Password?</a></span> 
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div collapse="isRegisterCollapsed" class="collapse-well">
        <div class="well well-large">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12 text-center">
                        <div class="navlogin" ng-hide="registertoggle">
                            <form>
                                <fieldset>
                                    <span>Email Address</span>
                                    <input type="text" class="registerInput" autocomplete="off"
                                           tabindex="4" autocapitalize="off" name="username" ng-model="registeremail">
                                    <div class="standard-button">
                                        <button class="btn" ng-disabled="!fieldCheck(registeremail);"  ng-click="companySelfRegister()">Sign Up</button>
                                    </div>
                                    <a class="pointer" ng-click="toggleLogin('register')"><span data-icon="&#xe00f;" aria-hidden="true"></span></a>
                                </fieldset>
                            </form>
                        </div>
                        <div class="navlogin register-message" ng-show="registertoggle">
                            <div>
                                <h2>Thanks for signing up to use Sharewave!</h2>
                                <p>Please check your email to complete your registration.</p>
                            </div>
                            <span class="pointer" data-icon="&#xe00f;" aria-hidden="true" ng-click="toggleLogin('register')"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-class="{navBarLoggedOut:isCollapsed || !navState.userid, navBarLoggedIn:navState.userid}">
        <div class="navbar topnav row-fluid" ng-class="{navheight:!navState.userid}">
            <div ng-class="{navbounder:navState.userid, navpadding:!navState.userid}">
                <ul class="nav pull-left nav-logo">
                    <li>
                        <a ng-click="gotohome();">
                            <img ng-show="navState.userid" src="/img/logo.png" />
                            <img ng-hide="navState.userid" src="/img/logo-large.png" />
                        </a>
                    </li>
                </ul>
                <ul ng-hide="navState.userid" class="hidden-phone nav pull-left content-pages">
                    <li>
                        <a href="/features">
                            Features
                        </a>
                    </li>
                    <li>
                        <a href="/pricing">
                            Pricing
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.sharewave.com">
                            Blog
                        </a>
                    </li>
                </ul>
                <ul class="nav pull-right nav-item dropdown-list">
                    <li class="dropdown standard menu-drop" ng-show="navState.userid">
                        <a class="dropdown-toggle nav-photo">
                            <img ng-show="userURL" ng-src="{{userURL}}">
                            <span>{{person.name  | caplength:25}}</span>
                            <span class="fauxcaret" data-icon="&#xe031;" aria-hidden="true"></span>
                            <span class="closecaret" data-icon="&#xe034;" aria-hidden="true"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="menuProfileText button" href="/account/profile">My Account</a>
                            </li>
                            <li>
                                <a class="menuProfileText button" href="/login/logout">Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hidden-phone" ng-hide="navState.userid" ng-class="{'showarrow':!isRegisterCollapsed}">
                        <div class="standard-button small-standard-button green" style="display: none;" ng-show="!navState.userid  && navState.path != '/'">
                            <button class="btn"  ng-click="toggleLogin('register')">Sign Up</button>
                        </div>
                    </li>
                    <li class="hidden-phone" ng-hide="navState.userid" ng-class="{'showarrow':!isCollapsed}">
                        <div class="standard-button small-standard-button blue" style="display: none;" ng-show="!navState.userid">
                            <button class="btn"  ng-click="toggleLogin('login')">Log In</button>
                        </div>
                    </li>
                </ul>
                <ul class="nav pull-right nav-item dropdown-list notifications" notifications notes="notes"></ul>
            </div>
        </div>
        <div class="bottomnav navbar row-fluid" ng-hide="noNav">
            <div class="navbounder">
                <ul class="menuHeaderText nav dropdown-list">
                    <li class="dropdown standard menu-drop">
                        <a class="dropdown-toggle" ng-class="{'active': navState.path.substring(0,6)==='/home/'}">
                            {{navState.name | caplength:20}}
                            <span class='for-r0ml'> ({{navState.role}})</span>
                            <span class="fauxcaret" data-icon="&#xe031;" aria-hidden="true"></span>
                            <span class="closecaret" data-icon="&#xe034;" aria-hidden="true"></span>
                        </a>

                        <ul class="dropdown-menu" ng-class="{'active': navState.path.substring(0,6)=== '/home/'}">
                            <li ng-show="hasInvest" class="dropdown-label"><span>INVESTMENTS</span>
                            </li>
                            <li class="button" ng-class="{'selected-company':company.company==navState.company && company.role==navState.role}"
                            ng-repeat="company in companies | filter: {role:'investor'}"> <a class="button" ng-click="switch(company)">{{company.name  | caplength:20}}</a>

                            </li>
                            <li ng-show="hasAdmin" class="dropdown-label"><span>ADMIN</span>
                            </li>
                            <li class="button" ng-class="{'selected-company':company.company==navState.company && company.role==navState.role}"
                            ng-repeat="company in companies | filter: {role:'issuer'}"> <a class="button" ng-click="switch(company)">
                            {{company.name  | caplength:20}}
                        </a>

                            </li>
                            <li class="button" ng-click="addCompanyModalUp();">Create a new company</li>
                        </ul>
                    </li>
                    <li ng-show="navState.reasons.own || navState.reasons.rol" ng-class="{active: navState.path.indexOf('/ownership') != -1}"><a class="button" ng-href="{{navState.role=='issuer' ? '/ownership/company-captable' : '/ownership/investor-captable'}}">Ownership</a>
                    </li>
                    <li ng-show="navState.reasons.doc || navState.reasons.rol" ng-class="{active: navState.path.indexOf('/documents') != -1}"><a class="button" ng-href="{{navState.role=='issuer' ? '/documents/company-list' : '/documents/investor-list'}}">Documents</a>
                    </li>
                    <li ng-show="navState.reasons.rol" ng-class="{active: navState.path.indexOf('/profile/') != -1}"><a class="button" href="/company/profile/people">People</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div modal="addCompanyModal" close="addCompanyModalClose()" options="opts">
    <div class="modalHeader">
        <span>Create a new company</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="addCompanyModalClose()"></span>
    </div>
    <div class="modalText">
        <div class="input-row-new">
            <p>Company Name</p>
            <input ng-model="newCompany" maxlength="30">
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="addCompanyModalClose();">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="addCompanyModalClose(); createNewCompany(newCompany);">Create</button>
        </div>
    </div>
</div>
