.new-nav.affix {
    position: fixed;
    height: 100%;
    top: 0;
    left: -150px;
    width:  190px;
    background-color: rgb(30, 45, 61);
    -webkit-transition: left 0.35s ease;
    -moz-transition: left 0.35s ease;
    -o-transition: left 0.35s ease;
    transition: left 0.35s ease;
    z-index: 10000;
}

.new-nav.affix-top {
    position: absolute;
    height: 100%;
    top: 40px;
    left: -150px;
    width:  190px;
    background-color: rgb(30, 45, 61);
    -webkit-transition: left 0.35s ease;
    -moz-transition: left 0.35s ease;
    -o-transition: left 0.35s ease;
    transition: left 0.35s ease;
    z-index: 10000;
}

.new-nav:hover {
    left: 0px;
}

.show-hide-animation.ng-hide-add,
.show-hide-animation.ng-hide-remove {
    -webkit-transition:0.2s linear all;
    transition:0.2s linear all;

    /* remember to add this */
    display:block!important;
    opacity:1;
}
.show-hide-animation.ng-hide {
    opacity:0;
}


.new-nav .accordion-group {
    border: none;
}

.new-nav .accordion-heading {
    height: 42px;
    padding: 0;
}

.new-nav .accordion-heading a {
    font-size: 14px;
    font-family: 'FS Elliot Web Light', sans-serif !important;
}

.new-nav .accordion-heading a > span:nth-child(-n+2):before {
    vertical-align: -10%;
}

.new-nav .accordion > span {
    font-size: 20px;
    text-align: center;
}

.new-nav .opencomp {
    background-color: #33485D;
}

.new-nav .opencomp .activepage {
    background-color: #003045;
}

.new-nav .opencomp .activepage a {
    color: #FFFFFF;
}

.new-nav .opencomp li.activepage:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    right: 0;
    margin-top: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right:5px solid #FFFFFF;
}

.new-nav .accordion-inner {
    border: none;
    padding: 0 0 9px 0;
}

.new-nav p, .new-nav a {
    color: #E3E3E3;
}

.new-nav .accordion-body a {
    margin-left: 40px;
}

.new-nav .accordion-body li.group-bottom {
    margin-bottom: 10px;
}

.rail-menu > span {
    float: right;
    width: 40px;
    text-align: center;
    margin-top: 5px;
}

.rail-menu > span:before {
    font-size: 22px;
}