.new-nav.affix {
    position: fixed;
    height: 100%;
    top: 0;
    left: -100px;
    width:  140px;
    background-color: rgb(30, 45, 61);
    -webkit-transition: left 0.35s ease;
    -moz-transition: left 0.35s ease;
    -o-transition: left 0.35s ease;
    transition: left 0.35s ease;
    z-index: 10000;
}

.new-nav.affix-top {
    position: absolute;
    height: 100%;
    top: 40px;
    left: -100px;
    width:  140px;
    background-color: rgb(30, 45, 61);
    -webkit-transition: left 0.35s ease;
    -moz-transition: left 0.35s ease;
    -o-transition: left 0.35s ease;
    transition: left 0.35s ease;
    z-index: 10000;
}

.new-nav:hover {
    left: 0px;
}

.show-hide-animation.ng-hide-add,
.show-hide-animation.ng-hide-remove {
    -webkit-transition:0.2s linear all;
    transition:0.2s linear all;

    /* remember to add this */
    display:block!important;
    opacity:1;
}
.show-hide-animation.ng-hide {
    opacity:0;
}


.new-nav .accordion-group {
    border: none;
}

.new-nav .accordion-heading {
    height: 46px;
    padding: 0;
}

.new-nav .opencomp {
    background-color: #33485D;
}

.new-nav .accordion-inner {
    border: none;
}

.rail-menu > span {
    float: right;
    width: 40px;
    text-align: center;
    margin-top: 5px;
}

.rail-menu > span:before {
    font-size: 22px;
}