/* Marketing Pages */

#register h1 {
    margin-top: 60px;
}

.static {
    padding-top: 75px;
}

.static p, .static a {
    font-size: 14px;
    line-height: 21px;
}

.static p.title {
    color: rgb(52, 73, 94);
    display: block;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'FS Elliot Web Light', sans-serif !important;
}

.static a {
    color: rgb(52, 152, 219);
    text-decoration: none;
}

.static a.currentpage {
    color: #231F20;
}

.static a:hover {
    color: rgb(41, 128, 185)
}

.static a .accordian-toggle {
    color: black;
}

.static img.award {
    padding-top: 30px;
}

.static h2.name {
    margin: 0 0 5px 0;
    font-size: 20px;
    font-family: 'FS Elliot Web Light', sans-serif !important;
    margin-bottom: 0;
}

.static .caption p {
    font-size: 10px;
}


/* Team */

.static .person-block {
    margin-top: 100px;
    overflow: auto;
}

.static .person-block > img {
    float: left;
}

.static .person-block > div {
    margin-left: 20px;
    display: inline-block;
    max-width: 500px;
}

.static .social a {
    text-decoration: none;
    color: rgb(141, 141, 141);
}

.static .social a:hover {
    color: rgb(102, 102, 102);
}

.static .header-section h1 {
    font-size: 42px;
    font-family: 'FS Elliot Web Light', sans-serif !important;
}

.static .header-section h2 {
    font-size: 20px;
    font-family: 'FS Elliot Web Light', sans-serif !important;
}

@media (max-width: 1024px) {

    .static .person-block > img {
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    .static p, .static .person-block {
        width: 100%;
    }
}


/* Careers */

.careers .accordion-heading .accordion-toggle {
    padding: 0 0 0 0;
}

.careers .accordion-group.ng-scope .accordion-heading .accordion-toggle{
    background: url('/img/accordion-arrow-down.png') no-repeat right center;
}

.careers .accordion-group.ng-scope.active .accordion-heading .accordion-toggle {
    background: url('/img/accordion-arrow-up.png') no-repeat right center;
}

.careers a.accordion-toggle {
    font-size: 16px;
}

.careers a.accordion-toggle, .careers a.accordion-toggle:hover{
    color: rgb(141, 141, 141);
}

.careers .accordion-inner {
    border: none;
}

.careers p.subtext {
    color: rgb(52, 73, 94);
    font-family: 'FS Elliot Web Regular', sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.careers p {
    line-height: 24px;
}

.careers .mail a {
    color: rgb(52, 152, 219);
    text-decoration: none;
}

.careers .mail a:hover {
    color: rgb(41, 128, 185)
}

.careers.job-posting p.subtext {
    font-size: 14px;
}


/* Press Page */

address {
    font-size: 14px;
    font-family: 'FS Elliot Web Regular', sans-serif;
    font-weight: normal;
}


/* Privacy Policy & Terms of use */

.legal p {
    padding-top: 10px;
}

.legal p.title {
    margin: 10px 0 0 0;
}

.legal .bo {
    color: #34495E;
}

.legal hr {
    margin-top: 8px;
}

.legal h2 {
    font-family: 'FS Elliot Web Light', sans-serif !important;
    font-size: 20px;
    line-height:20px;
    font-weight: normal;
    color: #34495E;
    margin-top: 0;
}

.legal h3 {
    font-family: 'FS Elliot Web Light', sans-serif !important;
    font-size: 10px;
    line-height:10px;
    font-weight: normal;
    color: #34495E;
    text-transform: uppercase;
}

.legal ul li:before{ content:"–"; position:relative; left:-7px;}


.legal ul {

    list-style-type: none;
    min-height: 20px;
    margin: 5px 0;
    padding: 5px 15px;
    color: rgb(141, 141, 141);
    font-size: 14px;
}

.legal li {
    display: list-item;
    padding: 6px 20px;
    text-indent:-8px;
}

.legal li a {
    color: rgb(141, 141, 141);
    font-family: 'FS Elliot Web Regular', sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}



/* Survey */

#ss-form {
    color: rgb(102, 102, 102);
    font-family: 'FS Elliot Web Regular', sans-serif;
    font-size: 14px;
    font-weight: normal;
}


/* Features */

.features.static {
    padding-top: 0;
}

.features .header-section {
    padding-top: 70px;
    text-align: left;
}

.features .header-section .header {
    margin: 0 auto;
    max-width: 1040px;
    text-align: left;
}

.features .header-section .header h1 {
    display: inline-block;
}

.static .feature-block {
    margin-left: 60px;
    padding-top: 120px;
    text-align: center;
}

.static .feature-block.dark-feature {
    background-color: rgb(30, 45, 61);
    padding: 80px 0;
    margin-left: 0;
}

.static .feature-block.dark-feature h1, .static .feature-block.dark-feature h2 {
    color: #FFFFFF;
    font-family: 'FS Elliot Web Thin', sans-serif !important;
}

.static .feature-block.feature-permission h3 > a {
    font-family: 'FS Elliot Web Thin', sans-serif !important;
    font-size: 20px;
    line-height: 28px;
}

.static .feature-block.feature-permission {
    padding: 0;
    background-color: #E3E3E3;
    margin-left: 0;
    overflow: auto;
}

.feature-block.feature-permission.complex-math {
    padding-bottom: 60px;
}

.feature-block.feature-permission .screen:nth-child(odd) {
    margin-right: 0;
    max-width: 400px;
    margin-left: 40px;
}

.feature-block.feature-permission .text {
    max-width: 550px;
    margin-top: 90px;
}

.feature-block.feature-permission .screen {
    max-width: 400px;
    text-align: right;
}

.feature-block.feature-permission.complex-math .screen {
    margin-top: 100px;
}

.static .feature-block.feature-permission + .icon-set {
    margin-top: 0;
    background-color: #FFFFFF;
}

.features .header-section ul {
    float: right;
}

.features .header-section ul > li {
    float: left;
    width: 70px;
    text-align: center;
    margin: 0 20px;
    cursor: pointer;
}

.features .header-section ul > li > span {
    margin-top: 5px;
    display: block;
}

.features .grey-stripe {
    padding: 30px 0;
    background-color: #E3E3E3;
}

.features .grey-stripe div {
    max-width: 700px;
    margin: 0 auto;
}

.features .white-stripe.grey-stripe > div {
    max-width: 1024px;
}

.features .white-stripe.grey-stripe > div > h2 {
    max-width: 700px;
}

.features .white-stripe.grey-stripe {
    background-color: transparent;
}

.features .icon-set {
    background-color: #E3E3E3;
    width: 100%;
    height: 100%;
    padding: 80px 0;
    margin-top: 80px;
}

.features .icon-set .second-icons {
    margin-top: 80px;
}

.feature-block .feature-list {
    padding-top: 40px;
    font-size: 14px;
    max-width: 300px;
}

.features .full-image > img {
    width: 100%;
    margin-top: 60px;
    border: 1px solid #E3E3E3;
    border-bottom: none;
}

.feature-block .screen {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.screen.captable-click {
    cursor: pointer;
}

.feature-block .screen:nth-child(odd) {
    margin-left: -80px;
    padding-right: 40px;
}



.feature-block .text {
    max-width: 340px;
    display: inline-block;
    text-align: left;
    margin-right: 40px; 
}

.feature-block .feature-list .feature {
    max-width: 130px;
    display: inline-block;
}

.feature-block .feature-list .feature:nth-child(2)  {
    float: right;
}

.feature-list .feature .blurb {
    display:block;
    padding-top: 18px;
    font-size: 14px;
}

.features .collab {
    padding: 40px 0;
    margin-top: 100px;
    background: url(/img/backgrounds/bgnoise_lg.png);
}

.feature-block.feature-docs img {
    border: 1px solid #E3E3E3;
}


.collab .feature-list .feature {
    vertical-align: top;
    padding: 20px 30px;
    font-size: 14px;
    display: inline-block;
    text-align: left;
    max-width: 270px;
}

.collab .feature-list .feature .blurb {
    display:inline;    
}

.collab .feature-list .feature > img {
    float: left;
    margin-right: 20px;
}

/* External Cap Table */

.features .try-me-button {
    position: absolute;
    left: -45px;
    top: -20px;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

.features .try-me-button.disappear {
    opacity: 0;
}

.features .demo-captable {
    position: relative;
    border: 1px solid #C6C6C6;
}

.features .demo-captable h1 {
    font-size: 20px;
    line-height: 24px;
}

.features .demo-captable .captour h1 {
    color: #3498DB;
}

.features .demo-captable button.right-rail-button {
    top: 0;
}

.features .demo-captable .leftTabWindow {
    overflow-y: hidden;
    height: 775px;
}

.features .demo-captable .span4.capright {
    height: 775px;
}

.features .demo-captable .capcontainer {
    height: 775px;
}

.features .demo-captable .captour > ul {
    padding-top: 10px;
}

.features .demo-captable .captour > ul > li:nth-child(even) {
    font-size: 16px;
}

.features .demo-captable .captour > ul > li:nth-child(odd) {
    font-size: 16px;
}

.features .demo-captable .captour > ul > li:nth-child(odd) {
    color: #666666;
}

.features .demo-captable .captour > ul > li > ul {
    margin-top: 20px;
    list-style: circle;
    margin-left: 40px;
    color: #666666;
}

.features .demo-captable .captour > ul > li > ul > li {
    margin-top: 10px;
}

.features .demo-captable .captour > ul > li > ul > li:first-of-type {
    list-style: none;
    margin-left: -40px;
}

.large-paragraph {
    font-size: 20px;
    line-height: 28px;
    font-family: "FS Elliot Web Light", sans-serif;
    color: #666666;
    margin-top: 40px;
}

.large-paragraph > span:first-of-type {
    font-family: "FS Elliot Web Regular", sans-serif;
    color: #1d2c3c;
    display: block;
    margin-top: 30px;
}

.large-paragraph a {
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
}

.large-paragraph.term-explanations {
    border-top: 1px solid #C6C6C6;
}

.large-paragraph.term-explanations > ul > li {
    font-size: 14px;
    font-family: "FS Elliot Web Regular", sans-serif;
}

.large-paragraph.term-explanations > ul > li:nth-child(odd) {
    margin-top: 20px;
    color: #1d2c3c;
}

.large-paragraph.term-explanations > ul > li:nth-child(event) {
}

.features .features-blockquote > div {
    border-left: 1px solid #C6C6C6;
    margin-left: 20px;
    padding-left: 20px;
    margin-top: 40px;
    line-height: 28px;
    font-size: 20px;
    font-family: "FS Elliot Web Light Italic", sans-serif;
}

/* Features Debt Calculator */

.features .debt-calculator {
    max-width: 1024px;
    margin: 60px auto 0 auto;
    position: relative;
}

.features .debt-calculator > div.debt-block {
    border-right: 1px solid #C6C6C6;
    border-left: 1px solid #C6C6C6;
    border-bottom: 1px solid #C6C6C6;
    height: 425px;
}

.features .debt-calculator .try-me-button {
    top: -15px;
    left: -60px;
}

.features .debt-calculator .debt-calculator-tabs {
    display: block;
    width: 260px;
    overflow: auto;
    border-right: 1px solid #C6C6C6;
    border-left: 1px solid #C6C6C6;
    border-top: 1px solid #C6C6C6;
    cursor: pointer;
    position: absolute;
    top: -30px;
}

.features .debt-calculator .debt-calculator-tabs > div {
    display: inline-block;
    width: 130px;
    float: left;
    text-align: center;
    background-color: #C6C6C6;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #666666;
}

.features .debt-calculator .debt-calculator-tabs > div.active-graph {
    background-color: #F1F1F1;
}

.features .calc-inputs {
    width: 260px;
    float: left;
    height: 425px;
    background-color: #F1F1F1;
    border-right: 1px solid #C6C6C6;
}

.features .calc-inputs input {
    height: 26px;
    width: 195px;
    border: 1px solid #E3E3E3;
    border-radius: 3px;
    padding-left: 5px;
}

.features .calc-inputs input:disabled {
    background-color: #E3E3E3;
}

.features .calc-inputs ul > li:first-child {
    margin-top: 40px;
    color: #003045;
    margin-bottom: 0;
}

.features .calc-inputs ul > li {
    margin-left: 28px;
    margin-bottom: 5px;
}

.features .calc-inputs ul > li > span {
    font-size: 12px;
    display: inline-block;
    width: 100%;
}

.features .calc-outputs {
    border-top: 1px solid #C6C6C6;
}

.features .discount-chart .axis > .domain {
    fill: none;
}

.features .discount-chart .ticks {
    stroke: lightgrey;
    opacity: 0.7;
}

.features .discount-chart .ticks.y .tick:first-child {
    display: none;
}

.features .discount-chart .y.axis > .tick:first-child {
    display: none;
}

.features .discount-chart .ticks .domain {
    opacity: 0;
}

.graph-flag {
    font-size: 12px;
}

.text-bubble > rect {
    fill: #1d2c3c;
}

.text-bubble > text {
    fill: #c6c6c6;
}

.text-bubble > polygon {
    fill: #1d2c3c;
    stroke: none;
}

.features .discount-chart .overlay {
    fill: none;
    pointer-events: all;
}

.features .discount-chart .focus circle {
    fill: white;
    stroke: #00c399;
    stroke-width: 3;
}

.features .discount-chart .headline {
    font-size: 26px;
    font-family: 'FS Elliot Web Regular', sans-serif;
    fill: #00c399;
    stroke: none;
    text-shadow: none;
    shape-rendering: crispEdges;
}

.features .discount-chart .label {
    fill: #C6C6C6;
    stroke: none;
    font-weight: normal;
    font-size: 12px;
    font-family: 'FS Elliot Web Regular', sans-serif;
    text-shadow: none;
    shape-rendering: crispEdges;
}

.debt-calculator-mobile {
    display: none;
}

.clear-strip {
    height: 60px;
    background-color: #F1F1F1;
    color: #666666;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #C6C6C6;
}

.clear-strip > div.standard-button {
    display: inline-block;
}

.clear-strip > div.standard-button > button {
    background-color: #a6a6a6;
    margin-top: -4px;
    margin-left: 10px;
    letter-spacing: 0.025em;
}

.clear-strip > div.standard-button > button:hover {
    background-color: #8D8D8D;
}

@media (max-width: 1024px) {

    .features .debt-calculator .try-me-button {
        display: none;
    }

    .features .debt-calculator {
        display: block;
        width: 100%;
        margin: 40px auto 0 auto;
    }

    .features .calc-inputs {
        width: 100%;
        height: 250px;
    }

    .features .calc-inputs > ul {
        width: 50%;
        display: inline-block;
        float: left;
    }

    .features .calc-inputs ul > li > span {
        display: inline-block;
        width: 100%;
    }

    .features .debt-calculator > div.debt-block {
        min-height: 425;
        height: inherit;
    }

    .features .calc-inputs input {
        width: 145px;
    }
}

@media (max-width: 767px) {
    .features .grey-stripe.white-stripe.debt-stripe > div {
        padding-top: 0;
    }

    .features .debt-calculator > .debt-calculator-tabs .join-sharewave > a {
        display: none;
    }
}

@media (max-width: 480px) {

    .features .calc-inputs input {
        width: 100px;
    }
}


@media (min-width: 1000px) {
    .feature-block .screen {
        width: 514px;
    }

}

@media (min-width: 1200px) {
    .feature-block .screen {
        width: 670px;
    }
}


@media (max-width: 1000px) {
    .feature-block .screen {
        display: none;
    }

}


@media (max-width: 380px) {
    .features .header-section {
        padding: 90px 0;
    }

    .features .header-section .header {
    }

    .static .feature-block {
        margin-left: 0;
        padding: 80px 0;
    }

    .feature-block .text {
       padding-right: 0;    
    }

    .feature-block .screen:nth-child(odd) {
        margin-left: 0;
        padding-right: 40px;
    }

    .feature-block .feature-list .feature {
        max-width: 120px;
    }

    .features .header-section ul > li {
        margin: 0 10px;
    }

}

/* Pricing page */

.pricing.static {
    text-align: center;
    background-color: #FFFFFF;
    padding-top: 0;
}

.pricing.static h1, .pricing.static p {
    color: #1D2C3C;
}

.pricing.static p {
    font-size: 16px;
    line-height: 26px;
    color: #666666;
}

.pricing .pricing-blocks {
}

.pricing .pricing-blocks .span3 {
    width: 25%;
    margin-left: 0;
}

.pricing .pricing-blocks > div > ul > li {
    font-size: 20px;
    font-family: 'FS Elliot Web Thin', sans-serif !important;
    color: #FFFFFF;
    border-right: 1px solid #F1F1F1;
    border-left: 1px solid #F1F1F1;
}

.pricing .pricing-blocks > div.seed > ul > li {
    border-left-width: 2px;
}

.pricing .pricing-blocks > div.established > ul > li {
    border-right-width: 2px;
}

.pricing .pricing-blocks > div > ul > li:nth-child(1) {
    margin-top: 60px;
    height: 116px;
}

.pricing .pricing-blocks > div > ul > li:nth-child(1) > ul > li:first-child {
    padding: 20px 0 10px 0;
}

.pricing .pricing-blocks > div.startup > ul > li:nth-child(1) > ul > li:first-child {
    padding: 40px 0 10px 0;
}

.pricing .pricing-blocks > div > ul > li:nth-child(1) > ul > li:first-child > img {
    height: 45px;
    width: 45px;
}

.pricing .pricing-blocks > div > ul > li:nth-child(2) {
    height: 125px;
    line-height: 110px;
}

.pricing .pricing-blocks > div > ul > li:nth-child(2) > span > span:first-of-type, .pricing .pricing-blocks.pricing-blocks-phone > div > ul > li:nth-child(1) > ul > li:last-of-type > span:first-of-type {
    font-size: 22px;
    vertical-align: 12%;
}

.pricing .pricing-blocks > div > ul > li:nth-child(2) > span >  span:nth-child(2) {
    font-size: 42px;
}

.pricing .pricing-blocks.pricing-blocks-phone > div > ul > li:nth-child(1) > ul > li:last-of-type > span:last-of-type {
    font-size: 30px;
}

.pricing .pricing-blocks > div > ul > li:nth-child(3) {
    height: 150px;
    color: #666666;
}

.pricing .pricing-blocks > div > ul > li:nth-child(3) > ul > li:nth-child(even) {
    font-size: 14px;
    font-family: 'FS Elliot Web Regular', sans-serif !important;
    color: #A6A6A6;
}

.pricing .pricing-blocks > div > ul > li:nth-child(3) > ul > li:nth-child(odd) {
    font-family: 'FS Elliot Web Light', sans-serif !important;
    padding: 20px 0 5px 0;
}

.bar-break {
    height: 56px;
    text-align: center;
}

.bar-break > p, .bar-break > p > a {
    line-height: 56px;
    font-size: 14px;
}

.plans-include {
    background-color: #FFFFFF;
}

.plans-include h1 {
    margin: 100px 0 40px 0;
}

.questions > div > p:first-of-type {
    color: #1D2C3C;
}

.questions > div > p:last-of-type {
    margin-bottom: 20px;
}

.last-questions {
    margin-bottom: 60px;
}

/* Colouring for the specific columns */

.pricing .pricing-blocks .seed > ul > li:nth-child(1) {
    background-color: #C33F31;
}

.pricing .pricing-blocks .seed > ul > li:nth-child(2) {
    background-color: #E64B3B;
}

.pricing .pricing-blocks .startup > ul > li:nth-child(1) {
    margin-top: 40px;
    height: 136px;
    background-color: #149F84;
}

.pricing .pricing-blocks .startup > ul > li:nth-child(2) {
    background-color: #19BB95;
}

.pricing .pricing-blocks .growth > ul > li:nth-child(1) {
    background-color: #287FB8;
}

.pricing .pricing-blocks .growth > ul > li:nth-child(2) {
    background-color: #3397DA;
}

.pricing .pricing-blocks .established > ul > li:nth-child(1) {
    background-color: #1D2C3C;
}

.pricing .pricing-blocks .established > ul > li:nth-child(2) {
    background-color: #33485D;
}

/* Mobile version */

.pricing .pricing-blocks.pricing-blocks-phone .span3 {
    width: 100%;
}

.pricing .pricing-blocks.pricing-blocks-phone > div > ul > li:nth-child(1) {
    margin-top: 20px;
}

.pricing .pricing-blocks.pricing-blocks-phone > div > ul > li:nth-child(1) {
    height: 80px;
}

.pricing .pricing-blocks.pricing-blocks-phone > div > ul > li:nth-child(1) > ul {
    width: 300px;
    margin: 0 auto 0 auto;
    overflow: auto;
}

.pricing .pricing-blocks.pricing-blocks-phone > div > ul > li:nth-child(1) > ul >li {
    float: left;
    line-height: 80px;
}

.pricing .pricing-blocks.pricing-blocks-phone > div > ul > li:nth-child(1) > ul > li:last-of-type {
    line-height: 70px;
}

.pricing .pricing-blocks.pricing-blocks-phone > div > ul > li:nth-child(1) > ul >li:last-of-type {
    float: right;
}

.pricing .pricing-blocks.pricing-blocks-phone > div > ul > li:nth-child(1) > ul > li:first-child {
    padding: 0 10px 0 0;
}

.pricing .pricing-blocks.pricing-blocks-phone > div > ul > li:nth-child(2) > ul > li {
    padding-top: 15px;
}

.pricing .pricing-blocks.pricing-blocks-phone > div > ul > li:nth-child(2) > ul > li > span {
    font-size: 14px;
}

/* Hover States */

.pricing .pricing-blocks div.span3:hover > ul > li:nth-child(1) {
    background-color: #1D2C3C;
}

.pricing .pricing-blocks div.span3:hover > ul > li:nth-child(2) {
    background-color: #33485D;
}

.pricing .pricing-blocks > div:hover > ul > li:nth-child(1) > ul, .pricing .pricing-blocks > div:hover > ul > li:nth-child(2) > span > span {
    display: none;
}

.pricing .pricing-blocks > div > ul > li:nth-child(1) > ul.reverse, .pricing .pricing-blocks > div > ul > li:nth-child(2) > span.reverse {
    display: none;
}

.pricing .pricing-blocks > div:hover > ul > li:nth-child(1) > ul.reverse, .pricing .pricing-blocks > div:hover > ul > li:nth-child(2) > span.reverse {
    display: inline;
}

.pricing .pricing-blocks > div:hover > ul > li:nth-child(1) > ul.reverse > li > img {
    width: 100px;
    height: auto;
    margin-top: 5px;
}

.pricing .pricing-blocks > div:hover > ul > li:nth-child(2) > span.reverse > ul > li {
    padding-top: 10px;
}

.pricing .pricing-blocks > div:hover > ul > li:nth-child(2) > span.reverse > ul > li > div > button {
    width: 175px;
    height: 60px;
    font-size: 14px;
    font-family: 'FS Elliot Web Light', sans-serif !important;
}

.pricing .pricing-blocks > div:hover > ul > li:nth-child(2) > span.reverse > ul > li > div > button > span {
    vertical-align: -10%;
    padding-left: 4px;
}

.pricing .pricing-blocks > div:hover > ul > li:nth-child(2) > span.reverse > ul > li > div > button > span:before {
    vertical-align: 2%;
}

.container.full-image {
    display: none;
}

@media (max-width: 1024px)  {
    .container.full-image {
        width: 100%;
        display: inline-block;
    }

    .container.demo-captable {
        display: none;
    }

    .feature-block.feature-permission .screen {
        max-width: 400px;
        margin: 0 auto;
        float: inherit;
    }

    .static .feature-block.feature-permission {
        padding: 80px 0;
    }

    .feature-block.feature-permission .text {
        margin-top: 0;
    }
}

@media (max-width: 1000px) {
    .feature-block.feature-docs .screen {
        display: inline-block;
        margin-right: 40px;
    }
}

@media (max-width: 767px) {

    .features .grey-stripe div {
        margin-left: 60px;
        margin-right: 60px;
    }

    .features .header-section .header h1 {
        margin-left: 60px;
        margin-bottom: 20px;
    }

    .features .header-section ul {
        float: left;
        margin-left: 40px;
    }

    .feature-block.feature-permission .text {
        margin-top: 0;
    }

    .features .icon-set .second-icons {
        margin-top: 20px;
    }

    .trio-icons > div > img {
        margin-top: 20px;
    }

    .static .feature-block.feature-permission {
        padding: 20px 0;
    }

    .static .feature-block.dark-feature, .static .feature-block.feature-permission {
        padding-left: 60px;
    }

    .features .white-stripe.grey-stripe > div {
        padding-top: 60px;
    }

    .pricing .pricing-blocks > div > ul > li:nth-child(2) {
        height: 90px;
    }
}



@media (max-width: 480px) {

    .features .grey-stripe div {
        margin-left: 40px;
        margin-right: 40px;
    }

    .features .header-section ul {
        margin-left: 20px;
    }

    .features .header-section .header h1 {
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .features .header-section {
        padding-top: 40px;
    }

    .pricing .pricing-blocks.pricing-blocks-phone > div > ul > li:nth-child(1) > ul {
        width: 290px;
    }

    .container.pricing-container {
        width: 90%;
    }

    .static .feature-block.dark-feature, .static .feature-block.feature-permission {
        padding-left: 40px;
    }
}

