<div class="new-nav" ng-mouseenter="navhover=true" ng-mouseleave="navhover=false">
    <div class="rail-menu show-hide-animation" ng-hide="true">
        <span data-icon="&#xe043;" aria-hidden="true"></span>
    </div>
    <accordion close-others="true" class="nav-content show-hide-animation" ng-hide="false">
        <span>Admin</span>
        <accordion-group ng-class="{'opencomp': company.current}" is-open="company.current" ng-repeat="company in companies | filter: {role:'issuer'}">
            <accordion-heading>
                <span data-icon="&#xe031;" aria-hidden="true" ng-show="company.current"></span>
                <span data-icon="&#xe034;" aria-hidden="true" ng-show="!company.current"></span>
                <span>{{company.name}}</span>
            </accordion-heading>
            <ul>
                <li class="group-bottom"><a class="button" ng-click="switchCandP(company, '/home/company')">Dashboard</a>
                </li>
                <li ng-show="company.reasondic.rol" ng-class="{activepage: navState.path.indexOf('/ownership/company-captable') != -1}"><a class="button" ng-click="switchCandP(company, '/app/ownership/company-captable')">Cap Table</a>
                </li>
                <li ng-show="company.reasondic.rol"><a class="button" ng-click="switchCandP(company, '/app/ownership/company-grants')">Grants Table</a>
                </li>
                <li class="group-bottom" ng-show="company.reasondic.rol"><a class="button" ng-click="switchCandP(company, '/app/ownership/company-status')">Ownership Status</a>
                </li>
                <li class="group-bottom" ng-show="company.reasondic.rol"><a class="button" ng-click="switchCandP(company, '/app/documents/company-list')">Documents</a>
                </li>
                <li ng-show="company.reasondic.rol"><a class="button" ng-click="switchCandP(company, '/app/company/profile/people')">People</a>
                </li>
            </ul>
        </accordion-group>
        <span>Investments</span>
        <accordion-group is-open="company.current" ng-repeat="company in companies | filter: {role:'investor'}">
            <accordion-heading>
                <span>{{company.name}}</span>
            </accordion-heading>
            <ul>
                <li><a class="button" ng-click="switchCandP(company, '/home/investor')">Dashboard</a>
                </li>
                <li ng-show="company.reasondic.own"><a class="button" ng-click="switchCandP(company, '/app/ownership/investor-captable')">Cap Table</a>
                </li>
                <li ng-show="company.reasondic.own"><a class="button" ng-click="switchCandP(company, '/app/ownership/investor-grants')">Grants Table</a>
                </li>
                <li ng-show="company.reasondic.doc"><a class="button" ng-click="switchCandP(company, '/app/documents/investor-list')">Documents</a>
                </li>
            </ul>
        </accordion-group>
    </accordion>
</div>