<div class="new-nav">
    <accordion close-others="true">
        <accordion-group is-open="company.current" ng-repeat="company in companies | filter: {role:'issuer'}">
            <accordion-heading>
                <span>{{company.name}}</span>
            </accordion-heading>
            <ul>
                <li><a class="button" ng-click="switchCandP(company, '/home/company')">Dashboard</a>
                </li>
                <li ng-show="company.reasondic.rol"><a class="button" ng-click="switchCandP(company, '/ownership/company-captable')">Cap Table</a>
                </li>
                <li ng-show="company.reasondic.rol"><a class="button" ng-click="switchCandP(company, '/ownership/company-grants')">Grants Table</a>
                </li>
                <li ng-show="company.reasondic.rol"><a class="button" ng-click="switchCandP(company, '/ownership/company-status')">Ownership Status</a>
                </li>
                <li ng-show="company.reasondic.rol"><a class="button" ng-click="switchCandP(company, '/documents/company-list')">Documents</a>
                </li>
                <li ng-show="company.reasondic.rol"><a class="button" ng-click="switchCandP(company, '/company/profile/people')">People</a>
                </li>
            </ul>
        </accordion-group>
        <accordion-group is-open="company.current" ng-repeat="company in companies | filter: {role:'investor'}">
            <accordion-heading>
                <span>{{company.name}}</span>
            </accordion-heading>
            <ul>
                <li><a class="button" ng-click="switchCandP(company, '/home/investor')">Dashboard</a>
                </li>
                <li ng-show="company.reasondic.own"><a class="button" ng-click="switchCandP(company, '/ownership/investor-captable')">Cap Table</a>
                </li>
                <li ng-show="company.reasondic.own"><a class="button" ng-click="switchCandP(company, '/ownership/investor-grants')">Grants Table</a>
                </li>
                <li ng-show="company.reasondic.doc"><a class="button" ng-click="switchCandP(company, '/documents/investor-list')">Documents</a>
                </li>
            </ul>
        </accordion-group>
    </accordion>
</div>