<div modal="remindDocModal" close="modals.remindDocClose()" options="opts">
    <div class="modalHeader">
        <span>Send Signature Reminder</span>
        <span class="close" data-icon="&#xe00f;" aria-hiddden="true" ng-click="modals.remindDocClose()"></span>
    </div>
    <div class="modalText voidDocModal">
        <span>Send a reminder to the original recipient.</span>

        <div class="message-block">
            <span>Message</span>
            <textarea rows="4" cols="60" ng-model="remindText"></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="modals.remindDocClose()">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="remindDocument(reminddocForModal, remindText); modals.remindDocClose();">Confirm</button>
        </div>
    </div>
</div>
