<div ng-class="{'fixednavoffset':!navState.userid, 'homedrop': homecollapsed}" class="wrap">
    <div class="features static">
        <div class="row-fluid">
            <div class="span12">
                <div class="header-section">
                    <div class="header">
                        <h1>A Smarter Cap Table</h1>

                        <ul>
                            <li ng-click="gotopage('')">
                                <img src="/img/overview-grey.png">
                                <span>Overview</span>
                            </li>
                            <li>
                                <img src="/img/cap-green.png">
                                <span>Cap Table</span>
                            </li>
                            <li ng-click="gotopage('doc')">
                                <img src="/img/docs-grey.png">
                                <span>Documents</span>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="container full-image">
                    <img src="/img/features/screen-cap.png">
                </div>

                <div class="icon-set">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span10 offset1">
                                <div class="trio-icons row-fluid">
                                    <div class="span4 text-center">
                                        <img src="/img/icon-captable.png">
                                        <h2>Safely request signatures</h2>
                                        <p>Your recipients receive an email inviting them to securely access their unique version of the document. Sending to 5 people will create 5 independent versions, each with their own history.
                                        </p>
                                    </div>
                                    <div class="span4 text-center">
                                        <img src="/img/icon-audit.png">
                                        <h2>Legally binding audit trail</h2>
                                        <p>Appended to each executed document is a full timeline of interactions containing dates, times, email addresses, IP addresses and other document actions taken along the way.
                                        </p>
                                    </div>
                                    <div class="span4 text-center">
                                        <img src="/img/icon-people.png">
                                        <h2>Share multiple documents</h2>
                                        <p>Easily share groups of documents that require signatures, so your recipients are only notified once and can sign everything in one session.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span10 offset1">
                                <div class="trio-icons row-fluid">
                                    <div class="span4 text-center">
                                        <img src="/img/icon-captable.png">
                                        <h2>Safely request signatures</h2>
                                        <p>Your recipients receive an email inviting them to securely access their unique version of the document. Sending to 5 people will create 5 independent versions, each with their own history.
                                        </p>
                                    </div>
                                    <div class="span4 text-center">
                                        <img src="/img/icon-audit.png">
                                        <h2>Legally binding audit trail</h2>
                                        <p>Appended to each executed document is a full timeline of interactions containing dates, times, email addresses, IP addresses and other document actions taken along the way.
                                        </p>
                                    </div>
                                    <div class="span4 text-center">
                                        <img src="/img/icon-people.png">
                                        <h2>Share multiple documents</h2>
                                        <p>Easily share groups of documents that require signatures, so your recipients are only notified once and can sign everything in one session.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="spacer110"></div>
    <div id="register">
        <div class="row-fluid">
            <div class="span10 offset1 text-center">
                <div class="CompanyRegister-form large-standard-button standard-button">
                    <button class="btn" onclick="window.location.href='/pricing'">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="spacer30"></div>
    </div>


    <div class="push"></div>
</div>