<div ng-class="{'fixednavoffset':!navState.userid, 'homedrop': homecollapsed}" class="wrap">
    <div class="features static">
        <div class="row-fluid">
            <div class="span12">
                <div class="header-section">
                    <div class="header">
                        <h1>A Smarter Cap Table</h1>

                        <ul>
                            <li ng-click="gotopage('')">
                                <img src="/img/overview-grey.png">
                                <span>Overview</span>
                            </li>
                            <li>
                                <img src="/img/cap-green.png">
                                <span>Cap Table</span>
                            </li>
                            <li ng-click="gotopage('doc')">
                                <img src="/img/docs-grey.png">
                                <span>Documents</span>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="container full-image">
                    <img src="/img/features/captable.png">
                </div>

                <div class='text-center grey-stripe'>
                    <div>
                        <h2>Editing as you'd expect it, in real-time. As you enter transactions, the totals for your securities and shareholder ownership will updated automatically.</h2>
                    </div>
                </div>

                <div class="feature-block dark-feature">
                    <div class="text">
                        <h1>Complex math made easy</h1>
                        <h2>Have you ever tried to calculate the conversion price of a debt note in a spreadsheet? It's not fun, unless you like spending time in the formula bar. We've prepared the math for you, so things like debt conversions and share splits are a few clicks instead of a few hours of work.
                        </h2>
                    </div>
                    <div class="screen">
                        <img src="/img/features/convert.png"/>
                    </div>
                </div>

                <div class="feature-block feature-permission">
                    <div class="text">
                        <h1>Simple permissioning</h1>
                        <h2>Your large investors want to see your full cap table, and others just want to track their personal holdings. Easily define what each person can see, along with their latest cap table activity.
                        </h2>
                    </div>
                    <div class="screen pull-left">
                        <img src="/img/features/status.png"/>
                    </div>
                </div>

                <div class="icon-set">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span10 offset1">
                                <div class="trio-icons row-fluid">
                                    <div class="span4 text-center">
                                        <img src="/img/icon-captable.png">
                                        <h2>See the impact of your option pool</h2>
                                        <p>Review the fully diluted percentage of your pool, vesting progress for grantees, and the number of options you've granted over time.
                                        </p>
                                    </div>
                                    <div class="span4 text-center">
                                        <img src="/img/icon-audit.png">
                                        <h2>Term sheets can be confusing
                                        </h2>
                                        <p>It helps to know what some of the terms mean, so we include helpful tips throughout to make sense of things.
                                        </p>
                                    </div>
                                    <div class="span4 text-center">
                                        <img src="/img/icon-people.png">
                                        <h2>Avoid versioning nightmares</h2>
                                        <p>The days of creating versions for different shareholders are gone. Enter your data once and share everything, some things, or nothing at all.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row-fluid second-icons">
                            <div class="span10 offset1">
                                <div class="trio-icons row-fluid">
                                    <div class="span4 text-center">
                                        <img src="/img/icon-captable.png">
                                        <h2>Take your data with you</h2>
                                        <p>Love spreadsheets too much to leave them completely? No problem. You can export all of the data from your cap table in a flexible CSV file.
                                        </p>
                                    </div>
                                    <div class="span4 text-center">
                                        <img src="/img/icon-audit.png">
                                        <h2>Invite your lawyer & accountant</h2>
                                        <p>Your cap table data isn't just for you and your shareholders. Share read-only views for things like auditing, fundraising, and tax reporting.
                                        </p>
                                    </div>
                                    <div class="span4 text-center">
                                        <img src="/img/icon-people.png">
                                        <h2>Multiple security types</h2>
                                        <p>We keep your data conveniently structured by its security type. Keep track of your equity, debt, options, warrants and SAFEs.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="register">
            <div class="row-fluid">
                <div class="span10 offset1 text-center">
                    <h1>Ready to build your cap table?</h1>
                    <div class="CompanyRegister-form large-standard-button standard-button">
                        <button class="btn" onclick="window.location.href='/pricing'">Join Sharewave</button>
                    </div>
                </div>
            </div>
            <div class="spacer30"></div>
        </div>
    </div>


    <div class="push"></div>
</div>