<div ng-class="{'fixednavoffset':!navState.userid, 'homedrop': homecollapsed}" class="wrap">
    <div class="features static">
        <div class="row-fluid">
            <div class="span12">
                <div class="header-section">
                    <div class="header">
                        <h1>Debt Calculator</h1>

                    </div>
                </div>


                <div class='grey-stripe white-stripe'>
                    <div>
                        <h2>Editing as you'd expect it, in real-time. As you enter transactions, the totals for your securities and
                            shareholder ownership will update automatically.</h2>
                    </div>
                </div>

                <div class="debt-calculator">
                    <div class="calc-inputs">
                        <ul>
                            <li>
                                <span>Amount</span>
                                <input class="money" ng-change="conversion()" ng-model="fields.fromtranamount">
                            </li>
                            <li>
                                <span>Valuation Cap</span>
                                <input class="money" ng-change="conversion()" ng-model="fields.fromtranvalcap">
                            </li>
                            <li>
                                <span>Discount (%)</span>
                                <input ng-change="conversion()" ng-model="fields.fromtrandiscount">
                            </li>
                            <li>
                                <span>Percentage Sold</span>
                                <input ng-change="conversion()" ng-model="fields.convertTranpercentsold">
                            </li>
                            <li>
                                <span>Investment Amount</span>
                                <input class="money" ng-change="conversion()" ng-model="fields.convertTranamountsold">
                            </li>
                            <li>
                                <span>Pre-money</span>
                                <input class="money" ng-change="conversion()" ng-model="premoney">
                            </li>
                        </ul>
                    </div>

                    <div class="calc-outputs">
                        <d3-discount class="discount-chart" data="graphdata"></d3-discount>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer110"></div>
    <div id="register">
        <div class="row-fluid">
            <div class="span10 offset1 text-center">
                <div class="CompanyRegister-form large-standard-button standard-button">
                    <button class="btn" onclick="window.location.href='/pricing'">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="spacer30"></div>
    </div>


    <div class="push"></div>
</div>