<div ng-class="{'fixednavoffset':!navState.userid, 'homedrop': homecollapsed}" class="wrap">
    <div class="features static">
        <div class="row-fluid">
            <div class="span12">
                <div class="header-section">
                    <div class="header">
                        <h1>Electronically Sign Documents</h1>

                        <ul>
                            <li ng-click="gotopage('')">
                                <img src="/img/overview-grey.png">
                                <span>Overview</span>
                            </li>
                            <li ng-click="gotopage('cap')">
                                <img src="/img/cap-grey.png">
                                <span>Cap Table</span>
                            </li>
                            <li>
                                <img src="/img/docs-green.png">
                                <span>Documents</span>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="feature-block feature-docs">
                    <div class="text">
                        <h1>Prepare Your <br>Document</h1>
                        <h2>There's far too much back-and-forth in signature flows, so we've made it simple. Just draw markers and define what's needed before sending to your recipients.
                        </h2>
                    </div>
                    <div class="screen">
                        <img src="/img/features/docs-1.png"/>
                    </div>
                </div>

                <div class="feature-block feature-docs">
                    <div class="text">
                        <h1>Recipient Signature</h1>
                        <h2>When your recipient logs in, they'll see a simple list of pages that require attention. Once they've signed, you'll be notified and can review the document with their information.
                        </h2>
                    </div>
                    <div class="screen">
                        <img src="/img/features/docs-2.png"/>
                    </div>
                </div>

                <div class="feature-block feature-docs">
                    <div class="text">
                        <h1>Approve & Execute</h1>
                        <h2>If you approve, we'll lock down the document with an appended audit trail and both you and your recipient retain the executed version. It's as simple as that.
                        </h2>
                    </div>
                    <div class="screen">
                        <img src="/img/features/docs-3.png"/>
                    </div>
                </div>

                <div class="icon-set">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="trio-icons row-fluid">
                                    <div class="span4 text-center">
                                        <img src="/img/features/doc-icon-sign.png">
                                        <h2>Safely request signatures</h2>
                                        <p>Your recipients receive an email inviting them to securely access their unique version of the document. Sending to 5 people will create 5 independent versions, each with their own history.
                                        </p>
                                    </div>
                                    <div class="span4 text-center">
                                        <img src="/img/features/doc-icon-audit.png">
                                        <h2>Legally binding audit trail</h2>
                                        <p>Appended to each executed document is a full timeline of interactions containing dates, times, email addresses, IP addresses and other document actions taken along the way.
                                        </p>
                                    </div>
                                    <div class="span4 text-center">
                                        <img src="/img/features/doc-icon-multi.png">
                                        <h2>Share multiple documents</h2>
                                        <p>Easily share groups of documents that require signatures, so your recipients are only notified once and can sign everything in one session.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="register">
            <div class="row-fluid">
                <div class="span10 offset1 text-center">
                    <h1>Ready to simplify your workflow?</h1>
                    <div class="CompanyRegister-form large-standard-button standard-button">
                        <button class="btn" onclick="window.location.href='/pricing'">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="spacer30"></div>
        </div>

    </div>


    <div class="push"></div>
</div>