<link type="text/css" rel="stylesheet" href="/messages/messages.css">
<div class="maincontent openflow">
<div class="container dynamic-page doclistFlow">
<div class="row-fluid">
    <section class="statusBlock">
        <div class="row-fluid">
            <div class="subnav-controls">
                <div>
                    <div class="box-button pull-right"
                     class="selected"
                     ng-click="$root.leave()"
                     tooltip-placement="bottom" tooltip="{{zombiemessage}}">
                        <ul>
                            <li> <span data-icon="&#xe028;" aria-hidden="true"></span>
                            </li>
                            <li> <span>Compose</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="DivHelper"></div>
            </div>
        </div>


    <div class="row-fluid leftTabWindow">
        <compose-message></compose-message>
    </div>


    </section>

</div>
</div>
</div>
