
<div ng-show="myRecs==undefined" class="noElements">
    <div class="toFill">
        You haven't received any messages yet.
    </div>
</div>
<div class="span12" ng-show="myRecs!==undefined">

    <table class="status-table people-table">
        <tbody>
        <tr>
            <th class="button"><span class="title">Recipients</span></th>
            <th class="button"><span class="title">Subject</span></th>
            <th></th>
        </tr>
        </tbody>
        <tbody ng-repeat="myRec in myRecs | orderBy:'time':true | filter: $parent.$parent.filterText">
            <tr class="empty-row"></tr>
            <tr class="forTooltip">
                <td style="width:550px" class="shareholder-column docname-column">
                    <a href="/app/company/messages/thread?thread={{myRec.thread_id}}" position="bottom"><div bs-tooltip="receivedMsg.nameString">{{showString(myRec.nameString)}}   <span ng-if="myRec.count > 1">({{myRec.count}})</span></a>
                </td>
            
                <td style="width: 400px">
                    <a href="/app/company/messages/thread?thread={{myRec.thread_id}}">
                        <div bs-tooltip="receivedMsg.subject">
                            <span>{{showString(myRec.subject)}}</span> 
                        </div>
                    </a>
                </td>
                <td style="width:10px;"></td>
            </tr>
        </tbody>
    </table>
</div>