

<div class="span12" ng-if="!compose">
    <table class="status-table people-table">
        <tbody>
        <tr>
        
            <th class="button" ng-click="sortBy('name')"><span class="title">Name</span></th>
            <th class="button" ng-click="sortBy('role')"><span class="title">Subject</span></th>
            <th></th>
        </tr>
        </tbody>
        <tbody ng-repeat="sent in sents">
        <tr class="empty-row"></tr>
        <tr class="forTooltip">
            <td style="width:550px" class="shareholder-column docname-column sent"  tooltip="{{sent.recipString}}"><span>{{showString(sent.recipString)}}</span>
            </td>
        
            <td><span>{{sent.subject}}</span></td>
            <td style="width:10px;"></td>
        </tr>
        </tbody>
    </table>
</div>