<div class="span12" ng-hide="sents==undefined || sents.length == 0">
    <table class="status-table people-table">
        <tbody>
        <tr>
            <th class="button"><span class="title">Recipients</span></th>
            <th class="button"><span class="title">Subject</span></th>
        </tr>
        </tbody>
        <tbody ng-repeat="sent in sents| orderBy:'time':true | filter: $parent.$parent.filterText"> 
            <tr class="empty-row"></tr>
            <tr class="forTooltip" ng-click="gotoThread(sent.thread_id)">
                <td class="shareholder-column docname-column">
                    <div>{{showString(sent.nameString)}}
                        <span ng-if="sent.count > 1">  ({{sent.count}})</span>
                    </div>
                </td>
            
                <td>
                    <div>
                        <span>{{showString(sent.subject)}}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="sents == undefined || sents.length == 0" class="noElements">
    <div class="toFill">
        You haven't sent any messages yet. Click compose to start sending!
    </div>
</div>