
<div class="headsection row-fluid">
  <h1>My Profile</h1>
</div>
<div class="editProfileFP row-fluid">

  <div id="detailsEdit" class="span8"> <!-- detailsEdit = Vertical line -->
    <div class="row-fluid">
      <div class="span3"> <!-- Photo -->
        <form>
          <div class="editProfilePhoto">
            <img ng-src="{{photoURL}}" style='width:140px; height:140px;' ng-click="pictureModalOpen()">
          </div>
        </form>
      </div>
      <div class="span5">
        <p>
            <input ng-class="{'content':!name}" type="text" class="name" ng-disabled="toggleView();" ng-model="name" name="name" ui-event="{blur: 'contactSave()'}">
            <label>Name</label>
        </p>
        <p><button class="button subText greenButton" ng-click="passwordModalOpen()">Change Password</button></p>
      </div>
    </div>
  </div>

  <div class="sidebar span4">
    <form>
      <fieldset>
         <input ng-class="{'content':!email}" type="text" ng-model="email" name="email" disabled>
         <label>Email</label>

          <textarea ng-class="{'content':!street}" ng-model="street" name="street" rows="3" ui-event="{blur: 'contactSave()'}"></textarea>         
          <label>Address</label>
       
      </fieldset>
    </form>
  </div>
</div>

<!-- <div modal="pictureModal" close="pictureModalClose()" options="opts" ng-controller="FileDNDCtrl"> -->
<div modal="pictureModal" close="pictureModalClose()" options="opts">
  <div class="modalHeader">
    <p class="subText">Profile Picture</p>
  </div>
  <div class="modalText">
    <p>You can upload a JPG, GIF, or PNG (file size limit is 1MB)</p>
    <form class="form-inline">
      <fieldset>
        <input class="bodyText button uploadButton" type="file" multiple onchange="angular.element(this).scope().setFiles(this)" />
      </fieldset>
    </form>
  </div>

  <div class="modalButtons">
    <button class="button subText greyButton" ng-click="pictureModalClose()">Cancel</button> <input class="bodyText button uploadButton" type="button" ng-click="uploadFile(); pictureModalClose();" value="Upload" />
  </div>
</div>

<div modal="passwordModal" close="passwordModalClose()" options="opts" ng-controller="PasswordCtrl">
  <div class="modalHeader">
    <span data-icon="&#xe026;" aria-hidden="true"></span>Change Password
    <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="passwordModalClose()"></span>
  </div>
  <div class="modalCopy">
    <form name="passwordChange" class="editPasswordBlock">
    <div class="passwordChangeSuccess bodyText invisible" ng-show="passwordChanged">
    <img src="/img/alert-star.png">Your Password has been changed. Please check your email for confirmation.</div>
     <fieldset>
       <div class="row-fluid field">
         <label>Current Password</label>           
         <input type="password" ng-class="{'content':!currentPassword}" name="currentPassword" ng-model="currentPassword"/>
       </div>
       <div class="row-fluid field">
      <label>New Password</label>          
      <input type="password" name="newPassword" ng-class="{'content':!newPassword}" ng-model="newPassword"/>
      </div>
     <div class="row-fluid field">
       <label>Confirm Password</label>  
       <input type="password" name="passwordconfirm" ng-class="{'content':!passwordConfirm}" ng-model="passwordConfirm"/>
     </div>
  </div>
  <div class="modalButtons">
    <div class="left"><button class="button subText blueButton" ng-click="passwordModalClose()">Take Me Back!</button></div>
    <div class="right"><button ng-disabled="validPasswordNot()" ng-class="{saveButton:true, button:true, adisabled:validPasswordNot() }" ng-click="changePassword(); passwordModalClose()">Change</button></div>
  </fieldset>
  </form>
  </div>
</div>
