
<div class="headsection row-fluid">
  <h1>My Profile</h1>
</div>
<div class="editProfileFP row-fluid">

  <div id="detailsEdit" class="span8"> <!-- detailsEdit = Vertical line -->
    <div class="row-fluid">
      <div class="span3"> <!-- Photo -->
        <form>
          <div class="editProfilePhoto">
            <img ng-src="/photo/user?id={{email}}" style='width:140px; height:140px;' ng-click="pictureModalOpen()">
          </div>
        </form>
      </div>
      <div class="span5">
        <p>
            <input ng-class="{'content':!name}" type="text" class="name" ng-disabled="toggleView();" ng-model="name" name="name" ui-event="{blur: 'contactSave()'}">
            <label>Name</label>
        </p>
        <p><button class="button subText greenButton" ng-click="passwordModalOpen()">Change Password</button></p>
      </div>
    </div>
  </div>

  <div class="sidebar span4">
    <form>
      <fieldset>
         <input ng-class="{'content':!email}" type="text" ng-model="email" name="email" disabled>
         <label>Email</label>

          <textarea ng-class="{'content':!street}" ng-model="street" name="street" rows="3" ui-event="{blur: 'contactSave()'}"></textarea>         
          <label>Address</label>
       
      </fieldset>
    </form>
  </div>
</div>

<div modal="pictureModal" close="pictureModalClose()" options="opts" ng-controller="FileDNDCtrl">
  <div class="modalHeader">
    <p class="subText">Profile Picture</p>
  </div>
  <div class="modalText">
    <p>You can upload a JPG, GIF, or PNG (file size limit is 1MB)</p>
    <form class="form-inline">
      <fieldset>
        <input class="bodyText button uploadButton" type="file" multiple onchange="angular.element(this).scope().setFiles(this)" />
      </fieldset>
    </form>

    <div ng-show="files.length">
        <div ng-repeat="file in files.slice(0)">
            <span>{{file.webkitRelativePath || file.name}}</span>
            (<span>{{fmtFileSize(file)}}</span>)
        </div>
    </div>
  </div>

  <div class="modalButtons">
    <button class="button subText greyButton" ng-click="pictureModalClose()">Cancel</button> <input class="bodyText button uploadButton" type="button" ng-click="uploadFile(); pictureModalClose();" value="Upload" />
  </div>
</div>

<div modal="passwordModal" close="passwordModalClose()" options="opts" ng-controller="PasswordCtrl">
  <div class="modalHeader">
    <p class="subText">Change Password</p>
  </div>
  <div class="modalText">
    <form name="passwordChange" class="editPasswordBlock">
    <div class="passwordChangeSuccess bodyText invisible" ng-show="passwordChanged">
    <img src="/img/alert-star.png">Your Password has been changed. Please check your email for confirmation.</div>
     <fieldset>
     <p class="bodyText">Passwords need to be 8 characters min, including uppercase, lowercase, and a number
       <div class="row-fluid"
        data-step='1' data-intro='To change passwords, the existing password must be supplied'
        data-position='top'
       >
         <label class="bodyText">Current Password</label>           
         <input type="password" name="currentPassword" ng-model="currentPassword"/>
         <div class="divInline" ng-show="alertMessage" > 
           <div class="alertpointerdiv"></div>
           <div class="textalert bodyText alertContents">
               <img src="/img/alert-icon.png">
               <span class="alertMessage">{{alertMessage}}</span>
           </div>
         </div>
       </div>
       <div class="row-fluid"
            data-step='2' data-intro='The new password must be entered twice'
            data-position='top'>
      <label class="bodyText">New Password</label>          
      <input type="password" name="newPassword" ng-model="newPassword"/>
      <div class="divInline" ng-show="regexPassword()">
       <div class="alertpointerdiv"></div>
         <div class="textalert bodyText alertContents">
             <img src="/img/alert-icon.png">
             <span class="alertMessage">{{regexPassword()}}</span>
         </div>
       </div>
      </div>
     <div class="row-fluid">
       <label class="bodyText">Confirm Password</label>  
       <input type="password" name="passwordconfirm" ng-model="passwordConfirm"/>
       <div class="divInline" ng-show="passwordMatchesNot()"> 
         <div class="alertpointerdiv"></div>
         <div class="textalert bodyText alertContents">
             <img src="/img/alert-icon.png">
             <span class="alertMessage">Must match the new password</span>
         </div>
       </div>
     </div>
  </div>
  <div class="modalButtons">
    <button class="button subText greyButton" ng-click="passwordsModalClose()">Cancel</button>
    <div
       data-step='3' data-intro='The button is disabled unless the new passwords match and fulfill the requirements for passwords'
       data-position='top'
       ><a ng-disabled="validPasswordNot()" ng-class="{saveButton:true, button:true, adisabled:validPasswordNot() }"
      ng-click="changePassword(); passwordModalClose()">Change</a></div>
  </div>

  </fieldset>
  </form>
  </div>
</div>
