<link type="text/css" rel="stylesheet" href="/lib/select2/select2.css">
<link type="text/css" rel="stylesheet" href="/ownership/css/captable.css">
<link href="/lib/introjs/introjs.css" rel="stylesheet">
<div class="maincontent">
<div class="container dynamic-page">
    <div modal="capAccess" close="close()" options="shareopts">
        <div class="modalHeader">
            <span>Change Permissions</span>
            <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="close()"></span>
        </div>
        <div class="modalText">
            <form class="capaccess-form">
                <p>Shareholders only see their personal holdings by default,<br> non-shareholders will see the full table unless revoked.</p>
                <div class="cf capaccess-drop">
                    <span>CURRENT</span>
                    <li class="dropdown standard pull-left">

                        <ul class="dropdown-list drop-selector">
                            <li class="dropdown standard">
                                <a class="dropdown-toggle">
                                    {{selectedI.level}}<span class="invisible-drop">'</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <span ng-click="selectVisibility('No View', selectedI)">No View</span>
                                        <span ng-click="selectVisibility('Personal View', selectedI)">Personal View</span>
                                        <span ng-click="selectVisibility('Full View', selectedI)">Full View</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="pull-left standard-button gray">
                <button class="btn" ng-click="close()">Cancel</button>
            </div>
            <div class="standard-button green">
                <button class="btn" ng-click="changeVisibility(selectedI); close();">Change</button>
            </div>
        </div>
    </div>

    <div modal="capEditEmail" close="alterEmailModalClose()" options="opts">
        <div class="modalHeader">
            <span>Edit this row's email?</span>
            <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="alterEmailModalClose()"></span>
        </div>
        <div class="modalText">
            <p>Changing the email address of this row will invite a new email to view the captable. The account
                associated with the old email will no longer be able to see it.
            </p>
            <div class="input-row newEmail">
                <p>Email Address</p>
                <input type="text" ng-model="newEmail">
            </div>

        </div>
        <div class="modal-footer">
            <div class="pull-left standard-button gray">
                <button class="btn" ng-click="alterEmailModalClose()">Cancel</button>
            </div>
            <div class="standard-button green">
                <button class="btn" ng-click="alterEmailModalClose(); alterEmail();">Update and Send</button>
            </div>
        </div>

    </div>


    <div class="row-fluid">
        <div class="span12">

            <div class="row-fluid">
                <div class="subnav-controls">
                    <div>
                        <div class="pull-left back-section">
                            <div class="backbutton" ng-click="gotoPage(lastPage)">
                                <span data-icon="&#xe032;" aria-hidden="true"></span>
                            </div>
                            <div>
                                <span>Back to</span>
                                <span>{{gobackto}}</span>
                            </div>
                        </div>

                        <div class="pull-left">
                            <span>Search</span>
                            <input type="text" class="search-box" ng-model="filterPeople">
                        </div>

                        <div class="box-button pull-right"
                             ng-click="downloadCsv();">
                            <ul>
                                <li> <span data-icon="&#xe007;" aria-hidden="true"></span>

                                </li>
                                <li> <span>CSV Export</span>

                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="DivHelper"></div>
                </div>
            </div>

        </div>
        <div class="span8 recipientInfo docLibrary statusBlock">

            <div class="row-fluid">
                <table class="status-table" ng-show="userStatus.length===0">
                    <tbody class="empty-table">
                    <tr>
                        <td>
                            Welcome! <a href="/app/ownership/company-captable" class="link">Start your cap table</a> and share with investors to view status</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="status-table" ng-show="userStatus.length!==0">
                    <tbody>
                    <tr>
                        <th></th>
                        <th class="shareholder-column" ng-click="setOrder('name')">Shareholder</th>
                        <th ng-click="setOrder('level')">Permission</th>
                        <th ng-click="setOrder('viewedbool')">Status</th>
                        <th></th>
                    </tr>
                    </tbody>
                    <tbody ng-repeat="person in userStatus  | filter: filterPeople  | orderBy: peopleOrder">
                    <tr class="empty-row"></tr>
                    <tr ng-class="{selectedrow:person.shown}">
                        <td class="status-toggle" ng-class="{'status-toggle-on': person.shown}" ng-click="(opendetails(person.email))">
                            <span ng-hide="person.shown" data-icon="&#xe017;" aria-hidden="true"></span>
                            <span ng-show="person.shown" data-icon="&#xe01c;" aria-hidden="true"></span>
                        </td>
                        <td class="shareholder-column">
                            <ul>
                                <li>{{person.name}}</li>
                                <li>{{person.lastlogin | date:(settings.longdate+', yyyy, h:mm a')}}</li>
                            </ul>
                        </td>
                        <td>{{person.level}}</td>
                        <td>
                            <span ng-hide="person.viewed">unviewed</span>
                            <span ng-show="person.viewed">viewed</span>
                        </td>
                        <td>
                            <ul class="dropdown-list">
                                <li class="dropdown standard menu-drop">
                                    <a class="dropdown-toggle">
                                        <span data-icon="&#xe011;" aria-hidden="true"></span>
                                    </a>
                                    <ul ng-hide="toggleView();" class="dropdown-menu">
                                        <li ng-click="modalUp(person);">Edit Permissions</li>
                                        <li ng-hide="person.lastlogin" ng-click="alterEmailModalUp(person.email)">Edit and Resend</li>
                                        <li ng-show="person.lastlogin" ng-click="gotoPerson(person);">View Profile</li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="sub-table" ng-Show="person.shown">
                        <td colspan="5">
                            <table>
                                <tr class="capital-text"><td>Action</td><td>Date</td></tr>
                                <tr>
                                    <td>Delivered</td>
                                    <td>
                                        {{person.received | date:(settings.longdate+', yyyy, h:mm a')}}
                                    </td>
                                </tr>
                                <tr>
                                    <td><span ng-hide="person.lastlogin">Never Logged In</span><span ng-show="person.lastlogin">Last Logged In</span></td>
                                    <td>{{person.lastlogin | date:(settings.longdate+', yyyy, h:mm a')}}</td>
                                </tr>
                                <tr>
                                    <td><span ng-hide="person.viewed">Never Viewed</span><span ng-show="person.viewed">Last Viewed</span></td>
                                    <td>
                                        {{person.viewed | date:(settings.longdate+', yyyy, h:mm a')}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--
                <span class="pointer" ng-click="modalUp(person);">Permissions</span>
                <span class="pointer" ng-hide="person.name" ng-click="alterEmailModalUp(person.email)">Edit and Resend</span>
                -->
            </div>
        </div>

        <div ng-show="lastupdated" class="span4 status-right">
            <div class="row-fluid">

                <div class="info-box">
                    <div class="head-box">
                        <h2>Information</h2>
                    </div>
                    <div class="body-box">
                        <ul class="last-edited">
                            <li>{{lastupdated | date:settings.shortdate}}</li>
                            <li>Last Edited</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <div activity-feed user='navState.userid' type="iss" view="activityView"></div>
            </div>

        </div>
    </div>
</div>

</div>

