<div class="container">

<div class="row-fluid leftTabWindow">
<div ng-class="{leftFullTableBlock:toggleSide()}" class="span8 docLibrary leftBlock">

    <div class="headsection row-fluid">
        <h1>{{selected.name}}</h1>

        <div class="row-fluid">
            <ul class="bodyText maintabs">
                <li class="selectedtab">Ownership</li>
                <a ng-show="grantsview" href="/ownership/investor-grants">
                    <li class="button">Grants</li>
                </a>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="subnav-controls">
        </div>
    </div>

    <div class="row-fluid capcontainer">
        <table class="captable tableView viewcaptable bodyText">
            <tr class="column-label">
                <th colspan="2">Ownership</th>
                <th class="longrow">Shareholder</th>
                <th ng-class="{tranViewSelected:one.state}" class="staticHeaders" ng-repeat="one in issues | issueviewList" ng-click="getActiveIssue(one)">
                    <span>{{one.issue | uneditIssue}}</span>
                </th>
            </tr>
            <!-- Descriptive row viewable from all modes -->
            <tr class="descriptionRow">
                <td class="input-right">Shares</td>
                <td class="input-right">%</td>
                <td></td>
                <td ng-repeat="one in issues">
                    <span>SHARES</span>
                    <span>PAID</span>
                </td>
            </tr>
            <tr ng-repeat="row in rows">
                <td><input class="input-right" disabled value="{{shareSum(row);}}"></td>
                <td ng-show="fullview"><input class="input-right" disabled value="{{sharePercentage(row, rows, issuekeys) | number:3}}%"></td>
                <td ng-hide="fullview"><input class="input-right" disabled value="{{myPercentage(everyone.percentage) | number:3}}%"></td>
                <td ng-class="{tranViewSelected:row.state}" class="viewName" ng-click="getActiveInvestor(row);">{{row.name}}</td>
                <td class="tableFields" ng-class="{tranViewSelected:row[key].state}" ng-repeat="key in issuekeys | orderBy:issueSort">
                    <span class="captablepair-box">
                        <div ng-bind="formatAmount(row[key]['u'])" ng-click="getActiveTransaction(row.name, key)" class="output clickable"></div>
                        <div ng-bind="formatDollarAmount(row[key]['a'])" ng-click="getActiveTransaction(row.name, key)" class="output second clickable"></div>
                    </span>
                </td>
            </tr>
            <!-- Extra row containing all the others -->
            <tr ng-hide="fullview">
                <td><input disabled></td>
                <td><input class="input-right" disabled value="{{everyone.percentage  | number:3}}%"></td>
                <td class="viewName">Other Investors</td>
                <td ng-repeat="key in issuekeys">
                </td>
            </tr>
            <tr ng-show="fullview" class='tablefooter'>
                <td><input class="input-right" disabled value="{{totalShares(rows);}}"></td>
                <td><input class="input-right" disabled value="100%"></td>
                <td></td>
                <td ng-repeat="one in issues">
                    <span class="captablepair-box">
                        <div ng-bind="formatAmount(colTotal(one.issue, rows, 'u'))" class="output footer"></div>
                        <div ng-bind="formatAmount(colTotal(one.issue, rows, 'a'))" class="output second footer"></div>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>

<div ng-class="{rightNoTableBlock:toggleSide()}" class="span4 capright button-offset">
<button type="button" class="btn" ng-model="sideToggle" ng-change="toggleSide();" btn-checkbox>{{sideToggleName}}
</button>
<div class="row-fluid">
<div ng-switch on="sideBar">
<span ng-switch-when="1">
                        <div class="headsection row-fluid">
                            <h2>{{activeIssue.issue}}
                            </h2>

                            <p>Customize terms for this issue</p>
                        </div>
                        <div class="row-fluid trancore">
                            <div class="date-selection">
                                <p>Date {{activeIssue.date  | date:'shortDate'}}
                                </p>
                            </div>
                            <div class="DivHelper"></div>
                        </div>
                        <div class="row-fluid trancore">
                            <div class="capGuide">
                                <div class="rightTitle"><span>Security Type</span>
                                    <span>
                                        {{activeIssue.type}}
                                    </span>
                                </div>
                            </div>
                            <div class="DivHelper"></div>
                        </div>
                        <!-- Equity Tab -->
                        <div class="capGuide" ng-show="trantype(activeIssue.type, 'Equity');">
                            <p ng-show="activeIssue.premoney" class="rightTitle"><span tooltip-placement="top" tooltip="The valuation before taking in money in this round">Pre-Money Valuation</span><input disabled ng-model="activeIssue.premoney"></p>

                            <p ng-show="activeIssue.postmoney" class="rightTitle"><span tooltip-placement="top" tooltip="The sum of the pre-money valuation and the total money paid into this round">Post-Money Valuation</span><input disabled ng-model="activeIssue.postmoney"></p>

                            <p ng-show="activeIssue.ppshare" class="rightTitle"><span tooltip-placement="top" tooltip="The price at which each share was purchased">Share Price</span><input disabled ng-model="activeIssue.ppshare"></p>

                            <p ng-show="activeIssue.totalauth" class="rightTitle"><span tooltip-placement="top" tooltip="The sum total of shares authorized to be issued">Total Authorized</span><input disabled ng-model="activeIssue.totalauth"></p>

                            <p class="rightTitle"><span tooltip-placement="top" tooltip="The minimum return multiple each investor is gauranteed on a liquidity event">Liquidation Preference</span><input disabled ng-model="activeIssue.liquidpref"></p>

                            <p class="rightTitle"><span tooltip-placement="top" tooltip="Allows an investor to collect their liquidation prefence AND stock on a liquidity event">Participating Preferred</span><input disabled ng-model="activeIssue.partpref"></p>

                        </div>
                          <!-- Options Tab -->
                          <div class="capGuide" ng-show="trantype(activeIssue.type, 'Option');">
                              <p ng-show="activeIssue.optundersec" class="rightTitle"><span tooltip-placement="top" tooltip="The security each granted share will convert to upon exercise">Underlying Security</span><input disabled ng-model="activeIssue.optundersec"></p>

                              <p ng-show="activeIssue.totalauth" class="rightTitle"><span tooltip-placement="top" tooltip="The sum total of shares authorized to be issued">Total Authorized</span><input disabled ng-model="activeIssue.totalauth"></p>

                              <p ng-show="totalGranted(activeIssue.issue, trans)" class="rightTitle"><span tooltip-placement="top" tooltip="The sum total of shares granted">Total Granted</span><input disabled value="{{totalGranted(activeIssue.issue, trans);}}">
                              </p>

                              <p ng-show="activeIssue.price"  class="rightTitle"><span tooltip-placement="top" tooltip="The price each granted share can be purchased at when vested">Strike Price</span><input disabled ng-model="activeIssue.price"></p>

                              <p ng-show="activeIssue.terms" class="rightTitle"><span tooltip-placement="top" tooltip="The total number of months until fully vested">Vesting Term (months)</span><input disabled ng-model="activeIssue.terms"></p>

                              <p ng-show="activeIssue.vestingbegins" class="rightTitle"><span tooltip-placement="top" tooltip="The date the vesting cliff percentage becomes vested">Vesting Cliff Date</span><input disabled ng-model="activeIssue.vestingbegins"></p>

                              <p ng-show="activeIssue.vestcliff" class="rightTitle"><span tooltip-placement="top" tooltip="The percentage of granted shares that are considered vested on the cliff date">Vesting Cliff %</span><input disabled ng-model="activeIssue.vestcliff"></p>

                              <p ng-show="activeIssue.vestfreq" class="rightTitle"><span tooltip-placement="top" tooltip="The frequency that granted shares vest after the cliff date, distributed evenly by frequency until the vesting term ends">Post Cliff Frequency</span><input disabled ng-model="activeIssue.vestfreq"></p>
                          </div>

                          <!-- Debt tab -->
                          <div class="capGuide" ng-show="trantype(activeIssue.type, 'Debt');">

                              <p class="rightTitle"><span tooltip-placement="top" tooltip="The valuation before taking in money in this round">Pre-Money Valuation</span><input disabled ng-model="activeIssue.premoney"></p>

                              <p class="rightTitle"><span tooltip-placement="top" tooltip="The sum of the pre-money valuation and the total money paid into this round">Post-Money Valuation</span><input disabled ng-model="activeIssue.postmoney"></p>

                              <p class="rightTitle"><span tooltip-placement="top" tooltip="The annual rate that interest accrues on this debt">Interest Rate</span><input disabled ng-model="activeIssue.interestrate"></p>

                              <p class="rightTitle"><span tooltip-placement="top" tooltip="The maximum pre-money valuation at which the debt notes convert to equity">Valuation Cap</span><input disabled ng-model="activeIssue.valcap"></p>

                              <p class="rightTitle"><span tooltip-placement="top" tooltip="The percentage discount applied to the next round">Discount</span><input disabled ng-model="activeIssue.discount"></p>

                              <p class="rightTitle"><span tooltip-placement="top" tooltip="The term of the note before expiration">Term (months)</span><input disabled ng-model="activeIssue.term"></p>
                          </div>
                      </span>


                      <span ng-switch-when="2">
                        <div class="tabbed headsection row-fluid">
                            <h2>{{activeInvestor}}
                            </h2>

                            <p>Customize terms for this shareholder</p>
                        </div>
                        <tabset class="trantabs">
                            <tab ng-repeat="tran in activeTran" heading="{{tran.date | date:'shortDate'}}" active="tran.active">
                                <div class="row-fluid trancore">
                                    <div>
                                        <p>Date {{tran.date | date:'shortDate'}}
                                        </p>
                                    </div>
                                    <div class="DivHelper"></div>
                                </div>
                                <div class="row-fluid trancore">
                                    <div>
                                        <p ng-hide="tran.forfeited">Shares<input disabled ng-model="tran.units"></p>

                                        <p ng-show="tran.amount">Paid $<input disabled ng-model="tran.amount">
                                        </p>

                                    </div>
                                    <div class="DivHelper"></div>
                                </div>
                                <div ng-show="tran.forfeited" class="row-fluid trancore">
                                    <div>
                                        <p>Shares<input disabled ng-model="tran.units"></p>

                                        <p>Forfeit<input disabled ng-model="tran.forfeited"></p>
                                    </div>
                                    <div class="DivHelper"></div>
                                </div>

                                <!-- Equity Tab -->
                                <div class="capGuide" ng-show="trantype(tran.type, 'Equity');">
                                    <p ng-show="tran.premoney" class="rightTitle"><span tooltip-placement="top" tooltip="The valuation before taking in money in this round">Pre-Money Valuation</span><input disabled ng-model="tran.premoney"></p>

                                    <p ng-show="tran.postmoney" class="rightTitle"><span tooltip-placement="top" tooltip="The sum of the pre-money valuation and the total money paid into this round">Post-Money Valuation</span><input disabled ng-model="tran.postmoney"></p>

                                    <p ng-show="tran.ppshare" class="rightTitle"><span tooltip-placement="top" tooltip="The price at which each share was purchased">Price Per Share</span><input disabled ng-model="tran.ppshare"></p>

                                    <p class="rightTitle">
                                        <span tooltip-placement="top" tooltip="The minimum return multiple each investor is gauranteed on a liquidity event">Liquidation Preference</span>
                                        <input disabled ng-model="tran.liquidpref">
                                    </p>

                                    <p class="rightTitle">
                                        <span tooltip-placement="top" tooltip="Allows an investor to collect their liquidation prefence AND stock on a liquidity event">Participating Preferred</span>
                                        <input disabled ng-model="tran.partpref">
                                    </p>

                                </div>
                                <!-- Option Tab -->
                                <div class="capGuide" ng-show="trantype(tran.type, 'Option');">

                                    <p ng-show="tran.optundersec" class="rightTitle"><span tooltip-placement="top" tooltip="The security each granted share will convert to upon exercise">Underlying Security</span><input disabled ng-model="tran.optundersec"></p>

                                    <p ng-show="tran.price" class="rightTitle"><span tooltip-placement="top" tooltip="The price each granted share can be purchased at when vested">Strike Price</span><input disabled ng-model="tran.price"></p>

                                    <p ng-show="tran.terms" class="rightTitle"><span tooltip-placement="top" tooltip="The total number of months until fully vested">Vesting Term (months)</span><input disabled ng-model="tran.terms"></p>

                                    <p ng-show="tran.vestingbegins" class="rightTitle"><span tooltip-placement="top" tooltip="The date the vesting cliff percentage becomes vested">Vesting Cliff Date</span><input disabled ng-model="tran.vestingbegins"></p>

                                    <p ng-show="tran.vestcliff" class="rightTitle"><span tooltip-placement="top" tooltip="The percentage of granted shares that are considered vested on the cliff date">Vesting Cliff %</span><input disabled ng-model="tran.vestcliff"></p>


                                    <p ng-show="tran.vestfreq" class="rightTitle"><span tooltip-placement="top" tooltip="The frequency that granted shares vest after the cliff date, distributed evenly by frequency until the vesting term ends">Post Cliff Frequency</span><input disabled ng-model="tran.vestfreq"></p>

                                </div>
                                <!-- Debt Tab -->
                                <div class="capGuide" ng-show="trantype(tran.type, 'Debt');">
                                    <p ng-show="tran.premoney" class="rightTitle"><span tooltip-placement="top" tooltip="The valuation before taking in money in this round">Pre Money</span><input disabled ng-model="tran.premoney"></p>

                                    <p ng-show="tran.postmoney" class="rightTitle"><span tooltip-placement="top" tooltip="The sum of the pre-money valuation and the total money paid into this round">Post Money</span><input disabled ng-model="tran.postmoney"></p>

                                    <p ng-show="tran.interestrate" class="rightTitle"><span tooltip-placement="top" tooltip="The annual rate that interest accrues on this debt">Interest Rate</span><input disabled ng-model="tran.interestrate"></p>

                                    <p ng-show="tran.valcap" class="rightTitle"><span tooltip-placement="top" tooltip="The maximum pre-money valuation at which the debt notes convert to equity">Valuation Cap</span><input disabled ng-model="tran.valcap"></p>

                                    <p ng-show="tran.discount" class="rightTitle"><span tooltip-placement="top" tooltip="The percentage discount applied to the next round">Discount</span><input disabled ng-model="tran.discount"></p>

                                    <p ng-show="tran.term" class="rightTitle"><span tooltip-placement="top" tooltip="The term of the note before expiration">Term (months)</span><input disabled ng-model="tran.term"></p>
                                </div>
                            </tab>
                        </tabset>
                      </span>

                      <span ng-switch-when="3">
                        <div class="headsection row-fluid">
                            <h2>{{activeInvestorName}}</h2>

                            <p>Info on this shareholder</p>
                        </div>
                        <span class="capGuide">
                            <p>{{activeInvestorEmail}}</p>
                        </span>
                      </span>
                      <span class="capGuide" ng-switch-default>
                        <h2>View your Ownership</h2>

                        <p>The information to the left contains your company holdings and total percent ownership.
                            Click on the values within the table to reveal additional detail.</p>
                      </span>
</div>
</div>
</div>
</div>
</div>