<div class="container">

<div class="row-fluid leftTabWindow">
<div ng-class="{leftFullTableBlock:toggleSide()}" class="span8 docLibrary leftBlock">

    <div class="headsection row-fluid">
        <h1>{{selected.name}}</h1>

        <div class="row-fluid">
            <ul class="bodyText maintabs">
                <li class="selectedtab">Ownership</li>
                <a ng-show="grantsview" href="/ownership/investor-grants">
                    <li class="button">Grants</li>
                </a>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="subnav-controls">
        </div>
    </div>

    <div class="row-fluid capcontainer">
        <table class="captable tableView bodyText">
            <tr class="column-label">
                <th colspan="2">Ownership</th>
                <th><span class="longrow">Shareholder</span></th>
                <th class="capEditHeaders" ng-repeat="one in issues" ng-click="getActiveIssue(one)">
                    {{one.issue}}
                </th>
            </tr>
            <!-- Descriptive row viewable from all modes -->
            <tr class="descriptionRow">
                <td>Shares</td>
                <td>%</td>
                <td></td>
                <td ng-repeat="one in issues">
                    <span>SHARES</span>
                    <span>PAID</span>
                </td>
            </tr>
            <tr ng-show="fullview" ng-repeat="row in rows">
                <td><input disabled value="{{shareSum(row);}}"></td>
                <td><input disabled value="{{sharePercentage(row, rows, issuekeys) | number:3}}%"></td>
                <td ng-click="getActiveInvestor(row);">{{row.name}}</td>
                <td ng-repeat="key in issuekeys | orderBy:issueSort">

                    <span class="captablepair-box">
                        <div ng-bind="formatAmount(row[key]['u'])" ng-click="getActiveTransaction(row.name, key)" class="output clickable"></div>
                        <div ng-bind="formatAmount(row[key]['a'])" ng-click="getActiveTransaction(row.name, key)" class="output second clickable"></div>
                    </span>
                </td>
            </tr>
            <tr ng-hide="fullview" ng-repeat="row in rows">
                <td><input disabled value="{{shareSum(row);}}"></td>
                <td><input disabled value="{{myPercentage(everyone.percentage) | number:3}}%"></td>
                <td ng-click="getActiveInvestor(row);">{{row.name}}</td>
                <td ng-repeat="key in issuekeys | orderBy:issueSort">
                    <span class="captablepair-box">
                        <div ng-bind="formatAmount(row[key]['u'])" ng-click="getActiveTransaction(row.name, key)" class="output clickable"></div>
                        <div ng-bind="formatAmount(row[key]['a'])" ng-click="getActiveTransaction(row.name, key)" class="output second clickable"></div>
                    </span>
                </td>
            </tr>
            <tr ng-hide="fullview">
                <td><input disabled></td>
                <td><input disabled value="{{everyone.percentage  | number:3}}%"></td>
                <td>Other Investors</td>
                <td ng-repeat="key in issuekeys">
                </td>
            </tr>
            <tr ng-show="fullview" class='tablefooter'>
                <td><input disabled value="{{totalShares(rows);}}"></td>
                <td><input disabled value="100%"></td>
                <td></td>
                <td ng-repeat="one in issues">
                    <span class="captablepair-box">
                        <div ng-bind="formatAmount(colTotal(one.issue, rows, 'u'))" class="output footer"></div>
                        <div ng-bind="formatAmount(colTotal(one.issue, rows, 'a'))" class="output second footer"></div>
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>

<div ng-class="{rightNoTableBlock:toggleSide()}" class="span4 capright button-offset">
<button type="button" class="btn" ng-model="sideToggle" ng-change="toggleSide();" btn-checkbox>{{sideToggleName}}
</button>
<div class="row-fluid">
<div ng-switch on="sideBar">
<span ng-switch-when="1">
                        <div class="headsection row-fluid">
                            <h2><input disabled ui-event="{blur : 'saveIssue(activeIssue, \'issue\')'}"
                                       ng-model="activeIssue.issue"></h2>

                            <p>Customize terms for this issue</p>
                        </div>
                        <div class="row-fluid trancore">
                            <div>
                                <p>Date <input disabled id="{{activeIssue.$$hashKey}}" ng-change="saveIssueCheckDate(activeIssue, 'date')" ui-event="{keydown:'saveIssueCheckDate(activeIssue, \'date\', $event)', blur:'saveIssueCheckDate(activeIssue, \'date\', \'blur\')'}" type="text"
                                               ng-model="activeIssue.date" data-date-format="mm/dd/yyyy" bs-datepicker>
                                </p>
                            </div>
                            <div class="DivHelper"></div>
                        </div>
                        <div class="row-fluid trancore">
                            <div>
                                <div>Security Type
                                    <span ng-show="typeLocked(activeIssue);">
                                        <li class="dropdown standard">
                                            <a class="dropdown-toggle">
                                                {{activeIssue.type}}
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="i in issuetypes">
                                                    <a ng-click="saveIssueAssign(activeIssue, 'type', i)">{{i}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </span>
                                    <span ng-hide="typeLocked(activeIssue);">
                                        {{activeIssue.type}}
                                    </span>
                                </div>
                            </div>
                            <div class="DivHelper"></div>
                        </div>
                        <!-- Equity Tab -->
                        <div class="capGuide" ng-show="trantype(activeIssue.type, 'Equity');">
                            <p class="rightTitle"><span>Pre-Money Valuation</span><input disabled
                                                                                         pattern="[0-9]*(.[0-9]*)*"
                                                                                         ng-class="{'content':!activeIssue.premoney}"
                                                                                         ui-event="{blur : 'saveIssue(activeIssue, \'premoney\')'}"
                                                                                         ng-model="activeIssue.premoney"></p>

                            <p class="rightTitle"><span>Post-Money Valuation</span><input disabled
                                                                                          ng-class="{'content':!activeIssue.postmoney}"
                                                                                          ui-event="{blur : 'saveIssue(activeIssue, \'postmoney\')'}"
                                                                                          ng-model="activeIssue.postmoney"></p>

                            <p class="rightTitle"><span>Share Price</span><input disabled
                                                                                 ng-class="{'content':!activeIssue.ppshare}"
                                                                                 ui-event="{blur : 'saveIssueCheck(activeIssue, \'ppshare\')'}"
                                                                                 ng-model="activeIssue.ppshare"></p>

                            <p class="rightTitle"><span>Total Authorized</span><input disabled
                                                                                      ng-class="{'content':!activeIssue.totalauth}"
                                                                                      ui-event="{blur : 'saveIssue(activeIssue, \'totalauth\')'}"
                                                                                      ng-model="activeIssue.totalauth"></p>

                            <p class="rightTitle"><span>Liquidation Preference</span><input disabled
                                                                                      ng-class="{'content':!activeIssue.liquidpref}"
                                                                                      ng-model="activeIssue.liquidpref"></p>

                            <p class="rightTitle"><span>Participating Preferred</span><input disabled
                                                                                      ng-class="{'content':!activeIssue.partpref}"
                                                                                      ng-model="activeIssue.partpref"></p>

                        </div>
                          <!-- Options Tab -->
                          <div class="capGuide" ng-show="trantype(activeIssue.type, 'Option');">
                              <div class="rightTitle"><span>Underlying Security</span>
                                  <li class="dropdown standard small">
                                      <a class="dropdown-toggle">
                                          {{activeIssue.optundersec}}
                                      </a>
                                  </li>
                              </div>

                              <p class="rightTitle"><span>Total Authorized</span><input disabled
                                                                                        ng-class="{'content':!activeIssue.totalauth}"
                                                                                        ui-event="{blur : 'saveIssue(activeIssue, \'totalauth\')'}"
                                                                                        ng-model="activeIssue.totalauth"></p>

                              <p class="rightTitle"><span>Price</span><input disabled
                                                                             ng-class="{'content':!activeIssue.price}"
                                                                             ui-event="{blur : 'saveIssueCheck(activeIssue, \'price\')'}"
                                                                             ng-model="activeIssue.price"></p>

                              <p class="rightTitle"><span>Total Granted</span><input disabled
                                                                               value="{{totalGranted(activeIssue.issue, trans);}}">
                              </p>

                              <p class="rightTitle"><span>Term (months)</span><input disabled
                                                                                     ng-class="{'content':!activeIssue.terms}"
                                                                                     ui-event="{blur : 'saveIssueCheck(activeIssue, \'terms\')'}"
                                                                                     ng-model="activeIssue.terms"></p>

                              <p class="rightTitle"><span>Vesting Cliff Date</span><input disabled
                                                                                          ng-class="{'content':!activeIssue.vestingbegins}"
                                                                                          id="{{activeIssue.$$hashKey}}"
                                                                                          ng-change="saveIssueCheckDate(activeIssue, 'vestingbegins')"
                                                                                          ui-event="{keydown:'saveIssueCheckDate(activeIssue, \'vestingbegins\', $event)', blur:'saveIssueCheckDate(activeIssue, \'vestingbegins\', \'blur\')'}"
                                                                                          type="text"
                                                                                          ng-model="activeIssue.vestingbegins"
                                                                                          data-date-format="mm/dd/yyyy"
                                                                                          bs-datepicker></p>

                              <p class="rightTitle"><span>Vesting Cliff %</span><input disabled
                                                                                       ng-class="{'content':!activeIssue.vestcliff}"
                                                                                       ui-event="{blur : 'saveIssueCheck(activeIssue, \'vestcliff\')'}"
                                                                                       ng-model="activeIssue.vestcliff"></p>

                              <div class="rightTitle"><span>Post Cliff Frequency</span>
                                  <li class="dropdown standard small">
                                      <a class="dropdown-toggle">
                                          {{activeIssue.vestfreq}}
                                      </a>
                                  </li>
                              </div>
                          </div>

                          <!-- Debt tab -->
                          <div class="capGuide" ng-show="trantype(activeIssue.type, 'Debt');">

                              <p class="rightTitle"><span>Pre-Money Valuation</span><input disabled
                                                                                           pattern="[0-9]*(.[0-9]*)*"
                                                                                           ng-class="{'content':!activeIssue.premoney}"
                                                                                           ui-event="{blur : 'saveIssue(activeIssue, \'premoney\')'}"
                                                                                           ng-model="activeIssue.premoney"></p>

                              <p class="rightTitle"><span>Post-Money Valuation</span><input disabled
                                                                                            ng-class="{'content':!activeIssue.postmoney}"
                                                                                            ui-event="{blur : 'saveIssue(activeIssue, \'postmoney\')'}"
                                                                                            ng-model="activeIssue.postmoney"></p>

                              <p class="rightTitle"><span>Interest Rate</span><input disabled
                                                                                     ng-class="{'content':!activeIssue.interestrate}"
                                                                                     ui-event="{blur : 'saveIssueCheck(activeIssue, \'interestrate\')'}"
                                                                                     ng-model="activeIssue.interestrate"></p>

                              <p class="rightTitle"><span>Valuation Cap</span><input disabled
                                                                                     ng-class="{'content':!activeIssue.valcap}"
                                                                                     ui-event="{blur : 'saveIssueCheck(activeIssue, \'valcap\')'}"
                                                                                     ng-model="activeIssue.valcap"></p>

                              <p class="rightTitle"><span>Discount</span><input disabled
                                                                                ng-class="{'content':!activeIssue.discount}"
                                                                                ui-event="{blur : 'saveIssueCheck(activeIssue, \'discount\')'}"
                                                                                ng-model="activeIssue.discount"></p>

                              <p class="rightTitle"><span>Term (months)</span><input disabled
                                                                                     ng-class="{'content':!activeIssue.term}"
                                                                                     ui-event="{blur : 'saveIssueCheck(activeIssue, \'term\')'}"
                                                                                     ng-model="activeIssue.term"></p>
                          </div>
                      </span>


                      <span ng-switch-when="2">
                        <div class="tabbed headsection row-fluid">
                            <h2>{{activeInvestor}}
                            </h2>

                            <p>Customize terms for this shareholder</p>
                        </div>
                        <tabset class="trantabs">
                            <tab ng-repeat="tran in activeTran" heading="{{tran.date | date:'shortDate'}}" active="tran.active">
                                <div class="row-fluid trancore">
                                    <div>
                                        <p>Date <input disabled id="{{tran.$$hashKey}}" ui-event="{keydown:'saveTranDate(tran, $event)', blur:'saveTranDate(tran, \'blur\')'}" ng-change="saveTranDate(tran)" type="text" ng-model="tran.date" data-date-format="mm/dd/yyyy" bs-datepicker>
                                        </p>
                                    </div>
                                    <div class="DivHelper"></div>
                                </div>
                                <div class="row-fluid trancore">
                                    <div>
                                        <p ng-hide="tran.forfeited">Shares<input disabled
                                                                                 ng-class="{'content':!tran.units}" maxlength="18"
                                                                                 class="signless"
                                                                                 ui-event="{blur : 'saveTran(tran)'}"
                                                                                 ng-model="tran.units"></p>

                                        <p>Paid $<input disabled ng-class="{'content':!tran.amount}"
                                                        maxlength="18" ui-event="{blur : 'saveTran(tran)'}" ng-model="tran.amount">
                                        </p>

                                    </div>
                                    <div class="DivHelper"></div>
                                </div>
                                <div ng-show="tran.forfeited" class="row-fluid trancore">
                                    <div>
                                        <p>Shares<input disabled ng-class="{'content':!tran.units}"
                                                        maxlength="18" class="signless" ui-event="{blur : 'saveTran(tran)'}"
                                                        ng-model="tran.units"></p>

                                        <p>Forfeit<input disabled ng-class="{'content':!tran.units}" maxlength="18" class="signless"
                                                         ui-event="{blur : 'saveTran(tran)'}" ng-model="tran.forfeited"></p>
                                    </div>
                                    <div class="DivHelper"></div>
                                </div>

                                <!-- Equity Tab -->
                                <div class="capGuide" ng-show="trantype(tran.type, 'Equity');">
                                    <p class="rightTitle"><span>Pre Money</span><input disabled pattern="[0-9]*(.[0-9]*)*"
                                                                                       ui-event="{blur : 'saveTran(tran)'}"
                                                                                       ng-model="tran.premoney"></p>

                                    <p class="rightTitle"><span>Post Money</span><input disabled
                                                                                        ui-event="{blur : 'saveTran(tran)'}"
                                                                                        ng-model="tran.postmoney"></p>

                                    <p class="rightTitle"><span>Price Per Share</span><input disabled
                                                                                             ng-class="{'content':!tran.ppshare}"
                                                                                             ui-event="{blur : 'saveTran(tran)'}"
                                                                                             ng-model="tran.ppshare"></p>


                                    <div class="rightTitle"><span>Liquidation Preference</span>
                                        <li class="dropdown standard small">
                                            <a class="dropdown-toggle">
                                                {{tran.liquidpref}}
                                            </a>
                                        </li>
                                    </div>

                                    <div class="rightTitle"><span>Participating Preferred</span>
                                        <li class="dropdown standard small">
                                            <a class="dropdown-toggle">
                                                {{tran.partpref}}
                                            </a>
                                        </li>
                                    </div>

                                </div>
                                <!-- Option Tab -->
                                <div class="capGuide" ng-show="trantype(tran.type, 'Option');">

                                    <div class="rightTitle"><span>Underlying Security</span>
                                        <li class="dropdown standard small">
                                            <a class="dropdown-toggle">
                                                {{tran.optundersec}}
                                            </a>
                                        </li>
                                    </div>

                                    <p class="rightTitle"><span>Price</span><input disabled
                                                                                   ng-class="{'content':!tran.price}"
                                                                                   ui-event="{blur : 'saveTran(tran)'}"
                                                                                   ng-model="tran.price"></p>

                                    <p class="rightTitle"><span>Term (months)</span><input disabled
                                                                                           ng-class="{'content':!tran.terms}"
                                                                                           ui-event="{blur : 'saveTran(tran)'}"
                                                                                           ng-model="tran.terms"></p>

                                    <p class="rightTitle"><span>Vesting Cliff Date</span><input disabled
                                                                                                ng-class="{'content':!tran.vestingbegins}"
                                                                                                id="{{tran.$$hashKey}}"
                                                                                                ui-event="{keydown:'saveTranDate(tran, $event)', blur:'saveTranDate(tran, \'blur\')'}"
                                                                                                ng-change="saveTranDate(tran)"
                                                                                                type="text"
                                                                                                ng-model="tran.vestingbegins"
                                                                                                data-date-format="mm/dd/yyyy"
                                                                                                bs-datepicker></p>

                                    <p class="rightTitle"><span>Vesting Cliff %</span><input disabled
                                                                                             ng-class="{'content':!tran.vestcliff}"
                                                                                             ui-event="{blur : 'saveTran(tran)'}"
                                                                                             ng-model="tran.vestcliff"></p>


                                    <div class="rightTitle"><span>Post Cliff Frequency</span>
                                        <li class="dropdown standard small">
                                            <a class="dropdown-toggle">
                                                {{tran.vestfreq}}
                                            </a>
                                        </li>
                                    </div>

                                </div>
                                <!-- Debt Tab -->
                                <div class="capGuide" ng-show="trantype(tran.type, 'Debt');">
                                    <p class="rightTitle"><span>Pre Money</span><input disabled pattern="[0-9]*(.[0-9]*)*"
                                                                                       ui-event="{blur : 'saveTran(tran)'}"
                                                                                       ng-model="tran.premoney"></p>

                                    <p class="rightTitle"><span>Post Money</span><input disabled
                                                                                        ui-event="{blur : 'saveTran(tran)'}"
                                                                                        ng-model="tran.postmoney"></p>

                                    <p class="rightTitle"><span>Interest Rate</span><input disabled
                                                                                           ng-class="{'content':!tran.interestrate}"
                                                                                           ui-event="{blur : 'saveTran(tran)'}"
                                                                                           ng-model="tran.interestrate"></p>

                                    <p class="rightTitle"><span>Valuation Cap</span><input disabled
                                                                                           ng-class="{'content':!tran.valcap}"
                                                                                           ui-event="{blur : 'saveTran(tran)'}"
                                                                                           ng-model="tran.valcap"></p>

                                    <p class="rightTitle"><span>Discount</span><input disabled
                                                                                      ng-class="{'content':!tran.discount}"
                                                                                      ui-event="{blur : 'saveTran(tran)'}"
                                                                                      ng-model="tran.discount"></p>

                                    <p class="rightTitle"><span>Term (months)</span><input disabled
                                                                                           ng-class="{'content':!tran.term}"
                                                                                           ui-event="{blur : 'saveTran(tran)'}"
                                                                                           ng-model="tran.term"></p>
                                </div>
                            </tab>
                        </tabset>
                      </span>

                      <span ng-switch-when="3">
                        <div class="headsection row-fluid">
                            <h2>{{activeInvestorName}}</h2>

                            <p>Info on this shareholder</p>
                        </div>
                        <span class="capGuide">
                            <p>{{activeInvestorEmail}}</p>
                        </span>
                      </span>
                      <span class="capGuide" ng-switch-default>
                        <h2>View your Ownership</h2>

                        <p>The information to the left contains your company holdings and total percent ownership.
                            Click on the values within the table to reveal additional detail.</p>
                      </span>
</div>
</div>
</div>
</div>
</div>