<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<link type="text/css" rel="stylesheet" href="/ownership/css/captable.css">
<div class="maincontent openflow">
<div class="container dynamic-page doclistFlow">
<div class="row-fluid">
    <section class="statusBlock">
        <div class="row-fluid">
            <div class="subnav-controls">
                <div>
                    <div class="pull-left">
                        <div class="pull-left" >
                            <span>Search</span>
                            <input type="text" class="search-box" ng-model="filterText">
                            
                        </div>
                    </div>
                </div>
                <div class="DivHelper"></div>
            </div>
        </div>

  <!--   text in the window -->
    <div class="row-fluid leftTabWindow">
        <div ng-style="viewportheight" ng-class="{leftFullTableBlock:(!sidebarPage) && hideRail, widthtransition25:oldSafari()}" class="span8 recipeintInfo statusBlock leftBlock">
            <div class="span12">
                <table class="status-table people-table">
                    <tbody>
                    <tr>
                    
                        <th class="button" ng-click="sortBy('name')"><span class="title">Name</span></th>
                        <th class="button" ng-click="sortBy('role')"><span class="title">Subject</span></th>
                        <!-- <th class="button" ng-click="sortBy('groups')"><span class="title">Group</span></th> -->
                        <th></th>
                    <!--     <th></th> -->

                    </tr>
                    </tbody>
                    <tbody>
                    <tr class="empty-row"></tr>

                    <td style="width:350px" class="shareholder-column docname-column"> 

                   <!--  check boxes      -->
            
                        <ul>
                            <li>Name goes here</li>
                           
                        </ul>
                    </td>
                    
                    <td><span>Subject goes here</span></td>
                    <td style="width:10px;">
                    </td>

                        
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <internal-right-rail toggle-side="hideRail" ng-style="viewportheight">
            <tabset style="display:block;" ng-style="viewportheight">
                <tab heading="Filter">
                    <people-filter people="allPeople" filter-param="filterParam"></people-filter>
                </tab>
                <tab heading = "Message Activity">
                    <div style="clear: both;">
                        <message-side></message-side>
                    </div>
                </tab>
                
            </tabset>
        </internal-right-rail>

    </div>


    </section>

</div>

