<link type="text/css" rel="stylesheet" href="/messages/messages.css">
<div class="container dynamic-page">
    <subnav>
        <div class="pull-left" ng-hide="page == 'compose'">
            <span>Search</span>
            <input type="text" ng-model="filterText" class="search-box">
        </div>

        <div class="box-button pull-right"
             ng-click="companyIsZombie() || gotoCompose()"
             tooltip-placement="bottom" tooltip="{{zombiemessage}}">
            <ul>
                <li> <span data-icon="&#xe028;" aria-hidden="true"></span>
                </li>
                <li> <span>Compose</span>
                </li>
            </ul>
        </div>
    </subnav>

    <div class="row-fluid leftTabWindow" ng-style="viewportheight">
        <div ng-show="allThreads == undefined || allThreads.length == 0" class="noElements">
            <div class="toFill">
                You haven't sent or received any messages yet. Click compose to start sending!
            </div>
        </div>
        <div ng-style="viewportheight" ng-class="{leftFullTableBlock: hideRail, widthtransition25:oldSafari()}" class="span8 recipientInfo statusBlock leftBlock" ng-if="allThreads.length > 0">
            <div ng-if="allThreads.length > 0">
                <div class="span12">
                    <table ng-if="!page" class="status-table messages-table">
                        <tbody>
                            <tr>
                                <th class="button"><span class="title">Recipients</span></th>
                                <th class="button"><span class="title">Subject</span></th>
                                <th class="button"><span class="title">Last Activity</span></th>
                            </tr>
                        </tbody>
                        <tbody ng-repeat="allThread in allThreads | filter: filterText  | filter:{hasReplies:true} | orderBy: 'maxTime':true ">
                            <tr class="empty-row"></tr>
                            <tr class="threadMembers" ng-click="gotoThread(allThread.thread_id)">
                                <td>
                                    <div>{{allThread.nameString|limitTo: 45}}<span ng-if="allThread.nameString.length > 45">&hellip;</span><span ng-if="allThread.count > 1">({{allThread.count}})</span></div>
                                </td>
                                <td>
                                    <div><span>{{allThread.subject|limitTo: 50}}</span><span ng-if="allThread.subject.length > 50">&hellip;</span></div>
                                </td>
                                <td>
                                    <div ng-if="allThread.maxTime.getTime() < today()"><span>{{allThread.maxTime | date : settings.date}}</span></div>
                                    <div ng-if="allThread.maxTime.getTime() >= today()"><span>{{allThread.maxTime | date : 'shortTime'}}</span></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table ng-if="page" class="status-table messages-table">
                        <tbody>
                            <tr>
                                <th class="button"><span class="title">Recipients</span></th>
                                <th class="button"><span class="title">Subject</span></th>
                                <th class="button"><span class="title">Date</span></th>
                            </tr>
                        </tbody>
                        <tbody ng-repeat="myRec in myRecs | messageFolderFilter: page | orderBy:'time':true | filter: filterText">
                            <tr class="empty-row"></tr>
                            <tr class="forTooltip" ng-click="gotoThread(myRec.thread_id)">
                                <td>
                                    <div>{{myRec.nameString | limitTo: 50}}<span ng-if="myRec.nameString.length > 50">&hellip;</span>   <span ng-if="myRec.count > 1">({{myRec.count}})</span></div>
                                </td>

                                <td>
                                    <div>
                                        <span>{{myRec.subject | limitTo: 50}}<span ng-if="myRec.subject.length > 50">&hellip;</span></span>
                                    </div>
                                </td>
                                <td>
                                    <div ng-if="myRec.time.getTime() < today()"><span>{{myRec.time | date : settings.date}}</span></div>
                                    <div ng-if="myRec.time.getTime() >= today()"><span>{{myRec.time | date : 'shortTime'}}</span></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <internal-right-rail ng-if="allThreads.length > 0" toggle-side="hideRail" ng-style="viewportheight">
            <tabset style="display:block;" ng-style="viewportheight">
                <tab heading="Filters">
                    <div style="clear: both;">
                        <message-filter page="page"></message-filter>
                    </div>
                </tab>
                <tab heading = "Message Activity">
                    <div style="clear: both;">
                        <message-side height='viewportactivity'></message-side>
                    </div>
                </tab>

            </tabset>
        </internal-right-rail>

    </div>

</div>
