.compose_message {
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    min-height: 700px;
}

.preview-message {
    text-align: left;
    display: block;
    font-family: 'FS Elliot Web Regular', sans-serif;
    color: #2980B9;
    cursor: pointer;
/*    position: absolute;*/
    margin-left: 90px;
    padding-top: 20px;
}

.modal.preview-modal {
    min-height: 400px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 700px;
    max-width: 800px;
    left: 40%;
    background-color: #f1f1f1;
}




.message_elem{
    margin-bottom: 20px;
    max-width: 1000px;
}

.message_info{
    max-width: 1000px;
}

.ta-scroll-window{
    border: 1px solid #E3E3E3;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;


}



 .ta-root.focussed .ta-scroll-window.form-control{
    -webkit-box-shadow: none;
    border: 1px solid #E3E3E3;
    padding: 0px;
}

/*style the inside of the text box*/
 .ta-scroll-window.form-control *{
    font-family: "Helvetica Neue", Helvetica !important;
    color: rgb(141, 141, 141) !important;
}


.ta-editor{
  max-height: 500px;
}

 .btn.active, .btn:active{
  box-shadow: none;
}

.ta-scroll-window.form-control h1{
    font-size: 2em;
    color: rgb(141, 141, 141);
    line-height: 1.231;
    font-weight: bold;
}

.ta-scroll-window.form-control h2{
    font-size: 1.5em;
    color: rgb(141, 141, 141);
    line-height: 1.231;
    font-weight: bold;
}


 .ta-scroll-window.form-control a {
  color: blue !important;
}
 .ta-scroll-window.form-control h3 {
    font-size: 1.17em;
    color: rgb(141, 141, 141);
    line-height: 1.231;
    font-weight: bold;
}

.ta-scroll-window.form-control blockquote  * {
     display: block;
     margin: 0 0 0 40px;   
}


 .ta-scroll-window.form-control blockquote p{
    font-size: 14px;
    font-weight: normal;
}

.ta-scroll-window.form-control blockquote h1{
    font-weight: bold;
}

.ta-scroll-window.form-control blockquote h2 {
    font-weight: bold;
}

.ta-scroll-window.form-control blockquote h3 {
    font-weight: bold;
}

 .ta-scroll-window.form-control ul {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.ta-scroll-window.form-control ul li{
    list-style: disc outside none;
}
.ta-scroll-window.form-control ul ul li{
    list-style-type: circle;
  
}

.ta-scroll-window.form-control ul ul ul li{
    list-style-type: square;
}

.ta-scroll-window.form-control ul ul {
    -webkit-margin-before: 0px !important;
    -webkit-margin-after: 0px !important;  
}


 .btn[disabled]{
    background-color: white;
    color: black;
    border-right: 1px solid #E3E3E3;
}

.btn-group > .btn{
    border-right: 1px solid #E3E3E3;
    border-radius: 0px;
}

/*preview message class*/


.btn-toolbar{
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    border-left: 1px solid #E3E3E3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*
the compose message page styling*/
.message_input {
    display: inline-block;
    width: 76%;
    position: relative;
}

.message_headline{
    display: inline-block;
    width: 7.5%;
    vertical-align: top;
    margin-top: 9px;
    margin-right: 20px;
    color: rgb(30, 45, 61);;
}

.msgsubject{
    padding-top: 4px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px;

}

.msgButtons{
    display: inline-block;
    margin-left: 90px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.msgButtons.left{
  margin-left: 40px;
}

/*preview modal text*/
.msgText * {
    font-family: "Helvetica Neue", Helvetica !important;
    color: rgb(141, 141, 141) !important;
}

.msgText h1 {
    font-size: 2em;
    font-weight: bold;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

}

.msgText h2 {
    font-size: 1.5em;
    font-weight: bold;

}

.msgText h3 {
    font-size: 1.17em;
/*    color: rgb(141, 141, 141);*/
/*    line-height: 1.231;*/
    font-weight: bold;
}

.msgText a {
  color: #15c !important;
}

.msgText blockquote * {
     display: block;
    -webkit-margin-before: 1em ;
    -webkit-margin-after: 1em ;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
} 

.msgText blockquote {
    border: none;
}

.msgText blockquote p {
    font-size: 14px;
    font-weight: normal;
}

.msgText ul {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.msgText ul li{
    list-style: disc outside none;
}

.msgText ul ul li{
    list-style-type: circle;
}

.msgText ul ul ul li{
    list-style-type: square;
}

.msgText ul ul ul {
    -webkit-margin-before: 0px !important;
    -webkit-margin-after: 0px !important;   
}

.msgText ul ul {
    -webkit-margin-before: 0px !important;
    -webkit-margin-after: 0px !important;  
}



.forTooltip div.tooltip-inner{
    max-width: 350px;
    min-width: 200px;
}

.replyInput {
    display: inline-block;
    position: relative;
/*    min-width: 500px;
    max-width: 800px;*/
}

.threadMembers div.tooltip-inner{
    max-width: none;
}

tr.threadMembers, tr.forTooltip {
    cursor: pointer;
}

.shareholder-column.docname-column *:hover{
    color: #666;
}

.noElements{
    text-align: center;
    margin-top: 100px;
}

.noElements .toFill {
    display: inline-block;
    padding: 10px;
    border: 1px dashed #C7C7C7;
}

.messages-table.status-table > tbody > tr > td:first-child {
    padding-left: 20px;
}

.messages-table.status-table > tbody > tr > td:last-child {
    text-align: left;
    padding-left: 0;
}

.messages-table.status-table > tbody > tr > th:first-of-type {
    width: 300px;
}

.messages-table.status-table > tbody > tr > th:last-of-type {
    width: 150px;
}

.replyMessage{
    width: -moz-calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
}

.thread-subject {
    line-height: 40px;
    font-size: 20px;
    color: #1d2c3c;
    font-family: 'FS Elliot Web Light', sans-serif;
    line-height: 90px;
    margin-left: 40px;
}

.message-header-content {
    height: 90px;
    border-bottom: 1px solid #E3E3E3;
    border-top: 1px solid #E3E3E3;
    line-height: 90px;
}

.message-header-content > div:first-of-type {
    display: inline-block;
    width: 400px;
    margin-left: 10px;
}

.message-header-content > div:last-of-type {
    display: inline-block;
    float: right;
    width: 150px;
    line-height: 90px;
}

.message-body-content {
    width: -moz-calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    margin: 20px auto 20px auto;
}

.replyBox {
    width: -moz-calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #E3E3E3;
    padding-top: 20px;
}

.replyBox > .replyInput {
    width: 100%;
}

.replyBox > .replyInput > .standard-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.group-message-text {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
}

.message_input .btn.active {
    color: #333333;
}

.go-to-profile {
    margin-top: 5px;
}

.go-to-profile > span:first-of-type:before {
    vertical-align: -10%;
}

.go-to-profile > span:last-of-type {
    display: inline-block;
    margin-left: 5px;
}

