<link rel="stylesheet" href="/lib/font-awesome-4.1.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/messages/messages.css">
<div class="maincontent openflow">
<div class="container dynamic-page doclistFlow">
<div class="row-fluid">
    <section class="statusBlock">
        <div class="row-fluid">
            <div class="subnav-controls">
                <div>
                    <div class="pull-left" ng-hide="page == 'compose'">
                        <span>Search</span>
                        <input type="text" ng-model="filterText" class="search-box">
                    </div>


                    <div class="box-button pull-right"
                     ng-click="companyIsZombie() || gotoCompose()"
                     tooltip-placement="bottom" tooltip="{{zombiemessage}}">
                        <ul>
                            <li> <span data-icon="&#xe028;" aria-hidden="true"></span>
                            </li>
                            <li> <span>Compose</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="DivHelper"></div>
            </div>
        </div>

  <!--   text in the window -->


    <div ng-show="allThreads == undefined || allThreads.length == 0 && page != 'compose'" class="noElements">
        <div class="toFill">
            You haven't sent or received any messages yet. Click compose to start sending!
        </div>
    </div>


    <div class="row-fluid leftTabWindow">
        <compose-message ng-if="page == 'compose'"></compose-message>

        <div ng-style="viewportheight" ng-class="{leftFullTableBlock: hideRail, widthtransition25:oldSafari()}" class="span8 recipientInfo statusBlock leftBlock" ng-if="page !== 'compose' && allThreads.length > 0">
            <sent-messages ng-if="page == 'sent'"></sent-messages>
            <received-msgs ng-if="page =='received'"></received-msgs>
            <div ng-if="!page && allThreads.length > 0">
            <div class="span12">
                <table class="status-table messages-table">
                    <tbody>
                    <tr>
                        <th class="button"><span class="title">Name</span></th>
                        <th class="button"><span class="title">Subject</span></th>
                    </tr>
                    </tbody>
                    <tbody ng-repeat="allThread in allThreads |filter: filterText | orderBy: 'timex':true ">
                        <tr class="empty-row"></tr>
                        <tr class="threadMembers" ng-click="gotoThread(allThread.thread_id)">
                            <td>
                                <div>{{showString(allThread.nameString)}}<span ng-if="allThread.count > 1">  ({{allThread.count}})</span></div>
                            </td>
                            <td>
                                <div><span>{{showString(allThread.subject)}}</span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>

        </div>

        <internal-right-rail ng-if="allThreads.length > 0" toggle-side="hideRail" ng-style="viewportheight" ng-hide="page=='compose'">
            <tabset style="display:block;" ng-style="viewportheight">
                <tab heading="Filters">
                    <div style="clear: both;">
                        <message-filter page="page"></message-filter>
                    </div>
                </tab>
                <tab heading = "Message Activity">
                    <div style="clear: both;">
                        <message-side></message-side>
                    </div>
                </tab>

            </tabset>
        </internal-right-rail>

    </div>


    </section>

</div>
</div>
</div>
