<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<link type="text/css" rel="stylesheet" href="/ownership/css/captable.css">
<link type="text/css" rel="stylesheet" href="/messages/messages.css">
<div class="maincontent openflow">
<div class="container dynamic-page doclistFlow">
<div class="row-fluid">
 <!--  this is the gray tex twindow -->
    <div class="row-fluid">
        <div class="subnav-controls">
            <div>
                              
              <!--   </div>

             <!--    email button -->
                <div class="box-button pull-right"
                     ng-class="{'disabledme': companyIsZombie(), selected: compose == true}"
                     ng-click="companyIsZombie() || toggleMain()"
                     data-placement="bottom" bs-tooltip="zombiemessage">
                    <ul>
                        <li> <span data-icon="&#xe028;" aria-hidden="true"></span>

                        </li>
                        <li> <span>Compose</span>

                        </li>
                    </ul>
                </div>

                
            </div>
            <div class="DivHelper"></div>
        </div>
    </div>
  <!--   text in the window/directive-->
  <compose-message ng-if= "compose == true"></compose-message>
  <div ng-if="compose == false">This is where the inbox will go</div>
    

</div>



</div>
</div>



