<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<link type="text/css" rel="stylesheet" href="/ownership/css/captable.css">
<link rel="stylesheet" href="/lib/font-awesome-4.1.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/messages/messages.css">
<div class="maincontent openflow">
<div class="container dynamic-page doclistFlow">
<div class="row-fluid">
    <section class="statusBlock">
        <div class="row-fluid">
            <div class="subnav-controls">
                <div>
                    <div class="pull-left" ng-if="!compose">
                        <span>Search</span>
                        <input type="text" class="search-box" ng-model="filterText">
                    </div>
                   
                </div>
                <div class="DivHelper"></div>
            </div>
        </div>

  <!--   text in the window -->
    <div class="row-fluid leftTabWindow">
        <div ng-style="viewportheight" ng-class="{leftFullTableBlock:(!sidebarPage) && hideRail, widthtransition25:oldSafari()}" class="span8 recipeintInfo statusBlock leftBlock">
           <div class="message_info" style="margin-left: 40px">
            <div class="message_input">
                <div text-angular ng-model="message.text" ta-toolbar="[['h1', 'h2', 'h3', 'p', 'bold', 'italics', 'underline', 'ul', 'ol', 'justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent', 'insertLink']]"></div>
            </div>
        </div>
            
        </div>



        <internal-right-rail toggle-side="hideRail" ng-style="viewportheight">
            <tabset style="display:block;" ng-style="viewportheight">
                <tab heading="Information">
                    <div style="clear:both;">
                        <thread-information thread="myThread"></thread-information>
                    </div>
                </tab>
                <tab heading="People">
                    <div style="clear:both;">
                        <div>People will go here</div>
                    </div>
                </tab>
                
            </tabset>
        </internal-right-rail>

    </div>


    </section>

</div>