<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<link type="text/css" rel="stylesheet" href="/ownership/css/captable.css">
<link rel="stylesheet" href="/lib/font-awesome-4.1.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/messages/messages.css">
<div class="maincontent openflow">
<div class="container dynamic-page doclistFlow">
<div class="row-fluid">
        <div class="row-fluid">
            <div class="subnav-controls">
                <div class="DivHelper"></div>
            </div>
        </div>

  <!--   text in the window -->
    <div class="row-fluid leftTabWindow">
        <div ng-style="viewportheight" ng-class="{leftFullTableBlock:(!sidebarPage) && hideRail, widthtransition25:oldSafari()}" class="span8 recipeintInfo statusBlock leftBlock">
            <div class="replyMessage" ng-repeat="myThread in myThreads">
                <div class="replySide">
                    <img ng-src="{{getPhotoUrl(myThread.sender)}}" class="replyPic">
                   <!--  this should be who the message is from -->
                   <div ng-if="myThread.senderName !== undefined">{{myThread.senderName}}</div>
                    <div>{{myThread.time |date :'MMM d, y h:mm a' }}</div>
                </div>
                <div class="replyInput" style="width: 70%">
                    <div ng-bind-html="myThread.message"></div>
                </div>    
            </div>

            <div class="replyMessage">
                <div class="replySide"> 
                    <img ng-src="{{getPhotoUrl(navState.userid)}}" class="replyPic">
                    <div>{{navState.name}}</div>
                </div>
                <div class="replyInput" style="width: 70%">
                    <div text-angular ng-model="message.text" ta-toolbar="[['h1', 'h2', 'h3', 'p', 'bold', 'italics', 'underline', 'ul', 'ol', 'justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent', 'insertLink']]"></div>
                </div>
                <div style="margin-top: 20px; margin-bottom: 20px">
                    <div style="display: inline-block; width: 220px; visibility: hidden">
                    this is a placeholder for spacing purposes
                    </div>
                    <div class="replyInput">
                        <div class="standard-button">
                            <button class="btn" ng-class="{'disabledButton': companyIsZombie() || !readyToSend(message)}"
                            ng-click="replyMessage(message)">
                                Reply All
                            </button>
                        </div>
                    </div>
                </div>
            </div>           
        </div>



        <internal-right-rail toggle-side="hideRail" ng-style="viewportheight">
            <tabset style="display:block;" ng-style="viewportheight">
                <tab heading="People">
                    <div style="clear:both;">
                        <thread-people threads="myThreads" investors = "myInvestors"></thread-people>
                    </div>
                </tab>
                
            </tabset>
        </internal-right-rail>

    </div>


</div>