<div ng-class="{'redrequired':annot.required, 'greenrequired':annot.filled(navState.role, prepareFor), 'signature': annot.whattype == 'Signature', 'imagesignature': annot.whattype == 'ImgSignature', 'processing':signatureprocessing, 'otherperson': !annot.forRole(navState.role)}" class="sticky row-fluid draggable" ng-style="annotationCoordsStyle">
    <span class="dragger" ng-if="annot.type != 'highlight'" ng-show="isAnnotable && investorFixed() && !doc.countersignable(navState.role)" ng-mousedown="mousedown($event);">
        <span><span data-icon="&#xe11a;"></span></span>
    </span>
    <span class="close-button" ng-show="isAnnotable && investorFixed() && !doc.countersignable(navState.role)" ng-mousedown="$event.stopPropagation();"  ng-click="closeMe(); $event.stopPropagation()">
        <span data-icon="&#xe00f;"></span>
    </span>
    <div>
        <fieldset ng-if="(doc.when_signed && !doc.when_countersigned && annot.isCountersign()) || ((!doc.when_signed || doc.when_countersigned) && annot.type != 'highlight')" ng-click="openBox() && $event.stopPropagation();" ng-mousedown="$event.stopPropagation();" ng-mouseenter="boxHover = true" ng-mouseleave="boxHover = false">
            <div class="textarea-container" ng-hide="(enumBoxMode() || dateBoxMode()) && (boxHover || active.annotation == annot)">
                <textarea wrap="hard" ng-class="{'roundedcorners': navState.role=='investor'}"
                          ng-trim="false" ng-disabled="doc.countersignable(navState.role)"
                          placeholder="{{current.placeholder}}"
                          ng-readonly="!annot.forRole(navState.role) || annot.type_info.typename == 'date' || annot.type == 'date' || annot.type_info.typename == 'enum'"
                          ng-keyup="addLineBreaks($event)" ng-model="current.val" style="resize:none"
                          class="row-fluid" ng-style="annotationSizeStyle"
                          ng-hide="(annot.whattype == 'ImgSignature') && annot.forRole(navState.role)"/>
                <img ng-style="annotationSizeImageStyle" ng-show="(annot.whattype == 'ImgSignature') && annot.forRole(navState.role)" src="{{signatureURL(annot)}}"></img>
            </div>
            <div ng-if="enumBoxMode()" ng-show="boxHover || active.annotation == annot">
                <select class="height-force" ui-select2 ng-model="current.val" ng-style="annotationSizeStyle" placeholder="{{current.placeholder}}">
                    <option></option>
                    <option ng-repeat="label in annot.type_info.labels" value="{{label}}">{{label}}</option>
                </select>
            </div>
            <div ng-if="dateBoxMode()" ng-show="boxHover || active.annotation == annot">
                <input type="text" ng-model="current.val" bs-datepicker date-type="string" date-format="{{$root.settings.lowercasedate}}" ng-style="annotationSizeStyle" ng-click="setDatepickerCurrent($event)" placeholder="{{current.placeholder}}">
            </div>
        </fieldset>
        <fieldset ng-if="(doc.when_signed && !doc.when_countersigned && !annot.isCountersign()) || ((!doc.when_signed || doc.when_countersigned) && annot.type == 'highlight')">
            <div ng-class="{'roundedcorners': navState.role=='investor'}" ng-trim="false" style="resize:none" ng-mousedown="$event.stopPropagation(); openBox();" class="row-fluid" ng-style="annotationHighlightStyle">
            </div>
        </fieldset>
        <span class="sticky-menu" ng-mousedown="$event.stopPropagation();" ng-if="navState.role == 'issuer' && getme && active.annotation == annot && !prepareFor">
            <ul>
                <li>
                    <ul>
                        <li>
                            <span>Annotation Name</span>
                        </li>
                        <input class="annotation-dropdown" ui-select2="select2NameOptions" ng-model="annot.whattypesetter" ng-model-options="{getterSetter: true}" placeholder="{{annot.whattype}}">
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <span>Annotation Type</span>
                        </li>
                        <input class="annotation-dropdown" ui-select2="select2TypeOptions" ng-model="annot.typesetter" ng-model-options="{getterSetter: true}" placeholder="{{annot.type}}">
                    </ul>
                </li>
                <li ng-if="annot.type != 'highlight'">
                    <ul>
                        <li>
                            <span>To be completed by</span>
                        </li>
                        <li>
                            <ul class="dropdown-list drop-selector">
                                <li class="dropdown standard">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        {{(annot.forRole(navState.role) ? navState.name : 'Recipient')}}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a ng-click="setSign(this, 'Investor')" class="button">Recipient</a>
                                        </li>
                                        <li>
                                            <a ng-click="setSign(this, 'Issuer')" class="button">{{navState.name}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="content-section" ng-if="(annot.type_info.typename == 'date' || annot.type == 'date' || annot.type == 'number' || annot.type_info.typename == 'enum' || annot.type == 'highlight') && annot.forRole(navState.role)">
                    <ul>
                        <li>
                            <span>Contents <span ng-if='["int8", "int4", "float8"].indexOf(annot.type_info.typename) != -1'>(Digits only)</span>
                        </li>
                        <li ng-if="annot.type == 'highlight' && annot.type_info.typename != 'date' && annot.type_info.typename != 'enum'">
                            <div class="textarea-container">
                                <textarea id="highlightContents" wrap="hard" class="highlightContents" ng-trim="false" ng-model="current.val"/>
                            </div>
                        </li>
                        <li ng-if="annot.type_info.typename == 'date'">
                            <input type="text" ng-model="current.val" bs-datepicker date-type="string" date-format="{{$root.settings.lowercasedate}}">
                        </li>
                        <li ng-if="annot.type == 'date'">
                            <input type="text" ng-model="current.raw_val" bs-datepicker date-format="{{$root.settings.lowercasedate}}">
                        </li>
                        <li ng-if="annot.type == 'number'">
                            <input type="text" ng-model="current.raw_val" integer>
                        </li>
                        <li ng-if="annot.type_info.typename == 'enum'">
                            <select ui-select2 ng-model="current.val" placeholder="{{current.placeholder}}">
                                <option></option>
                                <option ng-repeat="label in annot.type_info.labels" value="{{label}}">{{label}}</option>
                            </select>
                        </li>
                    </ul>
                </li>
                <li class="content-section" ng-if="annot.type == 'date' || annot.type == 'number'">
                    <ul>
                        <li>
                            <span>Format</span>
                        </li>
                        <li>
                            <input ui-select2="select2FormatOptions[annot.type]" ng-model="annot.format">
                        </li>
                    </ul>
                </li>
                <li ng-if="annot.type != 'highlight'">
                    <ul class="required-row">
                        <li>
                            <button ng-class="{'selected':annot.required}" ng-click="annot.required = !annot.required" class="check-box-button" ng-disabled="annot.type_info.required"><span data-icon="&#xe023;" aria-hidden="true"></span></button>
                        </li>
                        <li class="required-text">
                            Required?
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <div class="standard-button">
                                <button ng-click="closeBox(this)" class="btn">Close</button>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </span>
    </div>
</div>
