<div ng-class="{'redrequired':annot.required, 'greenrequired':annot.filled(user.signaturePresent, navState.role), 'signature': annot.whattype == 'Signature', 'imagesignature': annot.whattype == 'ImgSignature', 'mysignature': annot.forRole(navState.role), 'processing':signatureprocessing, 'otherperson': !annot.forRole(navState.role)}" class="sticky row-fluid draggable" ng-style="annotationCoordsStyle">
    <span class="dragger" ng-if="annot.type == 'text'" ng-show="isAnnotable && investorFixed() && !doc.countersignable(navState.role)" ng-mousedown="mousedown($event);">
        <span><span data-icon="&#xe11a;"></span></span>
    </span>
    <span class="close-button" ng-show="isAnnotable && investorFixed() && !doc.countersignable(navState.role)" ng-mousedown="$event.stopPropagation();"  ng-click="closeMe(); $event.stopPropagation()">
        <span data-icon="&#xe00f;"></span>
    </span>
    <div>
        <fieldset ng-if="annot.type == 'text'" ng-click="$event.stopPropagation();" ng-mousedown="$event.stopPropagation();">
            <div class="textarea-container" ng-if="!(enumBoxMode() || dateBoxMode())">
                <textarea wrap="hard" ng-class="{'roundedcorners': navState.role=='investor'}"
                          ng-trim="false" ng-disabled="doc.countersignable(navState.role)"
                          placeholder="{{(annot.forRole(navState.role) ? navState.name : 'Recipient') + ' ' + annot.type_info.display}}"
                          ui-event="{focus : 'openBox(this, $event)'}" style="resize:none"
                          ng-keyup="addLineBreaks($event)" ng-model="annot.val"
                          class="row-fluid" ng-style="annotationSizeStyle"/>
            </div>
            <div ng-if="enumBoxMode()">
                <select ui-select2="select2Options" ng-model="annot.val" ng-style="annotationSizeStyle">
                    <option></option>
                    <option ng-repeat="label in annot.type_info.labels" value="{{label}}">{{label}}</option>
                </select>
            </div>
            <div ng-if="dateBoxMode()">
                <input type="text" ng-model="annot.val" bs-datepicker date-type="string" date-format="{{$root.settings.lowercasedate}}" ng-style="annotationSizeStyle">
            </div>
        </fieldset>
        <fieldset ng-if="annot.type == 'highlight'" >
            <div ng-class="{'roundedcorners': navState.role=='investor'}" ng-trim="false" style="resize:none" ng-mousedown="$event.stopPropagation(); openBox();" class="row-fluid" ng-style="annotationHighlightStyle">
            </div>
        </fieldset>
        <span class="sticky-menu" ng-mousedown="$event.stopPropagation();" ng-if="navState.role == 'issuer' && getme && active.annotation == annot">
            <ul>
                <li ng-if="annot.type == 'text'">
                    <ul>
                        <li>
                            <span>To be completed by</span>
                        </li>
                        <li>
                            <ul class="dropdown-list drop-selector">
                                <li class="dropdown standard">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        {{(annot.forRole(navState.role) ? navState.name : 'Recipient')}}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a ng-click="setSign(this, 'Investor')" class="button">Recipient</a>
                                        </li>
                                        <li>
                                            <a ng-click="setSign(this, 'Issuer')" class="button">{{navState.name}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <span>Annotation Type</span>
                        </li>
                        <select ui-select2="select2Options" ng-model="annot.whattype">
                            <option ng-repeat="type in doc.annotation_types | filter: unusedType" value="{{type.name}}">{{type.display}}</option>
                        </select>
                    </ul>
                </li>
                <li ng-if="(annot.type_info.typename == 'date' || annot.type_info.typename == 'enum' || annot.type == 'highlight') && annot.forRole(navState.role)">
                    <ul>
                        <li>
                            <span>Contents</span>
                        </li>
                        <li ng-if="annot.type == 'highlight' && annot.type_info.typename != 'date' && annot.type_info.typename != 'enum'">
                            <div class="textarea-container">
                                <textarea id="highlightContents" wrap="hard" class="highlightContents" ng-trim="false" ng-model="annot.val"/>
                            </div>
                        </li>
                        <li ng-if="annot.type_info.typename == 'date'">
                            <input type="text" ng-model="annot.val" bs-datepicker date-type="string" date-format="{{$root.settings.lowercasedate}}">
                        </li>
                        <li ng-if="annot.type_info.typename == 'enum'">
                            <select ui-select2="select2Options" ng-model="annot.val">
                                <option></option>
                                <option ng-repeat="label in annot.type_info.labels" value="{{label}}">{{label}}</option>
                            </select>
                        </li>
                    </ul>
                </li>
                <li ng-if="annot.type == 'text'">
                    <ul class="required-row">
                        <li>
                            <button ng-class="{'selected':annot.required}" ng-click="annot.required = !annot.required" class="check-box-button" ng-disabled="annot.type_info.required"><span data-icon="&#xe023;" aria-hidden="true"></span></button>
                        </li>
                        <li class="required-text">
                            Required?
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <div class="standard-button">
                                <button ng-click="closeBox(this)" class="btn">Close</button>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </span>
    </div>
</div>
