<div class="annotation-pages" ng-repeat="page in doc.pages | orderBy: 'page'" ng-if="annotated(page)">
    <h6 data-icon="&#xe009;" ng-click="page_visible[page.page] = !(page_visible[page.page] == undefined || page_visible[page.page])"> Page {{page.page}}</h6>
    <div ng-repeat="annotation in doc.annotations | filter: {page: page.page} : true | orderBy: 'position.coords.y'">
        <div data-icon="&#xe60d;" class="annotmark"
         ng-class="{mine: annotation.forRole(navState.role), complete: annotation.filled(user.signaturePresent, navState.role), incomplete: (annotation.required && !annotation.filled(user.signaturePresent, navState.role)), active: annotation == active.annotation}"
         ng-if="(page_visible[page.page] == undefined || page_visible[page.page])&&(annotation.type == 'text')"
         ng-click="(doc.currentPage = page.page) && (annotation.focus = true)">
            {{annotation.type_info.display}}
        </div>
        <div data-icon="&#xe60f;" class="annotmark"
         ng-class="{mine: annotation.forRole(navState.role), complete: annotation.filled(user.signaturePresent, navState.role), incomplete: (annotation.required && !annotation.filled(user.signaturePresent, navState.role)), active: annotation == active.annotation}"
         ng-if="(page_visible[page.page] == undefined || page_visible[page.page])&&(annotation.type == 'highlight')"
         ng-click="(doc.currentPage = page.page) && (annotation.focus = true)">
            {{annotation.type_info.display}}
        </div>
    </div>
</div>
