<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<script src="/cmn/spin.js"></script>
<div class="company-list maincontent openflow">
<div class="container dynamic-page doclistFlow">
<div class="row-fluid">
    <div class="row-fluid">
        <div class="subnav-controls doclist-controls">
            <div>
                <div class="pull-left" ng-hide="!state.hideSharebar" ng-animate="{show:'fadeShow', hide:'fadeHide'}"> <span>View By</span>
                    <ul class="dropdown-list drop-selector">
                        <li class="dropdown standard"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ viewBy | viewByPrinter }}
                        </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ng-click="setViewBy('document')" class="button">Document</a>
                                </li>
                                <li>
                                    <a ng-click="setViewBy('name')" class="button">Recipient</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="pull-left checkboxitem" ng-animate="{show:'fadeShow', hide:'fadeHide'}">
                    <span>Hide Completed</span>
                    <button class="check-box-button" ng-class="{'selected':state.maxRatio===2}" ng-click="toggleMaxRatio()">
                        <span data-icon="&#xe023;" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="pull-left checkboxitem" ng-animate="{show:'fadeShow', hide:'fadeHide'}">
                    <span>Show Archived</span>
                    <button class="check-box-button" ng-class="{'selected':state.show_archived==true}" ng-click="toggleArchived();">
                        <span data-icon="&#xe023;" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="pull-left"> <span>Search</span>
                    <input type="text" class="search-box" ng-model="state.query">
                </div>
                <div class="box-button pull-right"
                     ng-class="{selected:!state.hideSharebar, 'disabledme': companyIsZombie()}"
                     ng-show="documents.length!==0"
                     ng-click="companyIsZombie() || toggleSide();"
                     data-placement="bottom" bs-tooltip="zombiemessage">
                    <ul>
                        <li> <span data-icon="&#xe604;" aria-hidden="true"></span>

                        </li>
                        <li> <span>Share</span>

                        </li>
                    </ul>
                </div>
                <div class="box-button pull-right"
                     ng-class="{selected: uploadModal, 'disabledme': companyIsZombie()}"
                     ng-click="companyIsZombie() || modals.documentUploadOpen();"
                     data-placement="bottom" bs-tooltip="zombiemessage">
                    <ul>
                        <li> <span data-icon="&#xe053;" aria-hidden="true"></span>
                        </li>
                        <li> <span>Add Files</span>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="DivHelper"></div>
        </div>
    </div>
</div>
<div class="row-fluid leftTabWindow">
<div ng-style="viewportheight" ng-class="{leftFullTableBlock:state.hideSharebar, widthtransition25:oldSafari()}"
     class="span8 recipientInfo statusBlock leftBlock">
<div class="row-fluid listcontainer">
<table class="status-table" ng-show="documents.length===0 && viewBy==='document'">
    <tbody class="empty-table">
    <tr>
        <td>
            <div my-loading-spinner="!finishedLoading">
                <span>Welcome! </span><span class="link" ng-click="modals.documentUploadOpen();">Upload a document</span><span> to get started.</span>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<table class="status-table" ng-show="!investorDocs && viewBy==='name'" >
    <tbody class="empty-table">
    <tr>
        <td>
            <!-- todo update ng-click --> <span>Welcome! </span><span class="link" ng-click="multishareOpen();">Share a document</span><span> to get started.</span>
        </td>
    </tr>
    </tbody>
</table>
<table class="status-table" ng-show="documents.length!==0 && viewBy==='document'" infinite-scroll="loaddocs()" infinite-scroll-distance="0" infinite-scroll-disabled="loadingDocs" infinite-scroll-container="scrollParent">
    <tbody>
    <tr>
        <th colspan="2" style="width: 40%" class="left doc-name-header" ng-click="setOrder('docname')">Document Name</th>
        <th colspan="2" style="width: 20%" ng-hide="!state.hideSharebar" ng-animate="{show:'fadeShow', hide:'fadeHide'}"
            class="left doc-status-header" ng-click="setOrder('statusRatio')">Status</th>
        <th colspan="2">Tags</th>
    </tr>
    </tbody>
    <tbody document-summary-row doc="doc" view-state="state" modals="modals" ng-repeat="doc in documents | filter:searchFilter | orderBy:docOrder" class="animate">
    </tbody>
</table>
<table class="status-table" ng-show="investorDocs && viewBy==='name'" infinite-scroll="loaddocs()" infinite-scroll-distance="0" infinite-scroll-disabled="loadingDocs" infinite-scroll-container="scrollParent">
    <tbody>
    <tr>
        <th colspan="2" class="left doc-name-header" ng-click="setInvestorOrder('display_name')">Name</th>
        <th colspan="2" class="left doc-status-header" ng-click="setInvestorOrder('statusRatio')">Status</th>
        <th></th>
    </tr>
    </tbody>
    <tbody document-summary-row view-state="state" doc="investor" modals="modals" ng-repeat="investor in investorDocs | filter:searchFilter | orderBy:investorOrder" class="animate">
    </tbody>
</table>
</div>
</div>

<!-- this is where you share a document -->
<div ng-style="viewportheight" ng-show="!state.hideSharebar" ng-class="{rightNoTableBlock:state.hideSharebar,
                showSharebar:!state.hideSharebar,
                slidingcss25:oldSafari()}" class="side-content span4 capright button-offset">
    <h2 class="right-bar-header">SHARE DOCUMENTS</h2>
    <p>To share documents, check which documents you would like to share then add your contacts and a message below.</p>
    <div class="shareForm">
        <div class="sharepeople-input">
            <input ui-select2="sharingSelect2Options" ng-model="sharingemail" ng-change="addShareEmail(sharingemail); sharingemail = ''">
        </div>
        <ul class="recipients">
            <li ng-repeat="investor in ShareDocs.emails">
                <span ng-class="{'incomplete-name': ShareDocs.emailNotPreparedCache(investor)}" class="investor-name" ng-click="expandShareList[investor] = !expandShareList[investor]">
                    <span class="lower-icon" data-icon="&#xe031;" ng-show="expandShareList[investor]"></span>
                    <span class="lower-icon" data-icon="&#xe034;" ng-hide="expandShareList[investor]"></span>
                    <span class="investor-name-display">{{getInvestorDisplay(investor)}}</span>
                    <a ng-click="removeShareEmail(investor)"><span data-icon="&#xe00f;" class="remove-icon"></span></a>
                </span>
                <ul class="doc-list" ng-show="expandShareList[investor]">
                    <li ng-repeat="doc in ShareDocs.documents">
                        <a ng-if="doc.signature_flow > 0" href="/app/documents/company-view?doc={{doc.doc_id}}&investorid={{encodeURIComponent(investor)}}"
                           ng-class="{'incomplete': ShareDocs.prepCache[doc.doc_id][investor] === false}">
                            <span>{{doc.docname}}</span>
                            <span ng-if="ShareDocs.prepCache[doc.doc_id][investor] === true" data-icon="&#xe052;"></span>
                        </a>
                        <a ng-if="!(doc.signature_flow > 0)">
                            <span>{{doc.docname }}</span>
                            <span data-icon="&#xe001;"></span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <textarea class="email-text" rows="4" cols="60" ng-model="ShareDocs.message" placeholder="Add an optional message&hellip;"></textarea>
        <div class="controls" my-loading-spinner="processing">
            <div class="standard-button pull-right">
                <button class="btn"
                        ng-if="!companyIsZombie()"
                        ng-click="shareDocuments()"
                        ng-disabled="processing || checkmany(docShareState.emails, docShareState.doclist, true)
                                      || !ShareDocs.docsReadyToShare()">
                    Share Documents
                </button>
            </div>
             <span class="pull-right pointer" ng-click="toggleSide();">
                 Cancel
             </span>
        </div>
    </div>
</div>
</div>

<div modal="documentUploadModal" close="modals.documentUploadClose()" options="doubleopts">
    <div class="modal-title">
        <div class="row-fluid">
            <div class="span4">
                <div class="modalText documentUploadFileInputs">
                        <input multiple type="file" class='file'
                            accept=".pdf,.doc,.docx,.ppt,.pptx,.odt,.odp,.odi,.png,.tiff,.jpg,.txt,.rdf"
                            onchange="angular.element(this).scope().setFiles(this);"/>
                        <div class="documentUpload fakefile">
                            <div class="standard-button green">
                                <button class="btn">Choose</button>
                            </div>
                        </div>
                </div>
            </div>
            <div class="span8">
                <div class="modalText documentUploadText container">
                    <div class="modalText documentUploadText header">
                        <span>UPLOAD DOCUMENTS</span>
                    </div>
                    <div class="modalText documentUploadText">
                        <span>Please select any document, presentation or image (20MB max per file)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="twoPieceModal body">
        <div class="row-fluid">
            <div class="span linkDropboxModalSpan smaller">
                <img src="/img/ike-dropbox.png">
            </div>
            <div class="span linkDropboxModalSpan larger">
                <div class="modalText linkDropboxModalText header greenLabel">
                    <span>DID YOU KNOW YOU CAN ALSO...</span>
                </div>
                <div class="modalText linkDropboxModalText header">
                    <span>Use Dropbox to upload your documents</span>
                </div>
                <div class="modalText linkDropboxModalText" ng-show="access_token==0">
                    <span>Start by linking your Dropbox account with the link below.</span>
                </div>
                <div class="modalText linkDropboxModalText" ng-show="access_token>0">
                    <span>Place the file in the uploads folder in your Dropbox, and we'll upload it.</span>
                </div>
                <div class="modalText linkDropboxModalText" ng-show="access_token==0">
                    <p class='blue-link'><span ng-click="modals.exportLinkDropboxClose(); startOauth('dropbox', null, null);">Link Now</span>&nbsp;<span data-icon="&#xe016;" aria-hidden="true"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div modal="updateTitleModal" close="modals.updateTitleClose()" options="opts">
    <div class="modalHeader">
        <span>Rename Document</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="modals.updateTitleClose()"></span>
    </div>
    <div class="modalText updateTitleModal">
        <input ng-model="docForModal.tempName" type="text">
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="modals.updateTitleClose()">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="updateTitle()" ng-disabled="docForModal.tempName.length < 1">Confirm
            </button>
        </div>
    </div>
</div>
<div modal="updateTagsModal" close="modals.updateTagsClose()" options="wideopts">
    <div class="tagsModalHeader modalHeader">
        <span>{{docForModal.docname | caplength:50}} Tags</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="modals.updateTagsClose()"></span>
    </div>
    <div class="modalText tagsModal">
        <div>
            <ul>
                <li>Type a tag name and press "enter" or "," to add. Click the X to remove.</li>
            </ul>
        </div>
        <div>
            <bootstrap-tagsinput ng-model="docForModal.new_tags"
                                 typeahead-source="getAvailableTags"
                                 tagClass="getTagClass">
            </bootstrap-tagsinput>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="modals.updateTagsClose()">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="updateTags(docForModal);">
                Confirm
            </button>
        </div>
    </div>
</div>
<div modal="retractDocModal" close="modals.retractVersionClose()" options="opts" class="updateTitleModal">
    <div class="modalHeader">
        <span>Retract Document</span>
        <span class="close" data-icon="&#xe00f;" aria-hiddden="true" ng-click="modals.retractVersionClose()"></span>
    </div>
    <div class="modalText deleteDocModal retractModal">
        <span>Are you sure you want to retract {{docForModal.docname}} from {{docForModal.name || docForModal.investor}}?</span>

        <div>
            <ul class="checkboxOption">
                <li class="pull-left">
                    <button class="check-box-button" ng-class="{'selected':modalArchive}" ng-click="modalArchive = !modalArchive">
                        <span data-icon="&#xe023;" aria-hidden="true"></span>
                    </button>
                </li>
                <li class="pull-left">
                    <span>Archive from library</span>
                </li>
            </ul>
        </div>
    </div>


    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="modals.retractVersionClose()">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="retractVersion(docForModal, modalArchive); retractVersionClose();">Confirm</button>
        </div>
    </div>
</div>

<div modal="deleteDocModal" close="modals.deleteDocClose()" options="opts" class="updateTitleModal">
    <div class="modalHeader">
        <span>Delete Document</span>
        <span class="close" data-icon="&#xe00f;" aria-hiddden="true" ng-click="modals.deleteDocClose()"></span>
    </div>
    <div class="modalText deleteDocModal">
        <span>Are you sure you want to delete </span>
        <span>{{docForModal.docname}}?</span>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="modals.deleteDocClose()">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="reallyDeleteDoc(docForModal); modals.deleteDocClose();">Confirm</button>
        </div>
    </div>
</div>

<div modal="exportLinkDropboxModal" close="modals.exportLinkDropboxClose()" options="verywideopts">
    <div class="modalText linkDropboxModal">
        <div class="row-fluid">
            <div class="span linkDropboxModalSpan smaller">
                <img src="/img/ike-dropbox.png">
            </div>
            <div class="span linkDropboxModalSpan larger">
                <div class="modalText linkDropboxModalText header greenLabel">
                    <span>EXPORT TO DROPBOX</span>
                </div>
                <div class="modalText linkDropboxModalText header">
                    <span>You haven't linked your dropbox yet!</span>
                </div>
                <div class="modalText linkDropboxModalText">
                    <span>Click the link below to connect now.</span>
                </div>
                    <p class='blue-link'><span ng-click="modals.exportLinkDropboxClose(); startOauth('dropbox', docForModal, roleForModal);">Link Now</span>&nbsp;<span data-icon="&#xe016;" aria-hidden="true"></span></p>
            </div>
        </div>
    </div>
</div>

<div modal="voidDocModal" close="modals.voidDocClose()" options="opts" class="updateTitleModal">
    <div class="modalHeader">
        <span>Void Document</span>
        <span class="close" data-icon="&#xe00f;" aria-hiddden="true" ng-click="modals.voidDocClose()"></span>
    </div>
    <div class="modalText voidDocModal">
        <span>Voiding a document will nullify the agreement, as if it had never existed. Your confirmation will send a void request to the other party, who must also agree to void the document before the process is complete.</span>

        <div class="message-block">
            <span>Message</span>
            <textarea rows="4" cols="60" ng-model="voidText"></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="modals.voidDocClose()">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="voidDocument(voiddocForModal, voidText); modals.voidDocClose();">Confirm</button>
        </div>
    </div>
</div>

<div modal="remindDocModal" close="modals.remindDocClose()" options="opts">
    <div class="modalHeader">
        <span>Send Signature Reminder</span>
        <span class="close" data-icon="&#xe00f;" aria-hiddden="true" ng-click="modals.remindDocClose()"></span>
    </div>
    <div class="modalText voidDocModal">
        <span>Send a reminder to the original recipient.</span>

        <div class="message-block">
            <span>Message</span>
            <textarea rows="4" cols="60" ng-model="remindText"></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="modals.remindDocClose()">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="remindDocument(reminddocForModal, remindText); modals.remindDocClose();">Confirm</button>
        </div>
    </div>
</div>

</div>
</div>
