<div class="upgradeWarning"
    ng-if="upgradeWarning && (triggerUpgradeDocuments(1))">
    <span>
        Warning: Approving this document will automatically upgrade your payment plan.
    </span>
</div>

<div class="bottom-padded main">
    <span class="title">{{!rejectMode ? approveVerb : rejectVerb}} Document</span>
    <br>
    <span class="body" ng-show="!rejectMode" ng-transclude></span>
    <textarea ng-show="rejectMode" ng-model="rejectMessage" class="messageText" rows="3" placeholder="Explain the reason for rejecting this document."></textarea>
</div>

<div class="sides-padded" ng-show="!rejectMode">
    <div class="standard-button docViewerAction">
        <button class="btn"
                ng-disabled="processing || disabled()"
                ng-click="approve();">
            {{approveVerb}}
        </button>
    </div>
    <div class="modeSwitch">
        <a class="green" ng-click="rejectMode=true" ng-show="rejectable">Reject?</a>
    </div>
</div>
<div class="sides-padded" ng-show="rejectMode">
    <div class="modeSwitch">
        <a class="green" ng-click="rejectMode=false">{{approveVerb}}?</a>
    </div>
    <div class="standard-button docViewerAction">
        <button class="btn"
                ng-disabled="processing"
                ng-click="reject();">
            Reject
        </button>
    </div>
</div>
