<div class="upgradeWarning"
    ng-if="upgradeWarning && (true || triggerUpgradeDocuments(1))">
    <span>
        Warning: Approving this document will automatically upgrade your payment plan.
    </span>
</div>
<span>{{!rejectMode ? approveVerb : rejectVerb}} Document</span>
<br>
<span ng-show="!rejectMode" ng-transclude></span>
    <!-- By clicking "Confirm", you are creating a legally binding contract between the other party and yourself, or the entity you are authorized to represent. -->
<textarea ng-show="rejectMode" ng-model="rejectMessage" class="messageText" rows="3" placeholder="Explain the reason for rejecting this document."></textarea>

<div class="standard-button docViewerAction">
    <button class="btn"
            ng-show="!rejectMode"
            ng-disabled="processing"
            ng-click="approveAction();">
        {{approveVerb}}
    </button>
    <button class="btn"
            ng-show="rejectMode"
            ng-disabled="processing"
            ng-click="rejectAction(rejectMessage);">
        Reject
    </button>
</div>

<a class="green" ng-click="rejectMode=true" ng-show="!rejectMode && rejectable">Reject?</a>
<a class="green" ng-click="rejectMode=false" ng-show="rejectMode">{{approveVerb}}?</a>
