<div class="bottom-padded" ng-hide="doc.issue">
    <span>Do you want to associate this document with a Cap Table transaction?</span>
    <input ui-select2="select2Options" ng-model="selectedIssue">
    <button ng-click="doc.setTransaction(selectedIssue.issue);" ng-show="selectedIssue.id != 0" ng-disabled="selectedIssue.id == 0">Next</button>
</div>
<div ng-show="doc.issue">
    <div class="bottom-padded">
        <span>Fields necessary to complete a {{doc.transaction_type}} for {{doc.issue}}</span>
        <div class="required-fields" ng-class="{'field-completed': (doc.hasFilledAnnotation(field.name) || doc.hasOtherPartyAnnotation(field.name))}" ng-repeat="field in doc.annotation_types" ng-show="field.required">
            <span><span data-icon="&#xe052;" ng-show="doc.hasFilledAnnotation(field.name) || doc.hasOtherPartyAnnotation(field.name)"></span></span>
            <span>{{field.display}}</span>
            <span ng-show="doc.hasOtherPartyAnnotation(field.name)"> (Recipient Will Complete)</span>
        </div>
    </div>
    <div class="fields-progress">
        <span>{{doc.numFieldsComplete()}}/{{doc.numFieldsRequired()}} Complete</span>
        <meter cur="doc.numFieldsComplete()" tot="doc.numFieldsRequired()"></meter>
    </div>
</div>
