<tr class="empty-row"></tr>
<tr ng-class="{selectedrow:doc.shown}">
    <td class="status-toggle"
        ng-class="{'pointer':(doc.version_count != 0 && viewState.hideSharebar && versionsVisible(doc)),
                  'status-toggle-on': (viewState.hideSharebar && doc.shown && versionsVisible(doc))}"
        ng-click="doc.version_count == 0 || !viewState.hideSharebar || opendetails()"
        ng-mouseenter="loadVersions()">
        <div ng-if="viewState.hideSharebar">
            <span class="toggle-icon" ng-hide="!versionsVisible(doc) || (doc.shown || doc.version_count == 0)" data-icon="&#xe017;" aria-hidden="true"></span>
            <span class="toggle-icon" ng-show="versionsVisible(doc) && doc.shown && doc.version_count > 0" data-icon="&#xe01c;" aria-hidden="true"></span>
        </div>
        <div ng-if="!viewState.hideSharebar">
            <button class="check-box-button" ng-class="{selected:forShare()}" ng-click="toggleForShare();">
                <span data-icon="&#xe023;" aria-hidden="true"></span>
            </button>
        </div>
    </td>
    <td class="shareholder-column docname-column" ng-click="titleClick()" ng-class="{pointer: doc.type=='doc'}">
        <ul>
            <li>
                <span tooltip="{{showtooltip(title(doc))}}"  value="test">
                    <span> {{title(doc)| caplength:50}} </span>
                </span>
                <span ng-show="doc.type == 'doc' && doc.version_count == 0 && !doc.uploaded_by">(Template)</span>
            </li>

            <li ng-show="viewState.hideSharebar" ng-if="doc.type == 'doc'">{{docStatus(doc)}}</li>

        </ul>
    </td>

    <td ng-show="viewState.hideSharebar" ng-animate="{show:'fadeShow', hide:'fadeHide'}" class="status-toggle status-icon">

        <div ng-if="docIsComplete(doc)" data-icon="&#xe023;" class="circle green" aria-hidden="true"></div>
        <div ng-if="!docIsComplete(doc)" class="circle" ng-class="{gray:doc.version_count == 0, yellow:doc.version_count > 0}"></div>
    </td>
    <td ng-show="viewState.hideSharebar" class="shareholder-column status-column issuer pointer"
        ng-click="!(!doc.uploaded_by || doc.pages > 0) || viewStatus(doc)">
        <ul>
            <li>{{formatDocStatusRatio(doc)}}</li>
        </ul>
    </td>
    <td ng-if="doc.type == 'doc'">
        <span class="tag"
              ng-repeat="tag in doc.tags"
              ng-click="viewState.query = tag">
            {{tag + (($last && ' ') || ', ')}}
        </span>
    </td>
    <td ng-if="doc.type == 'investor'">
        <ul ng-show="doc.name" class="dropdown-list">
            <li class="dropdown standard menu-drop">
                <a class="dropdown-toggle"> <span data-icon="&#xe011;" aria-hidden="true"></span>

                </a>
                <ul ng-hide="toggleView();" class="dropdown-menu">
                    <li ng-click="viewProfile(doc)">View Profile</li>
                </ul>
            </li>
        </ul>
    </td>
    <td ng-if="doc.type == 'doc'">
        <div ng-if="!viewState.hideSharebar && forShare()">
            <ul class="dropdown-list drop-selector">
                <li class="dropdown standard"> <a class="dropdown-toggle" data-toggle="Dropdown" href="#">
                        {{ formatShareType(getShareType(doc)) }}
                    </a>

                    <ul class="dropdown-menu">
                        <li ng-show="!doc.template_id"> <a class="button" ng-click="updateShareType(doc,0);">View Only</a></li>
                        <li> <a class="button" ng-click="updateShareType(doc,2);">Request Signature</a></li>
                        <li ng-show="!doc.is_prepared"> <a class="button" ng-click="prepareDocument(doc);">Prepare for Signature</a></li>
                        <li ng-show="doc.is_prepared"> <a class="button" ng-click="prepareDocument(doc);">Re-prepare</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div ng-if="viewState.hideSharebar">
            <ul ng-show="(doc.doc_id || (doc.version_count == 0 && !doc.uploaded_by)) && (!doc.uploaded_by || doc.pages > 0)" class="dropdown-list">
                <li class="dropdown standard menu-drop">
                    <a class="dropdown-toggle"> <span data-icon="&#xe011;" aria-hidden="true"></span>
                    </a>
                    <ul ng-hide="toggleView();" class="dropdown-menu">
                        <li ng-show="(doc.version_count == 0 && !doc.uploaded_by)" ng-click="viewTemplate(doc)">View Template</li>
                        <li ng-show="!(doc.version_count == 0 && !doc.uploaded_by)" ng-click="exportOriginalToPdf(doc)">Export to PDF</li>
                        <li ng-show="!(doc.version_count == 0 && !doc.uploaded_by)" ng-click="modals.exportToDropbox(doc, 'company');">Export to Dropbox</li>
                        <li ng-show="doc.version_count == 0 && doc.uploaded_by" ng-click="modals.updateTitleOpen(doc)">Rename</li>
                        <li ng-show="doc.doc_id" ng-click="modals.updateTagsOpen(doc)">Edit Tags</li>
                        <li ng-show="doc.version_count == 0 && doc.uploaded_by" ng-click="modals.deleteDocOpen(doc)">Delete</li>
                        <li ng-show="!doc.is_prepared && !companyIsZombie()" ng-click="prepareDocument(doc);">Prepare for Signature</li>
                        <li ng-show="doc.is_prepared && !companyIsZombie()" ng-click="prepareDocument(doc);">Re-prepare for Signature</li>
                    </ul>
                </li>
            </ul>
        </div>
    </td>
</tr>
<!-- TODO animate show/hide by sliding down/up -->
<tr document-version-row version="version" view-state="viewState" modals="modals" ng-if="viewState.hideSharebar && doc.shown && !(version.archived && !viewState.show_archived) && (viewState.maxRatio == 1000 || !versionIsComplete(version))" type="doc.type" class="sub-row" ng-repeat="version in versions | orderBy:versionOrder"></tr>
