<script src="/cmn/spin.js"></script>

<signature-modal options="sigOptions"></signature-modal>

<div class="docViewer">
    <div class="docPanelContainer row-fluid">
        <div class="docPanel" ng-show="docId" ng-class="{'drawcursor': drawTime()}" data-back-img="{{pageImageUrl()}}" ng-mousedown="newnewBox($event)">
            <annotation ng-repeat="annotation in annots | filter: {page: doc.currentPage} : true | orderBy: 'position.coords.y'"
                        ng-if="drawTime() || (doc.when_signed && !doc.when_countersigned) || $parent.prepareFor"
                        annot="annotation"
                        is-annotable="isAnnotable"
                        signatureprocessing="signatureprocessing"
                        removeannot="removeannot"
                        sig-modal-up="sigModalUp()"
                        doc="doc"
                        prepare-for="$parent.prepareFor"
                        active="active">
            </annotation>
        </div>

        <div template-viewer html=html ng-class="{'investor': $parent.navState.role == 'investor'}" class="templatePanel" ng-show="templateId"></div>
    </div>

    <div class="keyboardHintContainer" ng-show="doc.pages.length > 1">
        <img class="keyboardHint" src="/img/keyboard.png">
        <span><br>Use the arrow keys on the keyboard to<br>navigate between page</span>
    </div>
</div>
