<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<script src="/cmn/spin.js"></script>
<div class="container dynamic-page">
    <subnav>
        <div ng-if="(navState.role == 'issuer') && drawTime() && doc.issue">
            <div class="toggle-button pull-left"
                 ng-click="setNextAnnotationType('text');"
                 data-placement="bottom"
                 ng-class="{selected: nextAnnotationType == 'text'}">
                <ul>
                    <li>
                        <span data-icon="&#xe60d;" aria-hidden="true"></span>
                        <span>Marker</span>
                    </li>
                </ul>
            </div>
            <div class="toggle-button pull-left"
                 ng-click="setNextAnnotationType('highlight');"
                 data-placement="bottom"
                 ng-class="{selected:  nextAnnotationType == 'highlight'}">
                <ul>
                    <li>
                        <span data-icon="&#xe60f;" aria-hidden="true"></span>
                        <span>Highlight</span>
                    </li>
                </ul>
            </div>
        </div>
        <page-controls doc-id="docId" current-page="currentPage" ng-if="docId"></page-controls>
        <div ng-hide="prepareFor" class="box-button pull-right"
             ng-click="$root.leave();"
             data-placement="bottom">
            <ul>
                <li>
                    <span data-icon="&#xe602;" aria-hidden="true"></span>
                </li>
                <li>
                    <span><span ng-if="prepareable() || prepareFor || actionNeeded()">Save &amp; </span>Exit</span>
                </li>
            </ul>
        </div>
        <div class="box-button pull-right"
             ng-class="{'disabledme': companyIsZombie()}"
             ng-show="!invq && !urlInves && !prepareable() && !prepareFor"
             ng-click="companyIsZombie() || shareThisDoc();"
             data-placement="bottom" bs-tooltip="zombiemessage">
            <ul>
                <li> <span data-icon="&#xe604;" aria-hidden="true"></span>

                </li>
                <li> <span>Share</span>

                </li>
            </ul>
        </div>
        <div ng-show="!prepareFor && !prepareable()" class="box-button pull-right"
             ng-click="downloadPDF();"
             data-placement="bottom">
            <ul>
                <li>
                    <span data-icon="&#xe007;" aria-hidden="true"></span>
                </li>
                <li>
                    <span>Download</span>
                </li>
            </ul>
        </div>
    </subnav>
    <div modal="tourModal" close="tourclose();" options="touropts">
        <div class="modal-title">
            <p>
                {{invq? "How to Sign Documents" : "How to Share Documents"}}
            </p>
        </div>
        <div class="modalText">
            <div class="row-fluid">
                <div class="span6">
                    <img ng-src="{{invq? '/img/gif/investor-modal.gif' : '/img/gif/issuer-modal.gif'}}">
                </div>
                <div class="span5 gif-text">
                    <p>
                        <span class="subtitle">{{invq? "Markers show annotations" : "Prepare your document for sharing"}}</span>
                        {{invq? "Fields in red are required by the sender. Fields in yellow are optional. Your signature is legally binding, and will be returned to the sender for their signature." : "Draw fields to mark where information can be entered. Fill out all your own fields prior to sending. The recipient will see everything but your signature, which is hidden until you approve their information."}}
                    </p>
                    <p class='blue-link'><span ng-click="tourclose(); invq? signinggot() : sharinggot();">Ok, I got it!</span>&nbsp;<span data-icon="&#xe016;" aria-hidden="true"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="leftTabWindow" ng-style="viewportheight">
            <doc-viewer class="span8 leftBlock" ng-class="{leftFullTableBlock: toggleSide, widthtransition25:oldSafari()}" page-query-string="pageQueryString()" doc-id="docId" investor_attributes="investor_attributes"></doc-viewer>
            <internal-right-rail toggle-side="toggleSide">
                <tabset>
                    <tab active="infotab" heading="Information">
                        <div class="docinfo">
                            <div class="docname" ng-class="{'prepareDocname' : prepareable()}" ng-if="doc.docname">
                                <span>{{doc.docname}}</span>
                            </div>
                            <div class="inforow" ng-if="doc.tags.length > 0 && !prepareable()">
                                <span class="activity-icon tags-icon"></span>
                                <span class="tags">
                                    <span ng-repeat="t in doc.tags">{{t}}</span>
                                </span>
                            </div>
                            <div class="inforow" ng-if="prepareFor && !(doc.transaction_type == 'issue certificate')">
                                <span class="activity-icon people-icon"></span>
                                <span class="info"><span>{{prepareFor}}</span><span>Preparing for</span></span>
                            </div>
                            <div class="inforow" ng-if="doc.when_shared">
                                <span class="activity-icon doc-share-icon"></span>
                                <span class="info" ng-if="navState.role == 'issuer'"><span>Delivered to {{doc.name}}</span><span>{{doc.when_shared  | date:settings.dateandtime}}</span></span>
                                <span class="info" ng-if="navState.role == 'investor'"><span>Received</span><span>{{doc.when_shared  | date:settings.dateandtime}}</span></span>
                            </div>
                            <div class="inforow" ng-if="sendgrid.when_email_opened && doc.when_shared">
                                <span class="activity-icon received-icon"></span>
                                <span class="info" ng-if="navState.role == 'issuer'"><span>Opened email</span><span>{{sendgrid.when_email_opened  | date:settings.dateandtime}}</span></span>
                            </div>
                            <div class="inforow" ng-if="doc.last_viewed && navState.role == 'issuer'">
                                <span class="activity-icon doc-view-icon"></span>
                                <span class="info"><span>Viewed by {{doc.name}}</span><span>{{docviews.minimum  | date:settings.dateandtime}}</span></span>

                                <div class="investor-views" ng-if="doc.last_viewed && navState.role == 'issuer'">
                                    <span class="toggle-icon" data-icon="&#xe034;"aria-hidden="true" ng-show="!showViews" ng-click = "showViews = !showViews"></span>
                                    <span class="toggle-icon" data-icon="&#xe031;"aria-hidden="true" ng-show="showViews" ng-click = "showViews = !showViews"></span>
                                    <span ng-click = "showViews = !showViews">Detailed Views</span>
                                    <ul ng-show="showViews">
                                        <li ng-repeat="view in docviews" ng-if="view.page > 0 && view.page <= doc.pages.length">
                                            <span>Page {{view.page}}</span>
                                            <span>{{view.max | date:settings.dateandtime}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="inforow" ng-if="doc.when_signed">
                                <span class="activity-icon doc-sign-icon"></span>
                                <span class="info" ng-if="navState.role == 'issuer'">
                                    <span ng-if="!doc.when_signature_provided">Signed by {{doc.name}}</span>
                                    <span ng-if="doc.when_signature_provided">Signed offline and uploaded</span>
                                    <span>{{doc.when_signed  | date:settings.dateandtime}}</span>
                                </span>
                                <span class="info" ng-if="navState.role == 'investor'">
                                    <span ng-if="!doc.when_signature_provided">Signed</span>
                                    <span ng-if="doc.when_signature_provided">Signed offline and uploaded</span>
                                    <span>{{doc.when_signed  | date:settings.dateandtime}}</span>
                                </span>
                            </div>
                            <div class="inforow" ng-if="doc.when_shared && !doc.when_signed && navState.role == 'issuer' && doc.signature_flow > 0 && !doc.issue">
                                <span class="activity-icon doc-upload-red-icon"></span>
                                <span class="info" ng-if="!uploading">
                                    <span>{{doc.name}} has not signed this document. Do you wish to upload a signed copy?</span><span></span>
                                    <div class="fileInputContainer">
                                        <input multiple type="file" class='file'
                                            accept=".pdf,.doc,.docx,.ppt,.pptx,.odt,.odp,.odi,.png,.tiff,.jpg,.txt,.rdf"
                                            onchange="angular.element(this).scope().setSignedFiles(this);"/>
                                        <div class="fakefile">
                                            <div class="small-standard-button darkgray">
                                                <button class="btn">Upload</button>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                                <span class="info" ng-if="uploading">
                                    <span>Uploading signed copy now . . . </span><span></span>
                                </span>
                            </div>
                            <div class="inforow" ng-if="doc.when_countersigned">
                                <span class="activity-icon doc-final-icon"></span>
                                <span class="info"><span>Approved</span><span>{{doc.when_countersigned  | date:settings.dateandtime}}</span></span>
                            </div>
                            <div class="inforow" ng-if="doc.when_retracted">
                                <span class="activity-icon doc-retract-icon"></span>
                                <span class="info"><span>Retracted</span><span>{{doc.when_retracted  | date:settings.dateandtime}}</span></span>
                            </div>
                            <div class="inforow" ng-if="doc.when_void_requested">
                                <span class="activity-icon doc-void-request-icon"></span>
                                <span class="info"><span>Void requested</span><span>{{doc.when_void_requested  | date:settings.dateandtime}}</span></span>
                            </div>
                            <div class="inforow" ng-if="doc.when_void_accepted">
                                <span class="activity-icon doc-void-accept-icon"></span>
                                <span class="info" ng-if="navState.role == 'issuer'"><span>Void accepted by {{doc.name}}</span><span>{{doc.when_void_requested  | date:settings.dateandtime}}</span></span>
                                <span class="info" ng-if="navState.role == 'investor'"><span>Void accepted</span><span>{{doc.when_signed  | date:settings.dateandtime}}</span></span>
                            </div>
                            <div class="inforow" ng-if="prepareFor && (doc.transaction_type == 'issue certificate')">
                                <span class="activity-icon doc-share-icon"></span>
                                <span class="info" ng-if="navState.role == 'issuer'"><span>{{doc.row.name}}</span><span>Shareholder issuing to </span></span>
                            </div>
                            <div class="inforow email-input" ng-if="prepareFor && (doc.transaction_type == 'issue certificate') && !doc.emaillocked">
                                <span>Email to</span>
                                <span><input ng-model='doc.row.email'></span>
                            </div>
                        </div>
                        <div ng-if="prepareable()">
                            <doc-transaction-details doc="doc"></doc-transaction-details>
                        </div>
                        <help-tab doc="doc"></help-tab>
                    </tab>
                    <tab active="annottab" heading="Annotations" ng-if="prepareable() || prepareFor || actionNeeded()">
                        <annotation-list doc="doc" active="active" prepare-for="prepareFor"></annotation-list>
                    </tab>
                    <tab heading="Transactions" ng-if="doctrans.length > 0">
                        <doc-transaction-list trans="doctrans"></doc-transaction-list>
                    </tab>
                </tabset>
                <div id="bottom-part" class="confirmPanelContainer" ng-if="prepareable() || prepareFor || actionNeeded()">
                    <div class="confirmPanel">
                        <doc-action approve-action="signDocument()" approve-verb="Sign" ng-if="invq && doc.signable()" disabled="unfilledAnnotation()">
                            By clicking "Sign", you are creating a legally binding contract between the other party and yourself, or the entity you are authorized to represent. This action is irreversible.
                        </doc-action>

                        <doc-action upgrade-warning="true" approve-action="countersignDocument()" approve-verb="Approve" rejectable="true" reject-action="rejectSignature(message)" ng-if="!invq && doc.countersignable(navState.role)" disabled="unfilledAnnotation()">
                            By clicking "Approve", you are creating a legally binding contract between the other party and yourself, or the entity you are authorized to represent.
                        </doc-action>

                        <doc-action upgrade-warning="true" approve-action="finalizeDocument()" approve-verb="Approve" rejectable="true" reject-action="rejectSignature(message)" ng-if="!invq && doc.finalizable()">
                            Approve signature and finalize this document.
                        </doc-action>

                        <doc-action approve-action="confirmVoid()" approve-verb="Void" rejectable="true" reject-action="rejectVoid(message)" ng-if="invq && doc.voidable()">
                            Accept the voiding of this document.
                        </doc-action>

                        <doc-action approve-action="signTemplate()" approve-verb="Sign" ng-if="invq && templateKey">
                            By clicking "Sign", you are creating a legally binding contract between the other party and yourself, or the entity you are authorized to represent. This action is irreversible.
                        </doc-action>
                    </div>
                    <div ng-if="((invq && doc.signable()) || prepareFor) && !(doc.transaction_type == 'issue certificate')" class="fields-progress">
                        <span ng-show="doc.numAnnotationsComplete(navState.role, prepareFor) != doc.numAnnotations(navState.role)">{{doc.numAnnotationsComplete(navState.role, prepareFor)}}/{{doc.numAnnotations(navState.role)}} Complete</span>
                        <span ng-show="doc.numAnnotationsComplete(navState.role, prepareFor) == doc.numAnnotations(navState.role)">Document is ready!</span>
                        <meter cur="doc.numAnnotationsComplete(navState.role, prepareFor)" tot="doc.numAnnotations(navState.role)"></meter>
                    </div>
                    <div ng-if="prepareable()" class="sides-padded bottom-padded">When you've finished adding annotations select the green button below to return to the prepare screen.</div>
                    <div ng-if="(prepareable() || prepareFor) && !(doc.transaction_type == 'issue certificate')" class="standard-button pull-left sides-padded bottom-padded"><button class="btn" ng-click="leave()">Finished <span class="lower-icon" data-icon="&#xe016;"></span></button></div>
                    <div ng-if="(prepareable() || prepareFor) && (doc.transaction_type == 'issue certificate')" class="standard-button pull-left sides-padded bottom-padded"><button ng-disabled="!formCheck()" class="btn" ng-click="issueCertificate()">Issue <span class="lower-icon" data-icon="&#xe016;"></span></button></div>
                </div>
            </internal-right-rail>
        </div>
    </div>
</div>

<div modal="imageProcessedModal" options="processedopts" data-keyboard="false" data-backdrop="static">
    <div class="row-fluid">
        <div class="span7">
            <div class="row-fluid">
                <div class="rect leftOffset" ng-class="adjustedColor" ng-click="selectProcessing('adjusted')">
                    <img id="processedModalAdjustedImage">
                    <div class="modalText centeredText" ng-class="adjustedText">
                        <span>Enhanced</span>
                    </div>
                </div>
                <div class="rect" ng-class="originalColor" ng-click="selectProcessing('original')">
                    <img id="processedModalOriginalImage">
                    <div class="modalText centeredText" ng-class="originalText">
                        <span>Original</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="span5">
            <div class="modalText">
                <div class="textBlock">
                    <span ng-if="adjustedSelected" class="subtitle">We fixed it!</span>
                    <span ng-if="adjustedSelected">We've straightened up your document to make it look better!</span>

                    <span ng-if="!adjustedSelected" class="subtitle">Ignore and continue</span>
                    <span ng-if="!adjustedSelected">We've made the document more legible, are you sure you'd like to continue with the original document?</span>
                </div>
                <div class='blue-link' ng-if="adjustedSelected"><span ng-click="processedClose(false)">Continue with enhancements</span>&nbsp;<span class="dataIcon" data-icon="&#xe016;" aria-hidden="true"></span></div>
                <div class='blue-link' ng-if="!adjustedSelected"><span ng-click="processedClose(true)">Continue with original</span>&nbsp;<span class="dataIcon" data-icon="&#xe016;" aria-hidden="true"></span></div>
            </div>
        </div>
    </div>
</div>
