<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<script src="/cmn/spin.js"></script>
<div class="container dynamic-page">
    <subnav>
        <page-controls doc-id="docId" current-page="currentPage" ng-if="docId"></page-controls>
        <div class="box-button pull-right"
             ng-click="leave();"
             data-placement="bottom">
            <ul>
                <li>
                    <span data-icon="&#xe602;" aria-hidden="true"></span>
                </li>
                <li>
                    <span><span ng-if="prepareable() || actionNeeded()">Save &amp; </span>Exit</span>
                </li>
            </ul>
        </div>
    </subnav>
    <div modal="tourModal" close="tourclose();" options="touropts">
        <div class="modal-title">
            <p>
                {{invq? "How to Sign Documents" : "How to Share Documents"}}
            </p>
        </div>
        <div class="modalText">
            <div class="row-fluid">
                <div class="span6">
                    <img src="{{invq? '/img/gif/investor-modal.gif' : '/img/gif/issuer-modal.gif'}}">
                </div>
                <div class="span5 gif-text">
                    <p>
                        <span class="subtitle">{{invq? "Markers show annotations" : "Prepare your document for sharing"}}</span>
                        {{invq? "Fields in red are required by the sender. Fields in yellow are optional. Your signature is legally binding, and will be returned to the sender for their signature." : "Draw fields to mark where information can be entered. Fill out all your own fields prior to sending. The recipient will see everything but your signature, which is hidden until you approve their information."}}
                    </p>
                    <p class='blue-link'><span ng-click="tourclose(); invq? signinggot() : sharinggot();">Ok, I got it!</span>&nbsp;<span data-icon="&#xe016;" aria-hidden="true"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="leftTabWindow" ng-style="viewportheight">
            <doc-viewer class="span8 leftBlock" ng-class="{leftFullTableBlock: toggleSide, widthtransition25:oldSafari()}" page-query-string="pageQueryString()" doc-id="docId"></doc-viewer>
            <internal-right-rail toggle-side="toggleSide">
                <tabset>
                    <tab heading="Annotations" ng-if="prepareable() || actionNeeded()">
                        <annotation-list doc="doc"></annotation-list>
                    </tab>
                    <tab heading="Information">
                        <div class="docinfo">
                            <div class="inforow">
                                <span class="activity-icon page-icon"></span>
                                <span class="info">{{doc.docname}}</span>
                            </div>
                            <div class="inforow" ng-if="doc.tags">
                                <span class="activity-icon tags-icon"></span>
                                <span class="info" ng-repeat="t in doc.tags">{{t}}</span>
                            </div>
                        </div>
                    </tab>
                </tabset>
                <div class="bottom-part confirmPanelContainer" ng-if="actionNeeded()">
                    <div class="confirmPanel">
                        <doc-action approve-action="signDocument()" approve-verb="Sign" ng-if="invq && doc.signable()" disabled="unfilledAnnotation()">
                            By clicking "Sign", you are creating a legally binding contract between the other party and yourself, or the entity you are authorized to represent. This action is irreversible.
                        </doc-action>

                        <doc-action upgrade-warning="true" approve-action="countersignDocument()" approve-verb="Countersign" rejectable="true" reject-action="rejectSignature(message)" ng-if="!invq && doc.countersignable($root.navState.role)" disabled="unfilledAnnotation()">
                            By clicking "Countersign", you are creating a legally binding contract between the other party and yourself, or the entity you are authorized to represent.
                        </doc-action>

                        <doc-action upgrade-warning="true" approve-action="finalizeDocument()" approve-verb="Approve" rejectable="true" reject-action="rejectSignature(message)" ng-if="!invq && doc.finalizable()">
                            Approve signature and finalize this document.
                        </doc-action>

                        <doc-action approve-action="confirmVoid()" approve-verb="Void" rejectable="true" reject-action="rejectVoid(message)" ng-if="invq && doc.voidable()">
                            Accept the voiding of this document.
                        </doc-action>

                        <doc-action approve-action="signTemplate(investor_attributes, infoValue, confirmValue)" approve-verb="Sign" ng-if="invq && templateKey">
                            By clicking "Sign", you are creating a legally binding contract between the other party and yourself, or the entity you are authorized to represent. This action is irreversible.
                        </doc-action>
                        <!--<div ng-show="template_original && forsigning"> <!-- TODO: "Save information" prompt and logic -->
                            <!-- <span>Do you want to electronically sign this document?</span>
                            <br>
                            <span>(This action is irreversible.)</span>
                            <ul class="radioOption inline-radio">
                                <li>
                                    <span>Save Info?</span>
                                    <br>
                                    <span>Choose yes or no below if you want like to save all this information for other investor requests.
                                        You can access and change information in your investor profile.</span>
                                </li>
                                <br>
                                <li>
                                    <button class="radio-button" ng-class="{'selected':infoValue===1}" ng-click="setinfoValue(1)"></button>
                                </li>
                                <li>
                                    YES
                                </li>
                                <li>
                                    <button class="radio-button"
                                        ng-class="{'selected':infoValue===-1}"
                                        ng-click="setinfoValue(-1)">
                                    </button>
                                </li>
                                <li>
                                    NO
                                </li>
                            </ul>
                        </div> -->
                    </div> <!-- confirm panel -->

                </div>
            </internal-right-rail>
        </div>
    </div>
</div>

<div modal="imageProcessedModal" options="processedopts" data-keyboard="false" data-backdrop="static">
    <div class="row-fluid">
        <div class="span7">
            <div class="row-fluid">
                <div class="rect leftOffset" ng-class="adjustedColor" ng-click="selectProcessing('adjusted')">
                    <img id="processedModalAdjustedImage">
                    <div class="modalText centeredText" ng-class="adjustedText">
                        <span>Enhanced</span>
                    </div>
                </div>
                <div class="rect" ng-class="originalColor" ng-click="selectProcessing('original')">
                    <img id="processedModalOriginalImage">
                    <div class="modalText centeredText" ng-class="originalText">
                        <span>Original</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="span5">
            <div class="modalText">
                <div class="textBlock">
                    <span class="subtitle">We fixed it!</span>
                    <span>We've straightened up your document to make it look better!<span>
                </div>
                <div class='blue-link' ng-if="adjustedSelected"><span ng-click="processedClose(false)">Continue with enhancements</span>&nbsp;<span class="dataIcon" data-icon="&#xe016;" aria-hidden="true"></span></div>
                <div class='blue-link' ng-if="!adjustedSelected"><span ng-click="processedClose(true)">Continue with original</span>&nbsp;<span class="dataIcon" data-icon="&#xe016;" aria-hidden="true"></span></div>
            </div>
        </div>
    </div>
</div>
