<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<script src="/cmn/spin.js"></script>
<div class="container dynamic-page">
    <subnav>
        <page-controls doc-id="docId" current-page="currentPage"></page-controls>
    </subnav>
    <div modal="tourModal" close="tourclose();" options="touropts">
        <div class="modal-title">
            <p>
                How to Sign Documents
            </p>
        </div>
        <div class="modalText">
            <div class="row-fluid">
                <div class="span6">
                    <img src="/img/gif/investor-modal.gif">
                </div>
                <div class="span5 gif-text">
                    <p>
                        <span class="subtitle">Markers show annotations</span>
                        Fields in red are required by the sender. Fields in yellow are optional. Your signature is legally binding, and will be returned to the sender for their signature.
                    </p>
                    <p class='blue-link'><span ng-click="tourclose(); signinggot();">Ok, I got it!</span>&nbsp;<span data-icon="&#xe016;" aria-hidden="true"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <doc-viewer page-query-string="pageQueryString()" doc-id="docId"></doc-viewer>
        <div internal-right-rail tabarr="tabs" active="activeTab">
            <annotation-list doc-id="docId"></annotation-list>
        </div>
    </div>
</div>
