<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<div class="maincontent openflow">
<div class="container dynamic-page doclistFlow">
    <verticalnav></verticalnav>
  <div class="row-fluid">

    <div style="margin-left: 0;" class="span12 recipientInfo statusBlock">
        <div class="row-fluid">
            <div class="subnav-controls peoplelist-controls">
                <div>
                    <div class="pull-left checkboxitem">
                        <span>Hide Completed</span>
                        <button class="check-box-button" ng-class="{'selected':hideCompleted}" ng-click="toggleHideCompleted()">
                            <span data-icon="&#xe023;" aria-hidden="true"></span>
                        </button> 
                    </div>
                    <div class="pull-left">
                        <span>Search</span>
                        <input type="Text" class="search-box" ng-model="query">
                    </div>
                </div>
                <div class="DivHelper"></div>
            </div>
            <table class="status-table investor">
                <tbody>
                    <tr>
                        <th colspan="1" class="left" style="width:45%" ng-click="setOrder('docname')">Document Name</th>
                        <th colspan="2" class="left" style="width:40%" ng-click="setOrder('statusRank')">Status</th>
                        <th/>
                    </tr>
                </tbody>
                <tbody ng-repeat="doc in documents | filter:searchFilter | orderBy:docOrder">
                    <tr class="empty-row"/>
                    <tr ng-class="{selectedrow:doc.shown}">
                        <td class="shareholder-column docname-column" ng-click="gotoDoc(doc)" style="cursor: pointer">
                            <ul>
                            <li>
                                <span bs-tooltip="showtooltip(doc.docname)">{{doc.docname | caplength:40}}</span>
                            </li>
                            <li>
                                <span>{{docStatusa(doc)}}</span>
                            </li>
                            </ul>
                        </td>
                        <td class="status-toggle status-icon">
                            <div ng-show="docIsComplete(doc) && !doc.when_void_accepted && !isPendingVoid(doc)" data-icon="&#xe023;"
                                 class="circle green" aria-hidden="true"></div>
                            <div ng-show="docIsComplete(doc) && doc.when_void_accepted && !isPendingVoid(doc)" class="circle green"
                                 aria-hidden="true"><span>x</span>
                            </div>
                            <div ng-show="isPendingVoid(doc) || !docIsComplete(doc)" class="circle yellow" aria-hidden="true"></div>
                        </td>
                        <td class="shareholder-column status-column">
                            <ul>
                                <li>{{shortStatus(doc)}}</li>
                                <li>{{momentFromNow(doc.last_event.event_time)}}</li>
                            </ul>
                        </td>
                        <td class="sign-button toggle-column">
                            <div class="standard-button small-standard-button">
                                <button ng-show="isPendingSignature(doc)" class="btn" ng-click="gotoDoc(doc)">Sign</button>
                                <button ng-show="isPendingFinalization(doc)" class="btn" ng-click="gotoDoc(doc)">Approve</button>
                                <button ng-show="isPendingVoid(doc)" class="btn" ng-click="gotoDoc(doc)">Void</button>
                            </div>
                            <ul class="dropdown-list">
                                <li class="dropdown standard menu-drop">
                                    <a class="dropdown-toggle">
                                        <span data-icon="&#xe011;" aria-hidden="true"></span>
                                    </a>
                                    <ul ng-hide="toggleView();" class="dropdown-menu">
                                        <li ng-click="gotoDoc(doc)">View</li>
                                        <li ng-show="doc.signature_flow == 0" ng-click="exportOriginalToPdf(doc)">Download</li>
                                        <li ng-show="doc.signature_flow>0" ng-click="exportVersionToPdf(doc)">Download</li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="display:none;" ng-show="documents.length===0">You have no documents.</div>
        </div>
    </div>
  </div>
</div>
</div>
<div class="minimumGap"></div>
<div class="push"></div>
