<div class="pageTurn" ng-hide="template_original">
    <ul>
        <li class="button" ng-click="doc.currentPage = doc.currentPage - 1">
            <span ng-class="{'locked':doc.currentPage <= 1}" data-icon="&#xe032;" aria-hidden="true"></span>
        </li>
        <li>
            <label>
                <input ng-pattern="/^[0-9]+$/"
                       ng-model="doc.currentPage"
                       class="page-jumper"
                       asdf
                       integer>
            </label>
        </li>
        <li>
            / {{ doc.pages.length || "   "}}
        </li>
        <li class="button" ng-click="doc.currentPage = doc.currentPage + 1">
            <span ng-class="{'locked' : doc.currentPage >= doc.pages.length}" data-icon="&#xe033;" aria-hidden="true"></span>
        </li>
    </ul>
</div>
