<div class="pageTurn" ng-hide="template_original">
    <ul>
        <li class="button" ng-click="doc.currentPage = doc.currentPage - 1">
            <span ng-class="{'locked':doc.currentPage <= 1}" aria-hidden="true">&lt;</span>
        </li>
        <li>
            <label>
                <input ng-pattern="/^[0-9]+$/"
                       ng-model="doc.currentPage"
                       class="page-jumper">
            </label>
        </li>
        <li>
            / {{ doc.pages.length || "   "}}
        </li>
        <li class="button" ng-click="doc.currentPage = doc.currentPage + 1">
            <span ng-class="{'locked' : doc.currentPage >= doc.pages.length}" aria-hidden="true">&gt;</span>
        </li>
    </ul>
</div>
