<link type="text/css" rel="stylesheet" href="/documents/css/app.css">
<script src="/cmn/spin.js"></script>
<div class="container dynamic-page">
    <subnav>
        <div class="box-button pull-right"
             ng-click="$root.leave();"
             data-placement="bottom">
            <ul>
                <li>
                    <span data-icon="&#xe602;" aria-hidden="true"></span>
                </li>
                <li>
                    <span>Exit</span>
                </li>
            </ul>
        </div>
        <div class="box-button pull-right"
             ng-click="state.bulkPrep = !state.bulkPrep"
             ng-class="{selected: state.bulkPrep}"
             data-placement="bottom">
            <ul>
                <li>
                    <span data-icon="&#xe01f;" aria-hidden="true"></span>
                </li>
                <li>
                    <span>Bulk Prepare</span>
                </li>
            </ul>
        </div>
    </subnav>
    <div class="row-fluid">
        <div class="leftTabWindow" ng-style="viewportheight">
            <div class="span8 leftBlock" ng-class="{leftFullTableBlock: toggleSide, widthtransition25:oldSafari()}" style="height: 100%;">
                <div class="docPrepTop">
                    <h2>Prepare Documents</h2>
                    <span>Mark up documents and make changes for individual investors. When you're ready, add a message and we'll notify your investors what to do next.</span>
                </div>
                <div ng-repeat="doc in doc_arr">
                    <div class="docPrepRow header">
                        <span data-icon="&#xe009;">
                            <span class="name">{{doc.docname}}</span>
                            <span data-icon="&#xe00D;" ng-show="doc.hasSignatureAnnotations()" tooltip="Signature Requested"></span>
                            <span data-icon="&#xe60E;" ng-show="doc.issue" tooltip="Link to {{doc.issue}}"></span>
                            <span data-icon="&#xe612;" ng-show="doc.issue && !doc.validTransaction()" style="color: #E74C3C;" tooltip="Required Fields for Transaction are Missing"></span>
                        </span>
                        <span ng-if="!state.bulkPrep && !doc.hasAnnotations();"><a href="/app/documents/company-view?doc={{doc.doc_id}}&page=1&prepare=true">Add Annotations</a></span>
                        <span ng-if="!state.bulkPrep && doc.hasAnnotations();"><a href="/app/documents/company-view?doc={{doc.doc_id}}&page=1&prepare=true">Edit Annotations</a></span>
                        <span ng-if="state.bulkPrep" ng-repeat="annot in doc.annotations | filter:bulkPrepable | orderBy:['page', 'position.coords.y', 'position.coords.x']">
                            {{annot.type_info.display}}
                        </span>
                    </div>
                    <div ng-repeat="email in ShareDocs.emails" class="docPrepRow">
                        <span>
                            <span ng-if="!doc.preparedFor[email].is_prepared" data-icon="&#xe612;"></span>
                            <!-- TODO: add a flag if this user has already been sent this document -->
                            <span class="name">{{Investor.getDisplayText(email)}}</span>
                        </span>
                        <span ng-if="!state.bulkPrep" ng-show="doc.hasIssuerAnnotations()">
                            <a href='{{"/app/documents/company-view?doc=" + doc.doc_id + "&investorid=" + encodeURIComponent(email)}}'>
                                <span ng-if="doc.preparedFor[email].is_prepared">Edit</span>
                                <span ng-if="!doc.preparedFor[email].is_prepared">Complete Annotations <span class="lower-icon" data-icon="&#xe016;"></span></span>
                            </a>
                        </span>
                        <span ng-if="state.bulkPrep" ng-repeat="annot in doc.annotations | filter:bulkPrepable | orderBy:['page', 'position.coords.y', 'position.coords.x']"
                              ng-class="{required: requiredField(annot) && !overrideFilled(annot, doc.preparedFor[email].overrides[annot.id])}">
                            <input ng-if="annot.type_info.typename != 'date' && annot.type_info.typename != 'enum'"
                                   placeholder="{{annot.val}}" ng-model=doc.preparedFor[email].overrides[annot.id] ng-blur="doc.savePreparation(email)">
                            <input ng-if="annot.type_info.typename == 'date'"
                                   type="text" bs-datepicker date-type="string" date-format="{{$root.settings.lowercasedate}}"
                                   placeholder="{{annot.val}}" ng-model=doc.preparedFor[email].overrides[annot.id] ng-blur="doc.savePreparation(email)">
                            <select ng-if="annot.type_info.typename == 'enum'" ui-select2
                                    placeholder="{{annot.val}}" ng-model=doc.preparedFor[email].overrides[annot.id] ng-blur="doc.savePreparation(email)">
                                <option></option>
                                <option ng-repeat="label in annot.type_info.labels" value="{{label}}">{{label}}</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <internal-right-rail toggle-side="toggleSide">
                <tabset>
                    <tab heading="Share Documents">
                        <div class="shareForm prepare-right">
                            <textarea class="email-text" rows="4" cols="60" ng-model="ShareDocs.message" placeholder="Add an optional message&hellip;"></textarea>
                            <div class="controls" my-loading-spinner="processing">
                                <div class="standard-button pull-right">
                                    <button class="btn"
                                            ng-if="!companyIsZombie()"
                                            ng-click="shareDocuments()"
                                            ng-disabled="processing || !ShareDocs.docsReadyToShare()">
                                        Share Documents
                                    </button>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </internal-right-rail>
        </div>
    </div>
</div>
