<div class="container">
                
<div class="row-fluid">

	<br>
	
	<h1 style="float:left;">Documents</h1>
	
	<a class="button subText blueButton" style="float:right;">Add Document</a>

	<br>
    
    <section class="docLibrary statusBlock">
         <div>
         <p class="searchBox">Search: <input ng-model="query"></p>
         </div>
            <table class="tableView bodyText">
              <tr class="subText">
                <th class="button" ng-click="setOrder('docname')" style="width:40%;"><span class="title sortedDown">Name</span></th>		
                <th class="button" ng-click="setOrder('last_updated')" style="width:25%;"><span class="title">Last Updated</span></th>
                <th class="button"><span class="title">Status</span></th>
                <th class="button"><span class="title">Deadline</span></th>
              </tr>
              <tr ng-repeat="doc in documents  | filter:query  | orderBy:docOrder">
                <td><a href="/investor/documents/view?doc={{doc.doc}}">{{doc.docname}}</a></td>
                <td><span class="dateFormatting">{{doc.last_updated | fromNow}}</span>{{doc.last_updated | date:'shortTime'}}</td>
                <!-- The four buttons for each row -->
                <td>{{doc.status}}</td>
                <td></td>
              </tr>
            </table>
    </section>


</div>
