<link type="text/css" rel="stylesheet" href="/cmn/profile.css">
<div class="maincontent openflow">
<div class="container dynamic-page doclistFlow">
    <div class="row-fluid">
        <div class="headsection row-fluid">
            <ul class="maintabs head-text">
                <li class="selectedtab">Company Profile</li>
                <li><a href="/app/company/profile/billing">Billing</a></li>
            </ul>
        </div>
        <div style="margin-left: 0;" class="span12 statusBlock">
            <div class="row-fluid">
                <div class="subnav-controls">
                    <div>
                        <div class="pull-left">
                            <form>
                                <div class="editProfilePhoto"
                                     style="width: 40px; height: 40px;">
                                    <img ng-src="{{photoURL}}">
                                </div>
                            </form>
                        </div>
                        <div class="viewProfileText pull-left" style="width:30%;">
                            <ul>
                                <li>{{name}}</li>
                            </ul>
                        </div>
                        <div ng-show="address1() && address2()" class="viewProfileText pull-left" style="width:30%;">
                            <ul>
                                <li>{{address1()}}</li>
                                <li>{{address2()}}</li>
                            </ul>
                        </div>
                        <div class="pull-right">
                            <ul class="dropdown-list">
                                <li class="dropdown standard menu-drop">
                                    <a class="dropdown-toggle dark"> <span data-icon="&#xe011;" aria-hidden="true">
                                        </span>

                                    </a>
                                    <ul class="dropdown-menu">
                                        <li ng-click="profileModalOpen()">Edit Profile</li>
                                        <li ng-click="settingModalOpen()">Edit Settings</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="DivHelper"></div>
                </div>
            </div>
        </div>
        <div class="row-fluid home-top-row span12">
            <div class="span8">
                <div class="row-fluid">
                    <div class="front info-box">
                        <div class="head-box">
                             <h2>Settings</h2>

                        </div>
                        <div class="body-box">
                            <table class="settingtable">
                                <tr>
                                    <th style="width:130px;"></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>Currency</td>
                                    <td>{{currency}}</td>
                                </tr>
                                <tr>
                                    <td>Date Format</td>
                                    <td>{{dateformat}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="front info-box">
                        <div class="head-box">
                            <h2>Usage Information</h2>
                        </div>
                        <div class="body-box">
                            <div class="settingtable">
                                <div class="row-fluid">
                                    <div class="pull-left">
                                        Documents (total)
                                    </div>
                                    <div class="pull-right">
                                        <meter cur-progress="1/4"></meter>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="pull-left">
                                        Admins (current)
                                    </div>
                                    <div class="pull-right">
                                        <meter cur-progress="1/4"></meter>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="pull-left">
                                        Messages (monthly)
                                    </div>
                                    <div class="pull-right">
                                        <meter cur-progress="1/4"></meter>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="row-fluid">
                    <div class="front info-box">
                        <div class="head-box">
                            <h2>Invoices</h2>
                        </div>
                    </div>
                    <div class="body-box">
                        <div class="row-fluid">
                            <div class="span12 row-fluid" ng-repeat="inv in billing.invoices">
                                <div class="span7">
                                    <span>{{inv.lines.data[0].period.start*1000 | date: 'MMMM d, yyyy'}}</span>
                                </div>
                                <div class="span5">
                                    <span>{{inv.amount_due/100 | currency}}</span>
                                </div>
                                <!--
                                <div class="span2">
                                    <a href="">Invoice</a>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div modal="pictureModal" close="pictureModalClose()" options="narrowopts">
    <div class="modalHeader">
        <span>Update company logo</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true"
              ng-click="pictureModalClose()"></span>
    </div>
    <div class="modalText">
        <p>You can upload a JPG, GIF, or PNG (file size limit is 1MB)</p>
        <form class="form-inline">
            <fieldset>
                <div class="fileinputs">
                    <input type="file" class='file' onchange="angular.element(this).scope().setFiles(this);"
                    />
                    <div class="fakefile">
                        <span>CHOOSE FILE</span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="pictureModalClose();">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="uploadFile(); pictureModalClose();">Upload</button>
        </div>
    </div>
</div>
<div modal="profileModal" close="profileModalClose()" options="profileopts">
    <div class="modalHeader">
        <span>Edit Company Profile</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="profileModalClose()"></span>
    </div>
    <div class="modalText">
        <div class="row-fluid">
            <div class="profile-image span3">
                <img id="updateImage" ng-src="{{photoURL}}">
                <form class="form-inline image-button">
                    <fieldset>
                        <div class="fileinputs">
                            <input type="file" class='file' onchange="angular.element(this).scope().setFiles(this);"/>
                            <div class="profile-fakefile">
                                <span>Change</span>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="span9 input-list">
                <div>
                    <span>Name*</span><input type="text" ng-model="editcompany.name" maxlength="30">
                </div>
                <div>
                    <span>Address</span><input type="text" ng-model="editcompany.address">
                </div>
                <div class="city-state">
                    <span>City/State</span>
                    <input type="text" ng-model="editcompany.city">
                    <input type="text" ng-model="editcompany.state" maxlength="2">
                </div>
                <div>
                    <span>Zip Code</span><input type="text" ng-model="editcompany.zipcode">
                </div>
                <span class="capital-text">*Required</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="profileModalClose();">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="profileUpdate(editcompany); profileModalClose();">Confirm</button>
        </div>
    </div>
</div>

<div modal="settingModal" close="settingModalClose()" options="profileopts">
    <div class="modalHeader">
        <span>Edit Settings</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="settingModalClose()"></span>
    </div>
    <div class="modalText settings">
        <div>
            <span>Currency</span>
            <ul class="dropdown-list drop-selector wide">
                <li class="dropdown standard">
                    <a class="dropdown-toggle">
                        {{editcompany.longcurrency}}<span class="invisible-drop">'</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="i in currencies">
                            <a ng-click="setCurrency(i);">{{i}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <span>Date Format</span>
            <ul class="dropdown-list drop-selector wide">
                <li class="dropdown standard">
                    <a class="dropdown-toggle">
                        {{editcompany.dateformat}}<span class="invisible-drop">'</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="i in dateformats">
                            <a ng-click="setDateFormat(i);">{{i}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="settingModalClose();">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="saveSettings(editcompany); settingModalClose();">Confirm</button>
        </div>
    </div>
</div>
</div>
<div class="minimumGap"></div>
<div class="push"></div>
