
<div class="headsection row-fluid">
  <h1>People</h1>
</div>
<div class="editProfileFP row-fluid">
  <section class="recipientInfo statusBlock">
    <input type="text" ng-model="filterText"> 
    <table class="tableView bodyText">
      <tr class="subText">
        <th class="button" ng-click="sortBy('name')"><span class="title sortedDown">Name</span></th>
        <th class="button" ng-click="sortBy('email')" colspan="2"><span class="title sortedDown">Email</th>
      </tr>
      <tbody ng-repeat="person in people | orderBy: sort | filter: filterText">
        <tr>
        <td><img src=""><a href="/company/profile/view?id={{person.email}}">{{person.name}}</a>
          <span class="admin" data-icon="&#xe045;" aria-hidden="true" ng-show="person.role=='issuer'"></span>
        </td> 
        <td><img src="">{{person.email}}</td>
        <td class="button"><i class="icon-lock" tooltip-placement="bottom" tooltip-html-unsafe="Revoke all access"></i>
        </tr>
      </tbody>
    </table>
  </section>
</div>
