
<div class="headsection row-fluid">
  <h1>People</h1>
</div>
<div class="row-fluid">
  <section class="statusBlock">
      <div class="row-fluid">
          <div class="subnav-controls">
              <div>
                  <div class="pull-left">
                    <label><span class="search-icon" data-icon="&#xe01e;" aria-hidden="true"></span>
                      <input type="text" ng-model="filterText">
                    </label>
                  </div>
              </div>
              <div class="DivHelper"></div>
          </div>
      </div>
    <table class="docLibrary tableView bodyText people-table">
      <tr class="column-label">
        <th class="button" ng-click="sortBy('name')"><span class="title sortedDown">SHAREHOLDER NAME</span></th>
        <th class="button" ng-click="sortBy('email')"><span class="title sortedDown">EMAIL ADDRESS</span></th>
      </tr>
      <tbody ng-repeat="person in people | orderBy: sort | filter: filterText track by $id($index)">
        <tr ng-click="gotoPerson(person)" ng-class="{'pointer status-row':person.name}">
        <td>{{person.name}}
          <span class="admin" data-icon="&#xe045;" aria-hidden="true" ng-show="person.role=='issuer'"></span>
        </td>
        <td>{{person.email}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
