
<div class="headsection row-fluid">
  <h1>{{user.name}}</h1>
</div>
<div class="editProfileFP row-fluid">
  <div id="detailsEdit" class="span8"> <!-- detailsEdit = Vertical line -->
    <div class="row-fluid">
      <div class="span3"> <!-- Photo -->
        <form>
          <div class="viewProfilePhoto">
            <img ng-src="/photo/user?id=investor:{{user.email}}" style='width:250px; height:250px;'>
          </div>
        </form>
      </div>
      <div class="span7">
        <p>
            <input ng-class="{'content':!user.name}" class="name" type="text" ng-model="user.name" disabled>
            <label>Name</label>
        </p>
      </div>
    </div>
    <div class="row-fluid">
    <section class="recipientInfo statusBlock">
      <div><p class="title">Document Status</p></div>
      <table class="tableView bodyText">
        <tr class="subText">
          <th class="button"><span class="title sortedDown">Name</span></th>
          <th colspan="2" class="button"><span class="title">Status</span></th>
        </tr>
        <tbody ng-repeat="doc in docs">
          <tr>
          <td><img src="">{{doc.docname}}</td>
          <td>{{doc.event}}</td>
          <td class="button" ng-click="(opendetails(doc.doc_id))"><i class="{{doc.button}}"></i>
          </tr>
          <tr ng-Show="doc.shown" class="personDetails">
            <td colspan="2">
                <div><p>Delivered</p><p class="doubleTime">{{doc.whenshared | date:'MMMM dd, yyyy'}}</p><p>{{doc.whenshared | date:'h:mm a'}}</p></div>
                <div>
                    <div ng-switch on="doc.lastlogin" >
                        <span ng-switch-when="0"><p class="hltext">Never Logged In</p></span>
                        <span ng-switch-default><p>Last Seen</p><p class="doubleTime">{{doc.lastlogin | date:'MMMM dd, yyyy'}}</p><p>{{doc.lastlogin | date:'h:mm a'}}</p></span>
                    </div>
                </div>
               
                <div>
                    <div ng-switch on="doc.lastviewed" >
                        <span ng-switch-when="0"><p class="hltext">Unviewed</p></span>
                        <span ng-switch-default><p>Viewed</p><p class="doubleTime">{{doc.lastviewed | date:'MMMM dd, yyyy'}}</p><p>{{doc.lastviewed | date:'h:mm a'}}</p></span>
                    </div>
                </div>
                
                <div>
                  <div ng-switch on="doc.signed" >
                        <span ng-switch-when="0"><p class="hltext">Unsigned</p></span>
                        <span ng-switch-default><p>Signed</p><p class="doubleTime">{{doc.signed | date:'MMMM dd, yyyy'}}</p><p>{{doc.signed | date:'h:mm a'}}</p></span>
                    </div>
                </div>
                
                <div>
                  <div ng-switch on="doc.column5" >
                      <p ng-switch-default="0"></p>
                        <span ng-switch-when="2"><p>Revoked</p><p class="doubleTime">{{doc.reminder | date:'MMMM dd, yyyy'}}</p><p>{{doc.reminder | date:'h:mm a'}}</p></span>
                        <span ng-switch-when="1"><p>Resent</p><p class="doubleTime">{{doc.reminder | date:'MMMM dd, yyyy'}}</p><p>{{doc.reminder | date:'h:mm a'}}</p></span>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
      </table>
    </section>
    </div>
  </div>
  <div class="sidebar span4">
    <form>
      <fieldset>
        <p>
          <input type="text" ng-model="user.email" disabled>
          <label>Email</label>
        </p>
        <p>
          <textarea ng-class="{'content':!user.street}"  ng-model="user.street" rows="3" disabled></textarea>
          <label>Address</label>
        </p>
      </fieldset>
    </form>

    <section class="documentInfo statusBlock">
    <div>
    <p class="title">Activity Feed</p>
    </div> 
    <div class="activityBlock">
      <table>
        <tr ng-repeat="active in activity | orderBy:activityOrder">
        <td><i class="{{active.icon}} icon"></i></td>
        <td>
            <table>
              <tr><td>{{active.activity}} <a href="{{active.link}}">{{active.target}}</a> </td></tr>
                  <tr><td>{{active.time | date:"MMMM d, y"}}</td></tr>
              </table>
          </td>
        </tr>
      </table> 
      <div style="display: none;" ng-show="noActivity">There is no activity yet.</div>
    </div>
    </section>
  </div>
</div>
