
<div class="editProfileFP row-fluid">
  <div id="detailsEdit" class="span12">
    <form>
    <fieldset>
      <label>
        <input type="text" ng-model="companyName" placeholder="Company name">
      </label><br />
      <label>
        <input type="text" ng-model="domain" placeholder="Company domain">
      </label><br />
      <label>
        <input type="text" ng-model="name" placeholder="Admin name">
      </label><br />
      <label>
        <input type="text" ng-model="email" placeholder="Admin email">
      </label><br />
      <input type="button" ng-click="createCompany()" value="Create Company">
    </fieldset>
    </form>
  </div>
</div>