
<div class="editProfileFP row-fluid">
  <div id="detailsEdit" class="span12">
    <form>
    <fieldset>
      <input type="text" ng-model="companyName" placeholder="Company name"><br />
      <input type="text" ng-model="domain" placeholder="Company domain"><br />
      <input type="text" ng-model="name" placeholder="Admin name"><br />
      <input type="text" ng-model="email" placeholder="Admin email"><br />
      <input type="button" ng-click="createCompany()" value="Create Company">
    </fieldset>
    </form>
  </div>
</div>