
<div>
  <h1 class='error-message' ng-show='errorMessage'>{{ errorMessage }}</h1>
  <h1> SQL viewer </h1>
  <button ng-click="doSelect('select distinct company, name from account.company_table')">Company List</button>
  <button ng-click="doSelect('select * from mail.activity')">Mail Actvitiy</button>
  <label>SQL statement:<input ng-change="doSelect()" data-ng-model-onblur ng-model="sql" type="text" size="100" style="width:690px"/></label>
  <hr>
  <table>
    <tr>
      <th ng-repeat="col in columns">{{ col }}</th>
    </tr>
    <tr ng-repeat="row in data">
      <td ng-repeat="cell in row">{{ cell | fromNow }}</td>
    </tr>
  </table>
</div>