<link type="text/css" rel="stylesheet" href="/account/profile/profile.css">
<div style="min-height: 900px;" class="container dynamic-page doclistFlow">
    <subnav>
        <div>
            <div class="pull-left">
                <h1 class="profile-name">{{name}}</h1>
            </div>

            <div class="box-button pull-right"
                ng-click="passwordModalOpen();">
                <ul>
                    <li>
                        <span data-icon="&#xe02c;" aria-hidden="true"></span>
                    </li>
                    <li>
                        <span>Password</span>
                    </li>
                </ul>
            </div>
        </div>
    </subnav>


    <div>
    <div class="row-fluid">
        <div class="span8">
            <div class="row-fluid">
                 <h2 class="personal-information">PROFILE</h2>  
                <div class="ind-information">
                    <ul class="personal-information">
                        <li>
                            <ul>
                                <li>Full Name</li>
                                <li><input type="text" ui-event="{focus : 'profileCheck(\'name\', name)', blur:'profileUpdate(\'name\', name)'}" ng-model="name"></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>Address</li>
                                <li><input type="text" ui-event="{focus : 'profileCheck(\'street\', street)', blur:'profileUpdate(\'street\', street)'}" ng-model="street"></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>City</li>
                                <li><input type="text" ui-event="{focus : 'profileCheck(\'city\', city)', blur:'profileUpdate(\'city\', city)'}" ng-model="city"></li>
                            </ul>
                        </li>
                        <li style="display: inline-block; padding-right: 20px">
                            <ul>
                                <li>State</li>
                                <li><input type="text" ui-event="{focus : 'profileCheck(\'state\', state)', blur:'profileUpdate(\'state\', state)'}" class="short-input" maxlength="2" ng-model="state"></li>
                            </ul>
                        </li>
                        <li style="display: inline-block">
                            <ul>
                                <li>Zip Code</li>
                                <li><input type="text" ui-event="{focus : 'profileCheck(\'postalcode\', postalcode)', blur:'profileUpdate(\'postalcode\', postalcode)'}" class="short-input" maxlength="12" ng-model="postalcode"></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>Country</li>
                                <li><input type="text" maxlength="2" ui-event="{blur:'attributeUpdate(\'investorCountry\', investor_attributes.investorCountry[0])'}" ng-model="investor_attributes.investorCountry[0]"></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>Telephone</li>
                                <li><input type="text" ui-event="{focus : 'profileCheck(\'phone\', phone)', blur:'profileUpdate(\'phone\', phone)'}" ng-model="phone"></li>
                            </ul>
                        </li>
                    </ul>
                </div>
               <!--      second column -->
                <div class="ind-information right">
                    <ul class="personal-information">
                        <li ng-repeat="email in emails">
                            <ul>                           
                                <li ng-if="email.email==primary_email" >Primary Email*</li>
                                <li ng-if="email.email !== primary_email">Alternate Email</li>
                                <li>
                                    <button class="radio-button" ng-if="email.verified"
                                    ng-class="{selected: email.email == primary_email}"
                                    ng-click="profileUpdate('primary_email', email.email)">
                                    </button>
                                    <input type="text" class="email" ng-model="email.email" ng-disabled="email.verified" ng-focus="profileCheck('workingEmail', email.email)" ng-class="{'notVerified': !email.verified}"></input>
                                    <div class="standard-button small-standard-button gray" ng-click="updateEmail(email)" ng-hide="email.email ==primary_email"><button class="btn">Update</button></div>
                                    <span data-icon="&#xe01b;" ng-click="removeEmail(email)" ng-hide="email.email== primary_email"></span>

                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li>Alternate Email</li>
                                <li>
<!--                                     <button class="radio-button"
                                        ng-class="{selected: email.email==primary_email}"
                                        >
                                    </button> -->
                                    <input type="text" ng-model="newEmail" ng-blur="addEmail(newEmail)" class="notVerified"></input>
                                    <div class="standard-button small-standard-button" ng-click="updateEmail(email)"><button class="btn">Add</button></div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                   
                </div>
            </div>


        </div>

<!--         side colum -->
        <div class="span4 ind-pics">
            <div style="margin-bottom: 60px;">
                <h2>PROFILE IMAGE</h2>
                <div class='span3 profile-image'><img ng-src="{{photoURL}}"></div>
                <div class="standard-button small-standard-button gray">
                    <button ng-click="pictureModalOpen();" class="btn">Change</button>
                </div>
            </div>

           
            <div class='signature-image ind-sig'>
                 <h2 class="signature-label">SIGNATURE</h2>
                <div>
                    <img ng-src="{{signatureURL}}">
                </div>
                <div class="standard-button small-standard-button gray">
                    <button ng-click="sigModalUp();" class="btn">Change</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- modals go here -->
<div modal="pictureModal" close="pictureModalClose()" options="opts">
    <div class="modalHeader">
        <span>Profile Picture</span><span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="pictureModalClose()"></span>
    </div>
    <div class="modalText">
        <p>You can upload a JPG, GIF, or PNG file<br>(file size limit is 1MB)</p>
        <form class="form-inline">
            <fieldset>
                <div class="fileinputs">
                    <input type="file" class='file' onchange="angular.element(this).scope().setFiles(this);"/>
                    <div class="fakefile">
                        <span>CHOOSE FILE</span>
                        <div ng-show="files.length">
                            <span>{{files[0].name | fileLength}}</span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="pictureModalClose()">Cancel</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-disabled="!files || files.length===0" ng-click="uploadFile(); pictureModalClose();">Upload</button>
        </div>
    </div>
</div>

<div modal="passwordModal" close="passwordModalClose()" options="opts">
    <div class="modalHeader">
        <span>Change Password</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="passwordModalClose()"></span>
    </div>
    <div class="modalCopy">
        <form name="passwordChange" class="editPasswordBlock">
            <div class="passwordChangeSuccess bodyText invisible" ng-show="passwordChanged">
                <img src="/img/alert-star.png">Your Password has been changed. Please check your email for confirmation.</div>
            <fieldset>
                <div class="row-fluid field">
                    <label>Current Password
                        <input type="password" ng-class="{'content':!currentPassword}" name="currentPassword" ng-model="currentPassword"/>
                    </label>
                </div>
                <div class="row-fluid field">
                    <label>New Password
                        <input type="password" name="newPassword" ng-class="{'content':!newPassword}" ng-model="newPassword"/>
                    </label>
                </div>
                <div class="row-fluid field">
                    <label>Confirm Password
                        <input type="password" name="passwordconfirm" ng-class="{'content':!passwordConfirm}" ng-model="passwordConfirm"/>
                    </label>
                </div>
                <div class="modal-footer">
                    <div class="pull-left standard-button gray">
                        <button class="btn" ng-click="passwordModalClose();">Cancel</button>
                    </div>
                    <div class="standard-button green">
                        <button class="btn" ng-disabled="validPasswordNot()" ng-click="changePassword(); passwordModalClose();">Change</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div modal="signatureModal" close="sigclose();" options="touropts">
    <div class="modal-title">
        <p>
            Pick your Signature
        </p>
    </div>
    <div class="sigmodal modalText">
        <div class="row-fluid">
            <div class="imgsig span6">
                <div ng-hide="scribblemode" ng-style="{{signaturestyle}}" >
                    <img id="signaturevisual" ng-src="{{signatureURL}}">
                </div>
                <div class="scribblewindow" ng-show="scribblemode" ng-style="{{signaturestyle}}" >
                    <canvas id="scribbleboard"></canvas>
                </div>
                <div class="DivHelper"></div>
            </div>
            <div class="span6 gif-text">
                <p>
                    Upload an image or draw out your signature. We'll store it in your profile for use when signing documents.
                </p>
                <form class="form-inline">
                    <fieldset>
                        <div class="fileinputs">
                            <input type="file" class='file' onchange="angular.element(this).scope().setFilesSig(this);"/>
                            <div class="fakefile">
                                <span>CHOOSE FILE</span>
                            </div>
                        </div>
                        <div class="scribblebutton">
                            <button ng-click="createNewSignature()">Draw Signature</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-right standard-button green" style="margin-right: 30px;">
            <button class="btn"
                    ng-click="uploadSignatureNow();"
                    ng-disabled="(!files && !scribblemode) || files.length===0">Done</button>
        </div>
        <div class="pull-right standard-button gray">
            <button class="btn"
                    ng-click="sigclose();">Cancel</button>
        </div>
    </div>
</div>
