/* Investor Profile */

textarea {
    resize: none;
}

.editPasswordBlock {
    margin-top:-8px;
}

.viewProfilePhoto {
    height:136px;
    width:136px;
    border: none;
    overflow:hidden;
}

.editProfilePhoto {
    height:136px;
    width:136px;
    border: none;
    overflow:hidden;
}

.permission-block {
    height: 41px;
    white-space: nowrap;
}

.permission-block > div:first-child {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
}

.permission-block .permission-label {
    line-height: 30px;
    margin-right: 12px;
    text-transform: capitalize;
}

h1.profile-name {
    margin: 4px 0;
}

.recipientInfo .temp-text {
    font-style: italic;
}

.info-box > .body-box {
    background-color: #FFFFFF;
    margin: 0;
    min-height: 420px;
    border-top: none;
}

.ind-information{
    width: 45%;
    float: left;
}

.ind-information.right{
/*    float:right;*/
    padding-left: 40px;
}
.personal-information {
    padding-top: 30px;
}

.personal-information > li > ul {
    display: block;
    overflow: auto;
}

.personal-information > li > ul > li {
    float: left;
    display: inline-block;
}

.personal-information > li > ul > li:nth-child(odd) {
    width: 90px;
    margin-right: 10px;
    text-align: right;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 30px;
}

.personal-information > li > ul > li:nth-child(odd):nth-child(n+2) {
    width: 60px;
}

.personal-information input {
    width: 180px;
}

.personal-information input.short-input {
    width: 70px;
}

.span4.ind-pics{
    padding-left: 20px;
    border-left: 1px solid #E3E3E3;
    min-height: 899px;
}

.investor-attributes > ul {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.investor-attributes .radioOption {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

.investor-attributes .radioOption > li:first-child {
    width: 100%;
    display: inline-block;
    margin-left: 0px;
    margin-right: 10px;
    text-align: left;
}

.investor-attributes .radioOption > li {
    width: 100%;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-left: 80px;
}

.investor-attributes .radioOption > li > button {
    margin-right: 10px;
}

.investor-attributes .text-input > span {
    width: 70px;
    display: inline-block;
    margin-right: 10px;
    text-align: right;
}

.investor-attributes .text-input > input {
    margin-bottom: 0;
    width: 160px;
}

.investor-attributes > ul > li {
    margin-top: 20px;
}

.investor-attributes > ul > li > button.check-box-button {
    margin-left: 80px;
    vertical-align: top;
    margin-right: 5px;
}

.investor-attributes > ul > li > button.check-box-button + span {
    width: -moz-calc(100% - 110px);
    width: -webkit-calc(100% - 110px);
    width: calc(100% - 110px);
    display: inline-block;
}

li.profile-image > img {
    width: 106px;
    height: 106px;
    border-radius: 3px;
    border: 1px solid #E3E3E3;
}


li.profile-image > div, li.signature-image > div:last-of-type {
    text-align: center;
    margin-top: 10px;
}

li.signature-image > div:first-of-type {
    width: 198px;
    height: 108px;
    border: 1px solid #E3E3E3;
    border-radius: 3px;
}

li.signature-image > div:first-of-type > img {
    height: 100%;
    width: auto;
}

.personal-information > li > ul > li:nth-child(odd):nth-child(n+2).signature-label {
    width: 145px;
}

.helpModal {
    margin-left: -360px;
    width:718px;
    z-index: 1060;
    background-color: transparent;
    box-shadow: none;
}

.helpModal .modal-title {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    height: 80px;
}

.helpModal .modal-title > p {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #1D2C3C;
    line-height: 80px;
}

.helpModal .modalText {
    background-color: #FFFFFF;
}

.helpModal ul > li {
    text-align: left;
    display: block;
    margin-left: 20px;
    height: 100px;
    overflow: auto;
    font-size: 14px;
    color: #666666;
}

.helpModal ul > li.blue-link {
    color: #3498DB;
    height: 30px;
}

.helpModal ul > li > span {
    display: inline-block;
    width: 300px;
    float: right;
}

.helpModal .modalText h6 {
    color: #15A085;
    text-transform: capitalize;
    font-size: 12px;
    text-align: left;
    margin: 10px 0 10px 0;
}

.helpModal .modalText p {
    font-size: 14px;
    text-align: left;
    margin: 0 0 10px 0;
}

.helpModal .subtitle {
    color: #000;
    display: block;

}

.helpModal .gif-text {
    margin-top: 10px;
}

.helpModal .modalText > div > div > img {
    margin-top: 10px;
}

.helpModal + .modal-backdrop {
    z-index: 1050;
    background-color: #33485D;
}

.sigmodal.modalText {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 40px;
    margin-bottom: 0;
}
.sigmodal + .modal-footer > .standard-button {
    padding-left: 20px;
}
div.imgsig {
    height: 200px;
    white-space: nowrap;
}
div.imgsig > div {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

div.imgsig > div:first-child {
    border: #1ABC96 solid 1px;
}

div.imgsig > div > img {
    margin: 0 !important;
    height: 100%;
    float: left;
}

.sigmodal .gif-text > p {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 30px;
}

.modal.helpModal input.file {
    float: left;
    width: 50%;
    margin-left: 15px;
}

.scribblewindow {
    border: #1ABC96 solid 1px;
}

.scribblewindow > canvas {
    cursor: default;
    background-color: transparent;
}


.modal.helpModal div.fileinputs {
    display: inline-block;
    float: left;
}

.scribblebutton > button {
    float: left;
    margin-left: 20px;
    display: block;
    width: 162px;
    height: 34px;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid rgb(227, 227, 227);
    text-transform: uppercase;
}
