<div class='sub-todo-list'>
  <ul>
    <li>Provide upload progress feedback</li>
    <li>Check for valid upload picture datatypes</li>
    <li>Implement cropping for the picture</li>
    <li>Add a method to grab the picture from other social network</li>
  </ul>
</div>

<div class="span8" ng-controller="FileDNDCtrl">
  <form>
    <fieldset>
      <div class="editProfilePhoto">
        <img ng-src="photo/{{email}}" style='width:250px; height:250px;'/>
      </div>
    </fieldset>
  </form>
  <form class="form-inline">
    <fieldset>
      <legend class="headline2">Upload Photo</legend>
      <input class="bodyText button uploadButton" type="file" multiple onchange="angular.element(this).scope().setFiles(this)" />
    </fieldset>

    <div class="dropbox" ng-class="dropClass">
		<span>{{dropText}}</span>
	</div>

  </form>

  <div ng-show="files.length">
      <div ng-repeat="file in files.slice(0)">
          <span>{{file.webkitRelativePath || file.name}}</span>
          (<span>{{fmtFileSize(file)}}</span>)
      </div>
  </div>


  <br>
  <input class="bodyText button uploadButton" type="button" ng-click="uploadFile()" value="Upload" />
  <!-- <a class="bodyText button uploadButton" ng-click="upload()">Upload</a> -->

  <div ng-show="progressVisible">
      <div class="percent">{{progress}}%</div>
      <div class="progress-bar">
          <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
      </div>
  </div>

</div>
