<div class="container">

  <div modal="capAccess" close="close()" options="shareopts">
    <div class="modalHeader">
        <p class="subText">Change this person's access level?</p>
    </div>
    
    <div class="modalText">
    <form>
        <select ng-model="selectedI.fullview">
          <option value="personal">personal</option>
          <option value="full">full</option>
        </select>
    </div>
    </form>
    <div class="modalButtons">
        <button class="button subText greenButton" ng-click="changeVisibility(selectedI); close();">Change</button>
    </div>
  </div>

	<div class="row-fluid">      
     <div class="span8 recipientInfo docLibrary statusBlock">
        <div class="headsection row-fluid">
            <h1>{{selected.name}}</h1>

            <div class="row-fluid">

              <ul class="bodyText maintabs">
                <a href="/company/ownership/ownership"><li class="button">Ownership</li></a>
                <a href="/company/ownership/grant"><li class="button">Grants</li></a>
                <li class="selectedtab">Status</li>
               </ul>
            </div>
          </div>

          <div class="row-fluid">
            <div class="subnav-controls">
              <div>
                <div class="pull-left">
                  <h2>Shareholder Status</h2>
                </div>
              </div>
              <div class="DivHelper"></div>
            </div>
          </div>
        
        <div class="row-fluid">
         <table class="tableView bodyText">
              <tr class="column-label">
                <th>Shareholder</th>
                <th>Email</th>
                <th>Visibility</th>
                <th colspan="2">Status</th>
              </tr>
              <tr>
                  <td ng-show="!userStatus[0]" colspan="5">You haven't shared the captable with anyone yet!</td>
              </tr>
              	<tbody ng-repeat="person in userStatus">
                <tr>
                <td ng-click="(opendetails(person.email))">{{person.name}}</td>
                <td ng-click="(opendetails(person.email))">{{person.email}}</td>
       			    <td ng-click="(opendetails(person.email))">{{person.fullview}}</td>
       		     	<td ng-click="(opendetails(person.email))">{{person.viewed}}</td>
                <td class="button statusPop"><span data-icon="&#xe011;" aria-hidden="true" data-unique="1" data-placement="bottom" email="{{person.email}}" bs-popover="'statusPop.html'"></td>
                </tr>
                <tr ng-Show="person.shown" class="personDetails">
                    <td class="status-bubbles" colspan="5">
                        <div><span data-icon="&#xe024;" aria-hidden="true"></span><p class="doubleTime">Delivered</p><p class="doubleTime">{{person.whendone | date:'MMMM dd, yyyy'}}</p><p>{{person.whendone | date:'h:mm a'}}</p></div>
                        
                        <div>
                            <div ng-switch on="person.lastlogin" >
                                <span ng-switch-when="0"><span data-icon="&#xe026;" aria-hidden="true"></span><p class="hltext">Never Logged In</p></span>
                                <span ng-switch-default><span data-icon="&#xe026;" aria-hidden="true"></span><p class="doubleTime">Last Seen</p><p class="doubleTime">{{person.lastlogin | date:'MMMM dd, yyyy'}}</p><p>{{person.lastlogin | date:'h:mm a'}}</p></span>
                            </div>
                        </div>
                       
                        <div>
                            <div ng-switch on="person.viewflag" >
                                <span ng-switch-when="0"><span data-icon="&#xe001;" aria-hidden="true"></span><p class="hltext">Unviewed</p></span>
                                <span ng-switch-default><span data-icon="&#xe001;" aria-hidden="true"></span><p class="doubleTime">Viewed</p><p class="doubleTime">{{person.whenviewed | date:'MMMM dd, yyyy'}}</p><p>{{person.whenviewed | date:'h:mm a'}}</p></span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table> 
            </div>  
        </div>   
 
	 <div class="span3 offset1">
        <div class="headsection row-fluid">
        </div>      

        <div class="row-fluid">
            <div>
                <p class="subText">Information</p>
            </div>
            <ul>
                <li>Last Edited: {{lastupdated | date:"mediumDate"}}</li>
            </ul>  
        </div>
         
         <div class="row-fluid">
             <div>
                <p class="subText">Activity Feed</p>
             </div> 
             <div class="activityBlock">
             <table>
             <tr ng-repeat="active in activity | orderBy:activityOrder">
             	<td><i class="{{active.icon}}"></i></td>
             	<td>
                	<table>
                		<tr><td>{{active.activity}} <a tooltip="{{active.email}}" ng-href="{{active.link}}"><ng-pluralize count="active.count" when="{'0': '', '1': '{{active.namethem}}', 'other': '{{active.count}} people'}"></ng-pluralize></a></td></tr>
                        <tr><td>{{active.whendone | date:"MMMM d, y"}}</td></tr>
                    </table>
                </td>
             </tr>
             </table> 
             </div>  
         </div> 
     </div>
    </div>
</div>