<div class="container">

    <div modal="capAccess" close="close()" options="shareopts">
        <div class="modalHeader">
            <span data-icon="&#xe026;" aria-hidden="true"></span>Change this person's access level?
            <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="close()"></span>
        </div>
        <div class="modalText">
            <form>
                <p>Shareholders only see their personal holdings by default.<br>  Non-shareholders have full-access by default.</p>
                <div class="cf capaccess-drop">
                    <li class="dropdown standard pull-left">
                        <a class="dropdown-toggle">
                            {{selectedI.level}}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a ng-click="selectVisibility('No View', selectedI)">No View</a>
                                <a ng-click="selectVisibility('Personal View', selectedI)">Personal Only</a>
                                <a ng-click="selectVisibility('Full View', selectedI)">Full View</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </form>
        </div>
        <div class="modalButtons">
            <div class="left"><button class="button subText blueButton left" ng-click="close()">Cancel</button></div>
            <div class="right"><button class="button subText greenButton" ng-click="changeVisibility(selectedI); close();">Change</button></div>
        </div>
    </div>

    <div modal="capEditEmail" close="alterEmailModalClose()" options="opts">
        <div class="modalHeader">
            <span data-icon="&#xe027;" aria-hidden="true"></span>Edit this row's email?
            <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="alterEmailModalClose()"></span>
        </div>
        <div class="modalText">
            <p>Changing the email address of this row will invite a new email to view the captable. The account
                associated with the old email will no longer be able to see it.
            </p>
            <div class="input-row">
                <p>Email Address</p>
                <input ng-model="newEmail">
            </div>
        </div>
        <div class="modalButtons">
            <div class="left"><button class="button subText greyButton left" ng-click="alterEmailModalClose()">Undo</button></div>
            <div class="right">
                <button class="button subText greenButton" ng-click="alterEmailModalClose(); alterEmail();">Change
                </button>
            </div>
        </div>
    </div>


	<div class="row-fluid">      
     <div class="span8 recipientInfo docLibrary statusBlock">
        <div class="headsection row-fluid">
            <h1>{{selected.name}}</h1>

            <div class="row-fluid">

              <ul class="bodyText maintabs">
                <a href="/company/ownership/ownership"><li class="button">Ownership</li></a>
                <a href="/company/ownership/grant"><li class="button">Grants</li></a>
                <li class="selectedtab">Status</li>
               </ul>
            </div>
          </div>

          <div class="row-fluid">
            <div class="subnav-controls">
              <div>
                <div class="pull-left">
                  <h2>Shareholder Status</h2>
                </div>
              </div>
              <div class="DivHelper"></div>
            </div>
          </div>
        
        <div class="row-fluid">
         <table class="tableView bodyText">
              <tr class="column-label">
                <th>Shareholder</th>
                <th>Email</th>
                <th>Visibility</th>
                <th colspan="2">Status</th>
              </tr>
              <tr>
                  <td ng-show="!userStatus[0]" colspan="5">You haven't shared the captable with anyone yet!</td>
              </tr>
              	<tbody ng-repeat="person in userStatus">
                <tr>
                <td ng-click="(opendetails(person.email))">{{person.name}}</td>
                <td ng-click="(opendetails(person.email))">{{person.email}}</td>
       			    <td ng-click="(opendetails(person.email))">{{person.level}}</td>
       		     	<td ng-click="(opendetails(person.email))">
                        <span ng-hide="person.viewed">unviewed</span>
                        <span ng-show="person.viewed">viewed</span>
                    </td>
                <td class="button statusPop"><span data-icon="&#xe011;" aria-hidden="true" data-unique="1" data-placement="bottom" email="{{person.email}}" bs-popover="'statusPop.html'"></span></td>
                </tr>
                <tr ng-Show="person.shown" class="personDetails">
                    <td class="status-bubbles" colspan="5">
                        <div><span data-icon="&#xe024;" aria-hidden="true"></span><p class="doubleTime">Delivered</p><p class="doubleTime">{{person.received | date:'MMMM dd, yyyy'}}</p><p>{{person.received | date:'h:mm a'}}</p><p ng-hide="person.viewed" ng-click="alterEmailModalUp(person.email)">Edit and Resend</p></div>
                        
                        <div>
                            <div ng-switch on="person.lastlogin" >
                                <span ng-hide="person.lastlogin"><span data-icon="&#xe026;" aria-hidden="true"></span><p class="hltext">Never Logged In</p></span>
                                <span ng-show="person.lastlogin"><span data-icon="&#xe026;" aria-hidden="true"></span><p class="doubleTime">Last Seen</p><p class="doubleTime">{{person.lastlogin | date:'MMMM dd, yyyy'}}</p><p>{{person.lastlogin | date:'h:mm a'}}</p></span>
                            </div>
                        </div>
                       
                        <div>
                            <div>
                                <span ng-hide="person.viewed"><span data-icon="&#xe001;" aria-hidden="true"></span><p class="hltext">Unviewed</p></span>
                                <span ng-show="person.viewed"><span data-icon="&#xe001;" aria-hidden="true"></span><p class="doubleTime">Viewed</p><p class="doubleTime">{{person.viewed | date:'MMMM dd, yyyy'}}</p><p>{{person.viewed | date:'h:mm a'}}</p></span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table> 
            </div>  
        </div>   
 
	 <div ng-show="lastupdated" class="span3 offset1">
        <div class="headsection row-fluid">
        </div>      

        <div class="row-fluid">
            <div>
                <p class="subText">Information</p>
            </div>
            <ul>
                <li>Last Edited: {{lastupdated | date:"mediumDate"}}</li>
            </ul>  
        </div>
         
         <div class="row-fluid">
             <div>
                <p class="activityFeed-header subText">Activity Feed</p>
             </div>

             <section class="statusFeed">
                 <div class="noFeed" ng-show="noActivity">There is no activity yet.</div>
                 <div class="activityBlock">
                     <table>
                         <tr ng-repeat="active in activity | orderBy:activityOrder">
                            <td><i class="{{active.icon}}"></i></td>
                            <td class="item">
                                <table>
                                    <tr><td class="activity">{{active.activity}} <a ng-href="{{active.link}}">{{active.name}}</a></td></tr>
                                    <tr><td class="time">{{active.timeAgo}}</td></tr>
                                </table>
                            </td>
                         </tr>
                     </table>
                 </div>
             </section>
         </div> 
     </div>
    </div>
</div>