<div class="span12 pagination-centered gateway">
  <img src="img/logo-144x24.png">
  <div class="text-error">{{fed}}</div>
  <form id="login" class="center" ng-submit="doForgot()">
    <fieldset>
      <label class="resetLabel headline2">Reset Your Password</label> 
      <input required class="loginInput FI" placeholder="Email" tabindex="1"
             autocapitalize="off" autocomplete="off" name="username" type="email" ng-model="username"
             data-step='1'
             data-intro="Enter your email address and press enter.
             An email will be sent with instructions
             for resetting your password"
             data-position='left'
        />
      <a id="cancelButton" class="subText button" href="u/index.html#/">Cancel</a>
      <button ng-disabled="forgotDisabled()" ng-click="doForgot()" ng-class="forgotClass()"
              data-step='2'
              data-intro="Instead of pressing enter,
              you can click this button
              to send the email for resetting your password"
              data-position='left'
              tabindex="3">Reset Password</button>
      <br>
    </fieldset>
  </form>
</div>

