<div class="row span10" style="margin: 0px; padding-bottom: 10px" ng-controller="AttachmentController">
      <div class="span2" style="margin: 0px; ">
          <div style="float: left;">
              <div id="dropbox" ng-class="dropbox">
                  <div file-button>
                      <button class='btn btn-success btn-large'><i class="icon-camera"></i></button>
                  </div>
              </div>
          </div>
      </div>
      <div ng-show="files.length" class="span4">
          <button class='btn' ng-click="deleteCurrentAttachment()"><i class="icon-remove-circle"></i></button>
          <div ng-repeat="file in files">
              <span>{{file.webkitRelativePath || file.name}}</span>
          </div>
      </div>
  </div>