/* Captable */

.capGuide {
    display: block;
    padding: 10px 0 0 20px;
}

.capcontainer {
    overflow: auto;
}

.descriptionRow {
    height: 20px;
    color: #C7C7C7;
    font-size: 10px;
    text-transform: uppercase;
}

.tableView.captable .descriptionRow td {
    height: 20px;
    padding: 0 0 0 6px;
}

.descriptionRow span {
    display: inline-block;
    width: 68px;
}

.tableView.captable  {
    background: url("/img/stripe-pattern.png") repeat;
    table-layout: fixed;
}

.tableView.captable td {
    margin: 0;
    padding: 0;
}

.tableView.captable td.viewName {
    padding: 0 0 0 6px;
}

.tableView th {
    margin: 0;
    padding: 0;
}

.tableView th.staticHeaders {
    padding: 0 0 0 6px;
}

.tableView.captable input {
    margin: 0;
    padding: 0;
}

.tableView.captable input:disabled {
    background: transparent;
}

.capright input:disabled {
    background: transparent;
}

.tableView.captable th > input {
    background-color: #FFFFFF;
    padding: 0 0 0 6px;
}

.tableView.captable input {
    background-color: #FFFFFF;
    padding: 9px 0 9px 6px;
}

.tableView.captable input:focus {
    background-color: #E3E3E3;
}

.captablepair-box {
    position: relative;
    display: block;
}

.tableView.captable .output {
    position: absolute;
    pointer-events: none;
    overflow-x: hidden;
    width: 67px;
    padding: 0 0 0 6px;
}

.tableView.captable .output.clickable {
    pointer-events: auto;
    top: -9px;
}

.tableView.captable .output.footer {
    top: -9px;
}

.tableView.captable .output.second {
    left: 72px;
}

.tableView.captable .captablepair {
    color: #7f8c8d;
}

.tableView.captable.viewcaptable {
    background: white;
}

.longRow td {
    width: 150px !important;
}

.captablepair {
    display: inline-block;
    float: left;
}

p.captablepair {
    width: 65px;
    margin: 0 0 0 0;
}

.tableView td.tranSelected {
    border: 2px solid #E3E3E3;
}

.tableView.captable .tranSelected > input {
    padding: 7px 0 7px 4px;
}

.tableView.captable .tranSelected > input:last-child {
    padding: 7px 0 7px 6px;
    width: 65px;
}

.tableView.captable .tranSelected > input:first-child {
    border-left: 2px solid #E3E3E3;
    border-top: 2px solid #E3E3E3;
    border-bottom: 2px solid #E3E3E3;
}

.tableView.captable .tranSelected > input:last-child {
    border-right: 2px solid #E3E3E3;
    border-top: 2px solid #E3E3E3;
    border-bottom: 2px solid #E3E3E3;
}

td.tranViewSelected {
    background-color: rgba(26, 188, 150, 0.1);
}

.tranViewSelected {
    background-color: rgba(26, 188, 150, 0.1);
}

.span4.capright {
    float: right;
    margin-left: 0;
    width: 350px;
    min-height: 700px;
    border-left: 1px solid #E3E3E3;
    transition: all 0.25s;
    -moz-transition:all 0.25s; /* Firefox 4 */;
    -webkit-transition: all 0.25s; /* Safari and Chrome */
    -o-transition: all 0.25s; /* Opera */
}

.span4.capright.button-offset {
    margin-top: -28px;
}

.span4.capright > button {
    top: 330px;
    position:relative;

    left: -68px;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    border-radius: 0;
    border: none;
    background-color: #E3E3E3;
    width: 108px;
}

.capright .headsection.tabbed {
    border: none;
}

.capright .headsection {
    padding-left: 20px;
}

.capright .headsection h2 input {
    border: 0;
    font-family: 'FS Elliot Web Light', sans-serif !important;
    font-size: 24px;
    line-height:21px;
    font-weight: normal;
    color: #1e2d3d;
    text-transform: uppercase;
    width: 260px;
}

.capright .tab-content {
    min-height: 400px;
}

.capright .issue-delete {
    border: 1px solid #E3E3E3;
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
    padding: 2px 2px 0 2px;
    color: #8D8D8D;
}

.capright .in-brief h2 {
    margin-bottom: 20px;
}

.capright .in-brief p {
    font-size: 16px;
}

.capright .in-brief span {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #1e2d3d;
}

.trantabs .nav.nav-tabs {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.trancore {
    height: 44px;
    border-bottom: 1px solid #E3E3E3;
}

.trancore > div {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.trancore p {
    padding-left: 20px;
    text-transform: uppercase;
    display: block;
    float: left;
    height:12px;
}

.trancore input {
    padding: 0;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    width:100px;
    margin: -3px 0 0 0;
}

.trancore input.signless {
    margin: -3px 0 0 6px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    border-top: 2px solid #1ABC96;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.nav-tabs > li:first-child > a, .nav-tabs > li:first-child > a:hover, .nav-tabs > li:first-child > a:focus {
    border-left: 0;
}

div.rightTitle {
    height: 22px;
    margin: 0 0 10px 0;
}

.rightTitle > span:first-child {
    display: inline-block;
    width: 160px;
    margin-right: 40px;
    text-transform: uppercase;
}

.rightTitle > input {
    width:100px;
    border: 0;
}

.rightTitle > select {
    width: 100px;
    height: 25px;
}

input.content, textarea.content {
    background-color: #F1F1F1;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

textarea {
    resize: none;
}

.staticHeaders {
}

/* Grants Table */

tr.rowSelected {
    background-color: rgba(26, 188, 150, 0.1);
}

.rowSelected > td {
    background-color: transparent;
}

.grant-list {
    list-style: none;
}

/* Specialized Modals */

.capaccess-drop {
    text-align: left;
    margin: 0 100px;
}

.capshareModal input, .capshareModal span {
    float: left;
}

.capshareModal {
    margin-left: -250px;
    width:499px;
    height:463px;
}

.capshareModal p {
    margin: 10px 15px 10px 15px;
}

.capshareModal ul{
    margin: 0;
    overflow: auto;
    list-style: none;
}

.capshareModal ul:first-child {
    height:205px;
}

.capshareModal ul.extrasAdd {
    height: 83px;
}

.capshareModal ul > li:first-child {
    text-transform: uppercase;
    border-top: 1px solid #E3E3E3;
}

.capshareModal ul li {
    text-align: left;
    height:40px;
    line-height: 40px;
    border-bottom: 1px solid #E3E3E3;
}

.capshareModal ul li > span {
    display: inline-block;
    white-space: nowrap;
    overflow-x: hidden;
    width:150px;
    margin-left: 10px;
    font-size: 12px;
}

.capshareModal ul li > input {
    margin: 10px 0 9px 10px;
}

.capshareModal ul li > input {
    border: 0;
}

.capshareModal ul li > input.error {
    border: 1px solid #F78D1E;
}

.capshareModal .button.greenButton {
    display: block;
    margin: 0 auto 0 auto;
}

.modal .input-row {
    height:65px;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    margin: 10px 20px 0 20px;
}

.modal .input-row > p {
    margin: 5px 0 0 0;
}

.modal .input-row > input {
    float:none;
    width: 100%;
    margin: 5px 0 0 0;
}


/* ios button thingy */

.onoffswitch {
    margin: 4px 0 0 0;
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999; border-radius: 20px;
    -moz-box-shadow:    inset 0 0 5px #A6A6A6;
    -webkit-box-shadow: inset 0 0 5px #A6A6A6;
    box-shadow:         inset 0 0 5px #A6A6A6;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;

    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    font-size: 10px;
    padding-left: 8px;
    color: #1ABC96;
}

.onoffswitch-inner:after {
    content: "OFF";
    font-size: 10px;
    padding-right: 6px;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    width: 18px;
    background: #C7C7C7;
    -moz-box-shadow:    1px 1px 1px 1px #A6A6A6;
    -webkit-box-shadow: 1px 1px 1px 1px #A6A6A6;
    box-shadow:         1px 1px 1px 1px #A6A6A6;
    border-radius: 18px;
    position: absolute;
    top: 0;
    margin: 2px 0 0 0;
    bottom: 0;
    height: 18px;
    right: 30px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}