<accordion ng-class="{'lessmargin': cell.transactions.length == 1}"
           class="transaction-accordion" close-others="true">
<accordion-group is-open="tran.active"
                 is-disabled="cell.transactions.length == 1"
                 ng-repeat="tran in cell.transactions
                            | orderBy:'date' track by $index"
                 ng-switch on="currentTab">
    <accordion-heading>
        <span data-icon="&#xe031;" aria-hidden="true"
              ng-show="tran.active && cell.transactions.length > 1">
        </span>
        <span data-icon="&#xe034;" aria-hidden="true"
              ng-show="!tran.active && cell.transactions.length > 1">
        </span>
        <span>
            {{tran.date | date:settings.shortdate}} Transaction
        </span>
    </accordion-heading>
    <div class="standard-button btn-group darkgray">
        <button class="btn"
                ng-click="switchCapTab('details');"
                ng-class="{on: currentTab=='details'}">
            <span data-icon="&#xe01e;" aria-hidden="true">
                Details
            </span>
        </button>
        <button class="btn"
                ng-click="switchCapTab('documents');"
                ng-class="{on: currentTab=='documents'}">
            <span data-icon="&#xe60e;" aria-hidden="true">
                Evidence
            </span>
        </button>
    </div>
    <transaction-attributes data="tran.attrs"
                            settings="settings"
                            ng-switch-when="details">
    <!--
    <div class="capTab" ng-switch-when="details">
        <!-- Global Tab -->
        <div class="capGuide cap-overflow global">
            <p ng-show="tran.attrs.investor" class="belowTitle">
                <span>
                    {{tran.attrs.investor}}
                </span>
                <span>Investor</span>
            </p>
            <p ng-show="tran.attrs.units" class="belowTitle">
                <span>
                    {{tran.attrs.units | formatAmount}}
                </span>
                <span>{{grantbyIssue(tran.attrs.security)}}</span>
            </p>
            <p ng-show="tran.forfeited" class="belowTitle">
                <span>
                    {{tran.forfeited | formatAmount}}
                </span>
                <span>Forfeit</span>
            </p>
            <p ng-show="tran.attrs.amount" class="belowTitle">
                <span>{{tran.attrs.amount | formatAmount:settings}}
                </span>
                <span>Total Paid</span>
            </p>
        </div>

        <!-- Equity Tab -->
        <div class="capGuide cap-overflow"
             ng-show="trantype(tran.attrs.security_type, 'Equity');">
            <p ng-show="tran.attrs.ppshare" class="belowTitle">
                <span>
                    {{tran.attrs.ppshare | formatAmount:settings}}
                </span>
                <span tooltip-placement="right"
                      tooltip="The price at which each share was purchased"
                      class="forTooltip">
                    Share Price
                </span>
            </p>
            <p ng-show="tran.attrs.liquidpref" class="belowTitle">
                <span>
                    {{tran.attrs.liquidpref}}
                </span>
                <span tooltip-placement="right"
                      tooltip="{{tips.liquidpref}}"
                      class="forTooltip">
                    Liquidation Preference
                </span>
            </p>
            <p ng-show="tran.attrs.partpref" class="belowTitle">
                <span>
                    {{tran.attrs.partpref}}
                </span>
                <span tooltip-placement="right"
                      tooltip="{{tips.partpref}}"
                      class="forTooltip">
                    Participating Preferred
                </span>
            </p>
            <p ng-show="tran.attrs.dragalong"  class="belowTitle">
                <span>
                    {{tran.attrs.dragalong}}
                </span>
                <span tooltip-placement="right"
                      tooltip="{{tips.dragalong}}"
                      class="forTooltip">
                    Drag Along
                </span>
            </p>
            <p ng-show="tran.attrs.tagalong"  class="belowTitle">
                <span>
                    {{tran.attrs.tagalong}}
                </span>
                <span tooltip-placement="right"
                      tooltip="{{tips.tagalong}}"
                      class="forTooltip">
                    Tag Along
                </span>
            </p>
        </div>
        <!-- Option Tab -->
        <div class="capGuide cap-overflow"
             ng-show="trantype(tran.attrs.security_type, 'Option');">
            <p ng-show="tran.attrs.optundersec" class="belowTitle">
                <span>
                    {{tran.attrs.optundersec}}
                </span>
                <span tooltip-placement="right"
                      tooltip="{{tips.optundersec}}"
                      class="forTooltip">
                    Underlying Security
                </span>
            </p>
            <p ng-show="tran.attrs.price" class="belowTitle">
                <span>
                    {{tran.attrs.price | formatAmount:settings}}
                </span>
                <span tooltip-placement="right"
                      tooltip="{{tips.price}}"
                      class="forTooltip">
                    Strike Price
                </span>
            </p>
            <p ng-show="tran.attrs.terms" class="belowTitle">
                <span>
                    {{tran.attrs.terms}}
                </span>
                <span tooltip-placement="right" tooltip="The total number of months until fully vested" class="forTooltip">Vesting Term (months)
                </span>
            </p>

            <p ng-show="tran.attrs.vestingbeginsdisplay" class="belowTitle">
                <span>
                    {{tran.attrs.vestingbeginsdisplay}}
                </span>
                    <span tooltip-placement="right" tooltip="Months until the vesting cliff % is vested" class="forTooltip">Vesting Cliff (months)
                </span>
                </p>

            <p ng-show="tran.attrs.vestcliff" class="belowTitle">
                <span>
                    {{tran.attrs.vestcliff}}
                </span>
                <span tooltip-placement="right" tooltip="The percentage of granted shares that are considered vested on the cliff date" class="forTooltip">Vesting Cliff %
            </span>
            </p>


            <p ng-show="tran.attrs.vestfreq" class="belowTitle">
                <span>
                    {{tran.attrs.vestfreq}}
                </span>
                <span tooltip-placement="right" tooltip="The frequency that granted shares vest after the cliff date, distributed evenly by frequency until the vesting term ends" class="forTooltip">Post Cliff Frequency
                    </span>
                    </p>

        </div>
        <!-- Debt Tab -->
        <div class="capGuide cap-overflow" ng-show="trantype(tran.attrs.security_type, 'Debt');">
            <p ng-show="tran.attrs.interestrate" class="belowTitle">
                <span>{{tran.attrs.interestrate}}% {{tran.attrs.interestratefreq}}
                </span>
                <span tooltip-placement="right" tooltip="The rate that interest accrues on this debt" class="forTooltip">Interest Rate
                </span>
            </p>
            <p ng-show="tran.attrs.valcap" class="belowTitle">
                <span ng-bind="calculate.formatDollarAmount(tran.attrs.valcap)">
                </span>
                <span tooltip-placement="right" tooltip="The maximum pre-money valuation at which the debt notes convert to equity" class="forTooltip">Valuation Cap
                </span>
            </p>
            <p ng-show="tran.attrs.discount" class="belowTitle">
                <span ng-bind="tran.attrs.discount">
                </span>
                <span tooltip-placement="top" tooltip="The percentage discount applied to the next round">Percent Discount
                </span>
            </p>
            <p ng-show="tran.attrs.term" class="belowTitle">
                <span ng-bind="tran.attrs.term">
                </span>
                <span tooltip-placement="top" tooltip="The term of the note before expiration">Term (months)
                </span>
            </p>
        </div>
        <!-- Safe Tab -->
        <div class="capGuide cap-overflow" ng-show="trantype(tran.attrs.security_type, 'Safe');">
            <p ng-show="tran.attrs.valcap" class="belowTitle">
                <span ng-bind="calculate.formatDollarAmount(tran.attrs.valcap)">
                </span>
                <span tooltip-placement="right" tooltip="The maximum pre-money valuation at which the safe converts to equity" class="forTooltip">Valuation Cap
                </span>
            </p>

            <p ng-show="tran.attrs.discount" class="belowTitle">
                <span ng-bind="tran.attrs.discount">
                </span>
                <span tooltip-placement="right" class="forTooltip" tooltip="The percentage discount applied to the next round">Percent Discount
                </span>
            </p>
        </div>
        <!-- Warrant Tab -->
        <div class="capGuide cap-overflow" ng-show="trantype(tran.attrs.security_type, 'Warrant');">
            <p ng-show="tran.attrs.term" class="belowTitle">
            <span ng-bind="tran.attrs.term">
            </span>
            <span tooltip-placement="right" class="forTooltip" tooltip="The term of the warrant before expiration">Term (months)
        </span>
        </p>

            <p ng-show="tran.attrs.price" class="belowTitle">
            <span ng-bind="calculate.formatDollarAmount(tran.attrs.price)">
            </span>
            <span tooltip-placement="right" class="forTooltip" tooltip="The price each granted share can be purchased at">Strike Price
        </span>
        </p>

        </div>

        <div class="capGuide conversion-activity" ng-show="tran.convert.length > 0">

            <h2>Activity</h2>
            <ul>
                <li ng-repeat="convert in tran.convert track by $index">
                    <span>{{convert.date | date:settings.shortdate}}
                    </span>
                    <span ng-show="convert.method == 'Valuation' || convert.method == 'Price Per Share'">Converted from {{convert.issuefrom}} at {{formatDollarAmount(convert.effectivepps)}} Price-per-share
                    </span>
                    <span ng-show="convert.method == 'Split'">Split {{convert.split.numerator}} to {{convert.split.denominator}} at {{formatDollarAmount(convert.effectivepps)}} Price-per-share
                    </span>
                    <span ng-show="convert.direction == 'To'">Transferred {{convert.units}} from {{convert.investor_from}}
                    </span>
                    <span ng-show="convert.direction == 'From'">Transferred {{convert.units}} to {{convert.investor_to}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    -->
    <div class="capTab" ng-switch-when="documents">
        <div ng-if="tran.evidence_data.length==0" class="linkedDocuments viewOnly">
            Connect documents that support this transaction by clicking Edit above.
        </div>
        <div ng-if="tran.evidence_data.length>0" class="linkedDocuments viewOnly">
            <div ng-repeat="doc in tran.evidence_data" class="row-fluid">
                <ul class="pull-left">
                    <li>
                    <span ng-click="viewEvidence(doc)">{{doc.docname}}
                </span>
                </li>
                    <li ng-if="doc.name||doc.investor">
                    <span>{{doc.name || doc.investor}}'s version
                </span>
                </li>
                </ul>
            </div>
        </div>
    </div>
    </accordion-group>
</accordion>
