<div class="capGuide cap-overflow global cellDetails">
    <div class="detailsHeader">
        <div>{{cell.investor}}</div>
        <div>Investor</div>
        <p></p>
    </div>
    <accordion ng-class="{'lessmargin': cell.transactions.length == 1}"
               class="transaction-accordion" close-others="true">
    <accordion-group is-open="tran.active"
                     is-disabled="cell.transactions.length == 1"
                     ng-repeat="tran in cell.transactions
                                | orderBy:'date' track by $index"
                     ng-switch on="currentTab">
        <accordion-heading>
            <span>
                {{tran.effective_date | date:settings.shortdate}} Transaction
            </span>
        </accordion-heading>
        <div class="darkgray faux-tabs">
            <button
                    ng-click="switchCapTab('details');"
                    ng-class="{on: currentTab=='details'}">
                <span>
                    <span data-icon="&#xe611;" aria-hidden="true"></span>
                    Details
                </span>
            </button><button
                    ng-click="switchCapTab('documents');"
                    ng-class="{on: currentTab=='documents'}">
                <span>
                    <span data-icon="&#xe009;" aria-hidden="true"></span>
                    Documents
                </span>
            </button>
        </div>
        <div class="capTab" ng-switch-when="details">
            <div class="capGuide cap-overflow global">
                <div class="belowTitle">
                    <span>{{tran.kind}}</span>
                    <span>Transaction Type</span>
                </div>
            </div>
            <transaction-attributes data="tran"></transaction-attributes>
        </div>
        <div class="capTab" ng-switch-when="documents">
            <div ng-if="tran.evidence_data.length==0"
                 class="linkedDocuments viewOnly">
                Connect documents that support this transaction by clicking Edit above.
            </div>
            <div ng-if="tran.evidence_data.length>0"
                 class="linkedDocuments viewOnly">
                <div ng-repeat="doc in tran.evidence_data" class="row-fluid">
                    <ul class="pull-left">
                        <li>
                            <span ng-click="viewEvidence(doc)">
                                {{doc.docname}}
                            </span>
                        </li>
                        <li ng-if="doc.name||doc.investor">
                            <span>
                                {{doc.name || doc.investor}}'s version
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </accordion-group>
    </accordion>
</div>
