<link type="text/css" rel="stylesheet" href="/ownership/css/captable.css">
<link href="/lib/introjs/introjs.css" rel="stylesheet">
<div class="maincontent">
<div class="container dynamic-page">

<!-- Captable From Here Down -->
<subnav>
    <div class="pull-left captable">
        <div ng-if="!windowToggle && !editMode"
            ng-class="{'disabledme': companyIsZombie()}">
            <ul class="dropdown-list drop-selector big filter-selector">
                <li class="dropdown standard">
                    <a class="dropdown-toggle" ng-click="checkDateRange();"
                        data-toggle="dropdown" href="#">
                        <span ng-if="(ctFilter.date | utcdate:settings.shortdate) != daterange.today">
                            Viewing {{ctFilter.date | utcdate:settings.shortdate}}
                        </span>
                        <span ng-if="(ctFilter.date | utcdate:settings.shortdate) == daterange.today">
                            Viewing Today
                        </span>
                    </a>
                    <ul class="dropdown-menu history-box" ng-click="$event.stopPropagation()">
                        <input class="text" ng-model="daterange.fakeDate" ng-change="updateDateInput()">
                        <span ng-click="setToday();" class="blue-link">set to today</span>
                        <input class="range"
                               style='{{daterange.coloredbar}}'
                               type="range"
                               value="0"
                               min="0"
                               max="{{ct.totalDays}}"
                               step="1"
                               ng-model="daterange.offset"
                               ng-change="updateDateSlider()"/>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="pull-left"
         ng-animate="{show: fadeShow, hide: fadeHide}"
         ng-if="!windowToggle && !editMode">
        <ul class="dropdown-list drop-selector big filter-selector">
            <li class="dropdown standard">
                <a class="dropdown-toggle"
                   data-toggle="dropdown" href="#"
                   title="{{ctFilter.security_types | displayList }}">
                    {{ securityFilterLabel() }}
                </a>
                <ul class="dropdown-menu">
                    <li ng-click="ctFilter.vesting = !ctFilter.vesting"
                        onclick="event.stopPropagation();"
                        class="row-fluid">
                        <div class="pull-left span3">
                            <button class="check-box-button"
                                    ng-class="{selected: ctFilter.vesting}">
                                <span data-icon="&#xe023;"
                                      aria-hidden="true">
                                </span>
                            </button>
                        </div>
                        <div class="pull-left span9">
                            <span>Unvested options</span>
                        </div>
                    </li>
                    <li ng-repeat="t in securityTypeDropdown(true)"
                        ng-click="toggleSecurityType(t)"
                        onclick="event.stopPropagation();"
                        class="row-fluid">
                        <div class="pull-left span3">
                            <button class="check-box-button"
                                    ng-class="{selected: showSecurityType(t)}">
                                <span data-icon="&#xe023;" aria-hidden="true">
                                </span>
                            </button>
                        </div>
                        <div class="pull-left span9">
                            <span>{{t}}</span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="box-button pull-right"
         ng-click="downloadCSV()">
        <ul>
            <li>
                <span data-icon="&#xe007;" arai-hidden="true"></span>
            </li>
            <li>
                <span>CSV</span>
            </li>
        </ul>
    </div>
    <div class="box-button pull-right"
         ng-if="!windowToggle"
         ng-class="{'disabledme': companyIsZombie()}"
         ng-click="companyIsZombie() || modalUp();"
         id='a_own_tour_share_subnav'
         tooltip-placement="bottom" tooltip="{{zombiemessage}}">
        <span ng-hide="editMode || tourstate == 0"
              class="tour-icon tour-share"
              tooltip-placement="bottom"
              tooltip="{{tourmessages.share}}">
            <span>?</span>
        </span>
        <ul>
            <li>
                <span data-icon="&#xe604;" aria-hidden="true"></span>
            </li>
            <li>
                <span>Share</span>
            </li>
        </ul>
    </div>
    <div class="box-button pull-right"
         ng-if="!windowToggle"
         ng-class="{'disabledme': companyIsZombie()}"
         ng-click="companyIsZombie() || editViewToggle();"
         tooltip-placement="bottom" tooltip="{{zombiemessage}}">
        <span ng-hide="editMode || tourstate == 0"
              class="tour-icon tour-view"
              tooltip-placement="bottom"
              tooltip="{{tourmessages.view}}">
            <span>?</span>
        </span>
        <ul>
            <li>
                <span ng-show="editMode"
                      data-icon="&#xe001;"
                      aria-hidden="true">
                </span>
                <span ng-hide="editMode"
                      data-icon="&#xe00e;"
                      aria-hidden="true">
                </span>
            </li>
            <li>
                <span ng-show="editMode">
                    View
                </span>
                <span ng-hide="editMode">
                    Edit
                </span>
            </li>
        </ul>
    </div>
    <div ng-if="false" class="box-button pull-right"
         ng-click="revert()">
        <ul>
            <li>
                <span data-icon="&#xe136;" arai-hidden="true"></span>
            </li>
            <li>
                <span>Revert</span>
            </li>
        </ul>
    </div>
    <!--
    <div ng-show="editMode" class="box-button pull-right"
         ng-click="redo()">
        <ul>
            <li>
                <span data-icon="&#xe004;" arai-hidden="true"></span>
            </li>
            <li>
                <span>Redo</span>
            </li>
        </ul>
    </div>
    <div ng-show="editMode" class="box-button pull-right"
         ng-click="undo()">
        <ul>
            <li>
                <span data-icon="&#xe005;" arai-hidden="true"></span>
            </li>
            <li>
                <span>Undo</span>
            </li>
        </ul>
    </div>
    -->
    <div class="evidenceSearch" ng-if="windowToggle">
        <span>Search</span>
        <input type="text" class="search-box"
               ng-model="state.evidenceQuery">
    </div>
</subnav>

<div class="row-fluid leftTabWindow"
     ng-class="{showRightTab:windowToggle}">
<div ng-style="viewportheight"
     ng-class="{leftFullTableBlock:sideToggle,
                widthtransition25:oldSafari()}"
     class="span8 docLibrary leftBlock">

    <div class="row-fluid capcontainer">
        <table ng-class="{viewcaptable: !editMode}"
               class="captable tableView bodyText">
            <!-- Editable headers -->
            <tr ng-if="editMode;" class="column-label">
                <th class="longrow" colspan="2">
                    Ownership
                </th>
                <th class="longrow">Shareholder</th>
                <th ng-repeat="sec in ct.securities | filter:securityFilter"
                    ng-click="selectSecurity(sec.name)">
                    <span ng-class="{'column-highlight':tourstate==2}">
                        <span class="next-button"
                              ng-click="moveTour();">
                            Next
                        </span>
                    </span>
                    <input class="capEditHeaders"
                           ng-class="{tranViewSelected: sec==selectedSecurity}"
                           ui-event="{blur:'updateSecurity(sec)'}"
                           ng-model="sec.new_name"
                           onkeydown="testForEnter(event);">
                </th>
                <th>
                    <button class="add-security-button" ng-click="createNewSec()">
                        Add Security <span data-icon="&#xe017;" aria-hidden="true"></span>
                    </button>
                </th>
            </tr>
            <!-- Uneditable headers -->
            <tr ng-if="!editMode" class="column-label">
                <th class="longrow" colspan="2">Ownership</th>
                <th class="longrow">Shareholder</th>
                <th ng-class="{tranViewSelected: sec==selectedSecurity}"
                    class="staticHeaders"
                    ng-repeat="sec in ct.securities | filter:securityFilter | filter:dateSecurityFilter"
                    ng-click="selectSecurity(sec.name)">
                    <span>{{::sec.name}}</span>
                    <span class="next-button"
                          ng-click="moveTour();">
                        Next
                    </span>
                </th>
            </tr>
            <!-- Descriptive row viewable from all modes -->
            <tr class="descriptionRow" ng-class="{'viewmode':!editMode}">
                <td class="input-right">Shares</td>
                <td class="input-right">%</td>
                <td></td>
                <td ng-repeat="one in ct.securities | filter:securityFilter | filter:dateSecurityFilter">
                    <span>{{securityUnitLabel(one)}}</span>
                    <span>Total Paid</span>
                </td>
                <!-- for new security col -->
                <td ng-if="editMode"></td>
            </tr>
            <!-- Editable investors -->
            <tbody ng-if="editMode;">
            <tr ng-repeat="row in ct.investors"
                ng-show="([row] | noUnissue).length > 0">
                <td class="capsums-col">
                    <input class="input-right"
                           disabled
                           value="{{rowSum(row) | number:0}}">
                </td>
                <td class="capsums-col">
                    <input class="input-right"
                           disabled
                           value="{{captable.investorOwnershipPercentage(row.name) || 0.000 | number:2}}%">
                </td>
                <td>
                    <span ng-class="{'box-highlight':tourstate==1}">
                        <span class="next-button"
                              ng-click="moveTour();">
                            Next
                        </span>
                    </span>
                    <span ng-if="true">
                        <input class="name-row"
                               placeholder="Add Name"
                               style="width:140px;"
                               ng-model="row.new_name"
                               ng-change="nameChangeLR(row)"
                               ui-event="{focus: 'selectInvestor(row.name)',
                                           blur: 'updateInvestor(row)'}"
                               onkeydown="testForEnter(event);">
                    </span>
                    <span ng-if="false">
                        <input class="name-row"
                               disabled
                               style="width:140px;"
                               ng-click="selectInvestor(row.name)"
                               ng-model="row.name">
                    </span>
                </td>
                <td ng-repeat="key in ct.securities | filter:securityFilter"
                    ng-class="{tranSelected: selectedCell
                        && selectedCell.investor == row.name
                        && selectedCell.security == key.name}">
                    <span ng-class="{'tran-highlight':tourstate==4}">
                        <span class="next-button"
                              ng-click="closeTour(); tourNotification();">
                            Done!
                        </span>
                    </span>
                    <editable-captable-cell
                        sec='key'
                        inv='row.name'
                        data="captable.cellFor(row.name, key.name)"
                        select-cell="selectCell"
                        selected-cell="selectedCell"></editable-captable-cell>
                </td>
                <!-- for new security col -->
                <td ng-if="editMode;"></td>
            </tr>
            <tr>
                <td class="capsums-col">
                </td>
                <td class="capsums-col">
                </td>
                <td class="capsums-col">
                    <input placeholder="Add Investor"
                           class="name-row"
                           style="width: 140px;"
                           ui-event="{blur: 'addInvestor(new_inv)'}"
                           onpaste="return false"
                           ng-paste="namePaste($event, row);"
                           ng-model="$parent.new_inv">
                </td>
                <td ng-repeat="key in ct.securities | filter:securityFilter"
                    class="capsums-col">
                </td>
                <!-- for new security column -->
                <td ng-if="editMode;"></td>
            </tr>
            </tbody>
            <!-- Un-editable view -->
            <!-- Regular Rows -->
            <tbody ng-if="!editMode">
            <tr ng-repeat="row in ct.investors">
                <td class="capsums-col">
                    <input class="input-right"
                           disabled
                           value="{{rowSum(row) | number:0}}">
                </td>
                <td class="capsums-col">
                    <input class="input-right"
                           disabled
                           value="{{investorOwnershipPercentage(row) || 0.000 | number:2}}%">
                </td>
                <td ng-class="{tranViewSelected: selectedInvestor == row,
                               'hoverable': row.name}"
                    class="viewName tableFields"
                    ng-click="selectInvestor(row.name);">
                    {{::row.name}}
                </td>
                <td ng-click="selectCell(row.name, key.name)"
                    class="tableFields"
                    ng-class="{tranViewSelected: selectedCell.investor==row.name && selectedCell.security==key.name,
                               hoverable: captable.cellFor(row.name, key.name)}"
                    ng-repeat="key in ct.securities | filter:securityFilter | filter:dateSecurityFilter">
                    <captable-cell filter='ctFilter' inv='row.name' sec='key.name'
                        data='captable.cellFor(row.name, key.name)'></captable-cell>
                </td>
            </tr>
            </tbody>
            <!-- Unissued Rows -->
            <tr class="unissued-rows"
                ng-repeat="sec in captable.securitiesWithUnissuedUnits()
                           | filter:securityFilter
                           | filter:dateSecurityFilter">
                <td class="capsums-col">
                    <input class="input-right"
                           disabled
                           value="{{numUnissued(sec) | number:0}}">
                </td>
                <td class="capsums-col">
                    <input class="input-right"
                           disabled
                           value="{{securityUnissuedPercentage(sec) || 0.00 | number:2}}%">
                </td>
                <td class="viewName unissuedName">
                    {{::sec.name}} (Unissued)
                </td>
                <td class="tableFields"
                    ng-repeat="key in ct.securities
                              | filter:securityFilter
                              | filter:dateSecurityFilter">
                    <span class="captablepair-box">
                        <div ng-class="{editview: editMode}"
                             class="output clickable">
                            <span ng-if="sec==key">
                                {{numUnissued(key) | number:2}}
                            </span>
                        </div>
                        <div ng-class="{editview: editMode}"
                             class="output second clickable">
                             <!-- don't need anything here.
                                  no such thing as unissued amounts -->
                        </div>
                   </span>
                </td>
            </tr>
            <!-- Footer Total Row -->
            <tr class="total-row">
                <td class="tableFields">Total</td>
                <td class="tableFields"></td>
                <td class="tableFields"></td>
                <td class="tableFields"
                    ng-repeat="one in ct.securities | filter:securityFilter | filter:dateSecurityFilter">
                </td>
                <!-- for new security col -->
                <td ng-if="editMode;"></td>
            </tr>
            <tr class='tablefooter'>
                <td class="capsums-col">
                    <input class="input-right"
                           disabled
                           value="{{totalOwnershipUnits(1) | number:0}}">
                </td>
                <td class="capsums-col">
                    <input class="input-right"
                           disabled
                           value="100.00%">
                </td>
                <td class="tableFields">
                </td>
                <td class="tableFields"
                    ng-repeat="one in ct.securities | filter:securityFilter | filter:dateSecurityFilter">
                    <span class="captablepair-box">
                        <div ng-class="{'editview': editMode}"
                             class="output footer">
                            {{securityTotalUnits(one) + numUnissued(one)
                            | formatAmount:'units'}}
                        </div>
                        <div ng-class="{'editview': editMode}"
                             class="output second footer">
                            {{securityTotalAmount(one)
                            | formatAmount:'amount'}}
                        </div>
                    </span>
                </td>
                <!-- for new security col -->
                <td ng-if="editMode;"></td>
            </tr>
        </table>
    </div>
</div>

<internal-right-rail toggle-side="sideToggle"
                     window-toggle="windowToggle"
                     window-callback="editEvidence()">
    <tabset ng-class="{'tabBorder': windowToggle}"
            ng-style="viewportheight">
        <tab ng-repeat="tab in tabs"
             active="tab.active"
             ng-if="tabvisible(tab)"
             heading="{{::tab.title}}">
                <div ng-show="chosenTab(tab, 'Information')"
                     ng-style="viewportactivity"
                     ng-class="{'palegray': sideBar != '1' && sideBar != '2' && sideBar != '4' && sideBar != '5'}"
                     ng-switch on="sideBar">
                    <span ng-switch-when="1">
                        <editable-security-details
                            sec="selectedSecurity"
                            currenttab ="currentTab" window-toggle="windowToggle"></editable-security-details>
                    </span>
                    <span ng-switch-when="2">
                        <editable-cell-details
                                   cell="selectedCell"
                                   currenttab="currentTab"
                                   undo="undo"
                                   window-toggle="windowToggle"></editable-cell-details>
                    </span>
                    <span ng-switch-when="5">
                        <security-details sec="selectedSecurity"></security-details>
                    </span>
                    <span ng-switch-when="4">
                        <cell-details cell="selectedCell"
                                      filter='ctFilter'
                                      currenttab="currentTab"></cell-details>
                    </span>
                    <span class="padded-cap capGuide in-brief"
                          ng-switch-when="3">
                        <div class="headsection row-fluid
                                    tabbed company-info">
                            <h1>
                                <img ng-src="{{ navState.company && '/photo/user?id='+selectedInvestor.email || '' }}">
                                {{selectedInvestor.name}}
                            </h1>
                        </div>
                        <div ng-if="selectedInvestor.email"
                             class="summary-bar">
                            <div ng-if="selectedInvestor.lastlogin"
                                 class="belowTitle">
                                <img src="/img/activity/login.png">
                                <div>
                                    <span>
                                        {{selectedInvestor.lastlogin | utcdate:settings.shortdate}}
                                    </span>
                                    <span>Last Login</span>
                                </div>
                            </div>
                            <div ng-if="selectedInvestor.received"
                                 class="belowTitle">
                                <img src="/img/activity/received.png">
                                <div>
                                    <span>
                                        {{selectedInvestor.received | utcdate:settings.shortdate}}
                                    </span>
                                    <span>Delivered</span>
                                </div>
                            </div>
                            <div ng-if="selectedInvestor.viewed"
                                 class="belowTitle">
                                <img src="/img/activity/view.png">
                                <div>
                                    <span>
                                        {{selectedInvestor.viewed | utcdate:settings.shortdate}}
                                    </span>
                                    <span>Last Viewed</span>
                                </div>
                            </div>
                            <div class="belowTitle">
                                <img src="/img/activity/permissions.png">
                                <div>
                                    <span>
                                        {{selectedInvestor.access_level}}
                                    </span>
                                    <span>Permissions</span>
                                </div>
                            </div>
                        </div>

                        <div class="profile-link"
                             ng-if="selectedInvestor.email"
                             ng-click="gotoProfile(selectedInvestor.email, selectedInvestor.name);">
                            <span data-icon="&#xe001;"
                                  aria-hidden="true">
                            </span>
                            <span>View Full Profile</span>
                        </div>

                        <div ng-if="!companyIsZombie() && !selectedInvestor.email"
                             class="share-link">
                            <div ng-click="companyIsZombie() || modalUp();"
                                 class="profile-link">
                                <span data-icon="&#xe604;"
                                      aria-hidden="true">
                                </span>
                                <span>Share with Investor</span>
                            </div>
                            <div ng-if="editMode"
                                 ng-click="removeInvestor(selectedInvestor)"
                                 class="profile-link">
                                <span data-icon="&#xe00c;"
                                      aria-hidden="true">
                                </span>
                                <span>Remove Investor</span>
                            </div>
                        </div>
                    </span>
                    <span class="padded-cap capGuide" ng-switch-default>
                        <span ng-if="editMode;">
                            <div class="captour railpadding">
                                <h1 class="right-bar-header">
                                    Understand your Ownership
                                </h1>
                                <p> This capitalization table, often referred to as a cap table, will show you exactly what percentage
                                    of your company each shareholder owns.</p>
                                <p>Enter your company's securities, shareholders and their holdings, and we'll take care of the rest.</p>
                                <br>
                                <ul>
                                    <li>What's a security?</li>
                                    <li>A financial instrument representing ownership, debt, or rights to ownership (e.g. Common, Series A, 2012 Option Pool)</li>
                                    <li>Why should I enter terms?</li>
                                    <li>These terms influence capitalization calculations, the more terms you enter the more accurate your information</li>
                                </ul>
                            </div>
                        </span>
                        <span class="in-brief" ng-if="!editMode;">
                            <div class="headsection row-fluid
                                        tabbed company-info">
                                <h1><img ng-src="{{ navState.company && '/photo/user?id=company:'+navState.company || '' }}">{{navState.name}}</h1>
                            </div>

                            <div class="summary-bar">
                                <div ng-show="totalPaid(ct.investors)"
                                     class="belowTitle">
                                    <img src="/img/activity/invested.png">
                                    <div>
                                        <span>
                                            {{totalPaid(ct.investors) | number:2}}
                                        </span>
                                        <span>Total Invested</span>
                                    </div>
                                </div>
                                <div ng-show="captable.totalOwnershipUnits()"
                                     class="belowTitle">
                                    <img src="/img/activity/sharews.png">
                                    <div>
                                        <span>
                                            {{captable.totalOwnershipUnits() | number:2}}
                                        </span>
                                        <span>
                                            Fully Diluted Units
                                        </span>
                                    </div>
                                </div>
                                <div ng-show="numShareholders()"
                                     class="belowTitle">
                                    <img src="/img/activity/people.png">
                                    <div>
                                        <span ng-bind="numShareholders()"></span>
                                        <span>Shareholders</span>
                                    </div>
                                </div>
                            </div>
                        </span>
                      </span>
                </div>
                <div ng-show="chosenTab(tab, 'Activity')">
                    <div activity-feed
                         height='viewportactivity'
                         user='navState.userid'
                         type="iss"
                         view="activityView">
                    </div>
                </div>
            </tab>
        </tabset>
    </internal-right-rail>
</div>
<div class="rightTabWindow" ng-if="windowToggle"
     ng-class="{showRightTab:windowToggle}" ng-style="viewportheight">
     <evidence-table state="state"></evidence-table>
</div>

</div>
</div>

<doc-mini-viewer docid="viewme"></doc-mini-viewer>
