<link type="text/css" rel="stylesheet" href="/ownership/css/captable.css">
<div class="container dynamic-page">
    <subnav>
        <grant-wizard-nav></grant-wizard-nav>
    </subnav>

    <div class="left-rail">
        <internal-right-rail>
            <div ng-style="viewportheight">
                <p class="drag-help">Drag and drop documents from the right to attach them to this security</p>

                <div class="wizard-selected-doc" ng-if="issue[0].getDocs().plan.docname">
                    <span>Option Plan</span>
                    <a>{{issue[0].getDocs().plan.docname}}</a>
                    <span ng-click="issue[0].removeDoc(issue[0].getDocs().plan)" data-icon="&#xe00f;" aria-hidden="true"></span>
                </div>
                <div ng-if="!issue[0].getDocs().plan.docname" class="wizard-drop-zone linkedDocuments drop-zone">
                    <div droppable drop="handleDrop" bin="bin" id="plan">
                        Option Plan
                    </div>
                </div>

                <div class="wizard-selected-doc" ng-if="issue[0].getDocs().grant.docname">
                    <span>Option Agreement</span>
                    <a>{{issue[0].getDocs().grant.docname}}</a>
                    <span ng-click="issue[0].removeDoc(issue[0].getDocs().grant)" data-icon="&#xe00f;" aria-hidden="true"></span>
                </div>
                <div ng-if="!issue[0].getDocs().grant.docname" class="wizard-drop-zone linkedDocuments drop-zone">
                    <div droppable drop="handleDrop" bin="bin" id="grant">
                        Option Agreement
                    </div>
                </div>
                <div class="wizard-done-linking">
                    <a href="/app/ownership/grants/issue">
                        <div class="standard-button pull-right">
                            <button class="btn">
                                Done Linking
                            </button>
                        </div>
                    </a>
                </div>
            </div>

        </internal-right-rail>
    </div>


    <div class="rightTabWindow showRightTab" ng-style="viewportheight">
        <evidence-table state="state"></evidence-table>
    </div>
</div>