<div class="capGuide cap-overflow global cellDetails">
    <div class="detailsHeader">
        <div>{{cell.investor}}</div>
        <div>Investor</div>
        <p></p>
    </div>
<accordion class="lessmargin transaction-accordion"
           close-others="true">
<accordion-group is-open="tran.active"
                 ng-hide="windowToggle && !tran.active"
                 ng-repeat="tran in cell.transactions track by $index"
                ng-switch on="currentTab">
    <accordion-heading>
        <span ng-click="toggleTransaction()">
            {{tran.effective_date | date:settings.shortdate}} {{tran.kind}}
        </span>
    </accordion-heading>
    <div class="darkgray faux-tabs triplet" ng-class="{pair: !hasActions(tran)}">
        <button
                ng-click="switchCapTab('details');"
                ng-class="{on: currentTab=='details'}">
            <span>
                <span data-icon="&#xe611;" aria-hidden="true"></span>
                Details
            </span>
        </button><button
                ng-click="switchCapTab('documents');"
                ng-class="{on: currentTab=='documents'}">
            <span>
                <span data-icon="&#xe009;" aria-hidden="true"></span>
                Documents
            </span>
        </button><button
                ng-click="switchCapTab('actions');"
                ng-class="{on: currentTab=='actions'}"
                ng-if="hasActions(tran)">
            <span>
                <span data-icon="&#xe613;" aria-hidden="true"></span>
                Actions
            </span>
        </button>
    </div>
    <div class="capTab" ng-switch-when="details">
        <div class="capGuide global">
            <div ng-if="tran.attrs.investor" class="rightTitle security-type">
                <span>Investor</span>
                <span class="locked-security">{{tran.attrs.investor}}</span>
            </div>
        </div>
        <editable-transaction-attributes data="tran" undo="undo" save="true">
        </editable-transaction-attributes>
        <span class="delete-link"
              data-icon="&#xe00c;"
              ng-click="captable.deleteTransaction(tran, cell);">
            Delete transaction
        </span>
    </div>
    <div class="capTab" ng-switch-when="documents">
        <div ng-if="tran.evidence_data.length==0 && !windowToggle|| tran.evidence_data==null && !windowToggle"  class="linkedDocuments">
             <div class="noGroups" ng-click="editEvidence(tran)">
                Connect documents that support this transaction by clicking the link below.<br/>
                <span>Add Documents</span>
                <span data-icon="&#xe016;" aria-hidden="true"></span>
            </div>
        </div>
        <div ng-if="tran.evidence_data.length > 0"
             class="linkedDocuments">
            <div ng-repeat="doc in tran.evidence_data"
                 class="row-fluid">
                <ul class="pull-left">
                    <li>
                        <span ng-click="viewEvidence(doc)">
                            {{doc.docname}}
                        </span>
                    </li>
                    <li ng-if="doc.name||doc.investor">
                        <span>
                            {{doc.name || doc.investor}}'s version
                        </span>
                    </li>
                    <li ng-if="!doc.name && !doc.investor">
                        <span>
                        Orignal version
                        </span>
                    </li>
                </ul>
                <span class="pull-right" data-icon="&#xe00f;"
                      ng-click="captable.removeEvidence(doc, tran)">
                </span>
            </div>
        </div>

       <span ng-if="windowToggle == false && tran.evidence_data.length > 0"
              class="delete-link linkedDocuments"
              ng-click="editEvidence(tran);">
            <div class="noGroups addMore">
                Add More Documents
                <span data-icon="&#xe016;" aria-hidden="true"></span>
             </div>
        </span>
        <div ng-if="windowToggle == true && tran.evidence_data.length==0 || windowToggle == true && tran.evidence_data== null" class="linkedDocuments">
            <div class="noGroups">
                Select the documents on the right that you wish to link.
            </div>
        </div>
        <div ng-show="windowToggle"
             class="standard-button linkedDocuments">
            <button class="btn" ng-click="editEvidence();">
                Finished!
            </button>
        </div>
        <span class="delete-link"
              data-icon="&#xe00c;"
              ng-click="captable.deleteTransaction(tran, cell);">
            Delete transaction
        </span>
    </div>
    <div class="capTab" ng-switch-when="actions">
        <div ng-class="{'actionpicker': !newTran}" class='rightTitle left-space'>
            <span>Action</span>
            <ul class="dropdown-list drop-selector">
                <li class="dropdown standard">
                    <a class="dropdown-toggle">
                        {{newTran.kind || "Select an action"}}
                        <span class="invisible-drop">'</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="x in tran.attrs.security_type | validActions: 'transaction':tran.kind">
                            <a ng-click="makeNewTran(x, tran)">
                                {{x}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div ng-if="newTran">
            <editable-transaction-attributes data="newTran" save="false">
            </editable-transaction-attributes>

            <div class="action-button standard-button">
                <button class="btn" ng-disabled="checkNewTran(newTran)" ng-click="submitAction(newTran);">
                    Submit
                </button>
            </div>
        </div>
        <span class="delete-link"
              data-icon="&#xe00c;"
              ng-click="captable.deleteTransaction(tran, cell);">
            Delete transaction
        </span>
    </div>
    </accordion-group>
</accordion>
<span ng-if="!windowToggle" class="add-transaction-link"
      ng-click="addTransaction()">
  <span data-icon="&#xe053;" aria-hidden="true"></span>
  <span>Add {{captable.defaultKind(cell.transactions[0].attrs.security_type)}}</span>
</span>
<doc-mini-viewer docid="viewme"></doc-mini-viewer>
</div>
