<!-- Global Tab -->
<div class="capGuide global"
     ng-class="{'issue-rail':tourstate==3}">
    <span class="next-button"
          ng-click="moveTour();">
        Next
    </span>
    <div class="rightTitle security-type">
        <span>Security name</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur: 'saveIssue(sec, \'issue\')'}"
               ng-model="sec.issue"
               onkeydown="testForEnter();">
        <div ng-click="splitSharesUp(sec);"
             ng-show="sec.security_type == 'Equity'
                      || sec.security_type == 'Option'">
            <span data-icon="&#xe60b;" aria-hidden="true"></span>
            <span>Split</span>
        </div>
    </div>
    <!-- NOTE i'm assuming there's only 1 for now -->
    <editable-transaction-attributes data="sec.transactions[0]">
    <!--
    <p class="rightTitle security-type">
        <span>Security Date</span>
        <input ng-disabled="toggleView();"
               id="date{{sec.$$hashKey}}"
               ng-change="saveIssueCheckDate(sec, 'date')"
               ui-event="{keydown:'saveIssueCheckDate(sec, \'date\', $event)',
                          blur:'saveIssueCheckDate(sec, \'date\', \'blur\')'}"
               type="text"
               ng-model="sec.date"
               data-date-format={{settings.lowercasedate}}
               bs-datepicker
               onkeydown="testForEnter();">
    </p>
    <div class="rightTitle security-type">
        <span>Security Type</span>
        <span ng-show="typeLocked(sec);">
            <ul class="dropdown-list drop-selector">
                <li class="dropdown standard">
                    <a class="dropdown-toggle">
                        {{sec.type}}
                        <span class="invisible-drop">'</span>
                    </a>
                    <ul ng-hide="toggleView();"
                        class="dropdown-menu">
                        <li ng-repeat="i in issuetypes">
                            <a ng-click="saveIssueAssign(sec,'type',i)">
                                {{i}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </span>
        <span class="locked-security" ng-hide="typeLocked(sec);">
            {{sec.type}}
        </span>
        <span ng-show="trantype(sec.type, 'Equity');"
              class="common-toggle">
            <button ng-class="{'selected':sec.common}"
                    ng-click="toggleCommon(sec)"
                    ng-model="sec.common"
                    class="check-box-button">
                <span data-icon="&#xe023;" aria-hidden="true"></span>
            </button>
            <span>Common</span>
        </span>
    </div>
</div>
<!-- Equity Tab -->
<div class="capGuide top10" ng-show="trantype(sec.type, 'Equity');">
    <p class="rightTitle double">
        <span>Pre-Money Valuation</span>
        <input ng-disabled="toggleView();"
               pattern="[0-9]*(.[0-9]*)*"
               ui-event="{blur : 'saveIssue(sec, \'premoney\')'}"
               ng-model="sec.premoney"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.premoneyval">
        </span>
    </p>
    <p class="rightTitle double">
        <span>Post-Money Valuation</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssue(sec, \'postmoney\')'}"
               ng-model="sec.postmoney"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.postmoneyval">
        </span>
    </p>
    <p class="rightTitle">
        <span>Share Price</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssueCheck(sec, \'ppshare\')'}"
               ng-model="sec.ppshare"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.ppshare">
        </span>
    </p>
    <p class="rightTitle">
        <span>Total Authorized</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssue(sec, \'totalauth\')'}"
               ng-model="sec.totalauth"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.totalauth">
        </span>
    </p>
    <div ng-hide="sec.common"
         class="rightTitle double">
        <span>Liquidation Preference</span>
        <ul class="dropdown-list drop-selector">
            <li class="dropdown standard">
                <a class="dropdown-toggle">
                    {{sec.liquidpref}}
                    <span class="invisible-drop">'</span>
                </a>
                <ul ng-hide="toggleView();" class="dropdown-menu">
                    <li ng-repeat="i in liquidpref track by $index">
                        <a ng-click="saveIssueAssign(sec, 'liquidpref', i)">
                            {{i}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.liquidpref">
        </span>
    </div>
    <div ng-hide="sec.common" class="rightTitle double">
        <span>Participating Preferred</span>
        <ul class="dropdown-list drop-selector">
            <li class="dropdown standard">
                <a class="dropdown-toggle">
                    {{sec.partpref | falseCheck}}
                    <span class="invisible-drop">'</span>
                </a>
                <ul ng-hide="toggleView();" class="dropdown-menu">
                    <li ng-repeat="i in tf track by $index">
                        <a ng-click="saveIssueAssign(sec, 'partpref', i)">
                            {{i}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.partpref">
        </span>
    </div>
    <div ng-hide="sec.common" class="rightTitle">
        <span>Drag Along</span>
        <ul class="dropdown-list drop-selector">
            <li class="dropdown standard">
                <a class="dropdown-toggle">
                    {{sec.dragalong | falseCheck}}
                    <span class="invisible-drop">'</span>
                </a>
                <ul ng-hide="toggleView();" class="dropdown-menu">
                    <li ng-repeat="i in tf track by $index">
                        <a ng-click="saveIssueAssign(sec, 'dragalong', i)">
                            {{i}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.dragalong">
        </span>
    </div>
    <div ng-hide="sec.common" class="rightTitle">
        <span>Tag Along</span>
        <ul class="dropdown-list drop-selector">
            <li class="dropdown standard">
                <a class="dropdown-toggle">
                    {{sec.tagalong | falseCheck}}
                    <span class="invisible-drop">'</span>
                </a>
                <ul ng-hide="toggleView();" class="dropdown-menu">
                    <li ng-repeat="i in tf track by $index">
                        <a ng-click="saveIssueAssign(sec, 'tagalong', i)">
                            {{i}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.tagalong">
        </span>
    </div>
    <span ng-show="showPari(allowKeys) && !sec.common"
          class="paripassu-list">
        <div class="rightTitle"
             ng-repeat="item in sec.paripassu track by $index">
            <span>Pari Passu With</span>
            <ul class="dropdown-list drop-selector">
                <li class="dropdown standard">
                    <a class="dropdown-toggle">
                        {{item.pariwith | maxLength}}
                        <span class="invisible-drop">'</span>
                    </a>
                    <ul ng-hide="toggleView();" class="dropdown-menu">
                        <li ng-repeat="i in availableKeys(allowKeys, sec.paripassu) track by $index">
                            <a ng-click="saveIssuePari(i, item, sec.paripassu)">
                                {{i | maxLength}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <span class="tooltip-icon"
                  data-icon="&#xe044;"
                  aria-hidden="true"
                  data-placement="top"
                  bs-tooltip="captabletips.paripassu">
            </span>
            <button class="icon-button"
                    ng-click="addIssuePari(sec.paripassu)">
                <span data-icon="&#xe053;" aria-hidden="true"></span>
            </button>
        </div>
    </span>
</div>
<!-- Options Tab -->
<div class="capGuide top10" ng-show="trantype(sec.type, 'Option');">
    <div class="rightTitle double"><span>Underlying Security</span>
        <ul class="dropdown-list drop-selector">
            <li class="dropdown standard">
                <a class="dropdown-toggle">
                    {{sec.optundersec | maxLength}}
                    <span class="invisible-drop">'</span>
                </a>
                <ul ng-hide="toggleView();" class="dropdown-menu">
                    <li ng-repeat="i in allowKeys track by $index">
                        <a ng-click="saveIssueAssign(sec, 'optundersec', i)">
                            {{i  | maxLength}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.optundersec">
        </span>
    </div>
    <p class="rightTitle">
        <span>Total Authorized</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssue(sec, \'totalauth\')'}"
               ng-model="sec.totalauth"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.totalauth">
        </span>
    </p>
    <p class="rightTitle">
        <span>Total Granted</span>
        <input disabled value="{{totalGranted(sec.issue, ct.trans);}}">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.totalgranted">
        </span>
    </p>
    <p class="rightTitle">
        <span>Strike Price</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssueCheck(sec, \'price\')'}"
               ng-model="sec.price"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.price">
        </span>
    </p>
    <p class="rightTitle double">
        <span>Vesting Term (months)</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssueCheck(sec, \'terms\')'}"
               ng-model="sec.terms"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.terms">
        </span>
    </p>
    <p class="rightTitle double">
        <span>Vesting Cliff (Months)</span>
        <input type="text"
               ng-model="sec.vestingbeginsdisplay"
               ui-event="{blur:'saveIssueCheck(sec, \'vestingbegins\')'}"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.vestingbegins">
        </span>
    </p>
    <p class="rightTitle">
        <span>Vesting Cliff %</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssueCheck(sec, \'vestcliff\')'}"
               ng-model="sec.vestcliff"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.vestcliff">
        </span>
    </p>
    <div class="rightTitle double">
        <span>Post Cliff Frequency</span>
        <ul class="dropdown-list drop-selector">
            <li class="dropdown standard">
                <a class="dropdown-toggle">
                    {{sec.vestfreq}}
                    <span class="invisible-drop">'</span>
                </a>
                <ul ng-hide="toggleView();" class="dropdown-menu">
                    <li ng-repeat="i in freqtypes track by $index">
                        <a ng-click="saveIssueAssign(sec, 'vestfreq', i)">
                            {{i}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.vestfreq">
        </span>
    </div>
</div>
<!-- Debt tab -->
<div class="capGuide top10" ng-show="trantype(sec.type, 'Debt');">
    <p class="rightTitle double">
        <span>Pre-Money Valuation</span>
        <input ng-disabled="toggleView();"
               pattern="[0-9]*(.[0-9]*)*"
               ui-event="{blur : 'saveIssue(sec, \'premoney\')'}"
               ng-model="sec.premoney"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.premoneyval">
        </span>
    </p>
    <p class="rightTitle double">
        <span>Post-Money Valuation</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssue(sec, \'postmoney\')'}"
               ng-model="sec.postmoney"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.postmoneyval">
        </span>
    </p>
    <div class="rightTitle interest-rate">
        <span>Interest Rate</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur:'saveIssueCheck(sec, \'interestrate\')'}"
               ng-model="sec.interestrate"
               onkeydown="testForEnter();">
        <ul class="dropdown-list drop-selector">
            <li class="dropdown standard">
                <a class="dropdown-toggle">
                    {{sec.interestratefreq}}
                    <span class="invisible-drop">'</span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="i in freqtypes track by $index">
                        <a ng-click="saveIssueAssign(sec, 'interestratefreq', i)">
                            {{i}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.interestrate">
        </span>
    </div>
    <p style="display: inline-block" class="rightTitle">
        <span>Valuation Cap</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssueCheck(sec, \'valcap\')'}"
               ng-model="sec.valcap"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.valcap">
        </span>
    </p>
    <p class="rightTitle">
        <span>Percent Discount</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssueCheck(sec, \'discount\')'}"
               ng-model="sec.discount"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.discount">
        </span>
    </p>
    <p class="rightTitle">
        <span>Term (months)</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssueCheck(sec, \'term\')'}"
               ng-model="sec.term"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.term">
        </span>
    </p>
</div>

<!-- Safe tab -->
<div class="capGuide top10" ng-show="trantype(sec.type, 'Safe');">
    <p style="display: inline-block" class="rightTitle">
        <span>Valuation Cap</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssueCheck(sec, \'valcap\')'}"
               ng-model="sec.valcap"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.valcap">
        </span>
    </p>
    <p class="rightTitle">
        <span>Percent Discount</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssueCheck(sec, \'discount\')'}"
               ng-model="sec.discount"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.discount">
        </span>
    </p>
</div>

<!-- Warrant tab -->
<div class="capGuide top10" ng-show="trantype(sec.type, 'Warrant');">
    <div class="rightTitle double"><span>Underlying Security</span>
        <ul class="dropdown-list drop-selector">
            <li class="dropdown standard">
                <a class="dropdown-toggle">
                    {{sec.optundersec | maxLength}}
                    <span class="invisible-drop">'</span>
                </a>
                <ul ng-hide="toggleView();" class="dropdown-menu">
                    <li ng-repeat="i in allowKeys track by $index">
                        <a ng-click="saveIssueAssign(sec, 'optundersec', i)">
                            {{i | maxLength}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.optundersec">
        </span>
    </div>
    <p class="rightTitle">
        <span>Strike Price</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssueCheck(sec, \'price\')'}"
               ng-model="sec.price"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.pricewarrant">
        </span>
    </p>
    <p class="rightTitle">
        <span>Term (months)</span>
        <input ng-disabled="toggleView();"
               ui-event="{blur : 'saveIssueCheck(sec, \'term\')'}"
               ng-model="sec.term"
               onkeydown="testForEnter();">
        <span class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="captabletips.termwarrant">
        </span>
    </p>
</div>
-->
<div>
    <span class="blue-link delete-link"
          ng-click="deleteIssueButton(sec);"
          data-icon="&#xe00c;">
        Delete security
    </span>
</div>
