<div class="capGuide top10">
    <div ng-repeat="key in keys()"
         class="rightTitle"
         ng-class="{double: inputType(key)!='text_field'}">
        <span ng-class="{'locked-security': key=='security_type'}">
            {{key}}
        </span>
        <!--ng-change="saveIt(data)"-->
        <input ng-if="useTextField(key)"
               id="date{{data.attrs.$$hashKey}}"
               ui-event="{keydown: 'saveIt(data, selected)',
                          blur: 'saveIt(data)'}"
               type="text"
               ng-model="data.attrs[key]">
        <input ng-if="useDatePicker(key)"
               ui-event="{keydown: 'saveIt(data)',
                          blur: 'saveIt(data)'}"
               type="text"
               bs-datepicker>
        <ul ng-if="useDropdown(key)">
            <li class="dropdown standard">
            <a class="dropdown-toggle">
                {{data.attrs[key]}}
                <span class="invisible-drop">'</span>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="i in attrs[data.attrs.security_type][data.kind][key].input_type">
                    <a ng-click="setIt(i)">
                        {{i}}
                    </a>
                </li>
            </ul>
        </ul>
        <span ng-if="description(key)"
              class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="description(key)">
        </span>
    </div>
</div>
