<span class="captablepair-box">
    <input ng-if="!isDebt(data);"
           class="captablepair first-box"
           ui-event="{focus: 'selectCell(inv, sec)',
                       blur: 'saveIt(data.u)'}"
           ng-model='units'
           ng-model-options="{getterSetter: true}"
           onpaste="return false"
           ng-paste="numberPaste($event, row, data.security, 'u');"
           onkeydown="testForEnter(event);">
    <input ng-if="isDebt(data);"
           class="captablepair default-pointer first-box"
           disabled>
    <input class="captablepair last-box"
           ui-event="{focus: 'selectCell(inv, sec)',
                       blur: 'saveIt(data.a)'}"
           data-currency
           ng-model='amount'
           ng-model-options="{getterSetter: true}"
           onpaste="return false"
           ng-paste="numberPaste($event, row, data.security, 'a');"
           onkeydown="testForEnter(event);">
    <div modal="tranPicker"
         close="closeTranPicker"
         options="opts">
        <div class="modalHeader">
            <span>Is this a new transaction?</span>
            <span class="close"
                  data-icon="&#xe00f;"
                  aria-hidden="true"
                  ng-click="closeTranPicker(false);">
            </span>
        </div>
        <div class="modalText">
            <form>
                <p>
                    Is this a new transaction,
                    or do you want to modify an existing transaction?
                </p>
                <br>
                <div>
                    <ul class="dropdown-list drop-selector">
                        <li class="dropdown standard">
                            <a class="dropdown-toggle">
                                <span ng-if="!destination_transaction">
                                    New Transaction
                                </span>
                                <span ng-if="destination_transaction">
                                    <!-- TODO display more than date.-->
                                    {{destination_transaction.effective_date
                                      | date:settings.formatdate}}
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ng-click="pickTran(null)">
                                        New Transaction
                                    </a>
                                </li>
                                <li ng-repeat="t in data.transactions">
                                    <a ng-click="pickTran(t)">
                                        {{t.effective_date
                                          | date:settings.formatdate}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="pull-left standard-button gray">
                <button class="btn"
                        ng-click="closeTranPicker(false)">
                    Undo
                </button>
            </div>
            <div class="standard-button green">
                <button class="btn"
                        ng-click="closeTranPicker(true)">
                    Complete
                </button>
            </div>
        </div>
    </div>
</span>
