<div class="capGuide top10">
    <div class='rightTitle'>
        <span>Date</span>
        <input id="effective_date{{::data.$$hashKey}}"
               ng-model="data.effective_date"
               ui-event="{blur: 'saveItDate(data, true, undo, $event, \'effective_date\')'}"
               ng-change="saveItDate(data, true, undo, $event, 'effective_date')"
               data-date-format={{settings.lowercasedate}}
               type="text"
               bs-datepicker>
    </div>
    <div ng-repeat="key in keys"
         class="rightTitle"
         ng-class="{double: inputType(key)!='text_field'}">
        <span ng-class="{'locked-security': key=='security_type'}">
            {{displayName(key)}}
        </span>
        <input ng-if="useTextField(key) && !useDatePicker(key)"
               id="date{{::data.attrs.$$hashKey}}"
               ui-event="{keyup: 'saveIt(data, true, undo)',
                          blur: 'saveIt(data, true, undo)'}"
               type="text"
               ng-model="data.attrs[key]"
               ng-required="isRequired(key)">
        <input ng-if="useNumberField(key) && !useDatePicker(key)"
               id="date{{::data.attrs.$$hashKey}}"
               ui-event="{keyup: 'saveIt(data, true, undo)',
                          blur: 'saveIt(data, true, undo)'}"
               type="text"
               integer
               ng-model="data.attrs[key]"
               ng-required="isRequired(key)">
        <input ng-if="useDatePicker(key)"
               id="{{key}}{{::data.$$hashKey}}"
               ng-model="data.attrs[key]"
               ui-event="{blur: 'saveItDate(data, true, undo, $event, key)'}"
               ng-change="saveItDate(data, true, undo, $event, key)"
               data-date-format={{settings.lowercasedate}}
               type="text"
               ng-required="isRequired(key)"
               bs-datepicker>
        <ul class="dropdown-list drop-selector" ng-if="useDropdown(key)">
            <li class="dropdown standard">
            <a class="dropdown-toggle">
                {{data.attrs[key]}}
                <span class="invisible-drop">'</span>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="i in attrs[data.attrs.security_type][data.kind][key].labels">
                    <a ng-click="setIt(data, true, undo, key, i)">
                        {{i}}
                    </a>
                </li>
            </ul>
        </ul>
        <ul class="dropdown-list drop-selector" ng-if="pickInvestor(key)">
            <li class="dropdown standard">
            <a class="dropdown-toggle">
                {{data.attrs[key]}}
                <span class="invisible-drop">'</span>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="i in getInvestors()">
                    <a ng-click="setIt(data, true, undo, key, i)">
                        {{i}}
                    </a>
                </li>
            </ul>
        </ul>
        <ul class="dropdown-list drop-selector" ng-if="pickIssue(key)">
            <li class="dropdown standard">
                <a class="dropdown-toggle">
                    {{data.attrs[key]}}
                    <span class="invisible-drop">'</span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="setIt(data, true, undo, key, '')">
                        </a>
                    </li>
                    <li ng-repeat="i in securities | selectablesecurities:data">
                        <a ng-click="setIt(data, true, undo, key, i.name)">
                            {{i.name}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <span class="locked-security" ng-repeat="sec in data.attrs[key]" ng-if="pickMulti(key)">
            {{sec}} <a data-icon="&#xe01b;" ng-click="removeIt(data, true, undo, key, sec)" class="action" tooltip="remove"></a>
        </span>
        <ul class="dropdown-list drop-selector" ng-if="pickMulti(key)">
            <li class="dropdown standard">
                <a class="dropdown-toggle">
                    <span class="invisible-drop">'</span>
                </a>
                <ul class="dropdown-menu">
                    <li ng-repeat="i in securities | selectablesecurities:data">
                        <a ng-click="setIt(data, true, undo, key, i.name)">
                            {{i.name}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <span ng-if="description(key)"
              class="tooltip-icon"
              data-icon="&#xe044;"
              aria-hidden="true"
              data-placement="top"
              bs-tooltip="description(key)">
        </span>
    </div>
</div>
