<accordion ng-class="{'lessmargin': (cell.transactions.length == 1)}"
           class="transaction-accordion"
           close-others="true">
<accordion-group is-open="tran.active"
                 is-disabled="cell.transactions.length==1"
                 ng-hide="windowToggle && !tran.active"
                 ng-repeat="tran in cell.transactions
                            | orderBy:'date' track by $index"
                ng-switch on="currentTab">
    <accordion-heading>
        <span data-icon="&#xe031;"
              aria-hidden="true"
              ng-show="tran.active && cell.transactions.length > 1">
        </span>
        <span data-icon="&#xe034;"
              aria-hidden="true"
              ng-show="!tran.active && cell.transactions.length > 1"
              ng-click="editEvidence()">
        </span>
        <span ng-click="editEvidence()">
            {{tran.date | date:settings.shortdate}} Transaction
        </span>
    </accordion-heading>

    <div class="standard-button btn-group darkgray">
        <button class="btn"
                ng-click="switchCapTab('details');"
                ng-class="{on:currentTab=='details'}">
            <span data-icon="&#xe01e;" aria-hidden="true">
                Details
            </span>
        </button>
        <button class="btn"
                ng-click="switchCapTab('documents');"
                ng-class="{on:currentTab=='documents'}">
            <span data-icon="&#xe60e;" aria-hidden="true">
                Evidence
            </span>
        </button>
    </div>

    <div class="capTab" ng-switch-when="details">
        <div class="capGuide global">
            <div class="rightTitle security-type">
                <span>Investor</span>
                <span class="locked-security">{{tran.investor}}</span>
                <div ng-click="transferSharesUp(activeTran);"
                     ng-show="tran.attrs.security_type == 'Equity'">
                    <span data-icon="&#xe60a;" aria-hidden="true"></span>
                    <span>Transfer</span>
                </div>
                <div ng-click="convertSharesUp(activeTran);"
                     ng-show="tran.attrs.security_type == 'Debt'">
                    <span data-icon="&#xe60c;" aria-hidden="true"></span>
                    <span>Convert</span>
                </div>
            </div>
            <div class="rightTitle double">
                <span>Transaction Type</span>
                <ul>
                    <li class="dropdown standard">
                    <a class="dropdown-toggle">
                        {{data.kind}}
                        <span class="invisible-drop">'</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="i in attrs[data.attrs.security_type]">
                            <a ng-click="setIt(i)">
                                {{i}}
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
        <editable-transaction-attributes data="tran">
        <span class="blue-link delete-link"
              data-icon="&#xe00c;"
              ng-click="tranDeleteUp(tran);">
            Delete transaction
        </span>
    </div>
    <div class="capTab" ng-switch-when="documents">
        <div ng-if="tran.evidence_data.length==0"
             class="linkedDocuments">
            Connect documents that support this transaction by clicking the link below.
        </div>
        <div ng-if="tran.evidence_data.length>0"
             class="linkedDocuments">
            <div ng-repeat="doc in tran.evidence_data"
                 class="row-fluid">
                <ul class="pull-left">
                    <li>
                        <span ng-click="viewEvidence(doc)">
                            {{doc.docname}}
                        </span>
                    </li>
                    <li ng-if="doc.name||doc.investor">
                        <span>
                            {{doc.name || doc.investor}}'s version
                        </span>
                    </li>
                </ul>
                <span class="pull-right" data-icon="&#xe00f;"
                      ng-click="removeEvidence(doc, tran)">
                </span>
            </div>
        </div>
        <span ng-hide="windowToggle"
              class="blue-link delete-link linkedDocuments"
              ng-click="editEvidence(tran);"
              data-icon="&#xe008;">
            Add Documents
        </span>
        <div ng-show="windowToggle"
             class="standard-button linkedDocuments">
            <button class="btn" ng-click="editEvidence();">
                Finished!
            </button>
        </div>
    </div>
    </accordion-group>
</accordion>
<span class="add-transaction-link"
      ng-click="createTrantab()"
      ng-if="currentTab!='documents'">
  <span data-icon="&#xe053;" aria-hidden="true"></span>
  <span>Add Transaction</span>
</span>
