<table class="status-table investor evidence">
    <tbody>
        <tr>
            <th class="left"></th>
            <th class="left">
                <span class="padding-left-ten">
                    Document Name
                </span>
            </th>
            <th class="left">Tags</th>
        </tr>
    </tbody>
    <tbody ng-repeat="doc in eligible_evidence | filter:evidenceFilter | orderBy:evidenceOrder" ng-if="!doc.investor && !doc.doc_id">
        <tr class="empty-row"/>
        <tr>
            <td ng-click="toggleShown(doc)" class="pointer status-toggle" ng-class="{'status-toggle-on': (doc.shown)}">
                <div>
                    <span class="toggle-icon" ng-hide="doc.shown" data-icon="&#xe017;" aria-hidden="true"></span>
                    <span class="toggle-icon" ng-show="doc.shown" data-icon="&#xe01c;" aria-hidden="true"></span>
                </div>
            </td>
            <td ng-click="viewEvidence(doc)">
                <ul>
                    <li title="{{doc.docname}}"><span class="padding-left-ten">{{doc.docname}}</span></li>
                </ul>
            </td>
            <td>
                <span class="tag"
                      ng-repeat="tag in doc.tags"
                      ng-click="state.evidenceQuery = tag">
                    {{tag + (($last && ' ') || ', ')}}
                </span>
            </td>
        </tr>
        <tr class="version" ng-show="doc.shown">
            <td/>
            <td>
                <div class="padding-left-ten">
                    <button class="check-box-button"
                            ng-class="{selected: captable.isEvidence(doc)}"
                            ng-click="captable.toggleForEvidence(doc);">
                        <span data-icon="&#xe023;" aria-hidden="true"></span>
                    </button>
                </div>
                <ul ng-click="viewEvidence(doc)">
                    <li>Original</li>
                </ul>
            </td>
            <td/>
        </tr>
        <tr ng-repeat="invdoc in eligible_evidence | filter:evidenceFilter | orderBy:evidenceNestedOrder"
            ng-if="invdoc.original==doc.original && invdoc.doc_id && invdoc.investor"
            class="version" ng-show="doc.shown">
            <td/>
            <td>
                <div class="padding-left-ten">
                    <button class="check-box-button" ng-class="{selected:captable.isEvidence(invdoc)}" ng-click="captable.toggleForEvidence(invdoc);">
                        <span data-icon="&#xe023;" aria-hidden="true"></span>
                    </button>
                </div>
                <ul ng-click="viewEvidence(invdoc)">
                    <li>{{invdoc.name || invdoc.investor}}</li>
                </ul>
            </td>
            <td/>
        </tr>
    </tbody>
</table>
