<link type="text/css" rel="stylesheet" href="/lib/select2/select2.css">
<link type="text/css" rel="stylesheet" href="/ownership/css/captable.css">
<link href="/lib/introjs/introjs.css" rel="stylesheet">
<div class="maincontent">
<div class="container dynamic-page">

<subnav>
    <div class="pull-left captable">
        <div ng-if="!windowToggle && !editMode"
             ng-class="{'disabledme': companyIsZombie()}">
            <ul class="dropdown-list drop-selector big filter-selector">
                <li class="dropdown standard">
                    <a class="dropdown-toggle" ng-click="checkDateRange();"
                       data-toggle="dropdown" href="#">
                        <span ng-if="(ctFilter.date | utcdate:settings.shortdate) != daterange.today">
                            Viewing {{ctFilter.date | utcdate:settings.shortdateshortyear}}
                        </span>
                        <span ng-if="(ctFilter.date | utcdate:settings.shortdate) == daterange.today">
                            Viewing Today
                        </span>
                    </a>
                    <ul class="dropdown-menu history-box" ng-click="$event.stopPropagation()">
                        <input class="text" ng-model="daterange.fakeDate" ng-change="updateDateInput()"
                            data-date-format={{settings.lowercasedate}}
                            date-type="string"
                            type="text"
                            bs-datepicker>
                        <span ng-click="setToday();" class="blue-link">set to today</span>
                        <input class="range"
                               style='{{daterange.coloredbar}}'
                               type="range"
                               value="0"
                               min="0"
                               max="{{ct.totalDays}}"
                               step="1"
                               ng-model="daterange.offset"
                               ng-change="updateDateSlider()"/>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="pull-left"
         ng-animate="{show: fadeShow, hide: fadeHide}"
         ng-if="!windowToggle && !editMode">
        <ul class="dropdown-list drop-selector big filter-selector">
            <li class="dropdown standard">
                <a class="dropdown-toggle"
                   data-toggle="dropdown" href="#"
                   title="{{ctFilter.security_types | displayList }}">
                    {{ securityFilterLabel() }}
                </a>
                <ul class="dropdown-menu">
                    <li ng-click="ctFilter.vesting = !ctFilter.vesting"
                        onclick="event.stopPropagation();"
                        class="row-fluid">
                        <div class="pull-left span3">
                            <button class="check-box-button"
                                    ng-class="{selected: ctFilter.vesting}">
                                <span data-icon="&#xe023;"
                                      aria-hidden="true">
                                </span>
                            </button>
                        </div>
                        <div class="pull-left span9">
                            <span>Unvested options</span>
                        </div>
                    </li>
                    <li ng-repeat="t in securityTypeDropdown(true)"
                        ng-click="toggleSecurityType(t)"
                        onclick="event.stopPropagation();"
                        class="row-fluid">
                        <div class="pull-left span3">
                            <button class="check-box-button"
                                    ng-class="{selected: showSecurityType(t)}">
                                <span data-icon="&#xe023;" aria-hidden="true">
                                </span>
                            </button>
                        </div>
                        <div class="pull-left span9">
                            <span>{{t}}</span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</subnav>

<div class="row-fluid leftTabWindow"
     ng-class="{showRightTab:windowToggle}">
    <div ng-style="viewportheight"
         ng-class="{leftFullTableBlock:sideToggle,
                    widthtransition25:oldSafari()}"
         class="span8 docLibrary leftBlock">

    <div class="row-fluid capcontainer">
    <table ng-class="{viewcaptable: !editMode}"
           class="captable tableView bodyText">
    <tr class="column-label">
        <th class="longrow" colspan="2">Ownership</th>
        <th class="longrow">Shareholder</th>
        <th ng-class="{tranViewSelected: sec==selectedSecurity}"
            class="staticHeaders"
            ng-repeat="sec in ct.securities | filter:securityFilter | filter:dateSecurityFilter"
            ng-click="selectSecurity(sec.name)">
            <span>{{::sec.name}}</span>
        </th>
    </tr>
    <!-- Descriptive row viewable from all modes -->
    <tr class="descriptionRow">
        <td class="input-right">Shares</td>
        <td class="input-right">%</td>
        <td></td>
        <td ng-repeat="one in ct.securities | filter:securityFilter | filter:dateSecurityFilter">
            <span>{{securityUnitLabel(one)}}</span>
            <span>Total Paid</span>
        </td>
    </tr>
    <!-- Regular Rows -->
    <tbody>
    <tr ng-repeat="row in ct.investors">
        <td class="capsums-col">
            <input class="input-right"
                   disabled
                   value="{{rowSum(row) | number:0}}">
        </td>
        <td class="capsums-col">
            <input class="input-right"
                   disabled
                   value="{{investorOwnershipPercentage(row) || 0.000 | number:2}}%">
        </td>
        <td ng-class="{tranViewSelected: selectedInvestor == row,
                                   'hoverable': row.name}"
            class="viewName tableFields"
            ng-click="selectInvestor(row.name);">
            {{::row.name}}
        </td>
        <td ng-click="selectCell(row.name, key.name)"
            class="tableFields"
            ng-class="{tranViewSelected: selectedCell.investor==row.name && selectedCell.security==key.name,
                                   hoverable: captable.cellFor(row.name, key.name)}"
            ng-repeat="key in ct.securities | filter:securityFilter | filter:dateSecurityFilter">
            <captable-cell filter='ctFilter' inv='row.name' sec='key.name'
                           data='captable.cellFor(row.name, key.name)'></captable-cell>
        </td>
    </tr>
    </tbody>
    <!-- Unissued Rows -->
    <tr class="unissued-rows"
        ng-repeat="sec in captable.securitiesWithUnissuedUnits()
                               | filter:securityFilter
                               | filter:dateSecurityFilter">
        <td class="capsums-col">
            <input class="input-right"
                   disabled
                   value="{{numUnissued(sec) | number:0}}">
        </td>
        <td class="capsums-col">
            <input class="input-right"
                   disabled
                   value="{{securityUnissuedPercentage(sec) || 0.00 | number:2}}%">
        </td>
        <td class="viewName unissuedName">
            {{::sec.name}} (Unissued)
        </td>
        <td class="tableFields"
            ng-repeat="key in ct.securities
                                  | filter:securityFilter
                                  | filter:dateSecurityFilter">
                        <span class="captablepair-box">
                            <div ng-class="{editview: editMode}"
                                 class="output clickable">
                                <span ng-if="sec==key">
                                    {{numUnissued(key) | number:2}}
                                </span>
                            </div>
                            <div ng-class="{editview: editMode}"
                                 class="output second clickable">
                                <!-- don't need anything here.
                                     no such thing as unissued amounts -->
                            </div>
                       </span>
        </td>
    </tr>
    <!-- Footer Total Row -->
    <tr class="total-row">
        <td class="tableFields">Total</td>
        <td class="tableFields"></td>
        <td class="tableFields"></td>
        <td class="tableFields"
            ng-repeat="one in ct.securities | filter:securityFilter | filter:dateSecurityFilter">
        </td>
        <!-- for new security col -->
    </tr>
    <tr class='tablefooter'>
        <td class="capsums-col">
            <input class="input-right"
                   disabled
                   value="{{totalOwnershipUnits(1) | number:0}}">
        </td>
        <td class="capsums-col">
            <input class="input-right"
                   disabled
                   value="100.00%">
        </td>
        <td class="tableFields">
        </td>
        <td class="tableFields"
            ng-repeat="one in ct.securities | filter:securityFilter | filter:dateSecurityFilter">
                        <span class="captablepair-box">
                            <div ng-class="{'editview': editMode}"
                                 class="output footer">
                                {{securityTotalUnits(one) + numUnissued(one)
                                | formatAmount:'units'}}
                            </div>
                            <div ng-class="{'editview': editMode}"
                                 class="output second footer">
                                {{securityTotalAmount(one)
                                | formatAmount:'amount'}}
                            </div>
                        </span>
        </td>
        <!-- for new security col -->
    </tr>
    </table>
    </div>
</div>

<internal-right-rail toggle-side="sideToggle">
    <div ng-switch on="sideBar" 
         class="capright"
         ng-style="viewportheight">
        <span ng-switch-when="1">
            <security-details sec="selectedSecurity"></security-details>
        </span>
        <span ng-switch-when="2">
            <cell-details cell="selectedCell"
                          currentTab="currentTab">
            </cell-details>
        </span>
        <span ng-switch-when="3">
            <div class="headsection row-fluid">
                <h1>{{selectedInvestor.name}}</h1>
            </div>
        </span>
        <span ng-switch-default class="capGuide railpadding">
            <h1 class="right-bar-header">
                View your Capitalization
            </h1>
            <p>
                The information to the left contains your company
                holdings and total percent ownership. Click on the
                values within the table to reveal additional detail.
            </p>
        </span>
    </div>
</internal-right-rail>
</div>
</div>
</div>
