<div class="maincontent">
    <div class="container dynamic-page">
        <div class="row-fluid">
            <div class="captable-controls subnav-controls">
                <input type="text" ng-model="asof.year"> 
                <input type="text" ng-model="asof.month"> 
                <input type="text" ng-model="asof.day"> 
            </div>
        </div>
        <div class="row-fluid leftTabWindow">
            <div class="row-fluid container">
                <div class="span12 docLibrary leftBlock">
                    <table class="row-fluid" border="1">
                        <tr class="width:100%">
                            <!--first row-->
                            <td><!--top left corner is empty--></td>
                            <td class="span1" ng-repeat="sec in securities">
                                {{sec}}
                            </td>
                        </tr>
                        <tr ng-repeat="inv in investors">
                            <td class="span1" >{{inv}}</td>
                            <td class="pull-left span1"
                                ng-repeat="sec in securities" >
                                {{getSum(sec,inv,asof)}}
                            </td>
                        </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

