<div class="grey-background container dynamic-page">
    <subnav>
        <grant-wizard-nav></grant-wizard-nav>
    </subnav>
    <div class="row-fluid">
        <div class="leftTabWindow" ng-style="viewportheight">
            <grant-issue></grant-issue>
            <security-terms></security-terms>
            <grant-doc-prep></grant-doc-prep>
            <a href="/app/ownership/grants/review">
                <div class="standard-button pull-right">
                    <button class="btn">Next</button>
                </div>
            </a>
        </div>
    </div>
</div>
