<div class="capGuide cap-overflow global">
    <p class="belowTitle">
        <span ng-bind="sec.name"> </span>
        <span>
            Security Name
        </span>
    </p>
    <p class="belowTitle">
        <span ng-bind="sec.effective_date | date:settings.shortdate">
        </span>
        <span>Date</span>
    </p>
    <p ng-show="sec.attrs.security_type" class="belowTitle">
        <span ng-bind="sec.attrs.security_type"></span>
        <span>Security Type</span>
    </p>
    <transaction-attributes data="sec.transactions[0]">
</div>
