<div class="capGuide cap-overflow global">
    <p ng-repeat="(key, val) in data.attrs | attrsForDisplay"
       class="belowTitle">
        <span ng-if="key!='interestrate' && key != 'pariwith' && attr_info(key).type === 'boolean'">
            {{val ? "Yes" : "No"}}
        </span>
        <span ng-if="key!='interestrate' && key != 'pariwith' && attr_info(key).type !== 'boolean'">
            {{val | formatAmount:key}}
        </span>
        <span ng-if="key=='interestrate'">
            {{data.attrs.interestrate}}% {{data.attrs.interestratefreq}}
        </span>
        <span ng-if="key == 'pariwith'">
            {{val.join(", ")}}
        </span>
        <span ng-if="hasTip(key)"
              class="forTooltip"
              tooltip-placement="right"
              tooltip="{{tips[key]}}">
            {{displayAttr(key)}}
        </span>
        <span ng-if="!hasTip(key)">
            {{displayAttr(key)}}
        </span>
    </p>
</div>
