<div class="capGuide cap-overflow global">
    <p ng-repeat="key in keys"
       class="belowTitle">
        <span ng-if="key!='interestrate' && key != 'pariwith'">
            {{data.attrs[key] | formatAmount:key}}
        </span>
        <span ng-if="key=='interestrate'">
            {{data.attrs.interestrate}}% {{data.attrs.interestratefreq}}
        </span>
        <span ng-if="key == 'pariwith'">
            {{data.attrs[key].join(", ")}}
        </span>
        <span ng-if="hasTip(key)"
              class="forTooltip"
              tooltip-placement="right"
              tooltip="{{tips[key]}}">
            {{displayAttr(key)}}
        </span>
        <span ng-if="!hasTip(key)">
            {{displayAttr(key)}}
        </span>
    </p>
</div>
