<div modal="capShare" close="close()" options="shareModalOpts">
    <div class="modalHeader">
        <span>Share Cap Table</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="close()"></span>
    </div>
    <div class="share-modal-main">
        <p>Select shareholders and their permissions
        </p>

        <div class="docLibrary full-width">
            <table class="captable tableView modal-table">
                <tbody>
                    <tr class="column-label">
                        <th style="width: 250px;">Captable Row</th>
                        <th>Shareholder</th>
                        <th>Permissions <span class="tooltip-icon" data-icon="&#xe044;" aria-hidden="true" tooltip-placement="top" tooltip="{{captabletips.permissions}}"></span></th>
                    </tr>
                </tbody>
                <tbody class="scrollable-body">
                    <tr ng-repeat="row in ct.investors">
                        <td>
                            <button ng-class="{'selected':row.send}" ng-click="row.send = !row.send; row.permission = 'Personal'" ng-model="row.send" class="check-box-button" ng-disabled="row.alreadyShared"><span data-icon="&#xe023;" aria-hidden="true"></span></button>
                        </td>
                        <td style="width: 225px;">{{row.name}}</td>
                        <td style="width: 210px;">
                            <input ng-if="row.emailkey || row.alreadyShared" class="transfer-shares-input"
                                   disabled ng-model="row.name">
                            <input ng-if="!(row.emailkey || row.alreadyShared)" class="transfer-shares-input"
                                   ng-model="row.investor_details" ng-change="updateSendRow(row);"
                                   ui-select2="rowSelect2Options">
                        </td>
                        <td style="width: 210px;">
                            <ul class="dropdown-list drop-selector">
                                <li class="dropdown standard">
                                    <a class="dropdown-toggle" ng-hide="row.alreadyShared">
                                        {{row.permission}}<span class="invisible-drop">'</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><span ng-click="row.permission = 'Personal'">Personal</span></li>
                                        <li><span ng-click="row.permission = 'Full'">Full</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p>Share with contacts not listed in your cap table</p>
        <div class="sharepeople-input">
            <input ui-select2="select2Options" ng-model="extraPeople">
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="close();">Cancel</button>
        </div>
        <div class="standard-button green">
            <button id='a_own_share_modal' class="btn" ng-disabled="checkInvites();" ng-click="close(); sendInvites();">Submit</button>
        </div>
    </div>
</div>
