@font-face {
	font-family: 'logo';
	src:url('/cmn/fonts/logo/sharewave.eot');
	src:url('/cmn/fonts/logo/sharewave.eot?#iefix') format('embedded-opentype'),
		url('/cmn/fonts/logo/sharewave.woff') format('woff'),
		url('/cmn/fonts/logo/sharewave.ttf') format('truetype'),
		url('/cmn/fonts/logo/sharewave.svg#sharewave') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-logo]:before {
	font-family: 'logo';
	content: attr(data-logo);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-sharewave {
<<<<<<< HEAD
	font-family: 'logo';
=======
	font-family: 'sharewave';
>>>>>>> r0ml
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-sharewave:before {
	content: "\e02e";
}
