<div modal="rowDelete" close="rclose(); revertPerson(minvestor);" options="opts">
    <div class="modalHeader">
        <span>Delete?</span>
        <span class="close" data-icon="&#xe00f;" aria-hidden="true" ng-click="rclose(); revertPerson(minvestor);"></span>
    </div>
    <div class="modalText">
        <form>
            <p>Do you want to delete this shareholder, including all associated transactions?</p>
            <br>
        </form>
    </div>
    <div class="modal-footer">
        <div class="pull-left standard-button gray">
            <button class="btn" ng-click="rclose(); revertPerson(minvestor);">No</button>
        </div>
        <div class="standard-button green">
            <button class="btn" ng-click="rclose(); deletePerson(minvestor);">Yes</button>
        </div>
    </div>
</div>
