<div ng-class="{rightNoTableBlock:sideToggle, slidingcss25:$root.oldSafari()}" class="span4 capright button-offset">
    <button ng-hide="true" type="button" class="btn" ng-model="sideToggle" ng-change="toggleSide();" btn-checkbox>
    </button>
    <div class="row-fluid">
        <div ng-transclude></div>
    </div>
</div>
<button class="right-rail-button" ng-click="complexSideToggleButton(); toggleWindow()" ng-class="{showRightTab:windowToggle}">
    <span ng-class="{'arrow-flip': sideToggle}" data-icon="{{!windowToggle?'&#xe033;':'&#xe00f;'}}" aria-hidden="true"></span>
</button>
