<div ng-class="{rightNoTableBlock:toggleSide(), slidingcss25:oldSafari()}" class="span4 capright button-offset">
    <button ng-hide="true" type="button" class="btn" ng-model="sideToggle" ng-change="toggleSide();" btn-checkbox>
        {{sideToggleName}}
    </button>
    <div class="row-fluid">
        <tabset ng-class="{'singletab': tabs.length == 1}">
            <tab ng-repeat="tab in tabs" active="tab.active" heading="{{tab.title}}">
                <div ng-bind-html="tab.content"></div>
            </tab>
        </tabset>
    </div>
    <div><div ng-transclude></div></div>
</div>
<button class="right-rail-button" ng-click="sideToggle = !sideToggle">
    <span ng-class="{'arrow-flip': toggleSide()}" data-icon="&#xe033;" aria-hidden="true"></span>
</button>
